<div class="dialog-container">
	<div class="row">
		<div class="col-xs-12">
			<button tabindex="-1" disableRipple mat-button style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="dialogRef.close()">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<div class="mat-display-1" style="margin-bottom: 20px;">
				Add a participant to cohort
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<form [formGroup]="searchForm">
		<div class="row" style="min-height: 20vh;">
			<div class="col-xs-12">
				<mat-form-field class="pb-block">
					<mat-chip-list #chipList>
						<mat-chip *ngFor="let peer of selectedChips" [selectable]="true" [removable]="true" (removed)="removePeer(peer)">
							<span *ngIf="peer.id">{{peer.name | ucwords}}</span>
							<span *ngIf="!peer.id">Invite: {{peer.email}}</span>
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input tabindex="-1" placeholder="Search for an existing user or invite a participant to your cohort.." #searchInput formControlName="searchText" (keyup)="onSearch($event)"
							   [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="false" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							   (matChipInputTokenEnd)="onSearchTextAdded($event)" />
					</mat-chip-list>
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option style="height: auto; padding-top: 10px; padding-bottom: 10px;">
							<div style="display: inline-block; vertical-align: middle;">
								<img src="../../../../assets/images/user-placeholder.jpg" class="circle-thumb" style="margin-left: 0px; margin-right: 10px;"
									 (error)="_collectionService.userImgErrorHandler($event)" />
							</div>
							<div style="display: inline-block; vertical-align: middle; width: 90%;">
								<div style="white-space: normal; line-height: 1.7rem;">
									Select from an existing user on Blockchain University
								</div>
								<div class="mat-h5 lightText" style="margin-top: 0px; margin-bottom: 0px;">
									Or type a user's email and press enter...
								</div>
							</div>
						</mat-option>
						<mat-option *ngFor="let option of searchOptions" [value]="" (click)="onSearchOptionClicked(option.data)" style="height: auto; padding-top: 10px; padding-bottom: 10px;">
							<div style="display: inline-block; vertical-align: middle;">
								<img src="{{envVariable.apiUrl+option.data.profiles[0].picture_url}}" class="circle-thumb" style="margin-left: 0px; margin-right: 10px;"
									 (error)="_collectionService.userImgErrorHandler($event)" />
							</div>
							<div style="display: inline-block; vertical-align: middle; width: 90%;">
								<div style="white-space: normal; line-height: 1.7rem;">
									{{option.data.profiles[0].first_name + ' ' + option.data.profiles[0].last_name | ucwords}}
								</div>
								<div class="mat-h5 lightText" style="margin-top: 0px; margin-bottom: 0px;">
									{{option.data.profiles[0].headline | ucfirst}}
								</div>
							</div>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<div class="col-xs-12 mat-caption margin-top-40">
				<b>How does a participant invite work?</b>
				<br><br>
				When you invite users by their email ID, they will receive an email from us with a special invite link to sign up on the platform.
				<br>
				After successfully signing up, the invitee will automatically be enrolled in this course.
			</div>
		</div>
	</form>
	<div class="row margin-top-30">
		<div class="col-xs-12 col-md-6">
			<p-fileUpload auto="auto" #fubauto name="excelData" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" customUpload="true" (uploadHandler)="uploadExcel($event)" maxFileSize="100000" chooseLabel="Bulk Upload" [showCancelButton]="false" [disabled]="httpLoading">
				<ng-template pTemplate="toolbar">
					<div style="font-size: 80%; margin-top: 5px;"><a href="../../../../assets/files/BulkInviteTemplate_BlockchainU.xlsx" target="_blank" style="color: #33bd9e;">Click here to download the sample excel file</a>. Update the file with your data and upload it back here.</div>
				</ng-template>
			</p-fileUpload>
		</div>
		<div class="col-xs-12 col-md-6 padding-top-10" style="text-align: right">
			<button (click)="addParticipant()" mat-raised-button color="primary" matTooltip="Add at-least 1 user above to invite as a participant." [matTooltipDisabled]="selectedInvites.length > 0 || selectedPeers.length > 0" [disabled]="httpLoading || (selectedInvites.length === 0 && selectedPeers.length === 0)">
				<span *ngIf="!httpLoading">Add Participants</span>
				<ngx-loading [show]="true" *ngIf="httpLoading"></ngx-loading>
			</button>
		</div>
	</div>
</div>
