<span class="clickable" (click)="openProfile()">
	<img *ngIf="!peer.profiles || !peer.profiles[0].picture_url" #profilePic (mouseenter)="openProfileDialog($event)" (mouseleave)="closeProfileDialog()"
	     src="/assets/images/user-placeholder.jpg" alt="A" [ngClass]="{'circle-thumb': isSizeSmall(), 'circle-thumb-large': !isSizeSmall()}" style="margin-left: 0px; vertical-align: top; margin-top: 4px;">
	<img *ngIf="peer.profiles && peer.profiles[0].picture_url" #profilePic (mouseenter)="openProfileDialog($event)" (mouseleave)="closeProfileDialog()"
	     src="{{envVariable.apiUrl+peer.profiles[0].picture_url + '/100'}}" [ngClass]="{'circle-thumb': isSizeSmall(), 'circle-thumb-large': !isSizeSmall()}" alt="dp" style="margin-left: 0px; vertical-align: top;  margin-top: 4px;">
</span>
