.darkColor {
    color: #484848;
}

.mdiIcon {
    font-size: 20px;
}

.alignDelete {
    line-height: 35px;
    vertical-align: middle;
}

.disabledSpan {
    cursor: none;
    pointer-events: none;
    color: lightgrey;
}

.consoleProfileTopicContainer {
	margin-right: 20px;
}

.lighterText{
    color: #777777;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.consoleProfileTopicContainer {
		padding: 0 20px;
		margin-right: 0;
	}
}
