<div class="row">
  <div class="col-md-12">
    <div *ngIf="loading" class="loading-container">
      <ngx-loading [show]="true"></ngx-loading>
    </div>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <div class="row">
      <div style="margin-top:20px;" class="col-md-12">
        <div class="row" style="margin-right: 20px;">
          <mat-tab-group disableRipple class="topics">
            <mat-tab label="Topics Learning">
              <div class="row" style="margin: 0px">
                <div class="lighterText mat-caption margin-top-20 margin-bottom-20 col-md-9 padding-left-0">
                  Topics you are interested in learning are added to your account based on your learning history and manual selection. Topics
                  you learn about will be visible both here and on your public profile.
                </div>
              </div>
              <div class="row" style="margin: 0px">
                <div style="cursor: pointer" class="margin-bottom-20 pull-left" (click)="openFollowTopicDialog('learning')">
                  <a style="font-size: 12px">+ Add more topics</a>
                </div>
              </div>

              <div class="review-section" *ngFor="let topic of topicsLearning">
                <div class="topic-row">
                  <div class="col-md-6 padding-left-0" style="padding-bottom: 10px">
                    <div class="topic-name pull-left mat-body-2">
                      <span>{{topic['name'] | titlecase}}</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button (click)="unfollowTopic('learning', topic)" mat-icon-button>
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Topics Teaching" style="min-width: min-content !important;">
              <div class="row" style="margin: 0px">
                <div class="lighterText mat-caption margin-top-20 margin-bottom-20 col-md-9 padding-left-0">
                  Topics you are interested in learning are added to your account based on your learning history and manual selection. Topics
                  you learn about will be visible both here and on your public profile.
                </div>
              </div>
              <div class="row" style="margin: 0px">
                <div style="cursor: pointer" class="margin-bottom-20 pull-left" (click)="openFollowTopicDialog('teaching')">
                  <a style="font-size: 12px">+ Add more topics</a>
                </div>
              </div>
              <div class="review-section" *ngFor="let topic of topicsTeaching">
                <form #f="ngForm">
                  <div class="topic-name col-md-8 padding-left-0">
                    <span class="col-md-9 padding-left-0 mat-body-2">{{topic.name |titlecase}}</span>
                  </div>
                  <i [ngClass]="{'mati mati-content-save matiIcon darkColor pull-left alignDelete':true, 'disabledSpan': (!f.form.controls.experience?.dirty && !f.form.controls.experience?.touched) }"
                    (click)="updateChanges('teaching', topic)" style="cursor: pointer;"></i>
                  <button (click)="unfollowTopic('teaching', topic)" mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
                  <div class="topic-experience col-md-8 padding-left-0">
                    <mat-form-field [floatLabel]="'always'" style="margin-bottom: 20px; width:100%" #experienceContainer>
                      <textarea matInput #experience name="experience" rows="3" class="form-control" [(ngModel)]="topic.experience" placeholder="How much do you know this topic?"
                        required></textarea>
                      <mat-error>This field is required</mat-error>
                      <mat-hint align="end">{{experience.value.length}} / 1000</mat-hint>
                    </mat-form-field>
                  </div>
                </form>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>