.darkColor {
    color: #484848;
}

.mdiIcon {
    font-size: 20px;
}

.alignDelete {
    line-height: 35px;
    vertical-align: middle;
}

.disabledSpan {
    cursor: none;
    pointer-events: none;
    color: lightgrey;
}