
.resetcontent{
    text-align: center;
    margin: 17% 24% 3% 35%;
    width: 440px;
    height: 515px;
    overflow: disable;
}

.maincontent{
    min-height: 50vh;
}

.resetbtn{
    background-color: #ff6d71;
    font-size:17px;
    padding-top:5px;
    padding-bottom:5px;
    color: #fff;
}