<div class="main-content">
    <div class="row resetPasswordContainer">
	    <div class="col-md-4 col-md-offset-4">
		    <div class="mat-display-1">
			    Set your new password
		    </div>
		    <form [formGroup]="resetpwdForm" class="form-horizontal">
			    <div class="flex-body">
				    <div class="margin-bottom-20">
					    <mat-form-field [floatLabel]="'always'" class="pb-block">
						    <input matInput placeholder="Password" formControlName="password" type="password">
					    </mat-form-field>
				    </div>
				    <div class="margin-bottom-20">
					    <mat-form-field [floatLabel]="'always'" class="pb-block">
						    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
					    </mat-form-field>
				    </div>
				    <div class="margin-bottom-20">
					    <span matTooltip="Passwords Don't Match" [matTooltipDisabled]="resetpwdForm.controls['password'].value.length>0">
						    <span matTooltip="Passwords Don't Match" [matTooltipDisabled]="resetpwdForm.controls['password'].value===resetpwdForm.controls['confirmPassword'].value">
							    <button mat-raised-button [disabled]="(resetpwdForm.controls['password'].value!==resetpwdForm.controls['confirmPassword'].value) || resetpwdForm.controls['password'].value.length===0"
							            class="resetbtn btn-width-large vertical-bottom" type="submit" (click)="resetpwd()">Reset password</button>
						    </span>
					    </span>
				    </div>
			    </div>
		    </form>
	    </div>
    </div>
</div>
