 <span class="ui-autocomplete ui-widget ui-autocomplete-multiple">
    <ul class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-state-default ui-corner-all" style="padding-left: 0.0em">
        <span *ngFor="let item of selected">
        <li class="ui-autocomplete-token ui-state-highlight ui-corner-all">
            <a (click)="remove(item)" class="ui-autocomplete-token-icon fa fa-fw fa-close" style="text-decoration:none"></a>
            <span *ngIf="item.name" class="ui-autocomplete-token-label captitalise">{{item.name}}</span>
        </li>
        </span>
        <li class="ui-autocomplete-input-token">
        <input id="list" type="text" class="form-control input-topic" [(ngModel)]=query (keyup)=filter() placeholder="{{ title }}">
        </li>
    </ul>
    </span>
    <div class="suggestions" *ngIf="filteredList.length > 0">
    <ul *ngFor="let item of filteredList" style="list-style:none;margin:0px;" class="mat-option">
        <li >
            <a *ngIf="item.name" (click)="select(item)" class="captitalise">{{item.name}}</a>
        </li>
    </ul>
</div> 
