<div mat-dialog-content class="dialog-container">
	<div class="row">
		<div class="col-md-12 collectionContent">
			<button disableRipple mat-button [mat-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<button disableRipple mat-button *ngIf="isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;"
			        (click)="dialogRef.close()">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<div>
				<div class="mat-display-1" style="margin-bottom: 20px;">{{getAddOrEditText()}} quiz activity for
				                                                        {{itenaryForm.value.date | date: 'MMM dd, y'}} </div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div *ngIf="lastIndex>-1">
		<form [formGroup]="itenaryForm.controls['contents'].controls[lastIndex]">
			<div>
				<div class="row">
					<div class="col-sm-12 margin-bottom-30">
						<mat-form-field class="pb-block margin-top-20 margin-bot-20">
							<input matInput #title formControlName="title" placeholder="Title of your Quiz" class="title" [required]="true">
						</mat-form-field>
						<div class="row margin-top-20 margin-bottom-20">
							<div class="col-md-12">
								<mat-slide-toggle formControlName="isTimeBound">Enable time limits</mat-slide-toggle>
							</div>
						</div>
						<div *ngIf="itenaryForm.controls['contents'].controls[lastIndex].value.isTimeBound">
							<div formGroupName="schedule" class="row">
								<div class="col-md-4 col-xs-6">
									<mat-form-field [floatLabel]="'always'" class="timeInput margin-bot-20">
										<input matInput type="time" #startTime atp-time-picker placeholder="Quiz Start Time" formControlName="startTime" />
									</mat-form-field>
								</div>
								<div class="col-md-4 col-xs-6">
									<mat-form-field [floatLabel]="'always'" class="timeInput margin-bot-20">
										<input matInput type="time" #endTime atp-time-picker placeholder="Quiz End Time" formControlName="endTime" />
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mat-caption">
									Participants will be able to access the quiz only between its start and end time.
								</div>
							</div>
						</div>
						<mat-form-field class="pb-block" style="margin-top: 20px; margin-bottom: 20px">
							<textarea matInput #description maxlength="2000" rows="1" matTextareaAutosize formControlName="description"
							          placeholder="Briefly describe the quiz for your students" [required]="true" class="title"></textarea>
							<mat-hint align="end">{{description.value.length}} / 2000</mat-hint>
						</mat-form-field>
						<mat-form-field class="pb-block" style="margin-top: 20px; margin-bottom: 20px">
							<textarea matInput #successMessage maxlength="2000" rows="1" matTextareaAutosize formControlName="successMessage"
							          placeholder="Include a thank you message for your participants.." [required]="true" class="title"></textarea>
							<mat-hint align="end">{{successMessage.value.length}} / 2000</mat-hint>
						</mat-form-field>
						<div class="form-group">
							<label class="display-block title">Add supporting materials</label>
							<app-upload-file (uploaded)="addAttachmentUrl($event)"></app-upload-file>
							<h5>Max File Size
								<b>1000MB</b>
							</h5>
							<div *ngIf="attachmentUrls.length" class="pic delete">
								<div *ngFor="let file of attachmentUrls" class="col-md-6 padding-left-0 imageContainer">
									<img *ngIf="file.type.includes('image')" src="{{envVariable.apiUrl + file.url}}" width="150" style="border: 0.5px solid #ccc; position: relative;">
									<mat-icon *ngIf="file.type.includes('image')" (click)="deleteFromContainer(file.url, 'file')" class="delete-image">close</mat-icon>
									<div *ngIf="file.type.includes('application')" class="uploaded_file">
										<a class="uploaded_file_text" href="{{envVariable.apiUrl + file.url}}" target="_blank">{{file.originalFilename}}</a>
									</div>
									<mat-icon *ngIf="file.type.includes('application')" (click)="deleteFromContainer(file.url, 'file')" class="delete-file">close</mat-icon>
									<video *ngIf="file.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
										<source src="{{envVariable.apiUrl + file.url}}">
									</video>
									<mat-icon *ngIf="file.type.includes('video')" (click)="deleteFromContainer(file.url, '')" class="delete-button">close</mat-icon>
								</div>
							</div>
						</div>
						<hr>
						<div class="row margin-top-20 margin-bottom-20">
							<div class="col-xs-12">
								<h3>Now let's add some questions to your quiz</h3>
							</div>
						</div>
						<!--LIST OF QUESTIONS-->
						<div class="row margin-bottom-20 questionBox" *ngFor="let question of questionArray.controls;let i=index">
							<form [formGroup]="question">
								<div class="questionDeleteButton clickable" (click)="removeQuestion(i)">
									<i class="fa fa-close"></i>
								</div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-8 mat-body-2" style="padding-top: 15px;">
											Question {{i + 1}}
										</div>
										<div class="col-xs-4">
											<mat-form-field class="pb-block" [floatLabel]="'never'">
												<mat-select placeholder="Question type" formControlName="type" (selectionChange)="questionTypeChange($event, i)">
													<mat-option *ngFor="let qtype of questionTypes" [value]="qtype.value">
														{{qtype.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<mat-form-field class="pb-block" [floatLabel]="'never'">
										<input matInput formControlName="question_text" placeholder="What is your question?" class="title" [required]="true">
									</mat-form-field>
									
									<!--If question type is long-text-->
									<mat-form-field *ngIf="question.value.type === 'long-text'" [floatLabel]="'never'" class="pb-block answerFormField">
										<textarea matInput matTextareaAutosize #answerText rows="1" placeholder="Long answer will go here..." cdkAutosizeTextarea="true" [disabled]="true"></textarea>
										<mat-hint align="end">{{question.value.word_limit - answerText.value.length}} characters allowed</mat-hint>
									</mat-form-field>
									<!--If question type is short-text-->
									<mat-form-field *ngIf="question.value.type === 'short-text'" [floatLabel]="'never'" class="pb-block answerFormField">
										<input matInput #answerText placeholder="Short answer will go here..." [disabled]="true">
										<mat-hint align="end">{{question.value.word_limit - answerText.value.length}} characters allowed</mat-hint>
									</mat-form-field>
									<!--If question type is single-choice -->
									<div formArrayName="options">
										<mat-radio-group [value]="question.value.correct_answer">
											<div class="row" *ngFor="let option of question.controls['options'].controls; let j=index">
												<div class="col-xs-1">
													<div class="pb-block" style="padding-top: 20px;">
														<mat-radio-button [value]="'' + j" (change)="setCorrectAnswer($event, i, j)"></mat-radio-button>
													</div>
												</div>
												<div class="col-xs-10">
													<mat-form-field class="pb-block" [floatLabel]="'never'">
														<input matInput [formControlName]="j" placeholder="Answer choice..." class="title">
													</mat-form-field>
												</div>
												<div class="col-xs-1 optionDeleteButton">
													<div class="clickable" (click)="removeOption(i, j)">
														<i class="fa fa-close"></i>
													</div>
												</div>
											</div>
										</mat-radio-group>
									</div>
									<div *ngIf="question.value.type === 'single-choice'">
										<button mat-button type="button" (click)="addOption(i)">
											<mat-icon>add</mat-icon> Add choice
										</button>
									</div>
								</div>
							</form>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button mat-button class="mat-border-button" type="button" (click)="addQuestion()">
									<mat-icon>add</mat-icon> Add a new question
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<mat-dialog-actions>
				<span *ngIf="!isEdit" matTooltip="Please enter all details" [matTooltipDisabled]="title.value.length!==0 || description.value.length !== 0 || successMessage.value.length !== 0">
					<button mat-raised-button [mat-dialog-close]="getSaveDialogData()" color="primary" [disabled]="title.value.length === 0 || description.value.length === 0 || description.value.length === 0">Save</button>
					&emsp;
				</span>
				<button mat-raised-button [mat-dialog-close]="getEditDialogData()" color="primary" *ngIf="isEdit">Update</button>
				&emsp;
				<button mat-button [mat-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit">Discard</button>
				<button mat-button [mat-dialog-close]="getDeleteDialogData()" *ngIf="isEdit">Delete</button>
			</mat-dialog-actions>
		</form>
	</div>
</div>
