<div class="row">
	<div class="col-md-12 collectionContent">
		<div class="mat-display-1" style="margin-bottom: 20px;" *ngIf="data.content">
			{{data.content.title | titlecase}}
		</div>
	</div>
	<div class="col-md-10 col-xs-8" style="padding-top: 15px;">
		<span class="mat-body-2">{{_collectionService.getContentTypeFullName(data.content.type) | ucfirst}}</span>
		<span *ngIf="userType !== 'public'">
			by {{calculateDate(data.startDate, data.content.schedules[0].endDay)}}
		</span>
		<span *ngIf="userType === 'public'">
			(you get {{data.content.schedules[0].endDay}} days)
		</span>
		<br /> Taught by
		<a [routerLink]="['/profile',data.collection.owners[0]]">{{data.collection.owners[0].profiles[0].first_name |
			ucwords}}</a>
	</div>
	<div class="col-md-2 col-xs-4" style="text-align: right">
		<img (click)="openProfilePage(data.collection.owners[0].id)" *ngIf="!data.collection.owners[0].profiles[0].picture_url"
		 src="/assets/images/avatar.png" alt="A" class="clickable circle-thumb margin-top-5" style="width: 70px; height: 70px;">
		<img (click)="openProfilePage(data.collection.owners[0].id)" *ngIf="data.collection.owners[0].profiles[0].picture_url"
		 src="{{envVariable.apiUrl+ data.collection.owners[0].profiles[0].picture_url}}" class="clickable circle-thumb margin-top-5"
		 alt="dp" style="width: 70px; height: 70px;">
	</div>
</div>
<hr>
<div *ngIf="data">
	<div class="row">
		<div class="content-image col-md-12" *ngIf="data.content.imageUrl">
			<img *ngIf="data.content.imageUrl.includes('.jpeg') || data.content.imageUrl.includes('.jpg') || data.content.imageUrl.includes('.png')"
			 class="img-responsive media-middle" width="100%" style="max-height: 400px;" src="{{envVariable.apiUrl+data.content.imageUrl}}/500"
			 alt="image">
			<!--If project has a video and not an image-->
			<div *ngIf="data.content.imageUrl.includes('.mp4') || data.content.imageUrl.includes('.mpeg') || data.content.imageUrl.includes('.mpg')"
			 class="col-md-12 embed-responsive embed-responsive-16by9">
				<!-- <vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="userType !== 'public'">
					<vg-overlay-play></vg-overlay-play>
					<vg-buffering></vg-buffering>

					<vg-scrub-bar>
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
					</vg-scrub-bar>

					<vg-controls>
						<vg-play-pause></vg-play-pause>
						<vg-playback-button></vg-playback-button>

						<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

						<vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

						<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
						<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

						<vg-track-selector></vg-track-selector>
						<vg-mute></vg-mute>
						<vg-volume></vg-volume>

						<vg-fullscreen></vg-fullscreen>
					</vg-controls>

					<video [vgMedia]="media" #media id="singleVideo" width="100%" preload="auto" style="max-height: 300px;"
					 crossorigin>
						<source src="{{envVariable.apiUrl+data.content.imageUrl}}" type="video/mp4">
					</video>
				</vg-player> -->
				<mat-video #video [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="dot">
					<source *ngIf="data && data.content && data.content.imageUrl" matVideoSource [src]="envVariable.apiUrl+data.content.imageUrl  | safe:'resourceUrl'"
					 type="video/mp4">
				</mat-video>
			</div>
		</div>
		<div *ngIf="!data.content.imageUrl" class="col-md-12">
			<img class="img-responsive media-middle" src="{{envVariable.apiUrl}}/500" width="100%" style="max-height: 400px; border: 1px solid #dbdbdb; margin-bottom: 15px;"
			 alt="Content Image" (error)="_collectionService.imgErrorHandler($event)">
		</div>
	</div>
	<div class="row margin-top-20">
		<div class="col-md-12">
			<b>What we'll do</b>
			<br>
			<p class="pre-wrapped">{{data.content.description | trim | ucfirst | linkify }}</p>
		</div>
	</div>
	<div *ngIf="data.content.prerequisites">
		<hr>
		<div class="">
			<b>Need to know</b>
		</div>
		<br>
		<p class="pre-wrapped">{{data.content.prerequisites | trim | ucfirst | linkify}}</p>
	</div>
	<div *ngIf="attachmentUrls.length" class="pic delete">
		<hr>
		<div class="">
			<b>Supplemental Materials</b>
		</div>
		<br>
		<div *ngFor="let file of attachmentUrls" class="col-md-6 padding-left-0 imageContainer">
			<img *ngIf="file.type.includes('image')" src="{{envVariable.apiUrl + file.url}}" width="150" style="border: 0.5px solid #ccc">
			<video *ngIf="file.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
				<source src="{{envVariable.apiUrl + file.url}}">
			</video>
		</div>
	</div>
	<div class="margin-top-20 margin-bottom-10" style="clear:both">
		<button (click)="openSubmitEntryDialog(data)" *ngIf="data.userType==='participant' && !data.peerHasSubmission && isSubmissionPossible"
		 mat-button class="mat-border-button" tabindex="-1">Submit Entry</button>
		<button *ngIf="data.userType==='participant' && !isSubmissionPossible" mat-button class="mat-border-button" tabindex="-1"
		 [disabled]="true">Submission date passed</button>
		<button *ngIf="data.userType==='participant' && data.peerHasSubmission" mat-button class="mat-border-button" tabindex="-1">Submitted</button>
		<button (click)="openViewEntryDialog(data)" *ngIf="data.userType==='teacher' && data.content.submissions && data.content.submissions.length"
		 mat-button class="mat-border-button" tabindex="-1">View Entries</button>
	</div>
	<div class="submission-box margin-bottom-40" *ngIf="data.content.submissions">
		<div class="fw-bold margin-bottom-10" *ngIf="(data.userType === 'public' && hasPublicSubmission)">Submissions ({{
			publicSubmissionCount }})</div>
		<div class="fw-bold margin-bottom-10" *ngIf="(data.userType !== 'public')">Submissions ({{
			data.content.submissions.length }})</div>
		<div class="row">
			<div *ngFor="let submission of data.content.submissions; let i=index">
				<div class="col-sm-3" *ngIf="i < 4 && data.userType !== 'public'" (click)="viewSubmission(submission.id)" style="cursor: pointer">
					<img class="img-responsive" src="{{ submission.picture_url ? envVariable.apiUrl+submission.picture_url.split(',')[0] : noImage }}"
					 alt="image" height="117" />
					<div class="submission-title">{{ submission.name | titlecase }}</div>
					<div class="submission-owner" *ngIf="submission.peer && submission.peer.length>0">
						<img class="circle-thumb" src="{{ submission.peer[0].profiles[0].picture_url ? envVariable.apiUrl+submission.peer[0].profiles[0].picture_url : defaultProfileUrl }}"
						 alt="thumb" style="margin-left: 0px; width: 20px; height: 20px;" />
						<span class="owner-name">{{ submission.peer[0].profiles[0].first_name }} {{
							submission.peer[0].profiles[0].last_name }}</span>
					</div>
					<div class="submission-likes">
						<i class="fa fa-thumbs-o-up"></i>
						<span *ngIf="submission.upvotes !== undefined">{{submission.upvotes.length}}</span>
						<span *ngIf="submission.upvotes === undefined">0</span>
					</div>
				</div>
				<div class="col-sm-3" *ngIf="i < 4 && data.userType ==='public' && submission.isPrivate==='false'" (click)="viewSubmission(submission.id)"
				 style="cursor: pointer;">
					<img class="img-responsive" src="{{ submission.picture_url ? envVariable.apiUrl+submission.picture_url : noImage }}"
					 alt="image" height="117" />
					<div class="submission-title">{{ submission.name }}</div>
					<div class="submission-owner" *ngIf="submission.peer && submission.peer.length>0">
						<img class="circle-thumb" src="{{ submission.peer[0].profiles[0].picture_url ? envVariable.apiUrl+submission.peer[0].profiles[0].picture_url : defaultProfileUrl }}"
						 alt="thumb" style="margin-left: 0px; width: 20px; height: 20px;" />
						<span class="owner-name">{{ submission.peer[0].profiles[0].first_name }} {{
							submission.peer[0].profiles[0].last_name }}</span>
					</div>
					<div class="submission-likes">
						<i class="fa fa-thumbs-o-up"></i>
						<span *ngIf="submission.upvotes !== undefined">{{submission.upvotes.length}}</span>
						<span *ngIf="submission.upvotes === undefined">0</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>