<div [ngClass]="{'peer-recommendation-card': true, 'card-width-6': cardsPerRow === 6, 'card-width-5': cardsPerRow === 5, 'card-width-4': cardsPerRow === 4, 'card-width-3': cardsPerRow === 3, 'card-width-2': cardsPerRow === 2, 'card-width-1': cardsPerRow === 1}">
	<a [routerLink]="'/profile/'+peer.id" style="margin-bottom: 20px">
		<div class="">
			<img class="peer-recommendation-thumb" *ngIf="peer.profiles[0].picture_url" src="{{envVariable.apiUrl+peer.profiles[0].picture_url + '/300'}}"
			     alt="{{peer.profiles[0].first_name + ' ' + peer.profiles[0].last_name}}" (error)="_collectionService.userImgErrorHandler($event)">
			<img class="peer-recommendation-thumb" *ngIf="!peer.profiles[0].picture_url" src="/assets/images/user-placeholder.jpg" alt="{{peer.profiles[0].first_name + ' ' + peer.profiles[0].last_name}}"
			     (error)="_collectionService.userImgErrorHandler($event)">
		</div>
		<div style="margin-top: 3px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name !== undefined">{{peer.profiles[0].first_name | titlecase}} {{peer.profiles[0].last_name | titlecase}}
		</div>
		<div style="margin-top: 3px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name === undefined">John Doe
		</div>
		<div *ngIf="peer.ethAddress">
			<i class="fab fa-ethereum"></i> {{peer.id | gyanBalance : 'fixed' | async}} Gyan
		</div>
		<div *ngIf="!peer.ethAddress">
			<i class="fab fa-ethereum"></i> 0 Gyan</div>
		<div class="col-sm-12 padding-left-0">
			<span *ngIf="peer.topics.length<=1">
				{{peer.topics}}
			</span>
			<span *ngIf="peer.topics.length>1">
				{{peer.topics | slice: 0:1}}
				<b matTooltip="{{peer.topics}}">
					&nbsp;& {{peer.topics.length - 1}} more
				</b>
			</span>
		</div>
		<div class="col-sm-12 padding-left-0" style="margin-top: -2px; font-size: 13px;">
			<p-rating class="padding-left-0" style="float: left;" [ngModel]="peer.rating" readonly="true" stars="5" [cancel]="false">
			</p-rating>
			<span class="padding-left-10" *ngIf="peer.reviewsAboutYou && peer.reviewsAboutYou.length>0" style="text-align: left">
				<label>{{peer.reviewsAboutYou.length}} reviews</label>
			</span>
			<span class="padding-left-10" *ngIf="!peer.reviewsAboutYou || peer.reviewsAboutYou.length==0" style="text-align: left">
				<label>0 reviews</label>
			</span>
		</div>
	</a>
</div>