<div class="dialog-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="mat-display-1" style="margin-bottom: 20px;">
        The Blockchain University Standards
      </div>
      <hr>
      <h2 class="c6" id="h.jaaywsg4mofl">
        <span class="c11">What are the quality standards for learning experiences?</span>
      </h2>
      <p class="c8">
        <span class="c9">Experiences are one-of-a-kind educational courses that </span>
        <span class="c2">create sensory-rich experiences that can&rsquo;t compare with traditional classroom learning or traditional workplace
          environments. </span>
        <span class="c9 c10">&nbsp;To help ensure all experiences meet the community&rsquo;s expectations, they must meet the standards below
          before guests can book.</span>
      </p>
      <p class="c8">
        <span class="c4">Following these standards can help your earn a good reviews from your guests. Keep in mind that if you consistently
          receive low ratings or there are other indications that you do not meet these standards, your experience may be
          temporarily deactivated or removed from the platform.</span>
      </p>
      <h2 class="c17" id="h.3sfoik86rgqg">
        <span class="c10 c15">Community standards</span>
      </h2>
      <p class="c8">
        <span class="c4">Experience hosts enthusiastically share their passion and knowledge with the world, creating opportunities for guests
          who are curious learners, to continuously learn to their satisfaction. They&rsquo;re excited to go out of their
          way to create meaningful, learning experiences.</span>
      </p>
      <ul class="c3 lst-kix_u5z2krn9ippl-0 start">
        <li class="c1">
          <span class="c0">Credibility.</span>
          <span class="c4">&nbsp;Hosts are passionate about the experience&#39;s theme and can demonstrate a deep knowledge of the subject
            or a skilled mastery of the activity.</span>
        </li>
        <li class="c1">
          <span class="c0">Access.</span>
          <span class="c4">&nbsp;Hosts share their insider knowledge with guests and give them access to people, places, or activities that
            guests would find difficult to find, learn, or do on their own. </span>
        </li>
        <li class="c1">
          <span class="c0 c16">Perspective</span>
          <span class="c0">.</span>
          <span class="c4">&nbsp;Experiences give the ability for the host and guest to teach, learn, and share their skills and ideas. With
            the hosts sharing their knowledge and having interactive discussions and activities with the guest, they also
            gain more knowledge. Throughout the experience, hosts create moments that help guests gain a deeper understanding
            of the host&rsquo;s background and knowledge.</span>
        </li>
        <li class="c1">
          <span class="c0">Participation.</span>
          <span class="c4">&nbsp;Hosts provide opportunities for guests to meaningfully engage in activities or conversations by fully taking
            part in the experience, not just observing it.</span>
        </li>
        <li class="c1">
          <span class="c0">Connection.</span>
          <span class="c4">&nbsp;Hosts are thoughtful about creating environments that feel inclusive and intimate. They get to know the group,
            make sure guests leave with new friends, and help everyone feel a sense of personal connection to the learning
            activities.
          </span>
        </li>
        <li class="c1">
          <span class="c0">Accuracy.</span>
          <span class="c4">&nbsp;Based on the host&rsquo;s description of the experience in their listing, guests know what to expect. This
            includes who&rsquo;s hosting, the location, what&rsquo;s provided, how long the experience is, and what guests
            will do. Only guests who book through The Blockchain University can attend an experience.</span>
        </li>
        <li class="c1">
          <span class="c0">Communication.</span>
          <span class="c4">&nbsp;Successful hosts are attentive and considerate when communicating with guests, quickly responding when a
            guest reaches out. Open, clear, and consistent communication lets a guest know what to expect and helps them
            feel comfortable with their host.</span>
        </li>
        <li class="c1">
          <span class="c0">Commitment to reservations.</span>
          <span class="c4">&nbsp;Once a reservation is confirmed, guests trust hosts to take care of their needs. Canceling or altering an
            experience can be disruptive to guests. Hosts are expected to keep the description and availability of their
            experience up-to-date.</span>
        </li>
        <li class="c1">
          <span class="c0">Respect.</span>
          <span class="c4">&nbsp;Great hosts make each guest feel included and welcomed in the group. They understand their guests may come
            from different places, speak different languages and have different cultural perspectives. They treat all guests
            with respect.</span>
        </li>
        <li class="c1">
          <span class="c0">Value.</span>
          <span class="c4">&nbsp;You have control over how your price your experience, but it&rsquo;s important to set a price that balances
            expectations with what your experience has to offer. After attending an experience, guests should feel satisfied
            with the amount of time and money they&rsquo;ve spent. Based on the price of an experience, guests should be
            able to anticipate the level of service and exclusivity they&rsquo;ll encounter.</span>
        </li>
      </ul>
      <p class="c12">
        <span class="c7"></span>
      </p>
    </div>
  </div>
</div>