<div mat-dialog-content class="dialog-container">
	<div class="mat-dialog-focus-trap"></div>
	<div class="row">
		<div class="col-md-12 collectionContent">
			<button tabindex="-1" disableRipple mat-button style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="dialogRef.close()">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<div class="mat-display-1" style="margin-bottom: 20px;">
				Participants ({{data.participants.length}})
			</div>
		</div>
	</div>
	<div class="row" *ngIf="data.userType === 'teacher'">
		<div class="col-md-12">
			<button *ngIf="data.chatRoomId && data.chatRoomId.length > 0" mat-button class="mat-border-button" (click)="openInbox()">Send Message</button>
			<button style="margin-left: 10px;" mat-button class="mat-border-button" (click)="exportAsExcel()">Download</button>
		</div>
	</div>
	<hr>
	<div *ngIf="data.participants.length === 0">
		<span class="mat-caption">No students have signed-up yet.</span>
	</div>
	<div *ngIf="data.participants.length > 0">
		<div class="row margin-bottom-20" *ngFor="let participant of data.participants">
			<div *ngIf="participant.profiles">
				<div class="col-md-1 vcenter">
					<app-profile-popup [peer]="participant"></app-profile-popup>
				</div>
				<div class="col-md-6 vcenter clickable" [routerLink]="['profile', participant.id]" (click)="dialogRef.close()">
					<b>{{participant.profiles[0].first_name +' '+participant.profiles[0].last_name | ucwords }}</b>
					<br />
					<span *ngIf="participant.profiles[0].headline" class="mat-caption lightText">{{participant.profiles[0].headline | ucfirst}}</span>
					<div *ngIf="participant.codeLab" style="padding: 5px 10px; border: 1px solid #333; border-radius: 4px; width: fit-content">
						CodeLab is <b>{{participant.codeLab.student_course_status}}</b>
					</div>
				</div>
				<div class="col-md-3 vcenter">
					<div *ngIf="data.userType === 'teacher'">
						<div>Source</div>
						<div class="mat-caption lightText">{{participant.referrerId && participant.referrerId !== 'false' ? participant.referrerId : 'Organic'}}</div>
					</div>
				</div>
				<div class="col-md-1 vcenter">
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon class="lightText">more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="messageParticipant(participant)" *ngIf="participant.id !== userId">Message</button>
						<button mat-menu-item *ngIf="data.userType === 'teacher'" (click)="removeParticipant(participant.id)">Remove</button>
						<button mat-menu-item *ngIf="participant.id !== userId" (click)="reportProfile(participant.id)">Report</button>
					</mat-menu>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="data.userType === 'teacher'">
		<div class="col-md-12">
			<hr>
		</div>
		<div class="col-md-12 mat-body-2">
			Pending Invitations
		</div>
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div *ngIf="data.invites && data.invites.length > 0 && data.userType === 'teacher'">
		<div *ngFor="let invite of data.invites">
			<div class="row margin-bottom-20" *ngIf="invite.status !== 'accepted'">
				<div class="mat-caption">
					<div class="col-md-7 vcenter clickable" (click)="dialogRef.close()">
						<b>{{(invite.name && invite.name.length > 0) ? invite.name : invite.email | ucwords }}</b>
						<br />
						<span class="mat-caption lightText">{{(invite.name && invite.name.length > 0) ? invite.email : '' }}</span>
						<div>
							<span class="mat-h5 lightText">Invited on {{invite.createdAt | extractTime : 'Do MMM, YYYY'}}</span>
						</div>
					</div>
					<div class="col-md-3 vcenter">
						<div *ngIf="data.userType === 'teacher'">
							<div>Status</div>
							<div class="mat-caption lightText">{{invite.status | ucwords}}</div>
						</div>
					</div>
					<div class="col-md-1 vcenter">
						<button mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon class="lightText">more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="removeInvite(invite.id)">Cancel Invite</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="(!data.invites || data.invites.length === 0) && data.userType === 'teacher'">
		<div class="row">
			<div class="col-xs-12 mat-caption">
				You do not have any pending invitations sent to participants for joining this course.
				<br><br>
				<div class="clickable primaryColor" (click)="openAddParticipantsDialog()">Invite participants now?</div>
			</div>
		</div>
	</div>
</div>
