<div class="row">
  <div class="col-xs-11 col-sm-8 col-md-8 col-md-8">
    <form [formGroup]="requirementsForm" (ngSubmit)="submitLearningPath()">
      <h2 class="title">Who should come?</h2>
      <p class="subtitle">Start with a level of difficulty</p>
      <div class="col-sm-12 margin-bottom-30 padding-left-0">
        <mat-form-field [floatLabel]="'never'">
          <mat-select formControlName="difficultyLevel" [placeholder]="'Select difficulty level'">
            <mat-option [value]="">--Select--</mat-option>
            <mat-option *ngFor="let d of difficulties" [value]="d">{{d}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h3 class="title">Pre-requisites</h3>
      <p class="subtitle">Describe the knowledge prerequisites, if there are any, that learners should know of.</p>
      <div class="col-sm-12 margin-bottom-30 padding-left-0">
        <mat-form-field [floatLabel]="'always'" class="pb-block">
          <textarea matInput #notes maxlength="1000" rows="1" matTextareaAutosize formControlName="notes"></textarea>
          <mat-hint align="end">{{notes.value.length}} / 1000</mat-hint>
        </mat-form-field>
      </div>
      <div style="margin-top:60px;">
        <button mat-button type="button" matStepperPrevious color="primary" class="mat-border-button">
          Back
        </button>
        <span class="pull-right" matTooltip="Please fill all the details" [matTooltipDisabled]="requirementsForm.controls['difficultyLevel'].value && requirementsForm.controls['notes'].value">
          <button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="(!requirementsForm.controls['difficultyLevel'].value && notes.value.length == 0) || busySavingData">
            <span *ngIf="!busySavingData">Next</span>
            <span>
              <ngx-loading [show]="busySavingData"></ngx-loading>
            </span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>