<div class="dialog-container">
  <div class="row padding-top-40">
    <div class="col-xs-12">
      <div class="row" *ngFor="let verficationObj of verificationSteps;let i=index">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6 center">
              <span class="icon">
                <span [ngClass]="{'notVerified': !verficationObj.verified, 'verified' : verficationObj.verified,'busy': !verficationObj.processed}">
                  <mat-icon *ngIf="!verficationObj.processed || verficationObj.verified">check_circle</mat-icon>
                  <mat-icon *ngIf="verficationObj.processed && !verficationObj.verified">cancel</mat-icon>
                </span>
              </span>
            </div>
            <div class="col-xs-6">
              <span class="mat-body-2"> {{verficationObj.CategoryName}} </span>
              <br>
              <a class="clickable" (click)="toggleExpansionpanel(i)">View Details</a>
            </div>
          </div>
          <div class="row" *ngIf="expandedPanel===i">
            <div class="col-xs-12">
              <div class="row" *ngFor="let step of verficationObj.steps">
                <div class="col-xs-6 center">
                  <span class="icon">
                    <span [ngClass]="{'notVerified': !step.verified, 'verified' : step.verified,'busy': !step.processed}">
                      <mat-icon *ngIf="!step.processed || step.verified">check_circle</mat-icon>
                      <mat-icon *ngIf="step.processed && !step.verified">cancel</mat-icon>
                    </span>
                  </span>
                </div>
                <div class="col-xs-6">
                  <span> {{step.stepName}} </span>
                  <br>
                  <span> {{step.stepDescription}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mat-headline padding-top-30" *ngIf="certificateProcessed">
        <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
          <div class="row" *ngIf="certificateValid" style="color: #33bd9e">
            <div class="col-xs-6 center">
              <i class="fas fa-shield-alt"></i>
            </div>
            <div class="col-xs-6">
              Verified
            </div>
          </div>
          <div class="row" *ngIf="!certificateValid" style="color: #ff6d71">
            <div class="col-xs-6 center">
              <i class="fas fa-times-circle"></i>
            </div>
            <div class="col-xs-6">
              Not Verified
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>