.upcoming-card{
    text-align: center; 
    padding: 20px;
    min-height: 440px;
}

.collectionTitle{
    cursor:pointer;
}
.draft-card{
    text-align: center;
    padding: 20px;
    height: 310px;    
}


.mat-icon-button .mat-icon, .mat-icon-button i {
    color: #777777;
  }

.pastCard {
    min-height: 465px;
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
    color: lightgray !important;
}