<div class="main-content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 margin-top-60 margin-bottom-40">
			<div class="mat-display-1">
				Teaching Benefits
			</div>
			<div>
				As an educator on the Blockchain University platform, your teachings and trainings reach a wide audience, and there is some responsibility that comes with it. There are several benefits that come with teaching on a platform as novel and unique as the Blockchain University. You get access to pupils who are willing to contribute to our communities with an exciting multitude of ideas and solutions.
				<br><br>
				The role of a teacher has always been a fulfilling and rewarding one. Teaching at the Blockchain University however, comes with its own exceptional and gratifying benefits. Educators work with a lot more flexibility, and get to create and build outcomes as per their wish, while securing their brand under the umbrella of the Blockchain University. These could be through certificates, or the monetary benefits earned from every verification request. The impact of every issuable certificate can also be recorded.
				<br><br>
				
			</div>
			<div class="mat-display-1 margin-top-30">
				#1 Adapt the path for students based on existing reputation metrics
			</div>
			<div>
				Through the Blockchain University platform, teachers and instructors can alter and adapt the learning path or the outcome of a their course based on the reputation of the student. Students with high reputation metrics may have more challenging curriculum based on the discretion of the instructor. This is an opportunity to reinvent methodical teaching, and build an education supply right from the start. Most importantly, it is an opportunity to inspire millions of students in your own way.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				#2 A constructive and well tracked source of income
			</div>
			<div>
				On the internet, educators often do not get an appropriate share of of their remuneration. Since a majority of their content is downloaded or re-used without citations, they miss out on a chunk of their rightful revenue source. However, on the Blockchain University, all the content is stored on an immutable database where ownership is revealed first. The result? Every time an educator’s work is re-used, they will receive complete compensation. This way, blockchain maximizes the creators’ monetization for their content.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				#3 Building your brand
			</div>
			<div>
				For any course taught or taken, scores based on skills are issued via the one0x protocol. These scores are tamper proof and are independently verifiable. Any fake or side certificates that do surface can be eliminated. This creates and protects your brand value. You can also track your certificate usage and earn a fee when employers pay to verify it.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				#4 Teachers and students can communicate as co-learners
			</div>
			<div>
				In the unique and first of its kind platform, the Blockchain University has an interesting atmosphere which must be promoted everywhere in order push knowledge forward. The platform enables students and teachers to communicate as co-learners. Here both student and instructor are viewed as participants where both of them are learning and trying to advance their knowledge.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				How does this work?
			</div>
			<div>
				<ul>
					<li>
						As an educator, you have to plug in one0x’s APIs on your platform
					</li>
					<li>
						This is followed by fetching a student’s existing knowledge and performance and adding to his skill
					</li>
					<li>
						Track the impact of educating the student as he continues learning and add to his reputation
					</li>
				</ul>
				<br><br>
			</div>
			<div>
				The Blockchain University aims to change the face of modern education and giving it a more meaningful learning experience. Instructors are the base of such changes and they help construct the foundation of such a system. There are various methods to be involved with the Blockchain University, including, hosting a workshop, creating and curating an online course, creating a learning guide, and starting a mentor session.
				<br><br>
			</div>
		</div>
	</div>
</div>
