<div class="main-content">
	<div class="loading-container" [hidden]="!loadingExperience" style="margin-left: 8.5%; margin-top: 3%;">
		<ngx-loading [show]="true"></ngx-loading>
	</div>
	<div *ngIf="experience">
		<div class="row pending-actions" *ngIf="experience.status === 'cancelled' && userType==='teacher' ">
			<div class="col-md-10 col-md-offset-1">
				<span>This experience has been cancelled by the teacher</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="experience.status === 'submitted' && userType==='teacher' ">
			<div class="col-md-10 col-md-offset-1">
				<span>This experience is pending approval from peerbuds team</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(experience.status === 'draft' || experience.status === '' ) && userType==='teacher' ">
			<div class="col-md-10 col-md-offset-1">
				<span>This is a preview. Submit your experience to get it approved.
					<a href="javascript:void(0);" (click)="_collectionService.openEditCollection(experience)">Continue editing?</a>
				</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(calendarId !== undefined && experience.status === 'active' && !hasCohortEnded() )">
			<div class="col-md-10 col-md-offset-1">
				<span>This cohort has ended. You can still add a review and participate in discussions</span>
			</div>
		</div>
		<div class="row upcoming-actions center" *ngIf="(experience.status === 'active' && calendarId === undefined && hasLiveCohort() && userType === 'teacher')">
			<div class="col-md-10 col-md-offset-1">
				<span>The cohort of
					<b>{{liveCohort.startDate | date: 'MMM, dd'}} to {{liveCohort.endDate | date: 'MMM, dd'}}</b> is currently underway.
					<a href="javascript:void(0);" (click)="viewDetails(liveCohort.id)">View details</a>
				</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(experience.status === 'active' && calendarId === undefined && !hasUpcomingCohort() && userType === 'teacher')">
			<div class="col-md-10 col-md-offset-1">
				<span>There are no upcoming cohorts scheduled for this experience!
					<a href="javascript:void(0);" (click)="editCalendar()">Schedule one now?</a>
				</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="calendarId !== undefined && currentCalendar !== undefined && currentCalendar.status === 'cancelled'">
			<div class="col-md-10 col-md-offset-1">
				<span>This cohort was cancelled by the teacher.
					<a href="javascript:void(0);" (click)="selectJoiningDates()">View other cohorts?</a>
				</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(userType === 'public' && userId !== undefined && userId.length > 5 && accountApproved !== 'true')">
			<div class="col-md-10 col-md-offset-1">
				<span>Your account is still under review. You can sign-up for this experience after you are approved.
					<a href="javascript:void(0);" (click)="openVerificationPage()">Check verification status</a>
				</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(userId === undefined)">
			<div class="col-md-10 col-md-offset-1">
				<span>You need to login or sign-up to start taking this experience.
					<a href="javascript:void(0);" (click)="openLoginPage()">Login now</a>
				</span>
			</div>
		</div>
		<div class="row margin-top-40">
			<div class="col-md-10 col-md-offset-1">
				<div class="row experience-header">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<a class="clickable margin-bottom-10" *ngIf="calendarId && userType !== 'participant'" (click)="backToCollection(experience)">
									< Back to experience page</a>
								<p class="mat-display-1" style="margin-bottom: 20px !important;">{{experience.title | titlecase}}
									<span *ngIf="calendarId && userType !== 'participant'">(Cohort View)</span>
								</p>
								<div *ngIf="userType==='teacher' || userType==='participant'" style="margin-top: -12px;">
									<span *ngIf="currentCalendar">
										<b>{{currentCalendar.startDate | date:'d MMM'}} to {{currentCalendar.endDate| date:'d MMM'}}</b> &nbsp;&nbsp;&nbsp;
										<mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>
									</span>
									<span> {{totalDuration | i18nPlural : hourMapping}} {{experience.type}} &nbsp;&nbsp;&nbsp;
										<mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>{{experience.contents.length | i18nPlural : activityMapping}} &nbsp;&nbsp;&nbsp;</span>
									<span *ngIf="userType==='teacher'">
										<mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>{{experience.calendars.length | i18nPlural : cohortMapping}} &nbsp;&nbsp;&nbsp;</span>
									<a href="javascript:void(0)" *ngIf="userType==='teacher' && calendarId !== undefined" (click)="changeDates()">
										<mat-icon style="top: 5px;">date_range</mat-icon> Change cohort </a>
									<a href="javascript:void(0)" *ngIf="userType==='teacher' && calendarId === undefined" (click)="changeDates()">
										<mat-icon style="top: 5px;">date_range</mat-icon> Select cohort to view participants </a>
								</div>
								<div *ngIf="userType==='public'" style="margin-top: -12px;">
									<span>{{itenaryArray.length | i18nPlural : dayMapping}} / {{totalDuration | i18nPlural : hourMapping}} &nbsp;&nbsp;&nbsp;
										<mat-icon style="font-size: 5px;  top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>{{experience.contents.length | i18nPlural : activityMapping}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row" style="margin-top: 15px; text-align: right" *ngIf="userType==='teacher' || userType==='participant'">
							<button class="mat-button mat-border-button" color="primary" (click)="openGroupChat()">Group Chat</button> &emsp;
							<button mat-button class="mat-border-button" *ngIf="userType ==='participant' || userType === 'teacher'" (click)="scrollToDiscussion()">Discussion</button> &emsp;
							<button mat-button class="mat-border-button" *ngIf="userType==='teacher'" (click)="gotoEdit()">Edit</button>&emsp;
							<mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;top: 5px; color: #ccc;">more_vert</mat-icon>
							<mat-menu #menu="matMenu">
								<button mat-menu-item *ngIf="userType==='participant' && currentCalendar !== undefined && isCancelable()" (click)="dropOutExperience()">Cancel Participation</button>
								<button mat-menu-item *ngIf="userType==='teacher' && calendarId === undefined && allParticipants.length === 0" (click)="deleteExperience()">Delete Experience</button>
								<button mat-menu-item *ngIf="userType==='teacher' && calendarId === undefined && allParticipants.length > 0" (click)="cancelExperience()">Cancel Experience</button>
								<button mat-menu-item *ngIf="userType==='teacher' && calendarId !== undefined && participants.length === 0" (click)=" deleteCohort()">Delete Cohort</button>
								<button mat-menu-item *ngIf="userType==='teacher' && calendarId !== undefined && participants.length >= 0 && currentCalendar.status !== 'cancelled'"
								        (click)=" cancelCohort()">Cancel Cohort</button>
							</mat-menu>
						</div>
					</div>
				</div>
				<hr *ngIf="userType !== 'public'" style="margin: 0px 0px 15px 0px;">
				<hr *ngIf="userType === 'public'" style="margin: 0px 43% 15px 0px;">
				<div class="row experience-content">
					<div class="col-md-7 left-content">
						<!--ABOUT SECTION-->
						<div class="row About" *ngIf="calendarId === undefined && (userType === 'public')">
							<div class="col-md-4">
								<h3 *ngIf="userType === 'public'">What we'll do</h3>
							</div>
							<div class="col-md-8">
								<div class="row" *ngIf="userType === 'public'">
									<div class="col-md-12">
										<mat-icon style="top: 7px;">schedule</mat-icon>&emsp;
										<span>{{totalDuration | i18nPlural : hourMapping}} total</span>
									</div>
									<div class="col-md-12 margin-top-10">
										<mat-icon style="top: 7px;">mic</mat-icon>&emsp;
										<span>Offered in {{experience.language[0]}}</span>
									</div>
									<div class="col-md-12 margin-top-10">
										<mat-icon style="top: 7px;">dvr</mat-icon>&emsp;
										<span>{{getContentCount('project') | i18nPlural : projectMapping}}</span>
									</div>
									<div class="col-md-12 margin-top-10">
										<mat-icon style="top: 7px;">map</mat-icon>&emsp;
										<span>{{getContentCount('in-person') | i18nPlural : inPersonSessionMapping}}</span>
									</div>
								</div>
								<div *ngIf="userType==='public'" class="margin-top-20 pre-wrapped"> {{experience.description}} </div>
							</div>
						</div>
						<div class="row Progress margin-top-20" *ngIf="calendarId !== undefined && (userType === 'teacher' || userType === 'participant')">
							<div class="col-md-4">
								<h3 *ngIf="userType==='participant' && loggedInUser !== undefined">Welcome back, {{loggedInUser.profiles[0].first_name}}</h3>
								<h3 *ngIf="userType==='teacher'">Welcome back, {{experience.owners[0].profiles[0].first_name}}</h3>
							</div>
							<div class="col-md-8">
								<div *ngIf="userType==='participant'" style="margin-top: 5px;">As you complete any activity, your progress and updates will show up here.</div>
								<div *ngIf="userType==='teacher'" style="margin-top: 5px;">As your students complete any activity, their progress and updates will show up here.</div>
							</div>
						</div>
						<!--TOPICS SECTION-->
						<div class="row Topics margin-top-20" *ngIf="userType === 'public'">
							<div class="col-md-8 col-md-offset-4">
								<mat-chip-list>
									<mat-chip class="square" *ngFor="let topic of topicFix"> {{topic.name | titlecase}} </mat-chip>
								</mat-chip-list>
							</div>
						</div>
						<hr *ngIf="calendarId !== undefined || userType === 'public'">
						<!--TODO: Description of experience-->
						<div class="row Description" *ngIf="userType==='public'">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-4">
										<h3>Taught by</h3>
									</div>
									<div class="col-md-8">
										<div class="row">
											<div class="col-md-12">
												<div class="clickable" style="display: inline-block; position: relative; top: 2px; vertical-align: top;">
													<app-profile-popup [peer]="experience.owners[0]"></app-profile-popup>
												</div>
												<div style="display: inline-block; margin-left: 10px;">
													<div class="row">
														<div class="col-md-12 clickable" (click)="openProfilePage(experience.owners[0].id)">
															<span *ngIf="experience.owners[0].profiles[0].first_name !== undefined">
																{{experience.owners[0].profiles[0].first_name | titlecase }} {{experience.owners[0].profiles[0].last_name | titlecase }}
															</span>
															<span *ngIf="experience.owners[0].profiles[0].first_name === undefined">
																John Doe
															</span>
														</div>
														<div class="col-md-12 mat-h5" *ngIf="experience.owners[0].headline">
															{{experience.owners[0].profiles[0].headline}}
														</div>
														<div class="col-md-12 mat-h5" *ngIf="!experience.owners[0].headline">
															New user
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<p class="pre-wrapped">{{experience.aboutHost}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr *ngIf="userType==='public'">
						<div class="row" *ngIf="userType === 'public'">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-4">
										<h3>
											Location
										</h3>
									</div>
									<div class="col-md-8 margin-top-8">
										<agm-map *ngIf="lat !== undefined && lng !== undefined" [latitude]="lat" [longitude]="lng" [mapDraggable]="false" [scrollwheel]="false"
										         [usePanning]="true" [zoomControl]="false" [zoom]="14" [streetViewControl]="false">
											<agm-circle [latitude]="lat" [longitude]="lng" [radius]="500" [fillColor]="'#33bd9e'" [strokeColor]="'#33bd9e'" [strokeOpacity]="0.9"></agm-circle>
										</agm-map>
										<p *ngIf="lat === undefined || lng === undefined">No valid location co-ordinates recorded for this experience. Please contact the teacher or Peerbuds support.</p>
									</div>
								</div>
							</div>
						</div>
						<hr *ngIf="userType==='public'">
						<div class="row" *ngIf="userType === 'public'">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-4">
										<h3>
											Need to know
										</h3>
									</div>
									<div class="col-md-8 margin-top-8">
										<b>{{experience.difficultyLevel}} level</b>
										<p class="mat-caption pre-wrapped">{{experience.notes}}</p>
									</div>
								</div>
								<div class="row margin-top-10">
									<div class="col-md-4">
										<h3>Cancellation policy</h3>
									</div>
									<div class="col-md-8 margin-top-10">
										<p>Get a full refund if you cancel within {{experience.cancellationPolicy}} of signing up.</p>
									</div>
								</div>
							</div>
						</div>
						<hr *ngIf="userType === 'public'">
						<!--TIMELINE-->
						<div class="row Itenary">
							<div class="featurette" id="about">
								<div class="col-md-12">
									<div class="mat-h3 margin-bottom-20">
										Itinerary
									</div>
									<div class="qa-message-list" id="wallmessages">
										<div [ngClass]="{'message-item-wrapper' : oneDay(), 'message-item-wrapper-one-day': !oneDay()}" *ngFor="let itenary of itenaryArray">
											<div [ngClass]="{'message-item': oneDay() , 'message-item-ticked': hasDatePassed(itenary.startDate)}">
												<div class="message-inner">
													<div class="qa-message-content">
														<div style="top: -5px; position: relative;">
															<div *ngIf="(userType==='teacher' || userType==='participant') && calendarId !== undefined"> {{itenary.startDate | date:'EEEE, d MMMM'}} </div>
															<div *ngIf="(userType==='public'|| calendarId === undefined) && itenaryArray.length > 1">{{add1ToIndex(itenary.startDay)}}</div>
															<div *ngIf="(userType==='public'|| calendarId === undefined) && itenaryArray.length == 1">{{itenary.startDate | date:'EEEE, d MMMM'}}</div>
														</div>
														<div (mouseover)="showViewTime(content)" (mouseout)="hideViewTime(content)" [ngClass]="{'row':true, 'timelineRowItem': true, 'timeRowItemProgress': content.views !== undefined && content.views.length > 0 && userType === 'participant'}"
														     *ngFor="let content of itenary.contents">
															<div class="viewTime" *ngIf="content.totalUserViewTime !== undefined" [hidden]="content.isViewTimeHidden">
																{{content.totalUserViewTime}}
															</div>
															<a style="cursor:pointer;color:rgba(0,0,0,0.87)" (click)="openDialog(content, itenary.startDate, itenary.endDate)">
																<div class="col-md-5">
																	<img style="width: auto; border: 0.5px solid #eee;" *ngIf="content.type!=='video'" class="img-responsive itenary-media" src="{{envVariable.apiUrl+content.imageUrl}}"
																	     (error)="_collectionService.imgErrorHandler($event)">
																	<video #videoContent width="100%" height="auto" *ngIf="content.type==='video'" class="itenary-media" preload="metadata" poster="../../../assets/images/placeholder-image.jpg">
																		<source src="{{envVariable.apiUrl+content.imageUrl}}">
																	</video>
																</div>
															</a>
															<div class="col-md-7">
																<a style="cursor:pointer;color:rgba(0,0,0,0.87)" (click)="openDialog(content, itenary.startDate, itenary.endDate)">
																	<div class="row">
																		<div class="col-md-12">
																			<h3> {{content.title | titlecase}}</h3>
																			<div>
																				<span class="mat-caption" *ngIf="content.schedules[0].startTime !== undefined && content.type === 'in-person'">
																					{{content.schedules[0].startTime | date: 'h:mm a'}} - {{content.schedules[0].endTime | date: 'h:mm a'}} &nbsp;&nbsp;&nbsp;
																					<mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>
																				</span>
																				{{_collectionService.getContentTypeFullName(content.type) | titlecase}}
																			</div>
																			<div *ngIf="content.type === 'in-person' && content.locations !== undefined && content.locations.length > 0 && (userType === 'participant' || userType === 'teacher')">
																				<div>
																					<mat-icon style="top: 2px; font-size: 15px; width: 15px;">place</mat-icon>
																					<span *ngIf="content.locations[0].apt_suite && content.locations[0].apt_suite.length > 0">{{content.locations[0].apt_suite + ' ' | ucwords}}</span>
																					{{content.locations[0].street_address && content.locations[0].street_address.trim().length > 0? content.locations[0].street_address
																					: '' | ucwords}}{{content.locations[0].city && content.locations[0].city.trim().length
																					> 0? ', ' + content.locations[0].city : '' | ucwords}}
																				</div>
																				<div>
																					{{content.locations[0].state && content.locations[0].state.length > 0 ? content.locations[0].state : '' | ucwords}}{{content.locations[0].zip
																					&& content.locations[0].zip.length > 0 ? ' ' + content.locations[0].zip : '' |
																					ucwords}}{{content.locations[0].country && content.locations[0].country.length
																					> 0 ? ', ' + content.locations[0].country : '' | ucwords}}
																				</div>
																			</div>
																		</div>
																		<div *ngIf="userType === 'public' || content.type === 'project'" class="col-md-12 margin-top-10 textJustify">
																			<span class="pre-wrapped">{{content.description | shorten: 115 : '...'}}</span>
																		</div>
																	</div>
																</a>
																<div class="row margin-top-10" *ngIf="content.type==='in-person' && ( userType==='participant' || userType === 'teacher')">
																	<div class="col-md-12">
																		<a mat-button *ngIf="!content.hasRSVPd && userType==='participant'" class="mat-border-button" (click)="rsvpContent(content.id)">RSVP</a>
																		<a mat-button *ngIf="content.hasRSVPd || userType === 'teacher'" class="mat-border-button" (click)="viewRSVPs(content, userType)">View RSVPs</a>
																		<a mat-button *ngIf="content.hasRSVPd || userType === 'participant'" class="mat-border-button" (click)="cancelRSVP(content)">Cancel RSVPs</a>
																		<a mat-button *ngIf="userType==='participant' && isLive(content) && content.hasRSVPd && calendarId" class="mat-border-button"
																		   (click)="getDirections(content)">Get directions</a>
																		<button mat-button class="mat-border-button margin-top-10" *ngIf="userType==='participant' && !isLive(content) && content.hasRSVPd  && calendarId"
																		        [disabled]="true">{{content.timetoSession}}</button>
																	</div>
																</div>
																<div class="row margin-top-10">
																	<div class="col-md-12" *ngIf="userType !=='participant' && userType !== 'teacher'">
																		<a href="javascript:void(0);" (click)="openDialog(content, itenary.startDate, itenary.endDate)">See details</a>
																	</div>
																</div>
															</div>
															<!-- </div> -->
															<br>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="discussionTarget" #discussionTarget></div>
						<hr class="margin-top-80 margin-bottom-40">
						<!--DISCUSSION THREAD-->
						<div class="row Discussion" *ngIf="userType==='teacher' || userType==='participant'">
							<div class="col-md-12 margin-bottom-20">
								<h3 *ngIf="comments !== undefined">Discussion ({{comments.length}})</h3>
								<h3 *ngIf="comments === undefined">Discussion (0)</h3>
								<form [formGroup]="chatForm" (ngSubmit)="postComment()">
									<mat-form-field class="full-width margin-top-10">
										<input matInput type="text" formControlName="description" placeholder="Post your thoughts on this experience">
									</mat-form-field>
									<mat-checkbox [formControlName]="'isAnnouncement'" *ngIf="userType==='teacher'">Make Announcement</mat-checkbox>
									<button mat-raised-button color="primary" [disabled]="!chatForm.valid" class="pull-right">
										<span *ngIf="!busyDiscussion">Post</span>
										<span *ngIf="busyDiscussion"> </span>
										<ngx-loading [show]="busyDiscussion"></ngx-loading>
									</button>
								</form>
							</div>
							<div class="loading-container" [hidden]="!loadingComments && !initialLoad">
								<ngx-loading [show]="true"></ngx-loading>
							</div>
							<div class="col-md-12">
								<div class="row lighterText" *ngIf="comments !== undefined && comments.length === 0">
									<div class="col-md-12">
										<div class="emptySectionText">Be the first one to start a discussion on this experience..</div>
									</div>
								</div>
								<div class="row" *ngFor="let comment of comments">
									<div *ngIf="comment.isAnnouncement === true">
										<div class="announcement">
											<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuComment" style="float: right;">
												<mat-icon style="color: #cccccc">more_vert</mat-icon>
											</button>
											<mat-menu #menuComment="matMenu">
												<button *ngIf="userType==='participant' && !isMyComment(comment)" mat-menu-item>
													<mat-icon>flag</mat-icon>
													<span>Flag</span>
												</button>
												<button *ngIf="userType==='teacher' || isMyComment(comment)" mat-menu-item (click)="deleteComment(comment)">
													<mat-icon>delete</mat-icon>
													<span>Delete</span>
												</button>
											</mat-menu>
											<div class="margin-bottom-10">
												<b>Announcement on {{comment.createdAt | extractTime: 'Do MMM, YYYY'}}</b>
											</div>
											<div>{{comment.description}}</div>
										</div>
									</div>
								</div>
								<div class="margin-top-30"></div>
								<div class="row margin-top-10" *ngFor="let comment of comments">
									<div *ngIf="comment.isAnnouncement === false">
										<div class="col-md-1 margin-top-10" style="text-align: center; color: #cccccc;" [ngClass]="{'hasUpvoted': !!hasUpvoted(comment.upvotes)}">
											<mat-icon *ngIf="!hasUpvoted(comment.upvotes)" style="cursor: pointer;" (click)="addCommentUpvote(comment)">arrow_drop_up</mat-icon>
											<mat-icon *ngIf="hasUpvoted(comment.upvotes)">arrow_drop_up</mat-icon>
											<div>
												{{comment.upvotes.length}}
											</div>
										</div>
										<div class="col-md-11">
											<div class="row" *ngIf="!editCommentForm || (editCommentForm && editCommentForm.value['id']!==comment.id)">
												<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuComment" style="float: right; margin-right: 15px; margin-top: 15px;">
													<mat-icon style="color: #cccccc">more_vert</mat-icon>
												</button>
												<mat-menu #menuComment="matMenu">
													<button *ngIf="userType==='participant'" mat-menu-item>
														<mat-icon>flag</mat-icon>
														<span>Flag</span>
													</button>
													<button *ngIf="userType==='teacher' || isMyComment(comment)" mat-menu-item (click)="deleteComment(comment)">
														<mat-icon>delete</mat-icon>
														<span>Delete</span>
													</button>
													<button *ngIf="isMyComment(comment)" mat-menu-item (click)="editComment(comment)">
														<mat-icon>edit</mat-icon>
														<span>Edit</span>
													</button>
												</mat-menu>
												<div class="mat-body-1 pre-wrapped">{{comment.description}}</div>
												<div style="margin-top: 10px;" class="" *ngIf="comment.peer.length>0">
													<div class="clickable" style="float: left; margin-left: 15px;">
														<img (click)="openProfilePage(comment.peer[0].id)" *ngIf="!comment.peer[0].profiles[0].picture_url" src="/assets/images/user-placeholder.jpg"
														     alt="A" class="circle-thumb margin-top-5">
														<img (click)="openProfilePage(comment.peer[0].id)" *ngIf="comment.peer[0].profiles[0].picture_url" src="{{envVariable.apiUrl+ comment.peer[0].profiles[0].picture_url}}"
														     class="circle-thumb margin-top-5" alt="dp">
													</div>
													<div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
														<div>
															<div>
																<span class="clickable" style="font-weight: 500" (click)="openProfilePage(comment.peer[0].id)">{{comment.peer[0].profiles[0].first_name}} {{comment.peer[0].profiles[0].last_name}}</span>&nbsp;&nbsp;
															</div>
														</div>
														<div class="">
															<span class="lighterText">{{comment.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
														</div>
													</div>
												</div>
												<div style="margin-top: 10px;" *ngIf="!(replyForm && replyingToCommentId===comment.id)">
													<a href="javascript:void(0);" (click)="createReplyForm(comment)">
														<mat-icon style="top: 5px;">reply</mat-icon> Reply</a>
												</div>
												<div class="col-md-11 col-md-offset-1 margin-top-30" *ngIf="replyForm && replyingToCommentId===comment.id" style="margin-left: -25px;">
													<form [formGroup]="replyForm" (ngSubmit)="postReply(comment)">
														<img src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb margin-top-5">
														<mat-form-field style="margin-left: 15px; width: 88%;">
															<input matInput type="text" formControlName="description" placeholder="Reply to above comment...">
														</mat-form-field>
														<button [disabled]="!replyForm.valid" mat-raised-button class="pull-right" color="primary">
															<span *ngIf="!busyReply">Post</span>
															<ngx-loading [show]="busyReply"></ngx-loading>
														</button>
													</form>
												</div>
											</div>
											<div class="row" *ngIf="editCommentForm && editCommentForm.value['id']===comment.id">
												<div class="col-md-12">
													<form [formGroup]="editCommentForm" (ngSubmit)="updateComment()">
														<mat-form-field class="full-width margin-top-10">
															<input matInput type="text" formControlName="description" placeholder="Post your thoughts on this experience">
														</mat-form-field>
														<mat-checkbox [formControlName]="'isAnnouncement'" *ngIf="userType==='teacher'">Make Announcement</mat-checkbox>
														<button mat-raised-button color="primary" [disabled]="!editCommentForm.valid" class="pull-right">
															<span *ngIf="!busyDiscussion">Update</span>
															<span *ngIf="busyDiscussion"> </span>
															<ngx-loading [show]="busyDiscussion"></ngx-loading>
														</button>
													</form>
												</div>
											</div>
											<div class="row">
												<div class="col-md-11 col-md-offset-1 margin-top-10">
													<div class="row margin-top-20" *ngFor="let reply of comment.replies">
														<div class="row" *ngIf="!editReplyForm || (editReplyForm && editReplyForm.value['id']!==reply.id)">
															<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuReply" style="float: right; margin-right: 15px; margin-top: 15px;">
																<mat-icon style="color: #cccccc;">more_vert</mat-icon>
															</button>
															<mat-menu #menuReply="matMenu">
																<button *ngIf="userType==='participant' && !isMyComment(reply)" mat-menu-item>
																	<mat-icon>flag</mat-icon>
																	<span>Flag</span>
																</button>
																<button *ngIf="userType==='teacher' || isMyComment(reply)" mat-menu-item (click)="deleteReply(reply)">
																	<mat-icon>delete</mat-icon>
																	<span>Delete</span>
																</button>
																<button *ngIf="isMyComment(reply)" mat-menu-item (click)="editReply(reply)">
																	<mat-icon>edit</mat-icon>
																	<span>Edit</span>
																</button>
															</mat-menu>
															<div style="text-align: center; display: inline-block; color: #cccccc; vertical-align: top; margin-right: 25px;margin-top: 10px;  margin-left: -60px;"
															     [ngClass]="{'hasUpvoted': !!hasUpvoted(reply.upvotes)}">
																<mat-icon *ngIf="!hasUpvoted(reply.upvotes)" style="cursor: pointer;" (click)="addReplyUpvote(reply)">arrow_drop_up</mat-icon>
																<mat-icon *ngIf="hasUpvoted(reply.upvotes)">arrow_drop_up</mat-icon>
																<div>
																	<span *ngIf="reply.upvotes !== undefined">{{reply.upvotes.length}}</span>
																	<span *ngIf="reply.upvotes === undefined">0</span>
																</div>
															</div>
															<div style="width: 90%; display: inline-block;">
																<div class="mat-body-1">{{reply.description}}</div>
																<div class="" style="margin-top: 10px;" *ngIf="reply.peer && reply.peer.length>0">
																	<div class="clickable" style="float: left; margin-left: 15px;">
																		<img (click)="openProfilePage(reply.peer[0].id)" *ngIf="!reply.peer[0].profiles[0].picture_url" src="/assets/images/user-placeholder.jpg"
																		     alt="A" class="clickable circle-thumb margin-top-5">
																		<img (click)="openProfilePage(reply.peer[0].id)" *ngIf="reply.peer[0].profiles[0].picture_url" src="{{envVariable.apiUrl+ reply.peer[0].profiles[0].picture_url}}"
																		     class="clickable circle-thumb margin-top-5" alt="dp">
																	</div>
																	<div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
																		<div>
																			<div>
																				<span class="clickable" style="font-weight: 500" (click)="openProfilePage(reply.peer[0].id)">{{reply.peer[0].profiles[0].first_name}} {{reply.peer[0].profiles[0].last_name}}</span>&nbsp;&nbsp;
																			</div>
																		</div>
																		<div class="">
																			<span class="lighterText">{{reply.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row" *ngIf="editReplyForm && editReplyForm.value['id']===reply.id">
															<form [formGroup]="editReplyForm" (ngSubmit)="updateReply()">
																<img src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb margin-top-5">
																<mat-form-field style="margin-left: 15px; width: 88%;">
																	<input matInput type="text" formControlName="description" placeholder="Reply to above comment...">
																</mat-form-field>
																<button [disabled]="!editReplyForm.valid" mat-raised-button class="pull-right" color="primary">
																	<span *ngIf="!busyReply">update</span>
																	<ngx-loading [show]="busyReply"></ngx-loading>
																</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<hr class="margin-top-30">
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr *ngIf="(userType==='teacher' || userType==='participant') && comments !== undefined && comments.length === 0">
						<!--REVIEWS-->
						<div class="loading-container" [hidden]="!loadingReviews && !initialLoad">
							<ngx-loading [show]="true"></ngx-loading>
						</div>
						<div class="row Reviews" *ngIf="reviews !== undefined">
							<div class="col-md-12">
								<div class="row margin-top-20">
									<div class="col-md-12">
										<h3 style="display: inline-block;">Reviews ({{reviews.length}})</h3> &emsp;
										<span style="display: inline-block;">
											<p-rating style="display: inline-flex;" *ngIf="userType==='teacher' || userType==='public' || hasReviewed(reviews)" [ngModel]="userRating"
											          readonly="true" stars="5" [cancel]="false"></p-rating>
											<p-rating style="display: inline-flex;" *ngIf="userType==='participant' && !hasReviewed(reviews)" [(ngModel)]="newUserRating"
											          (onRate)="handleRate($event)" [cancel]="false"></p-rating>
										</span>
									</div>
								</div>
								<div class="row margin-top-20" *ngIf="userType==='participant' && !hasReviewed(reviews)">
									<div class="col-md-12">
										<form [formGroup]="reviewForm" (ngSubmit)="postReview()">
											<mat-form-field class="full-width">
												<input matInput formControlName="description" placeholder="Describe your experience with this experience">
											</mat-form-field>
											<span matTooltip="Have you given a star rating for this review?" [matTooltipDisabled]="isRatingReceived" class="pull-right">
												<button [disabled]="!isRatingReceived || !reviewForm.valid" mat-raised-button color="primary">
													<span *ngIf="!busyReview">Submit</span>
													<ngx-loading [show]="busyReview"></ngx-loading>
												</button>
											</span>
										</form>
									</div>
								</div>
								<div class="row lighterText" *ngIf="reviews.length === 0">
									<div class="col-md-12">
										<div class="emptySectionText" *ngIf="userType !== 'teacher'">Start by giving stars to this experience..</div>
										<div class="emptySectionText" *ngIf="userType === 'teacher'">Awaiting first review from participants of this experience..</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div *ngFor="let review of reviews;let i=index">
											<div class="row margin-top-20 reviewItem" [hidden]="i>=noOfReviews">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-12" *ngIf="!editReviewForm || (editReviewForm && editReviewForm.value['id']!==review.id)">
															<div class="row">
																<div style="margin-top: 10px; margin-bottom: 10px;" class="">
																	<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuReply" style="float: right; margin-right: 15px; margin-top: 15px;">
																		<mat-icon style="color: #cccccc;">more_vert</mat-icon>
																	</button>
																	<mat-menu #menuReply="matMenu">
																		<button *ngIf="userType==='participant' && !isMyReview(review)" mat-menu-item>
																			<mat-icon>flag</mat-icon>
																			<span>Flag</span>
																		</button>
																		<button *ngIf="userType==='teacher' || isMyReview(review)" mat-menu-item (click)="deleteReview(review)">
																			<mat-icon>delete</mat-icon>
																			<span>Delete</span>
																		</button>
																		<button *ngIf="isMyReview(review)" mat-menu-item (click)="editReview(review)">
																			<mat-icon>edit</mat-icon>
																			<span>Edit</span>
																		</button>
																	</mat-menu>
																	<div class="clickable" style="float: left;">
																		<img (click)="openProfilePage(review.peer[0].id)" *ngIf="!review.peer || !review.peer[0].profiles[0].picture_url" src="/assets/images/user-placeholder.jpg"
																		     alt="A" class="clickable circle-thumb margin-top-5" (error)="_collectionService.imgErrorHandler($event)"
																		     style="margin-left: 10px;">
																		<img (click)="openProfilePage(review.peer[0].id)" *ngIf=" review.peer && review.peer[0].profiles[0].picture_url" src="{{envVariable.apiUrl+ review.peer[0].profiles[0].picture_url}}"
																		     class="clickable circle-thumb margin-top-5" alt="dp" (error)="_collectionService.imgErrorHandler($event)"
																		     style="margin-left: 10px;">
																	</div>
																	<div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
																		<div>
																			<div>
																				<span class="clickable" style="font-weight: 500" (click)="openProfilePage(review.peer[0].id)">{{review.peer[0].profiles[0].first_name + ' ' + review.peer[0].profiles[0].last_name}}</span>&nbsp;&nbsp;
																			</div>
																		</div>
																		<div class="">
																			<span class="lighterText">{{review.createdAt | extractTime:'Do MMMM, YYYY'}}</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	{{review.description}}
																</div>
															</div>
															<br>
														</div>
													</div>
													<div class="row" *ngIf="editReviewForm && editReviewForm.value['id']===review.id">
														<div class="col-md-12">
															New Rating
															<p-rating style="display: inline-flex;" [(ngModel)]="newUserRating" (onRate)="updateRating($event)" [cancel]="false"></p-rating>
															<form [formGroup]="editReviewForm" (ngSubmit)="updateReview()">
																<mat-form-field class="full-width">
																	<input matInput formControlName="description" placeholder="Review this experience">
																</mat-form-field>
																<button [disabled]="!editReviewForm.valid" mat-raised-button color="primary">
																	<span *ngIf="!busyReview">Submit</span>
																	<ngx-loading [show]="busyReview"></ngx-loading>
																</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row" *ngIf="reviews && reviews.length>3">
											<div class="col-md-12 margin-top-20" style="text-align: center">
												<a [hidden]="noOfReviews!==3" class="clickable" (click)="toggleReviews()" style="cursor: pointer;">See all {{reviews.length}} reviews</a>
												<a [hidden]="noOfReviews===3" class="clickable" (click)="toggleReviews()" style="cursor: pointer;">See fewer reviews</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr class="margin-top-40" *ngIf="reviews !== undefined">
						<!--REQUIREMENTS-->
						<div class="row Eligibility margin-top-40" *ngIf="userType==='teacher' || userType === 'participant'">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-4">
												<h3>Need to know</h3>
											</div>
											<div class="col-md-8 margin-top-8">
												<b>{{experience.difficultyLevel | titlecase}}</b>
												<p class="mat-caption pre-wrapped">{{experience.notes}}</p>
											</div>
										</div>
										<div class="row margin-top-20">
											<div class="col-md-4">
												<h3>Cancellation policy</h3>
											</div>
											<div class="col-md-8 margin-top-10">
												<p>Get a full refund if you cancel within {{experience.cancellationPolicy}} of signing up.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="margin-top-70"></div>
						<!--<hr class="margin-top-70" *ngIf="userType==='teacher' || userType === 'participant'">-->
					</div>
					
					<!--RIGHT SIDEBAR-->
					<div class="col-md-4 col-md-offset-1 right-content">
						<div *ngIf="(userType==='teacher' || userType==='participant')">
							<h3 class="margin-bottom-20">Taught By</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="clickable" style="display: inline-block; position: relative; top: 2px; vertical-align: top;">
										<app-profile-popup [peer]="experience.owners[0]"></app-profile-popup>
									</div>
									<div style="display: inline-block; margin-left: 10px;">
										<div class="row">
											<div class="col-md-12 clickable" (click)="openProfilePage(experience.owners[0].id)">
												<span *ngIf="experience.owners[0].profiles[0].first_name !== undefined">
													{{experience.owners[0].profiles[0].first_name | ucwords }} {{experience.owners[0].profiles[0].last_name | ucwords }}
												</span>
												<span *ngIf="experience.owners[0].profiles[0].first_name === undefined">
													John Doe
												</span>
											</div>
											<div class="col-md-12 mat-h5" *ngIf="experience.owners[0].headline">
												{{experience.owners[0].profiles[0].headline | ucwords}}
											</div>
											<div class="col-md-12 mat-h5" *ngIf="!experience.owners[0].headline">
												New user
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p>
										<span class="pre-wrapped">{{experience.aboutHost | shorten: maxLength : '... '}}</span>
										<span *ngIf="experience.aboutHost && experience.aboutHost.length > maxLength" (click)="showAll(experience.aboutHost.length)"
										      style="color:#33bd9e" class="clickable">read more</span>
										<span *ngIf=" experience.aboutHost && experience.aboutHost.length>140  && experience.aboutHost.length <= maxLength" (click)="showAll(experience.aboutHost.length)"
										      style="color:#33bd9e" class="clickable">show less</span>
									</p>
								</div>
							</div>
							<hr class="margin-top-10 margin-bottom-10">
						</div>
						<div *ngIf="(userType==='teacher' || userType==='participant') && calendarId !== undefined">
							<h3 class="margin-bottom-20">Participants</h3>
							<div>
								<div class="loading-container" [hidden]="!loadingParticipants">
									<ngx-loading [show]="true"></ngx-loading>
								</div>
								<div>
									<div class="row" *ngIf="participants.length === 0">
										<div class="col-md-12">
											<div class="clickable emptySectionText" (click)="openInviteFriendsDialog()">Invite peers to this cohort?</div>
										</div>
									</div>
								</div>
								<div *ngFor="let participant of participants; let i=index">
									<div class="row" *ngIf="participant.profiles && i<4">
										<div class="col-md-2 vcenter clickable">
											<app-profile-popup [peer]="participant"></app-profile-popup>
										</div>
										<div class="col-md-9 vcenter clickable" (click)="openProfilePage(participant.id)">
											{{participant.profiles[0].first_name +' '+participant.profiles[0].last_name }}&emsp;
											<span *ngIf="participant.profiles[0].headline" style="font-weight: 300;" class="lightText">{{participant.profiles[0].headline}}</span>
										</div>
									</div>
								</div>
								<div>
									<div class="row">
										<div class="col-md-12 margin-top-20 margin-bottom-40">
											<a (click)="viewParticipants()" style="cursor: pointer;" *ngIf="participants.length > 0"> View all participants </a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="(userType==='teacher' || userType==='participant') && calendarId === undefined">
							<h3 class="margin-bottom-20">Participants</h3>
							<div>
								<div class="loading-container" [hidden]="!loadingParticipants">
									<ngx-loading [show]="true"></ngx-loading>
								</div>
								<div *ngFor="let participant of allParticipants; let i=index">
									<div class="row" *ngIf="participant.profiles && i<4">
										<div class="col-md-2 vcenter clickable">
											<app-profile-popup [peer]="participant"></app-profile-popup>
										</div>
										<div class="col-md-9 vcenter clickable" (click)="openProfilePage(participant.id)">
											{{participant.profiles[0].first_name +' '+participant.profiles[0].last_name }}&emsp;
											<span *ngIf="participant.profiles[0].headline" style="font-weight: 300;" class="lightText">{{participant.profiles[0].headline}}</span>
										</div>
									</div>
								</div>
								<div>
									<div class="row">
										<div class="col-md-12 margin-top-20">
											<a (click)="viewAllParticipants()" style="cursor: pointer;" *ngIf="allParticipants.length > 0"> View all participants </a>
										</div>
									</div>
								</div>
								<div>
									<div class="row">
										<div class="col-md-12">
											<div class="emptySectionText">
												Select one experience cohort to view participants signed up for that batch.
												<br>
												<br>
												<button mat-button class="mat-border-button" (click)="changeDates()">Select cohort</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="userType==='teacher' && experience.isApproved">
							<hr class="margin-top-30 margin-bottom-30" *ngIf="userType==='teacher'">
							<div>
								<h3 style="display: inline-block;">Experience Batches</h3>
								<span (click)="editCalendar()" class="pull-right clickable" style="cursor: pointer;">
									<mat-icon style="font-size: 1rem; top: 15px;">edit</mat-icon>
								</span>
								<br>
								<span class="text-muted h6">{{experience.calendars.length}} Cohorts</span>
							</div>
							<br>
							<div class="mat-content border-calendar calendar">
								<div class="flex flexContainer" style="margin-bottom:10px">
									<div class="col-md-8">
										<h3 class="calendarTitle">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
									</div>
									<span class="flex"></span>
									<div class="prevNext" style="margin-top: -5px">
										<button mat-button class="mat-icon-button" type="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
											<mat-icon class="" aria-hidden="true">chevron_left</mat-icon>
										</button>
										<button mat-button class="mat-icon-button" type="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
											<mat-icon class="" aria-hidden="true">chevron_right</mat-icon>
										</button>
									</div>
								</div>
								<div [ngSwitch]="view">
									<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)">
									</mwl-calendar-month-view>
								</div>
							</div>
							<div [ngClass]="{'clickedDate' : true, 'displayNone' : !dateClicked, 'displayBlock': dateClicked}">
								<div style="margin: 15px 0px;" [ngClass]="{'displayFlex': dateClicked}">
									<span class="cal-day-badge"></span>
									<span>{{clickedCohort | titlecase}} ({{clickedCohortStartDate | date:'d MMM' }} - {{clickedCohortEndDate | date:'d MMM' }})</span>
								</div>
								<div class="margin-top-10 margin-bottom-10">
									<span>{{clickedDate | date:'EEEE, MMM d'}}</span>
								</div>
								<div *ngIf="objectKeys(eventsForTheDay).length === 0">
									<div class="displayFlex event">
										<span>No events on this date</span>
									</div>
									<div class="margin-top-20 margin-bottom-20">
										<button mat-button (click)="viewDetails(clickedCohortId)" class="mat-border-button">View details of {{clickedCohort}}</button>
									</div>
								</div>
								<div *ngFor="let key of objectKeys(eventsForTheDay);">
									<div class="displayFlex event clickable" *ngFor="let event of eventsForTheDay[key]" (click)="openEventDialog(clickedCohortId, event.id)"
									     style="cursor: pointer;">
										<span>{{ event.start | date:'hh:mm' }}</span>
										<span>
											<b>{{ event.start | date:'a' | lowercase}}</b>
										</span>
										&emsp;
										<span>{{ parseTitle(event.title)[0] | titlecase }}</span>
									</div>
									<div class="margin-top-20 margin-bottom-20">
										<button mat-button (click)="viewDetails(key)" class="mat-border-button">View details of {{clickedCohort}}</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="userType==='public'" style="margin-top: -85px;">
							<div class="col-md-12">
								<!--COVER IMAGE-->
								<div class="row">
									<div class="col-md-12">
										<div style="width: 340px; height: 500px;" *ngIf="carouselImages">
											<ngu-carousel [inputs]="carouselBanner">
												<ngu-item NguCarouselItem class="bannerStyle" *ngFor="let imageUrl of carouselImages">
													<div class="row">
														<div class="col-md-12">
															<img src="{{imageUrl}}">
														</div>
													</div>
												</ngu-item>
												<img NguCarouselPrev src="/assets/images/images_landing/arrow-left.png" class="arrow arrow-left" />
												<img NguCarouselNext src="/assets/images/images_landing/arrow-right.png" class="arrow arrow-right" />
											</ngu-carousel>
										</div>
									</div>
								</div>
								<!--HEADLINE-->
								<div class="row">
									<div class="col-md-12">
										<h3>
											{{experience.headline | titlecase}}
										</h3>
									</div>
								</div>
								<hr style="margin-bottom: 10px;">
								<!--PRICE SECTION-->
								<div class="row">
									<div class="col-md-8">
										<div class="row">
											<div class="col-md-12">
												<h2 style="display: inline-block; margin-bottom: -1px;">{{experience.price | convertCurrency: experience.currency |async}}</h2> &nbsp; per person
												<br/>
												<p-rating [ngModel]="userRating" readonly="true" stars="5" [cancel]="false" style="font-size: 13px; float: left;"></p-rating> &nbsp;&nbsp;
												<span *ngIf="reviews" style="font-weight: 400; float: left; margin-left: 10px;">{{reviews.length}} reviews</span>
												<span *ngIf="!reviews" style="font-weight: 400; float: left; margin-left: 10px;">0 reviews</span>
											</div>
										</div>
									</div>
									<div class="col-md-4" style="padding-top: 9px;">
										<span *ngIf="userId !== undefined && userId.length > 5" matTooltip="Please wait for your account to be approved before signing up for experiences"
										      [matTooltipDisabled]="accountApproved === 'true'">
											<button mat-raised-button (click)="selectJoiningDates()" color="primary" [disabled]="accountApproved !== 'true'">See Dates</button>
										</span>
										<span *ngIf="userId === undefined || userId.length <= 5" matTooltip="Create an account now to join this experience">
											<button mat-raised-button color="primary" [disabled]="true">See Dates</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<hr class="margin-top-10 margin-bottom-10">
						<div class="row" style="color: #777777">
							<div class="col-md-4" style="cursor: pointer;">
								<a (click)="openInviteFriendsDialog()">Invite friends</a>
							</div>
							<div class="col-md-4 clickable" (click)="saveBookmark()" style="cursor: pointer;">
								<ngx-loading [show]="bookmarking"></ngx-loading>
								<span [hidden]="bookmarking">
									<mat-icon [ngClass]="{'hasBookmarked': hasBookmarked}" style="font-size: 1rem; top: 2px;">bookmark</mat-icon>
									<span *ngIf="!hasBookmarked">Bookmark</span>
									<span *ngIf="hasBookmarked">Saved</span>
								</span>
							</div>
							<div class="col-md-4" style="cursor: pointer;">
								Share&nbsp;
								<i class="fa fa-facebook-square clickable" aria-hidden="true" style="font-size: 1rem;" (click)="shareOnFb()"></i>
								<i class="fa fa-twitter-square clickable" aria-hidden="true" style="font-size: 1rem;" (click)="shareOnTwitter()"></i>
							</div>
						</div>
					</div>
				</div>
				<hr class="margin-bottom-60" *ngIf="userType === 'participant'">
				<!--SIMILAR EXPERIENCES-->
				<div class="row experience-suggestions" *ngIf="userType!=='teacher'">
					<div class="col-md-12">
						<div class="row margin-bottom-20">
							<div class="col-md-5">
								<h3>Similar Experiences</h3>
							</div>
							<div class="col-md-2 pull-right" style="text-align: right">
								<a [routerLink]="'/home/experiences'">
									<span class="mat-body-1">
										See all
										<mat-icon class="rightChevron" style="position: relative; top: 2px; font-size: 14px; width: 10px;">chevron_right</mat-icon>
									</span>
								</a>
							</div>
						</div>
						<div class="loading-container" [hidden]="!loadingSimilarExperiences">
							<ngx-loading [show]="true"></ngx-loading>
						</div>
						<div *ngIf="!loadingSimilarExperiences" class="row feed-horizontal margin-bottom-40" style="padding: 0px 7px;">
							<div class="recommendation-card" *ngFor="let experience of recommendations.collections; let i =index">
								<a [routerLink]="'/experience/'+experience.id">
									<div class="">
										<div class="recommendation-thumb" *ngIf="experience.imageUrls && experience.imageUrls.length>0" [ngStyle]="{'background': 'url(' + envVariable.apiUrl + experience.imageUrls[0] + '), url(../../assets/images/no-image.jpg)', 'background-size': 'cover'}">
											<div class="recommendation-city">
												<mat-icon style="top: 2px; position: relative; color: white; font-size: 15px;">place</mat-icon>
												<b>{{experience.location | ucwords}}</b>
											</div>
										</div>
										<div class="recommendation-thumb" *ngIf="!experience.imageUrls || experience.imageUrls.length<=0" [ngStyle]="{'background': 'url(/assets/images/no-image.jpg)', 'background-size': 'cover'}">
											<div class="recommendation-city">
												<mat-icon style="top: 2px; position: relative; color: white; font-size: 15px;">place</mat-icon>
												<b>{{experience.location | ucwords}}</b>
											</div>
										</div>
									</div>
									<div *ngIf="experience.currency !== undefined && experience.currency.length > 0" style="margin-top: 3px;">
										<span class="mat-body-2">{{experience.price | convertCurrency: experience.currency |async}}</span> / person</div>
									<div *ngIf="experience.currency === undefined || experience.currency.length === 0" style="margin-top: 3px;">
										<span class="mat-body-2">{{experience.price | convertCurrency: 'USD' |async}}</span> / person</div>
									<div class="mat-body-2" style="margin-top: -3px;">{{experience.title | titlecase}}</div>
									<!--<div style="margin-top: 0px;">{{experience.headline | shorten: 20 : '...' | titlecase}}</div>-->
									<div style="margin-top: 0px;">{{experience.owners[0].profiles[0].first_name + ' ' + experience.owners[0].profiles[0].last_name | ucwords}}</div>
									<div class="col-sm-12 padding-left-0" style="margin-top: 0px; font-size: 13px;">
										<p-rating class="padding-left-0" style="float: left;" [ngModel]="experience.rating" readonly="true" stars="5" [cancel]="false">
										</p-rating>
										<span class="padding-left-10" *ngIf="experience.ratingCount" style="text-align: left">
											<label>{{experience.ratingCount}} reviews</label>
										</span>
										<span class="padding-left-10" *ngIf="!experience.ratingCount" style="text-align: left">
											<label>0 reviews</label>
										</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
