<div mat-dialog-content class="dialog-container">
	<div class="mat-dialog-focus-trap"></div>
	<div class="row">
		<div class="col-md-12 collectionContent">
			<button disableRipple mat-button [mat-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<button disableRipple mat-button *ngIf="isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;"
			 (click)="dialogRef.close()">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<div>
				<div class="mat-display-1" style="margin-bottom: 20px;">{{getAddOrEditText()}} video activity for
					{{itenaryForm.value.date | date: 'MMM dd, y'}}</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div id="ytplayer-{{lastIndex}}"></div>
		</div>
	</div>
	<div *ngIf="lastIndex>-1">
		<form [formGroup]="itenaryForm.controls['contents']['controls'][lastIndex]">
			<div class="row">
				<div class="col-sm-12 margin-bottom-30">
					<mat-form-field class="pb-block margin-top-20 margin-bot-20">
						<input matInput #title formControlName="title" placeholder="Video Title">
					</mat-form-field>
					<div class="row" *ngIf="!signedUrlForStreaming">
						<div class="col-md-12">
							<div class="form-group margin-bottom-20">
								<label>Upload A Video File</label>
								<div class="upload-image-section imageHolder">
									<app-upload-file (uploaded)="loadUploadedVideo($event)" [allowedTypes]="'.mp4,.mov,.mpeg'"></app-upload-file>
									<h5 class="margin-top-10">Max File Size
										<b>1000MB</b>. Allowed file types <b>.mp4, .mov, .mpeg</b>
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-20">
						<div [hidden]="!loadingUploadedVideo" class="col-md-12 margin-bottom-20">
							<div class="margin-bottom-10">Fetching your video...</div>
							<mat-progress-bar mode="buffer"></mat-progress-bar>
						</div>
						<div [hidden]="loadingUploadedVideo || !signedUrlForStreaming">
							<div class="col-md-11 embed-responsive embed-responsive-16by9 pic delete imageContainer">
								<mat-video #video [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="dot">
									<source *ngIf="signedUrlForStreaming" matVideoSource src="{{signedUrlForStreaming}}" type="video/mp4">
								</mat-video>
								<mat-icon (click)="deleteMedia(secureVideoUrl, 'video')" class="delete-button">close</mat-icon>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12 mat-caption margin-bottom-20" *ngIf=" itenaryForm.value.contents[lastIndex] && itenaryForm.value.contents[lastIndex].videoLength">
								Video Length: {{itenaryForm.value.contents[lastIndex].videoLength }} Seconds
							</div>
						</div>
					</div>
					<mat-checkbox [(ngModel)]="youtubeEmbed" [ngModelOptions]="{standalone: true}">Embed a Youtube Video instead?</mat-checkbox>

					<div *ngIf="youtubeEmbed">
						<mat-form-field class=" pb-block margin-top-20 margin-bottom-10">
							<span matPrefix>https://www.youtube.com/watch?v=</span>
							<input matInput #youtubeVideoId formControlName="youtubeId" placeholder="NHffhGkpgFA">
						</mat-form-field>
						<div class="pb-block mat-caption margin-bottom-20">
							Video Length: {{itenaryForm.value.contents[lastIndex].videoLength}}
						</div>
					</div>
					<mat-form-field class="pb-block margin-top-20 margin-bottom-20">
						<textarea matInput #description maxlength="2000" rows="1" matTextareaAutosize formControlName="description"
						 placeholder="What will we do?" [required]="true"></textarea>
						<mat-hint align="end">{{description.value.length}} / 2000</mat-hint>
					</mat-form-field>

					<mat-form-field class="pb-block margin-top-20 margin-bottom-20">
						<textarea matInput #prerequisites maxlength="1000" rows="1" matTextareaAutosize formControlName="prerequisites"
						 placeholder="What do learners need to know?" [required]="true"></textarea>
						<mat-hint align="end">{{prerequisites.value.length}} / 1000</mat-hint>
					</mat-form-field>

					<div class="form-group">
						<label class="display-block">Add supporting material</label>

						<app-upload-file (uploaded)="addAttachmentUrl($event)"></app-upload-file>
						<h5>Max File Size
							<b>1000MB</b>
						</h5>
						<div *ngIf="attachmentUrls.length" class="pic delete">
							<div *ngFor="let file of attachmentUrls" class="col-md-6 padding-left-0 imageContainer">
								<img *ngIf="file.type.includes('image')" src="{{envVariable.apiUrl + file.url}}" width="150" style="border: 0.5px solid #ccc">
								<mat-icon *ngIf="file.type.includes('image')" (click)="deleteMedia(file.url, 'file')" class="delete-image">close</mat-icon>
								<div *ngIf="file.type.includes('application')" class="uploaded_file">
									<a href="{{envVariable.apiUrl + file.url}}" target="_blank">{{file.originalFilename}}</a>
								</div>
								<mat-icon *ngIf="file.type.includes('application')" (click)="deleteMedia(file.url, 'file')" class="delete-file">close</mat-icon>
								<video *ngIf="file.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc; position: relative;"
								 preload="metadata">
									<source src="{{envVariable.apiUrl + file.url}}">
								</video>
								<mat-icon *ngIf="file.type.includes('video')" (click)="deleteMedia(file.url, 'file')" class="delete-button">close</mat-icon>
							</div>
						</div>
					</div>
				</div>
			</div>
			<mat-dialog-actions>
				<span matTooltip="All mandatory fields need to be completed before saving" [matTooltipDisabled]=" title.value.length!==0  && description.value.length !== 0 && prerequisites.value.length !== 0">
					<button mat-raised-button [mat-dialog-close]="getSaveDialogData()" color="primary" *ngIf="!isEdit" [disabled]="title.value.length === 0 || description.value.length === 0 || prerequisites.value.length === 0 ">Save</button>
					&emsp;
				</span>
				<button mat-raised-button [mat-dialog-close]="getEditDialogData()" color="primary" *ngIf="isEdit">Update</button>
				&emsp;
				<button mat-button [mat-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit">Discard</button>
				<button mat-button [mat-dialog-close]="getDeleteDialogData()" *ngIf="isEdit">Delete</button>
			</mat-dialog-actions>
		</form>
	</div>
</div>
