<div class="main-content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 margin-top-60 margin-bottom-40">
			<div class="mat-display-1">
				Why Teach at Blockchain University?
			</div>
			<div>
				The education system of today has served us well.
				But for too long now we’ve been observing how it increasingly struggles to adapt to the needs of modern society.
				This is why we’re here at the Blockchain University. To mould its very structure and adapt it for the challenges of tomorrow.
				To give to the world an entire generation of learners that can continue to add value to our communities, and build the exciting futures we dream of.
				<br><br>
				If you’d like to dive deeper into how we plan to do that, check out <a class="clickable" [routerLink]="['/about']">this page</a>.
				<br><br>
				If you’re about to join us on our journey, and begin one of your own, in the most critical, most fundamental of roles - that of an instructor, here’s our pitch on why you should be on board already.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Reinvent education
			</div>
			<div>
				At the Blockchain University, we’re bringing together the blockchain, the internet and of course, new age learners and instructors, to build the education supply chain of tomorrow. With us, you’ll be part of a revolution that will reinvent education and therefore, all other facets of our planet.
			</div>
			<div>
				But there’s more to teaching than that. While we continue to work on the education ecosystem of the future, some crucial elements of teaching will remain the same, as they should. These elements deal with the very core of what it means to be a teacher - the reason you’re here more than anything else - that of inspiring a generation and impacting millions in the most positive of ways.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Ignite Imaginations
			</div>
			<div>
				“One child, one teacher, one book, one pen can change the world.”― Malala Yousafzai. Today, you can change the world on the digital equivalents of pens and books - the internet and online classrooms.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Inspire Hope
			</div>
			<div>
				It’s the individual connections you make that’ll be the most fulfilling. Education is universally the passport to a better future. Teachers are the learners’ consulates.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Maximize Impact
			</div>
			<div>
				Teaching can be a significantly rewarding experience, even if it’s just one learner you teach. But with the Blockchain University, you’ll be influencing lives at paces never seen before - impacting hundreds of millions of learners simultaneously in the best way you can with our backing.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Getting Started
			</div>
			<div>
				<ol>
					<li>
						<b>Sign Up</b>
						<br><br>
						Start by registering on the platform. At the Blockchain University, user accounts are of a singular type - allowing everyone to both learn and teach at the same time. Go ahead and register yourself, and when you want to begin teaching.
						<br><br>
					</li>
					<li>
						<b>Set Up Your Teaching Profile</b>
						<br><br>
						If this is your first time teaching on the platform, you’ll need to set up your teaching profile by selecting your preferred mode of teaching experiences - from online courses, in-person workshops, mentor sessions and more.
						<br><br>
						Our portal will take you through the process as you complete the setup.
						<br><br>
					</li>
					<li>
						<b>Upload Your Coursework</b>
						<br><br>
						Depending on your choice of teaching model, you’ll need to upload your course material - from videos for online courses, to accompanying information for in-person workshops, etc
						<br><br>
					</li>
					<li>
						<b>Start Learning and Earning</b>
						<br><br>
						That’s it. Now start off with your teaching experiences, give the gift of a reinvented education to your learners, and get rewarded for your time and knowledge using one0x.
					</li>
				</ol>
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				When are you getting started?
			</div>
			<div>
				At the Blockchain University, we’re committed to changing the face of modern education, and giving the world a more personalised, more meaningful learning experience. This isn’t possible without you - the instructor - helping us construct the very foundation of the education of tomorrow.
			</div>
		</div>
	</div>
</div>
