<div class="feed peerFeed">
	<div class="row peer-feed">
		<div class="col-md-12">
			<div class="mat-display-1" style="margin-bottom: 5px !important; margin-top: 10px;">
				Explore Peerbuds
			</div>
			<app-topic-row [availableTopics]="availableTopics" (topciClickedEvent)="filterClickedTopic($event)"></app-topic-row>
			<div class="mat-display-1" style="margin-bottom: 25px !important;">
				All peers teaching
				<span class="mat-display-1" *ngIf="selectedTopics && selectedTopics.length !== 0">
					<span *ngFor="let topicObj of selectedTopics;let i=index">
						{{topicObj.name}}
					</span>
					<mat-icon class="clickable" style="font-size: 12px; font-weight: 200;" (click)="resetTopics()">
						close
					</mat-icon>
				</span>
			</div>
			<div class="loading-container" [hidden]="!loading">
				<ngx-loading [show]="true"></ngx-loading>
			</div>
			<div *ngIf="!loading" class="row feed-horizontal margin-bottom-70" style="padding: 0px 7px;">
				<div class="noDataContainer" *ngIf="peers === undefined || peers.length === 0">
					There are no peers to view with the selected criteria.
				</div>
				<div class="peer-recommendation-card" *ngFor="let peer of peers">
					<a [routerLink]="'/profile/'+peer.id">
						<div class="">
							<img class="peer-recommendation-thumb" *ngIf="peer.profiles[0].picture_url" src="{{envVariable.apiUrl+peer.profiles[0].picture_url}}"
							 alt="workshpImg" (error)="_collectionService.userImgErrorHandler($event)">
							<img class="peer-recommendation-thumb" *ngIf="!peer.profiles[0].picture_url" src="/assets/images/user-placeholder.jpg" alt="workshpImg"
							 (error)="_collectionService.userImgErrorHandler($event)">
						</div>
						<div style="margin-top: 3px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name !== undefined">{{peer.profiles[0].first_name | titlecase}} {{peer.profiles[0].last_name | titlecase}}</div>
						<div style="margin-top: 3px;" class="mat-body-2" *ngIf="peer.profiles[0].first_name === undefined">John Doe</div>
						<div class="col-sm-12 padding-left-0 ">
							<span *ngIf="!peer.topics || peer.topics.length<=2 ">
								{{peer.topics}}
							</span>
							<span *ngIf="peer.topics && peer.topics.length>2"> {{peer.topics | initial: 1}}
								<b matTooltip="{{peer.topics}}">
									+{{peer.topics.length-2}} more
								</b>
							</span>
						</div>
						<div class="col-sm-12 padding-left-0" style="margin-top: -2px; font-size: 13px;">
							<p-rating class="padding-left-0" style="float: left;" [ngModel]="peer.rating" readonly="true" stars="5" [cancel]="false">
							</p-rating>
							<span class="padding-left-10" *ngIf="peer.reviewsAboutYou && peer.reviewsAboutYou.length>0" style="text-align: left">
								<label>{{peer.reviewsAboutYou.length}} reviews</label>
							</span>
							<span class="padding-left-10" *ngIf="!peer.reviewsAboutYou || peer.reviewsAboutYou.length===0" style="text-align: left">
								<label>0 reviews</label>
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
