<div [ngClass]="{'recommendation-card': true, 'card-width-5': cardsPerRow === 5, 'card-width-4': cardsPerRow === 4, 'card-width-3': cardsPerRow === 3, 'card-width-2': cardsPerRow === 2, 'card-width-1': cardsPerRow === 1}">
	<span class="share-panel">
		<button mat-icon-button class="bookmark" (click)="toggleGuideBookmark(guide)" matTooltip="Bookmark">
			<mat-icon *ngIf="!(guide.bookmarks && guide.bookmarks[0] && guide.bookmarks[0].peer && guide.bookmarks[0].peer[0] && guide.bookmarks[0].peer[0].id===userId)">
				bookmark</mat-icon>
			<mat-icon *ngIf="guide.bookmarks && guide.bookmarks[0] && guide.bookmarks[0].peer && guide.bookmarks[0].peer[0] && guide.bookmarks[0].peer[0].id===userId"
			 color="primary">bookmark</mat-icon>
		</button>
		<button mat-icon-button class="share" (click)="_dialogsService.shareCollection('guide',guide.customUrl,guide.title, guide.description, guide.headline, envVariable.apiUrl + guide.imageUrls[0])"
		 matTooltip="Share">
			<mat-icon>share</mat-icon>
		</button>
	</span>
	<a [routerLink]="'/guide/'+guide.customUrl">
		<div class="">
			<div class="recommendation-thumb" *ngIf="guide.imageUrls && guide.imageUrls.length>0" [ngStyle]="{'background': 'url(' + envVariable.apiUrl + guide.imageUrls[0] + '/300' + '), url(../../assets/images/collection-placeholder.jpg)', 'background-size': 'cover', 'border-radius': '5%'}">
			</div>
			<div class="recommendation-thumb" *ngIf="!guide.imageUrls || guide.imageUrls.length<=0" [ngStyle]="{'background': 'url(../../assets/images/collection-placeholder.jpg)', 'background-size': 'cover'}">
				<div class="recommendation-price" [ngClass]="{'hidden': guide.cardInFocus}">
					<span class="mat-body-2">{{guide.price | convertCurrency: guide.currency |async}}</span>
				</div>
			</div>
		</div>
		<div style="margin-top: 5px; text-transform: uppercase; font-size: 12px;" class="mat-body-2">
			{{guide.subCategory | titlecase}}
		</div>
		<div style="margin-top: 0px; margin-bottom: 3px;" *ngIf="guide.topics !== undefined && guide.topics.length > 0">
			<span class="mat-caption" *ngIf="guide.topics.length<=1">
				{{guide.topics}}
			</span>
			<span class="mat-caption" *ngIf="guide.topics.length>1">
				{{guide.topics | slice: 0:1}}
				<span matTooltip="{{guide.topics}}">
					&nbsp;& {{guide.topics.length - 1}} more
				</span>
			</span>
		</div>
		<div class="mat-body-2" style="font-weight: 900; color: #333;">{{guide.title | titlecase}}</div>
		<div style="margin-top: 2px; font-size: 15px; color: #333;">
			<span class="mat-body-2">{{guide.price | convertCurrency: guide.currency |async}}</span>
			<mat-icon style="font-size: 5px; top: -3px; height: 20px; width: 7px;margin-left: 3px;">fiber_manual_record</mat-icon>
			<span>
				2 min read
			</span>
		</div>
		<!--<div style="margin-top: -4px;">{{guide.owners[0].profiles[0].first_name + ' ' + guide.owners[0].profiles[0].last_name | ucwords}}
			</div>-->
		<div class="col-sm-12 padding-left-0" style="margin-top: 0px; font-size: 9px;">
			<p-rating class="padding-left-0" style="float: left;" [ngModel]="guide.rating" readonly="true" stars="5" [cancel]="false">
			</p-rating>
		</div>
	</a>
</div>
