
.resetPasswordContainer {
	padding: 20px;
	margin-top: 7%;
}

.maincontent{
    min-height: 50vh;
}

.resetbtn{
    background-color: #ff6d71;
    font-size:17px;
    padding-top:5px;
    padding-bottom:5px;
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.resetPasswordContainer {
		margin-top: 15%;
	}
}
