<div class="main-content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 margin-top-60 margin-bottom-40">
			<div class="mat-display-1">
				Trust and Safety
			</div>
			<div>
				Privacy and protection of personal data is a matter of absolute concern. With the creation of a platform as novel and unique as the Blockchain University, it may be natural for users to be curious about the ways it works. At the outset, we’d like to make it absolutely clear that at the Blockchain University, the security of your information is paramount. We’re a blockchain based platform, remember? Naturally then, we’re making use of this decentralised ledger, applying its technology to our portal and to the field of education.
				<br><br>
				Registration on the Blockchain University is completed via a oAuth process that is used to receive user data. Any data recorded on the blockchain does have privacy issues associated with it and these risks are recognised by the Blockchain University. In order to overcome these risks, we have a built a private-public blockchain - a new and recent feature in the education space. This means that some of the data stored on the blockchain is public, and some of the information in the blockchain in private. Any transactions that are carried out and subsequently stored on the ledger are not visible to others without the discretion of the transaction owner. The only critical piece of information put up is the wallet address, which happens to be public and is non-traceable. The detailed profiles of the users are linked to their wallet addresses. This way, they are secure with strong data protection and encryption.
				<br><br>
				Just as all the transactions carried out are recorded on the blockchain, similarly, all Gyan and Karma (the Blockchain University’s tokens) transactions, are also publicly stored on the ledger so that they are immutable, and yet, through strong privacy, also untraceable. This helps protect every user, student or teacher’s, identity.
				<br><br>
				In every case, only the owner of the transaction can control the contracts. Since these contracts are established on the blockchain, they enjoy all the security aspects that come with it including data immutability,reliability, transparency and no single point of failure.
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	

</div>


