<div class="main-content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 margin-top-60 margin-bottom-40">
			<div class="mat-display-1">
				Responsible teaching
			</div>
			<div>
				As an instructor on the Blockchain University platform, you’re responsible for the educational journey of millions of learners. It is critical then, to play this role while focusing on delivering some of the key inputs it deserves:
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Be fair
			</div>
			<div>
				As an instructor and evaluator, you may, at times, face ethical dilemmas. There will, and should, be a natural expectation of impartiality, integrity, and fairness from you. It is important to evaluate, teach and train your learners in a respectful and patient way, without a hint of partiality. As the learner’s connection to the portal, you’ll need to represent the best of us.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Be accurate
			</div>
			<div>
				As they say, “half knowledge is a dangerous thing”. But honestly, what’s worse is incorrect knowledge. As an instructor, we’ll need the accuracy and integrity of your course to be among your top priorities. With your position vested with limitless influence, we can’t stress enough the need for you to teach authentically.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Be responsive
			</div>
			<div>
				A teacher’s role isn’t limited to a one-sided flow of knowledge. The learning process is consistently dynamic, brimming with enriching exchanges between instructors and learners. On your end of this exchange, we’ll need you to be available for your learners and their inquisitiveness. You will have opportunities after opportunities to make the learning process more engaging, for which we’ll need you to be responsive as you can while your learners embark on their important journeys.
				<br><br>
			</div>
			<div class="mat-display-1 margin-top-30">
				Be late, not
			</div>
			<div>
				As an instructor, you may be involved in more than just the portal on your browser. With Offline Experience classes, Mentor Sessions, and In-person Workshops, your physical presence (and the time it spends with the learners) is a critical aspect. Value their time.
				<br><br>
			</div>
			<div>
				We thank you for joining us in our journey to reinvent learning. Without you, the Blockchain University would undeniably stutter on its goal to change the future of education. With just a few perfectly reasonable and easy expectations from valuable instructors like yourself, we can do so much more, so much faster.
			</div>
		</div>
	</div>
</div>

