<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<mat-list>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/all'" [class.bold]="getActiveTab() === 'all'">
				View All
			</mat-list-item>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/classes'" [class.bold]="getActiveTab() === 'classes'">
				Online Courses
			</mat-list-item>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/experiences'" [class.bold]="getActiveTab() === 'experiences'">
				In-person Workshops
			</mat-list-item>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/guides'" [class.bold]="getActiveTab() === 'guides'">
				Guides
			</mat-list-item>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/sessions'" [class.bold]="getActiveTab() === 'sessions'">
				Sessions
			</mat-list-item>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/accreditations'" [class.bold]="getActiveTab() === 'accreditations'">
				Accreditations
			</mat-list-item>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/bounties'" [class.bold]="getActiveTab() === 'bounty'">
				Bounties
			</mat-list-item>
			<mat-list-item [class.mat-list-item-focus]="false" [routerLink]="'/console/teaching/learning-paths'" [class.bold]="getActiveTab() === 'learingPaths'">
				Learning Paths
			</mat-list-item>
			<mat-list-item *ngIf="getActiveTab() === 'classes' ">
				<span matTooltip="Please wait for your account to be verified before creating a new course." [matTooltipDisabled]="accountVerified">
					<button mat-raised-button (click)="createClass()" [disabled]="!accountVerified" color="primary">New Course</button>
				</span>
			</mat-list-item>
			<mat-list-item *ngIf="getActiveTab() === 'accreditations' ">
				<span matTooltip="Please wait for your account to be verified before creating a new accreditation."
				 [matTooltipDisabled]="accountVerified">
					<button mat-raised-button (click)="createAccreditation()" [disabled]="!accountVerified" color="primary">New
						Accreditation</button>
				</span>
			</mat-list-item>
			<mat-list-item *ngIf="activeTab === 'experiences'">
				<span matTooltip="Please wait for your account to be verified before creating a new workshop." [matTooltipDisabled]="accountVerified">
					<button mat-raised-button (click)="createExperience()" [disabled]="!accountVerified" color="primary">New
						Workshop</button>
				</span>
			</mat-list-item>
			<mat-list-item *ngIf="activeTab === 'bounties'">
				<span matTooltip="Please wait for your account to be verified before creating a new bounty." [matTooltipDisabled]="accountVerified">
					<button mat-raised-button (click)="createBounty()" [disabled]="!accountVerified" color="primary">New
						Bounty</button>
				</span>
			</mat-list-item>
			<mat-list-item *ngIf="activeTab === 'guides'">
				<span matTooltip="Please wait for your account to be verified before creating a new guide." [matTooltipDisabled]="accountVerified">
					<button mat-raised-button (click)="createGuide()" [disabled]="!accountVerified" color="primary">New
						Guide</button>
				</span>
			</mat-list-item>
			<mat-list-item *ngIf="activeTab === 'learning-paths'">
				<span matTooltip="Please wait for your account to be verified before creating a new leadxning path."
				 [matTooltipDisabled]="accountVerified">
					<button mat-raised-button (click)="createLearningPaths()" [disabled]="!accountVerified" color="primary">New
						Learning Path</button>
				</span>
			</mat-list-item>
			<mat-list-item *ngIf="getActiveTab() === 'sessions'">
				<span matTooltip="You can enable your account for peer sessions once our team has completed preliminary verification of your account."
				 [matTooltipDisabled]="accountVerified">
					<button mat-raised-button [disabled]="!accountVerified" color="primary" (click)="enableSessions()" *ngIf="session === undefined">
						<span>
							Enable Peer Sessions
						</span>
					</button>
					<button mat-raised-button *ngIf="session && session.status === 'draft'" (click)="editSessions()" [disabled]="!accountVerified"
					 color="primary">
						<span>
							Continue Session Setup
						</span>
					</button>
					<button mat-raised-button *ngIf="session && session.status === 'active'" (click)="editSessions()" [disabled]="!accountVerified"
					 color="primary">
						<span>
							Edit Session Preferences
						</span>
					</button>
					<button mat-raised-button *ngIf="session && session.status === 'submitted'" (click)="editSessions()" [disabled]="!accountVerified || (session && session.status === 'submitted')"
					 color="primary">
						<span>
							Profile Under Review
						</span>
					</button>

				</span>
			</mat-list-item>
		</mat-list>
	</div>
	<div class="col-md-9">
		<router-outlet></router-outlet>
	</div>
</div>