.knowledgeStoryPage {
	padding-bottom: 60px;
}

.ownerImage {
	width: 100%;
}

.certificateCardFooter {
	position: absolute;
	bottom: 10px;
	left: 0;
	background: #fff;
	width: 100%;
	padding: 5px 0px;
	text-align: center;
	border-top: 1px solid #eee;
}
