<div class="main-content knowledgeStoryPage">
	<div class="loading-container" [hidden]="!loadingKnowledgeStory" style="margin-left: 8.5%; margin-top: 3%;">
		<ngx-loading [show]="true"></ngx-loading>
	</div>
	<div *ngIf="!loadingKnowledgeStory && (knowledgeStory || knowledgeStoryId === 'me')" id="print-section">
		<div class="row margin-top-40">
			<div class="col-md-10 col-md-offset-1">
				<div class="col-md-7 left-content">
					<div class="row knowledgestory-header">
						<div class="col-md-12">
							<p class="mat-display-1" style="margin-bottom: 20px !important;">
								<span *ngIf="ownerView">Your </span>Knowledge Story &emsp;
								<i class="fa fa-lock lightText mat-caption" *ngIf="!globalStory && knowledgeStory.visibility === 'private'"></i>
								<i class="fa fa-globe lightText mat-caption" *ngIf="!globalStory && knowledgeStory.visibility === 'public'"></i>&nbsp;&nbsp;&nbsp;
								<span [matMenuTriggerFor]="menu">
									<i *ngIf="ownerView && !globalStory" class="lightText mat-caption fa fa-cog clickable"></i>&nbsp;&nbsp;&nbsp;</span>
								<span (click)="shareDialog()">
									<i *ngIf="ownerView && !globalStory" class="lightText mat-caption fa fa-share clickable"></i>
								</span>
								<mat-menu #menu="matMenu">
									<button (click)="deleteStory()" mat-menu-item *ngIf="!globalStory">Delete Story</button>
									<button *ngIf="!globalStory && knowledgeStory.visibility === 'public'" (click)="setVisibility('private')" mat-menu-item>Make
										Private
									</button>
									<button *ngIf="!globalStory && knowledgeStory.visibility === 'private'" (click)="setVisibility('public')" mat-menu-item>Make
										Public
									</button>
								</mat-menu>
							</p>
							<p class="mat-caption lightText" *ngIf="!globalStory">
								First requested on {{knowledgeStory.createdAt | extractTime : 'Do MMM, YYYY'}}
							</p>
							<p class="mat-caption lightText" *ngIf="globalStory">
								Updated as on {{knowledgeStory.createdAt | extractTime : 'Do MMM, YYYY'}}
							</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12" *ngIf="!globalStory">
							<h3>Topics</h3>
						</div>
						<div class="col-xs-12 margin-top-10" *ngIf="!globalStory">
							<mat-chip-list style="display: inline-block;">
								<mat-chip class="square" *ngFor="let topic of knowledgeStory.topics"> {{topic.name | ucwords}}
								</mat-chip>
							</mat-chip-list>
							<div class="mat-caption lightText margin-top-10 margin-bottom-10" *ngIf="!knowledgeStory.topics || knowledgeStory.topics.length === 0">
								This story has no topics linked to it
							</div>
							<hr>
						</div>
						<div class="col-xs-12 margin-top-10" *ngIf="!globalStory && ownerView && knowledgeStory.visibility === 'private'">
							<div class="row">
								<div class="col-xs-12">
									<h3>Approved Viewers &emsp;
										<button mat-button class="lightText" (click)="addViewer()">
											<span class="lightText mat-h5"> + Add Viewer</span>
										</button>
									</h3>
								</div>
							</div>
							<div class="row margin-top-20">
								<div class="col-xs-12" *ngFor="let viewer of knowledgeStory.peer">
									<div class="row" *ngIf="viewer.profiles && viewer.id !== userId">
										<div class="col-xs-1 vcenter clickable">
											<app-profile-popup [peer]="viewer"></app-profile-popup>
										</div>
										<div class="col-xs-9 vcenter clickable" (click)="openProfilePage(viewer.id)">
											{{viewer.profiles[0].first_name +' '+viewer.profiles[0].last_name | ucwords}}&emsp;
											<br/>
											<span *ngIf="viewer.profiles[0].headline" style="font-weight: 300;" class="lightText">{{viewer.profiles[0].headline}}</span>
										</div>
										<div class="col-xs-1 vcenter clickable">
											<button (click)="removeViewer(viewer.id)" mat-icon-button class="lightText">
												<mat-icon class="lightText mat-h5">remove_circle_outline</mat-icon>
											</button>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="mat-caption lightText margin-top-10 margin-bottom-10" *ngIf="!knowledgeStory.peer">
										There are no approved viewers for this story
									</div>
								</div>
							</div>
							<hr>
							<div class="row" *ngIf="ownerView && knowledgeStory.requests && knowledgeStory.requests.length > 0">
								<div class="col-xs-12">
									<h3>Pending Requests
									</h3>
								</div>
							</div>
							<div class="row margin-top-20" *ngIf="ownerView && knowledgeStory.requests && knowledgeStory.requests.length > 0">
								<div class="col-xs-6" *ngFor="let viewer of knowledgeStory.requests">
									<div class="row" *ngIf="viewer.profiles">
										<div class="col-xs-1 clickable">
											<app-profile-popup [peer]="viewer"></app-profile-popup>
										</div>
										<div class="col-xs-7 clickable" (click)="openProfilePage(viewer.id)">
											{{viewer.profiles[0].first_name +' '+viewer.profiles[0].last_name }}&emsp;
											<span *ngIf="viewer.profiles[0].headline" style="font-weight: 300;" class="lightText">{{viewer.profiles[0].headline}}</span>
										</div>
										<div class="col-xs-2">
											<button (click)="approveRequest(viewer.id)" mat-icon-button class="lightText">
												<mat-icon class="lightText">check_circle</mat-icon>
											</button>
										</div>
										<div class="col-xs-2">
											<button (click)="removeRequest(viewer.id)" mat-icon-button class="lightText">
												<mat-icon class="lightText">remove_circle</mat-icon>
											</button>
										</div>
									</div>
								</div>
							</div>
							<hr *ngIf="ownerView && knowledgeStory.requests && knowledgeStory.requests.length > 0">
						</div>
						<div class="col-xs-12" *ngIf="knowledgeStory && knowledgeStory.status === 'pending'">
							<h3 class="mat-error">Pending approval form {{knowledgeStory.protagonist[0].profiles[0].first_name | ucwords}}</h3>
						</div>
						<div class="col-xs-12" *ngIf="knowledgeStory && knowledgeStory.status === 'rejected'">
							<h3 class="mat-error">Request denied by {{knowledgeStory.protagonist[0].profiles[0].first_name | ucwords}}</h3>
						</div>
						<div class="col-xs-12 mat-caption lightText" *ngIf="knowledgeStory && knowledgeStory.status === 'rejected'">
							This knowledge story can not be viewed.
						</div>
						<div class="col-xs-12" *ngIf="globalStory || knowledgeStory.status === 'approved'">
							<div class="loading-container" [hidden]="!loadingCertificates" style="margin-top: 3%;">
								<ngx-loading [show]="true"></ngx-loading>
							</div>
							<div class="row" *ngIf="!loadingCertificates">
								<div class="col-xs-12" *ngIf="globalStory || knowledgeStory.status === 'approved'">
									<h3>Certificates</h3>
								</div>
								<div class="col-xs-6 margin-top-10" *ngFor="let certificate of certificates">
									<mat-card style="max-height: 450px; overflow-y: hidden;">
										<mat-card-content>
											<div [innerHTML]="parseCertificate(certificate.stringifiedJSON).displayHtml | safe : 'html'"></div>
											<div class="certificateCardFooter">
												<button mat-button mat-raised-button color="primary" (click)="openCertificate(certificate.id)">Verify with
													<img style="width: 75px; margin-left: 10px;" src="assets/images/one0x.png" alt="logo">
												</button>
											</div>
										</mat-card-content>
									</mat-card>
								</div>
							</div>
							<div class="loading-container" [hidden]="!loadingBlockTransactions" style="margin-top: 3%;">
								<ngx-loading [show]="true"></ngx-loading>
							</div>
							<div class="row" *ngIf="!loadingBlockTransactions">
								<div class="col-xs-12">
									<hr class="margin-top-50">
								</div>
								<div class="col-xs-12" *ngIf="globalStory || knowledgeStory.status === 'approved'">
									<h3>Real-time updates</h3>
								</div>
								<div class="col-xs-12 margin-top-10" *ngFor="let transaction of blockTransactions">
									{{parseTransactionLog(transaction.result).events}}
									<br>
									<span class="mat-h5 lightText">
										<a href="https://ropsten.etherscan.io/address/{{parseTransactionLog(transaction.result).hash}}" target="_blank" class="lightText">{{parseTransactionLog(transaction.result).hash}}</a>
									</span>
									<br>
									<span class="mat-h5 lightText">
										{{transaction.updatedAt | date : 'h:mm a, dd MMM y'}}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-md-offset-1 margin-top-50 right-content">
					<div class="row">
						<div class="col-md-12">
							<mat-card>
								<mat-card-content>
									<div class="row">
										<div class="col-xs-12">
											<div class="margin-bottom-10">
												<img class="ownerImage" [src]="envVariable.apiUrl + knowledgeStory.protagonist[0].profiles[0].picture_url + '/300'" alt="image"
												 (error)="_collectionService.userImgErrorHandler($event)" />
											</div>
											<div class="mat-subheading-2">
												{{knowledgeStory.protagonist[0].profiles[0].first_name + ' ' + knowledgeStory.protagonist[0].profiles[0].last_name | ucwords}}
												<br/>
												<span class="mat-caption lightText">{{knowledgeStory.protagonist[0].profiles[0].headline | titlecase}}</span>
											</div>
										</div>
									</div>
									<div class="row" *ngIf="knowledgeStory.protagonist[0].profiles[0].description">
										<div class="col-xs-12">
											<p>
												{{knowledgeStory.protagonist[0].profiles[0].description | titlecase}}
											</p>
										</div>
									</div>
									<div class="row margin-top-20" *ngIf="knowledgeStory.protagonist[0].profiles[0].work && knowledgeStory.protagonist[0].profiles[0].work.length>0">
										<div class="col-xs-12">
											<h3>
												Work
											</h3>
										</div>
										<div class="col-xs-12">
											<div class="row padding-top-10" *ngFor="let work of knowledgeStory.protagonist[0].profiles[0].work">
												<div class="col-xs-6">
													{{work.position}}, {{work.company}}
												</div>
												<div class="col-xs-6 pull-right">
													{{work.startDate|extractTime:'YYYY'}} -
													<span *ngIf="work.presentlyWorking">
														Present
													</span>
													<span *ngIf="!work.presentlyWorking">
														{{work.endDate|extractTime:'YYYY'}}
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row margin-top-20" *ngIf="knowledgeStory.protagonist[0].profiles[0].education && knowledgeStory.protagonist[0].profiles[0].education.length>0">
										<div class="col-xs-12">
											<h3>
												Education
											</h3>
										</div>
										<div class="col-xs-12">
											<div class="row padding-top-10" *ngFor="let education of knowledgeStory.protagonist[0].profiles[0].education">
												<div class="col-xs-6">
													{{education.degree}}, {{education.school}}
												</div>
												<div class="col-xs-6 pull-right">
													{{education.startYear}} -
													<span *ngIf="education.presentlyPursuing">
														Present
													</span>
													<span *ngIf="!education.presentlyPursuing">
														{{education.endYear}}
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 center" *ngIf="!viewerApproved && !ownerView">
											<hr>
											<span *ngIf="userId !== undefined && userId.length > 5 && !requested" matTooltip="Please wait for your account to be approved before requesting to view this private knowledge story"
											 [matTooltipDisabled]="accountApproved === 'true'">
												<button mat-raised-button (click)="requestToView()" color="primary" [disabled]="accountApproved !== 'true'">Request
													to view</button>
											</span>
											<span *ngIf="userId !== undefined && userId.length > 5 && requested" matTooltip="Please wait for your request to be approved.">
												<button mat-raised-button color="primary" disabled>Requested</button>
											</span>
											<span *ngIf="userId === undefined || userId.length <= 5" matTooltip="Log in now to view this knowledge story">
												<button mat-raised-button color="primary" (click)="dialogsService.openLogin()">Login to view</button>
											</span>
										</div>
									</div>
									<div class="row margin-top-20">
										<div class="col-xs-12 center" *ngIf="viewerApproved && !ownerView">
											<hr> You can view this story
											<hr>
										</div>
									</div>
									<div class="row margin-top-20">
										<div class="col-xs-12">
											Member since
											<b>{{knowledgeStory.protagonist[0].createdAt | extractTime: 'Do MMM, YYYY'}}</b>
										</div>
									</div>
									<hr>
									<div class="row padding-top-10" *ngIf="isBrowser">
										<div class="col-xs-6 col-xs-offset-3">
											<!-- <qrcode [qrdata]="pageUrl" [size]="256" [level]="'M'"></qrcode> -->
										</div>
										<div class="col-xs-12 margin-top-10 center">
											<div class="mat-h5 lightText">
												Share this QR code with anyone to let them quickly open this knowledge story.
												<br/>
												<a href="javascript:;">Download as image</a>
											</div>
										</div>
									</div>
								</mat-card-content>
							</mat-card>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="storyNotFound" class="center padding-top-50">
		<h1>Story Not Found</h1>
		<button [routerLink]="['']" mat-raised-button color="primary">
			Take me home
		</button>
	</div>
</div>