<div mat-dialog-content class="dialog-container">
  <div class="mat-display-1">You are editing an approved {{data.type|titlecase}}</div>
  <div>
    <div style="margin-top: 50px; margin-bottom: 40px;">
      Your {{data.type}} was previously approved
      <br>
      <br> Because of this change, your {{data.type}} will have to be submitted for The Blockchain University approval again. New students will not be able to sign up until this {{data.type}} is approved.
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="'accept'" color="accent">OK, Save Changes</button> &emsp;
    <button mat-raised-button [mat-dialog-close]="'reject'">No, Discard Changes</button>
  </mat-dialog-actions>
</div>
