.dialog-container {
    padding: 20px !important;
}

.verification-box {
    background-color: #fff;
    padding: 5px;
    padding-bottom: 0px;

    /*border-radius: 4px;
    border:1px solid #e5e5e5;*/
    font-size:14px;

    &.drop-shadow{
	    // box-shadow:0 0 10px #e5e5e5;
    }
    .section-header{ 
        font-weight: bold;
        padding-bottom:15px;
        border-bottom:1px solid #ccc;
        margin-bottom:20px;
        font-size:16px;
    }
    
    label{
        font-weight:normal;
        color:#666;
        font-size:14px;
    }
    .bottom-section{
        //border-top: 1px solid rgba(199, 199, 199, 0.5);
        // padding-top:22px;
        margin-left: 70% !important;
        margin-top: 20% !important;
       
    }
  
    .roundFab {
        border-radius: 45px;
        background-color: #FFF5F2;
        box-shadow: none;
        border: none;
        padding: 22px;
        margin-left: 33%;
    }

    .description1 {
        font-size: 16px;
        color: #767676;
        padding-top:7px;
        padding-bottom: 15px;

    }

    .headline {
        color: #484848;
    }

    .description2, .description2 ul{
        font-size: 16px;
        color: #484848;
        font-weight: 400;
    }
    .step-2{
    padding: 21px;
    }
   
    input[type='number'] {
        -webkit-appearance: textfield;
    }   
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']:hover::-webkit-inner-spin-button, 
    input[type='number']:hover::-webkit-outer-spin-button {
     -webkit-appearance: none !important; 
     margin: 0; 
    }
}
