<div mat-dialog-content class="dialog-container">
	<div class="row">
		<div class="col-md-12 collectionContent">
			<button disableRipple mat-button style="min-width: 30px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="dialogRef.close()">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<div class="mat-display-1" style="margin-bottom: 20px;" *ngIf="data.content">
				{{data.content.title | titlecase}}
			</div>
		</div>
		<div class="col-md-10 col-xs-8" style="padding-top: 15px;">
			<span class="mat-body-2">{{_collectionService.getContentTypeFullName(data.content.type) | titlecase}}</span>
			<span *ngIf="data.content.questions"> with {{data.content.questions.length}} questions</span>
			<br/> Assessed by
			<a [routerLink]="['/profile',data.collection.owners[0]]">{{data.collection.owners[0].profiles[0].first_name | ucwords}}</a>
		</div>
		<div class="col-md-2 col-xs-4" style="text-align: right">
			<img (click)="openProfilePage(data.collection.owners[0].id)" *ngIf="!data.collection.owners[0].profiles[0].picture_url" src="/assets/images/avatar.png"
			     alt="A" class="clickable circle-thumb margin-top-5" style="width: 70px; height: 70px;">
			<img (click)="openProfilePage(data.collection.owners[0].id)" *ngIf="data.collection.owners[0].profiles[0].picture_url" src="{{envVariable.apiUrl+ data.collection.owners[0].profiles[0].picture_url}}"
			     class="clickable circle-thumb margin-top-5" alt="dp" style="width: 70px; height: 70px;">
		</div>
	</div>
	<hr>
	<div class="mat-dialog-focus-trap"></div>
	<div *ngIf="data.content">
		<div *ngIf="showSuccessMessage">
			<div class="row">
				<div class="col-xs-12 mat-subheading-1" *ngIf="data.content.successMessage">
					{{data.content.successMessage | ucfirst}}
				</div>
				<div class="col-xs-12" *ngIf="!data.content.successMessage">
					Thanks! Your answers to this quiz have been submitted and the instructor will get back you with results within stipulated time.
				</div>
			</div>
			<div class="row margin-top-20">
				<div class="col-xs-12">
					<button mat-button mat-raised-button color="primary" class="clickable" (click)="dialogRef.close()">
						Close
					</button>
				</div>
			</div>
		</div>
		<div *ngIf="!showSuccessMessage">
			<div class="row margin-top-20">
				<div class="col-md-12">
					<div>
						<b>What is this quiz about?</b>
					</div>
					<br>
					<div class="pre-wrapped alignJustify" [innerHTML]="data.content.description | trim | ucfirst | linkify "></div>
					<div *ngIf="attachmentUrls.length" class="pic delete">
						<hr style="margin-top: 0px;">
						<div>
							<b>Supplemental Materials</b>
						</div>
						<br>
						<div *ngFor="let file of attachmentUrls" class="col-md-6 padding-left-0 imageContainer">
							<img *ngIf="file.type.includes('image')" src="{{envVariable.apiUrl + file.url}}" width="200" style="border: 0.5px solid #ccc">
							<div *ngIf="file.type.includes('application')" class="uploaded_file">
								<a href="{{envVariable.apiUrl + file.url}}" target="_blank" class="uploaded_file_text">{{file.originalFilename}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr *ngIf="userType === 'teacher'">
			<div *ngIf="userType === 'teacher'" class="margin-top-20 margin-bottom-20">
				<div class="row">
					<div class="col-xs-12 mat-body-2 margin-bottom-20">
						Participant Submissions ({{submissionArray ? submissionArray.length : '0'}})
					</div>
				</div>
				<div class="row" *ngIf="!loadingSubmissions">
					<div class="col-xs-12">
						<mat-table [dataSource]="submissionArray" class="pb-block">
							<!-- Position Column -->
							<ng-container matColumnDef="position">
								<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
							</ng-container>
							
							<!-- Name Column -->
							<ng-container matColumnDef="peerName">
								<mat-header-cell *matHeaderCellDef> Participant Name </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.peerName}} </mat-cell>
							</ng-container>
							
							<!-- Answers Column -->
							<ng-container matColumnDef="questionsAnswered">
								<mat-header-cell *matHeaderCellDef> Results </mat-header-cell>
								<mat-cell *matCellDef="let element">
									<span class="submissionResultCountBox" matTooltip="Correct answers"><i class="fa fa-check-circle-o margin-right-10" style="color: #33bd9e; font-size: 12px;"></i><b>{{element.correctAnswers}}</b></span>
									<span class="submissionResultCountBox" matTooltip="Incorrect answers"><i class="fa fa-close margin-left-10 margin-right-10" style="color: red; font-size: 12px;"></i><b>{{element.wrongAnswers}}</b></span>
									<span class="submissionResultCountBox" matTooltip="Answers pending manual evaluation"><i class="fa fa-refresh margin-left-10 margin-right-10" style="color: #aaaaaa; font-size: 12px;"></i><b>{{element.pendingEvaluation}}</b></span>
								</mat-cell>
							</ng-container>
							
							<mat-header-row *matHeaderRowDef="displayedSubmissionTableColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedSubmissionTableColumns;"></mat-row>
						</mat-table>
						<div class="mat-caption margin-top-20" *ngIf="!submissionArray || submissionArray.length === 0">
							None of your participants have answered this quiz yet.
							<hr>
						</div>
					</div>
				</div>
			</div>
			<hr *ngIf="userType !== 'teacher'">
			<!--LIST OF QUESTIONS-->
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">
					<div class="col-xs-12 mat-body-2 margin-bottom-20">
						Quiz Questions
					</div>
				</div>
				<div *ngIf="(userType === 'teacher' || userType === 'participant') && questionArray && questionArray.controls && questionArray.controls.length > 0 && answerArray && answerArray.controls">
					<div>
						<div class="row margin-bottom-20 questionBox" *ngFor="let question of questionArray.controls;let i=index">
							<form [formGroup]="answerArray.controls[i]">
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-8 mat-caption" style="padding-top: 15px;">
											Question {{i + 1}} <span *ngIf="question.value.isRequired === true">*</span>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 mat-body-2">
											{{question.value.question_text | ucfirst}}
										</div>
									</div>
									<!--Long Answer-->
									<mat-form-field *ngIf="question.value.type === 'long-text'" [floatLabel]="'never'" class="pb-block answerFormField">
										<textarea formControlName="answer" matInput matTextareaAutosize #answerText rows="1"  cdkAutosizeTextarea="true" placeholder="Long answer..."></textarea>
										<mat-hint align="end">{{question.value.word_limit - answerText.value.length}} more characters allowed</mat-hint>
									</mat-form-field>
									<!--Short answer-->
									<mat-form-field *ngIf="question.value.type === 'short-text'" [floatLabel]="'never'" class="pb-block answerFormField">
										<input formControlName="answer" matInput #answerText placeholder="Short answer...">
										<mat-hint align="end">{{question.value.word_limit - answerText.value.length}} more characters allowed</mat-hint>
									</mat-form-field>
									<!--Single choice answer -->
									<mat-radio-group formControlName="answer">
										<div class="row" *ngFor="let option of question.controls['options'].controls; let j=index">
											<div class="col-xs-1">
												<div class="pb-block" style="padding-top: 20px;">
													<mat-radio-button [value]="'' + j"></mat-radio-button>
												</div>
											</div>
											<div class="col-xs-11">
												<mat-form-field class="pb-block" [floatLabel]="'never'">
													<input matInput [value]="option.value" class="title" [disabled]="true">
												</mat-form-field>
											</div>
										</div>
									</mat-radio-group>
								</div>
							</form>
						</div>
						<div class="row margin-top-20" *ngIf="userType === 'participant'">
							<div class="col-xs-12">
								<button *ngIf="!hasAnswered" mat-button mat-raised-button class="clickable" color="primary" (click)="submitAnswers()" [disabled]="!answerArray.valid" matTooltip="Answer all required questions before submitting this quiz.">
									Submit Answers
								</button>
								<button *ngIf="hasAnswered" mat-button class="mat-border-button" color="primary" [disabled]="true">
									You submitted your answers to this quiz on {{answeredDate}}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="userType === 'public'">
					<div class="margin-top-20 margin-bottom-20 mat-caption">
						Enroll in this workshop to view this quiz's questions and attempt them.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mat-dialog-focus-trap"></div>
</div>
