<div class="dialog-container">
	<div class="row padding-bottom-20">
		<div class="col-xs-3" style="padding-top: 8px;">
			<img style="border-radius: 50%;height: 80px;width: 80px;" src="{{envVariable.apiUrl+data.collection.imageUrls[0]}}/100">
		</div>
		<div class="col-xs-9">
			<span class="mat-subheading-2 ">
				Certificate for {{data.collection.title | titlecase}}
			</span>
			<br>
			<span class="mat-title">
				{{data.recipient.profile.first_name +' '+ data.recipient.profile.last_name | uppercase}}
			</span>
			<br>
			<span class="lightText">
				Issued on {{data.issuedOn | date: 'longDate'}} by {{data.issuer.profile.first_name +' '+ data.issuer.profile.last_name | ucwords}}
			</span>
			<hr>
		</div>
	</div>
	<div class="row" *ngFor="let verficationObj of verificationSteps;let i=index">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-5">
					<span class="icon pull-right" style="padding-top: 3px;">
						<span [ngClass]="{'notVerified': !verficationObj.verified, 'verified' : verficationObj.verified,'busy': !verficationObj.processed}">
							<mat-icon *ngIf="!verficationObj.processed || verficationObj.verified">check_circle</mat-icon>
							<mat-icon *ngIf="verficationObj.processed && !verficationObj.verified">cancel</mat-icon>
						</span>
					</span>
				</div>
				<div class="col-xs-7">
					<span class="mat-body-2"> {{verficationObj.CategoryName}} </span>
					<br>
					<span class="clickable mat-h5 lightText" (click)="toggleExpansionpanel(i)">
						View Details
						<mat-icon class="rightChevron" *ngIf="expandedPanel!==i" style="position: relative; top: 2px; font-size: 14px; width: 10px;">arrow_drop_down</mat-icon>
						<mat-icon class="rightChevron" *ngIf="expandedPanel===i" style="position: relative; top: 2px; font-size: 14px; width: 10px;">arrow_drop_up</mat-icon>
					</span>
				</div>
			</div>
			<div class="row" *ngIf="expandedPanel===i">
				<div class="col-xs-12">
					<div class="row" *ngFor="let step of verficationObj.steps">
						<div class="col-xs-5">
							<span class="icon pull-right" style="padding-right: 3%;">
								<span [ngClass]="{'notVerified': !step.verified, 'verified' : step.verified,'busy': !step.processed}">
									<span class="bullet">&bull;</span>
									<!-- <span *ngIf="step.processed && !step.verified">&bull;</span> -->
								</span>
							</span>
						</div>
						<div class="col-xs-7 mat-h5 lightText">
							<span> {{step.stepName}} </span>
							<!--<br>
							<span> {{step.stepDescription}} </span>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7 col-xs-offset-5">
			<div class="loading-container" [hidden]="certificateProcessed" style="margin-top: 40px;">
				<ngx-loading [show]="true"></ngx-loading>
			</div>
		</div>
	</div>
	<div class="row mat-headline padding-top-10" *ngIf="certificateProcessed">
		<div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
			<div class="row" *ngIf="certificateValid" style="color: #33bd9e">
				<div class="col-xs-5">
					<span class="verifiedIcon pull-right">
						<i class="fas fa-shield-alt"></i>
					</span>
				</div>
				<div class="col-xs-7">
					Verified
				</div>
			</div>
			<div class="row" *ngIf="!certificateValid" style="color: #ff6d71">
				<div class="col-xs-5">
					<span class="pull-right">
						<i class="fas fa-times-circle"></i>
					</span>
				</div>
				<div class="col-xs-7">
					Not Verified
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bottombar">
	<img class="logoImage" src="/assets/images/one0x-footer-logo.png">
</div>
