<div class="row">
	<div class="col-md-12 margin-top-20">
		<div *ngIf="!loaded" class="loading-container">
			<ngx-loading [show]="true"></ngx-loading>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12" *ngIf="loaded">
		<div #noContentView *ngIf="ongoingArray.length === 0 && upcomingArray.length===0 && pastArray.length === 0" class="center"
		 style="margin-top: 10%">
			<div class="lightText">
				You are not learning anything
				<br><br>
				Start by signing up for a <a color="default" [routerLink]="'/home/classes'">Class</a> or <a color="default"
				 [routerLink]="'/home/experiences'">Workshop </a>
			</div>
		</div>
		<div *ngIf="ongoingArray.length > 0 || upcomingArray.length>0">
			<div style="display:inline;">
				<h2>Ongoing & Upcoming</h2>
			</div>
			<div class="row">
				<div>
					<div style="margin-top:20px;" class="col-md-12">
						<div class="row">
							<div *ngFor="let collection of ongoingArray" [ngSwitch]="collection.status">
								<ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
								<ng-template #noTopicText>No Topics</ng-template>
								<div class="col-md-4 learningConsoleCard" style="margin-top: 20px;" *ngSwitchCase="'active'">
									<mat-card style="text-align: center; padding: 20px;">
										<mat-card-content>
											<div style="text-align: right">
												<div class="pull-right">
													<a [matMenuTriggerFor]="ongoingCardMenu" style="text-align: right; padding: 0px">
														<mat-icon>more_vert</mat-icon>
													</a>
												</div>
											</div>
											<div style="text-align: center">
												<div class="pull-left">
													<mat-chip-list class="cardTypeChip">
														<mat-chip class="smallChip" [color]="'accent'">{{collection.type | typeMap | titlecase}}</mat-chip>
													</mat-chip-list>
												</div>
											</div>
											<div class="collectionParticipantImageCarousel">
												<div class="circle-thumb-big" *ngFor="let owner of collection.owners">
													<app-profile-popup [peer]="owner"></app-profile-popup>
												</div>
											</div>
											<div class="teacherName">
												<span class="mat-body-1 clickable" (click)="openProfile(collection.owners[0])">Taught by
													{{collection.owners[0].profiles[0].first_name + ' ' + collection.owners[0].profiles[0].last_name}}
												</span>
											</div>
											<div class="teacherHeadline">
												<span>{{collection.owners[0].profiles[0].headline}} </span>
											</div>
											<div class="collectionTitle mat-body-2 clickable" (click)="openCollection(collection)">{{ collection.title || 'No Title' | ucwords }} </div>
											<mat-progress-bar mode="determinate" value="{{consoleLearningComponent.getProgressValue(collection)}}"></mat-progress-bar>
											<div class="collectionSubtitle">
												{{ consoleLearningComponent.getThisCollectionDate(collection) }} | {{collection.contents.length}} Activity
												|
												<span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
											</div>
											<div *ngIf="consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart===0">
												<p class="upcomingEventLabel">
													Ongoing
												</p>
												<div class="upcomingEventTitle">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).title | ucwords}}
												</div>
												<div class="upcomingEventTime">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).type | ucfirst }}
													{{consoleLearningComponent.getLearnerUpcomingEvent(collection).fillerWord}} today
												</div>
											</div>
											<div *ngIf="consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart>0">
												<p class="upcomingEventLabel">
													Up Next
												</p>
												<div class="upcomingEventTitle">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).title | ucwords }}
												</div>
												<div class="upcomingEventTime">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).type | ucfirst }}
													{{consoleLearningComponent.getLearnerUpcomingEvent(collection).fillerWord + ' in ' + consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart + ' days' }}
												</div>
											</div>
											<div *ngIf="consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart < 0">
												<p class="upcomingEventLabel">
													Last Activity
												</p>
												<div class="upcomingEventTitle">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).title | ucwords }}
												</div>
												<div class="upcomingEventTime">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).type | ucfirst }}
													{{consoleLearningComponent.getLearnerUpcomingEvent(collection).fillerWord + ' was ' + -(consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart) + ' days ago' }}
												</div>
											</div>
										</mat-card-content>
										<mat-card-actions *ngIf="consoleLearningComponent.getLearnerUpcomingEvent(collection).hasStarted">
											<button mat-raised-button (click)="onSelect(collection)">{{consoleLearningComponent.getLearnerUpcomingEvent(collection).upcomingEventButtonText}}</button>
										</mat-card-actions>
										<br>
									</mat-card>
								</div>
								<mat-menu #ongoingCardMenu>
									<button mat-menu-item (click)="exitCollection(collection)">
										Cancel
									</button>
								</mat-menu>
							</div>
							<div *ngFor="let collection of upcomingArray" [ngSwitch]="collection.status">
								<ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
								<ng-template #noTopicText>No Topics</ng-template>
								<div class="col-md-4 learningConsoleCard" style="margin-top: 20px;" *ngSwitchCase="'active'">
									<mat-card style="text-align: center; padding: 20px;">
										<mat-card-content>
											<div style="text-align: right">
												<div class="pull-right">
													<a [matMenuTriggerFor]="upcomingCardMenu" style="text-align: right; padding: 0px">
														<mat-icon>more_vert</mat-icon>
													</a>
												</div>
											</div>
											<div style="text-align: center">
												<div class="pull-left">
													<mat-chip-list class="cardTypeChip">
														<mat-chip class="smallChip" [color]="'accent'">{{collection.type | typeMap | titlecase}}</mat-chip>
													</mat-chip-list>
												</div>
											</div>
											<div class="collectionParticipantImageCarousel">
												<div class="circle-thumb-big" *ngFor="let owner of collection.owners">
													<app-profile-popup [peer]="owner"></app-profile-popup>
												</div>
											</div>
											<div class="teacherName">
												<span class="mat-body-1 clickable">Taught by {{collection.owners[0].profiles[0].first_name + ' ' + collection.owners[0].profiles[0].last_name}}
												</span>
											</div>
											<div class="teacherHeadline">
												<span>{{collection.owners[0].profiles[0].headline}} </span>
											</div>
											<div class="collectionTitle mat-body-2 clickable" (click)="openCollection(collection)">{{ collection.title || 'No Title' | ucwords }} </div>
											<div class="lighterText">
												Booked {{consoleLearningComponent.getDaysBetween(collection.updatedAt, now)}}
											</div>
											<div class="collectionSubtitle">
												{{ consoleLearningComponent.getThisCollectionDate(collection) }} | {{collection.contents.length}} Activity
												|
												<span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
											</div>
											<div *ngIf="consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart===0">
												<p class="upcomingEventLabel">
													First Activity
												</p>
												<div class="upcomingEventTitle">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).title | ucwords}}
												</div>
												<div class="upcomingEventTime">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).type | ucfirst }}
													{{consoleLearningComponent.getLearnerUpcomingEvent(collection).fillerWord}} today
												</div>
											</div>
											<div *ngIf="consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart>0">
												<p class="upcomingEventLabel">
													First Activity
												</p>
												<div class="upcomingEventTitle">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).title | ucwords }}
												</div>
												<div class="upcomingEventTime">
													{{ consoleLearningComponent.getLearnerUpcomingEvent(collection).type | ucfirst }}
													{{consoleLearningComponent.getLearnerUpcomingEvent(collection).fillerWord + ' in ' + consoleLearningComponent.getLearnerUpcomingEvent(collection).timeToStart + ' days' }}
												</div>
											</div>
										</mat-card-content>
										<mat-card-actions *ngIf="consoleLearningComponent.getLearnerUpcomingEvent(collection).hasStarted">
											<button mat-raised-button (click)="onSelect(collection)">{{consoleLearningComponent.getLearnerUpcomingEvent(collection).upcomingEventButtonText}}</button>
										</mat-card-actions>
										<br>
									</mat-card>
								</div>
								<mat-menu #upcomingCardMenu>
									<button mat-menu-item (click)="exitCollection(collection)">
										Cancel Participation
									</button>
								</mat-menu>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br>
		</div>
		<div *ngIf="pastArray.length > 0">
			<div style="display:inline;">
				<h2>Past</h2>
			</div>
			<div class="row">
				<div>
					<div style="margin-top:20px;" class="col-md-12">
						<div class="row">
							<div *ngFor="let collection of pastArray">
								<ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
								<ng-template #noTopicText>No Topics</ng-template>
								<div class="col-md-4 learningConsoleCard" style="margin-top: 20px;">
									<mat-card style="text-align: center; padding: 20px;">
										<mat-card-content>
											<div style="text-align: right">
												<div class="pull-right">
													<a [matMenuTriggerFor]="pastCardMenu" style="text-align: right; padding: 0px">
														<mat-icon>more_vert</mat-icon>
													</a>
												</div>
											</div>
											<div style="text-align: center">
												<div class="pull-left">
													<mat-chip-list class="cardTypeChip">
														<mat-chip class="smallChip" [color]="'accent'">{{collection.type | typeMap | titlecase}}</mat-chip>
													</mat-chip-list>
												</div>
											</div>
											<div class="collectionParticipantImageCarousel">
												<div class="circle-thumb-big" *ngFor="let owner of collection.owners">
													<app-profile-popup [peer]="owner"></app-profile-popup>
												</div>
											</div>
											<div class="teacherName" (click)="openProfile(collection.owners[0])">
												<span class="mat-body-1 clickable">Taught by {{collection.owners[0].profiles[0].first_name + ' ' + collection.owners[0].profiles[0].last_name}}
												</span>
											</div>
											<div class="teacherHeadline">
												<span>{{collection.owners[0].profiles[0].headline}} </span>
											</div>
											<div class="mat-body-2 clickable" style="margin-top: 30px; margin-bottom: 30px" (click)="openCollection(collection)">{{collection.title || 'No Title' | ucwords }} </div>
											<mat-progress-bar mode="determinate" value="{{consoleLearningComponent.getProgressValue(collection)}}"></mat-progress-bar>
											<div class="collectionSubtitle">
												{{ consoleLearningComponent.getThisCollectionDate(collection) }} | {{collection.contents.length}} Activity
												|
												<span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
											</div>
										</mat-card-content>
										<mat-card-actions>
											<button mat-raised-button (click)="consoleLearningComponent.viewCollection(collection)">View Details</button>
										</mat-card-actions>
										<p class="upcomingEventLabel" *ngIf="consoleLearningComponent.peerHasReview(collection)">
											{{collection.owners[0].profiles[0].first_name}} gave you a review
										</p>
										<br>
									</mat-card>
								</div>
								<mat-menu #pastCardMenu>
									<button mat-menu-item (click)="viewTransaction(collection)">
										View Receipt
									</button>
								</mat-menu>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
