.mat-elevation-header .headerButtons {
    color: #95959f;
    font-size: 1rem;
    min-width: 20px;
}

.mat-elevation-header .headerButtons .mat-button-focus-overlay {
    background: none;
}
.mat-dialog-container {
  padding-bottom: 0 !important;
}

.notifDot {
  color: #ff5b5f;
  font-size: 10px;
  position: relative;
  margin-left: -18px;
  top: -8px;
}

.mat-menu-item-colored:hover:not([disabled]) {
	background: #ff5b5f;
}

.mat-focused, .mat-input-placeholder{
color: #95959f !important;
}

.input{
color: #95959f !important;
}

.header-progress-bar{
	font-size: 1rem;
	display: -ms-inline-grid;
	display: inline-grid;
	cursor: pointer;
	margin-right: 25px;
	top: -5px;
	position: relative;
	text-align: right;
	color: #33bd9e;
}

.profile-check{
 color:#33bd9e !important;
 font-size: 18px;
 font-weight:bold;
}

.profile-check-disabled{
  color:#aaaaaa !important;
  font-size: 18px;
  font-weight:bold;
}

.mat-menu-item-colored {
	background: #FF6D71;
	color: #fff;
	margin-top: -8px;
}

.headerNewActionButton {
	color: #ff6d71;
	font-size: 35px;
	top: -5px;
}
