<header showHeader>
	<mat-toolbar class="layout-row mat-elevation-header" layout="row" color="white">
		<mat-toolbar-row>
			<span>
				<a href="javascript:void(0);" class="brand" aria-label="Peerbuds Homepage" (click)="goToHome()">
					<img src="/assets/images/pb_logo.png" alt="logo">
				</a>
			</span>
			<span style="margin-left: 35px;" *ngIf="(isLoggedIn | async)" class="hide-small">
				<mat-icon>search</mat-icon>
			</span>
			<span class="search-form hide-small">
				<mat-form-field style="color:#333333 !important" class="mat-block" *ngIf="(isLoggedIn | async)" [floatLabel]="'never'">
					<input #searchInputBar name="search" style="color:#767676 !important" class="mat-block search-box" matInput [formControl]="myControl"
					 [matAutocomplete]="auto" placeholder="Try 'Mumbai' ">
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let option of options" [value]="" (click)="onSearchOptionClicked(option)">
							<span>
								<img src="{{_searchService.getSearchOptionImage(option)}}" class="circle-thumb" style="margin-left: 0px; margin-right: 10px;"
								 (error)="_collectionService.imgErrorHandler($event)" />
							</span>
							<span>
								{{_searchService.getSearchOptionText(option)}}
							</span>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</span>
			<!-- This fills the remaining space of the current row -->
			<span class="example-spacer"></span>
			<span>
				<span class="header-progress-bar hide-small" *ngIf="profileCompletionObject  && profileCompletionObject.progress<80 && isLoggedIn | async"
				 [matMenuTriggerFor]="profileCompletionMenu">
					Complete Profile
					<div style="line-height: 0rem;">
						<mat-progress-bar mode="determinate" value="{{profileCompletionObject.progress}}" style="width:70%;display: inline-block"></mat-progress-bar>
						<span style="margin-left:5px;font-size:10px">{{profileCompletionObject.progress}}%</span>
					</div>
				</span>
				<!--<button mat-button class="headerButtons hide-small" style="color: #33bd9e; font-weight: 600;" [routerLink]="['/console/teaching/experiences']"
				 *ngIf="(isLoggedIn | async)">
					<mat-icon style="top: 4px; font-size: 15px;">add</mat-icon>
					New Experience
				</button>-->
				<button mat-button class="headerButtons hide-small" style="color: #33bd9e; font-weight: 600;" [routerLink]="['/console/teaching/sessions']"
				        *ngIf="(isLoggedIn | async) && !isSessionApproved">
					<mat-icon style="top: 4px; font-size: 15px;">add</mat-icon>
					Configure Online Sessions
				</button>
				<button mat-button class="headerButtons hide-small" [matMenuTriggerFor]="headerTeachMenu" *ngIf="(isLoggedIn | async)">
					Teach
				</button>
				<button mat-button class="headerButtons hide-small" [matMenuTriggerFor]="headerLearnMenu" *ngIf="(isLoggedIn | async)">
					Learn
				</button>
				<button mat-button class="headerButtons show-small-inline" (click)="showSearchBar()" *ngIf="(isLoggedIn | async)">
					<mat-icon>search</mat-icon>
				</button>
				<button mat-button class="headerButtons" #notificationsButton (click)="openNotificationsDialog()" *ngIf="(isLoggedIn | async)">
					<mat-icon *ngIf="!hasNewNotification">notifications_none</mat-icon>
					<mat-icon *ngIf="hasNewNotification">notifications</mat-icon>
				</button>
				<div style="display: inline-block;" *ngIf="(isLoggedIn | async)">
					<mat-icon class="notifDot" *ngIf="hasNewNotification">fiber_manual_record</mat-icon>
				</div>

				<button mat-button class="headerButtons" #messagesButton (click)="openMessagesDialog()" *ngIf="(isLoggedIn | async)">
					<mat-icon>chat</mat-icon>
				</button>
				<div style="display: inline-block;" *ngIf="(isLoggedIn | async)">
					<mat-icon class="notifDot" *ngIf="hasNewMessage">fiber_manual_record</mat-icon>
				</div>

				<div class="headerButtons" [matMenuTriggerFor]="headerUserMenu" *ngIf="(isLoggedIn | async)" style="font-size: 1rem; cursor: pointer; display: inline-block; margin: 0 15px;">
					<div>
						<img *ngIf="!profile.picture_url" src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb">
						<img *ngIf="profile.picture_url" src="{{envVariable.apiUrl + profile.picture_url + '/100'}}" alt="A" class="circle-thumb">
					</div>
				</div>

				<span class="example-spacer hide-small"></span>

				 <button mat-button class="headerButtons hide-small" [routerLink]="['/whitepaper']" *ngIf="!(isLoggedIn | async)">
					White Paper
				</button>
				<button mat-button class="headerButtons hide-small" [routerLink]="['/shortread']" *ngIf="!(isLoggedIn | async)">
					Short Paper
				</button>
				<button mat-button class="headerButtons hide-small" [routerLink]="['/privatebeta']" *ngIf="!(isLoggedIn | async)">
					Private Beta
				</button>
				<!--<button mat-button class="headerButtons" [routerLink]="['/home/homefeed']" *ngIf="!(isLoggedIn | async)">
					Explore
				</button>-->
				<!--<a mat-button class="headerButtons" href="/signup.html" *ngIf="!(isLoggedIn | async)">
					Sign Up
				</a>-->
				<button mat-button class="headerButtons mat-border-button" color="accent" style="border: 2px solid #FF6D71 !important;color: #ff6d71 !important;"
				 (click)="openLogin()" *ngIf="!(isLoggedIn | async)">
					Test Alpha
				</button>
			</span>
		</mat-toolbar-row>
		<mat-toolbar-row [ngClass]="{'show-small': true, 'searchBar' : true, 'searchBarHeight': isSearchBarVisible}" *ngIf="(isLoggedIn | async)"
		 style="border-top: 1px solid #ddd;">
			<div class="search-form">
				<mat-form-field style="color:#333333 !important" class="pb-block" *ngIf="(isLoggedIn | async)" [floatLabel]="'never'">
					<input #searchInputBar name="search" style="color:#767676 !important" class="mat-block search-box" matInput [formControl]="myControl"
					 [matAutocomplete]="auto">
					<mat-placeholder>
						<mat-icon style="top: 3px; margin-right: 5px;">search</mat-icon>Try 'Mumbai'
					</mat-placeholder>
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let option of options" [value]="" (click)="onSearchOptionClicked(option)">
							<span>
								<img src="{{_searchService.getSearchOptionImage(option)}}" class="circle-thumb" style="margin-left: 0px; margin-right: 10px;"
								 (error)="_collectionService.imgErrorHandler($event)" />
							</span>
							<span>
								{{_searchService.getSearchOptionText(option)}}
							</span>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
		</mat-toolbar-row>
		<mat-toolbar-row class="show-small" style="border-top: 1px solid #ddd;">
			<div style="display: flex; height: 100%; width: 100%;">
				<button mat-button class="headerButtons" [routerLink]="['/home/homefeed']" *ngIf="(isLoggedIn | async)">
					Explore
				</button>
				<button mat-button class="headerButtons" [matMenuTriggerFor]="headerTeachMenu" *ngIf="(isLoggedIn | async)">
					Teach
				</button>
				<button mat-button class="headerButtons" [matMenuTriggerFor]="headerLearnMenu" *ngIf="(isLoggedIn | async)">
					Learn
				</button>
				 <button mat-button class="headerButtons" [routerLink]="['/whitepaper']" *ngIf="!(isLoggedIn | async)">
					White Paper
				</button>
				<button mat-button class="headerButtons" [routerLink]="['/shortread']" *ngIf="!(isLoggedIn | async)">
					Short Paper
				</button>
				<button mat-button class="headerButtons" [routerLink]="['/privatebeta']" *ngIf="!(isLoggedIn | async)">
					Private Beta
				</button>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>
</header>
<mat-menu #headerTeachMenu>
	<button mat-menu-item [routerLink]="['/console/dashboard']" *ngIf="isTeacher">
		Dashboard
	</button>
	<button mat-menu-item [routerLink]="['/console/teaching/all']" *ngIf="isTeacher">
		Teaching Journey
	</button>
	<button mat-menu-item [routerLink]="['/console/account/transactions']" *ngIf="isTeacher">
		Transaction History
	</button>
	<button mat-menu-item [routerLink]="['session', sessionId,'edit','10']" *ngIf="isSessionApproved && sessionId.length > 5">
		Available Hours
	</button>
	<!--<button mat-menu-item [routerLink]="['/console/teaching/workshops']">
	  Create a Workshop
	</button>-->
	<button mat-menu-item [routerLink]="['/console/teaching/experiences']">
		New Experience
	</button>
	<button mat-menu-item [routerLink]="['/console/teaching/sessions']" *ngIf="!isSessionApproved">
		Configure Online Sessions
	</button>
	<!--<button mat-menu-item [routerLink]="['/console/calendar']" *ngIf="isTeacher">
	  Calendar
	</button>-->
</mat-menu>

<mat-menu #headerLearnMenu>
	<button mat-menu-item [routerLink]="['/console/dashboard']">
		Dashboard
	</button>
	<button mat-menu-item [routerLink]="['/console/learning/all']">
		Learning Journey
	</button>
	<button mat-menu-item [routerLink]="['/console/account/transactions']">
		Transaction History
	</button>
	<!--<button mat-menu-item [routerLink]="['/console/learning/workshops']">
	  Workshops
	</button>-->
	<!--<button mat-menu-item [routerLink]="['/console/calendar']">
	  Calendar
	</button>-->
</mat-menu>

<mat-menu #headerUserMenu>
	<button mat-menu-item [routerLink]="['/profile', userId]">
		{{profile.first_name | titlecase}} {{profile.last_name | titlecase}}
	</button>
	<button mat-menu-item *ngIf="profile.peer && profile.peer.length > 0 && profile.peer[0].isAdmin" [routerLink]="['/console/admin']">
		Admin
	</button>
	<button mat-menu-item [routerLink]="['/console/profile/edit']">
		Edit Profile
	</button>
	<button mat-menu-item [routerLink]="['/console/account/payoutmethods']">
		Account Settings
	</button>
	<button mat-menu-item [routerLink]="['/console/learning/bookmarks']">
		Bookmarks
	</button>
	<button mat-menu-item (click)="authService.logout()">
		Logout
	</button>
</mat-menu>

<mat-menu #profileCompletionMenu>
	<span *ngIf="profileCompletionObject">
		<button mat-menu-item [routerLink]="['/console/profile/edit']">
			<mat-icon class="profile-check-disabled" *ngIf="!profileCompletionObject['personal']">mode_edit</mat-icon>
			<mat-icon class="profile-check" *ngIf="profileCompletionObject['personal']">check_circle</mat-icon>
			Personal Details
		</button>
		<button mat-menu-item [routerLink]="['/console/profile/edit']">
			<mat-icon class="profile-check-disabled" *ngIf="!profileCompletionObject['additional']">mode_edit</mat-icon>
			<mat-icon class="profile-check" *ngIf="profileCompletionObject['additional']">check_circle</mat-icon>
			Additional Details
		</button>
		<button mat-menu-item [routerLink]="['/console/profile/photos']">
			<mat-icon class="profile-check-disabled" *ngIf="!profileCompletionObject['photos']">mode_edit</mat-icon>
			<mat-icon class="profile-check" *ngIf="profileCompletionObject['photos']">check_circle</mat-icon>
			Photo
		</button>
		<button mat-menu-item [routerLink]="['/console/profile/verification']">
			<mat-icon class="profile-check-disabled" *ngIf="!profileCompletionObject['verification']">mode_edit</mat-icon>
			<mat-icon class="profile-check" *ngIf="profileCompletionObject['verification']">check_circle</mat-icon>
			Verification
		</button>
	</span>
</mat-menu>

<audio #messageNotification>
	<source src='../../assets/audio/messageNotification.ogg' type="audio/ogg">
</audio>
