<div class="row">
    <div class="col-md-12">
        <div class="loading-container" [hidden]="!loadingUser">
            <ngx-loading [show]="true"></ngx-loading>
        </div>
    </div>
</div>
<div *ngIf="!loadingUser">
    <div class="row margin-top-20">
        <div class="col-md-1">
            <app-profile-popup [peer]="loggedInUser"></app-profile-popup>
        </div>
        <div class="col-md-8">
            <div class="mat-title" style="margin-bottom: 0px; line-height: 50px;">
                What is your question?
            </div>
        </div>
        <div class="col-md-3" style="text-align: right">
            <mat-form-field [floatLabel]="'always'">                 <mat-select [(value)]="questionsFilter" placeholder="Sort">
                <mat-option value="descending">Descending</mat-option>
                <mat-option value="ascending">Ascending</mat-option>
                <mat-option value="unsolved">Unsolved</mat-option>
                <mat-option value="popular">Popular</mat-option>
            </mat-select>               </mat-form-field>
        </div>
    </div>
    <div class="row" style="margin-top: -20px;">
        <div class="col-md-12">
            <form [formGroup]="questionForm" (ngSubmit)="postQuestion()">
                <mat-form-field [floatLabel]="'always'" class="full-width margin-top-10" style="font-size: 15px;"  >
                    <input matInput formControlName="text" placeholder="Start your question with 'What', 'How', or 'Why', etc">
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!questionForm.valid" class="pull-right">
                    <span *ngIf="!busyQuestion">Post question</span>
                    <span *ngIf="busyQuestion"> </span>
                    <ngx-loading [show]="busyQuestion"></ngx-loading>
                </button>
            </form>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="loading-container" [hidden]="!busyQuestion">
            <ngx-loading [show]="true"></ngx-loading>
        </div>
        <div class="col-md-12">
            <div class="row lighterText" *ngIf="questions !== undefined && questions.length === 0">
                <div class="col-md-12">
                    <div class="emptySectionText" >Be the first one to ask a question on this community</div>
                </div>
            </div>
            <div class="row margin-top-10" *ngFor="let question of questions">
                <div class="col-md-12">
                    <button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuQuestion" style="float: right; margin-right: 15px; margin-top: 15px;">
                        <mat-icon style="color: #cccccc">more_vert</mat-icon>
                    </button>
                    <mat-menu #menuQuestion="matMenu">
                        <button *ngIf="userType==='owner' || isMyQuestion(question)" mat-menu-item (click)="deleteQuestion(question)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                    <div class="mat-title pre-wrapped margin-bottom-10">{{question.text | titlecase}}?</div>
                    <div *ngIf="question.peer.length>0">
                        <div class="clickable" style="float: left; ">
                            <app-profile-popup [peer]="question.peer[0]"></app-profile-popup>
                        </div>
                        <div style="display: inline-block; margin-left: 5px;">
                            <div>
                                <div>
                                    <span class="clickable mat-body-2" style="margin-bottom: 5px;" (click)="_profileService.viewProfile(question.peer[0])">{{question.peer[0].profiles[0].first_name | ucwords}} {{question.peer[0].profiles[0].last_name | ucwords}}</span>&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="">
                                <span class="mat-caption">Asked {{question.createdAt |extractTime:'MMM Do'}}</span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <a href="javascript:void(0);" class="answerButton" (click)="createAnswerForm(question)"><b>Answer</b></a>
                        <mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px; margin-left: 12px;">fiber_manual_record</mat-icon>
                        <a *ngIf="!hasUpvoted(question.upvotes)" class="clickable upvoteButton" [ngClass]="{'hasUpvoted': !!hasUpvoted(question.upvotes)}" (click)="addQuestionUpvote(question)"><b>{{question.upvotes.length}} Upvote</b></a>
                        <a *ngIf="hasUpvoted(question.upvotes)" class="clickable upvoteButton" [ngClass]="{'hasUpvoted': !!hasUpvoted(question.upvotes)}"><b>{{question.upvotes.length}} Upvote</b></a>
                        <mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;margin-left: 12px;">fiber_manual_record</mat-icon>
                        <a class="clickable commentButton" (click)="createQuestionCommentForm(question)"><b>Comment <mat-chip class="square smallSquare" *ngIf="question.comments">{{question.comments.length}}</mat-chip></b></a>
                        <mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;margin-left: 12px;">fiber_manual_record</mat-icon>
                        <a class="clickable followButton" [ngClass]="{'hasFollowed': !!isFollowing(question.followers)}" (click)="addFollower(question)"><b>Follow <mat-chip class="square smallSquare" *ngIf="question.followers">{{question.followers.length}}</mat-chip></b></a>
                    </div>
                    <!--FORM TO ADD NEW ANSWER-->
                    <div class="col-md-12 margin-top-30 answerForm" *ngIf="answerForm && answeringToQuestionId===question.id">
                        <form [formGroup]="answerForm" (ngSubmit)="postAnswer(question)">
                            <app-profile-popup [peer]="loggedInUser"></app-profile-popup>
                            <mat-form-field [floatLabel]="'always'" style="margin-left: 15px; width: 88%; margin-bottom: 20px;">
                                <textarea matInput #answerText maxlength="1000" rows="3" formControlName="text" placeholder="Answer the above question"></textarea>
                                <mat-hint align="end">{{answerText.value.length}} / 1000</mat-hint>
                            </mat-form-field>
                            <button [disabled]="!answerForm.valid" mat-raised-button class="pull-right" color="primary">
                                <span *ngIf="!busyAnswer">Post answer</span>
                                <ngx-loading [show]="busyAnswer"></ngx-loading>
                            </button>
                        </form>
                    </div>
                    <!--LIST OF COMMENTS FOR QUESTION-->
                    <div class="questionCommentContainer col-md-12 margin-top-20" *ngIf="(commentForm && commentingToQuestionId === question.id) || (question.comments && question.comments.length > 0)">
                        <!--FORM TO ADD NEW COMMENT TO ANSWER-->
                        <div class="margin-top-30 questionCommentForm" *ngIf="commentForm && commentingToQuestionId===question.id">
                            <form [formGroup]="commentForm" (ngSubmit)="postCommentToQuestion(question)">
                                <app-profile-popup [peer]="loggedInUser"></app-profile-popup>
                                <mat-form-field [floatLabel]="'always'" style="margin-left: 15px; width: 88%;">
                                    <input matInput type="text" formControlName="description" placeholder="Write your comment on the above question">
                                </mat-form-field>
                                <div style="text-align: right">
                                    <button [disabled]="!commentForm.valid" mat-raised-button color="primary">
                                        <span *ngIf="!busyComment">Comment</span>
                                        <ngx-loading [show]="busyComment"></ngx-loading>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="row margin-top-20 questionCommentsBox" *ngFor="let comment of question.comments">
                            <div class="col-md-1 margin-top-10" style="text-align: center; color: #cccccc;" [ngClass]="{'hasUpvoted': !!hasUpvoted(comment.upvotes)}">
                                <mat-icon *ngIf="!hasUpvoted(comment.upvotes)" style="cursor: pointer;" (click)="addCommentUpvote(comment)">arrow_drop_up</mat-icon>
                                <mat-icon *ngIf="hasUpvoted(comment.upvotes)">arrow_drop_up</mat-icon>
                                <div>
                                    {{(comment.upvotes) ? comment.upvotes.length : '0'}}
                                </div>
                            </div>
                            <div class="col-md-11">
                                <button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuComment" style="float: right; margin-right: 15px; margin-top: 15px;">
                                    <mat-icon style="color: #cccccc">more_vert</mat-icon>
                                </button>
                                <mat-menu #menuComment="matMenu">
                                    <button *ngIf="userType==='participant'" mat-menu-item>
                                        <mat-icon>flag</mat-icon>
                                        <span>Flag</span>
                                    </button>
                                    <button *ngIf="userType==='owner' || isMyComment(comment)" mat-menu-item (click)="deleteComment(comment)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                                <div class="mat-body-1 pre-wrapped">{{comment.description | titlecase}}</div>
                                <div style="margin-top: 10px;" class="" *ngIf="comment.peer.length>0">
                                    <div class="clickable" style="float: left;">
                                        <app-profile-popup [peer]="comment.peer[0]"></app-profile-popup>
                                    </div>
                                    <div style="display: inline-block; margin-left: 5px;">
                                        <div>
                                            <div>
                                                <span class="mat-body-2 clickable" (click)="_profileService.viewProfile(comment.peer[0])">{{comment.peer[0].profiles[0].first_name | ucwords}} {{comment.peer[0].profiles[0].last_name | ucwords}}</span>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <div class="">
                                            <span class="mat-caption">{{comment.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 10px;" *ngIf="!(replyForm && replyingToCommentId===comment.id)">
                                    <a href="javascript:void(0);" (click)="createReplyForm(comment)">
                                        <mat-icon style="top: 5px;">reply</mat-icon> Reply</a>
                                </div>
                                <div class="col-md-11 col-md-offset-1 margin-top-30" *ngIf="replyForm && replyingToCommentId===comment.id" style="margin-left: -15px;">
                                    <form [formGroup]="replyForm" (ngSubmit)="postReply(comment)">
                                        <app-profile-popup [peer]="loggedInUser"></app-profile-popup>
                                        <mat-form-field [floatLabel]="'always'" style="margin-left: 15px; width: 85%;">
                                            <input matInput type="text" formControlName="description" placeholder="Reply to above comment...">
                                        </mat-form-field>
                                        <button [disabled]="!replyForm.valid" mat-raised-button class="pull-right" color="primary">
                                            <span *ngIf="!busyReply">Post</span>
                                            <ngx-loading [show]="busyReply"></ngx-loading>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-11 col-md-offset-1 margin-top-10">
                                    <div class="row margin-top-20" *ngFor="let reply of comment.replies">
                                        <button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuReply" style="float: right; margin-right: 15px; margin-top: 15px;">
                                            <mat-icon style="color: #cccccc;">more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menuReply="matMenu">
                                            <button *ngIf="userType==='participant'" mat-menu-item>
                                                <mat-icon>flag</mat-icon>
                                                <span>Flag</span>
                                            </button>
                                            <button *ngIf="userType==='owner' || isMyComment(reply)" mat-menu-item (click)="deleteReply(reply)">
                                                <mat-icon>delete</mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                        <div style="text-align: center; display: inline-block; color: #cccccc; vertical-align: top; margin-right: 25px;margin-top: 10px;  margin-left: -60px; float: left;"
                                             [ngClass]="{'hasUpvoted': !!hasUpvoted(reply.upvotes)}">
                                            <mat-icon *ngIf="!hasUpvoted(reply.upvotes)" style="cursor: pointer;" (click)="addReplyUpvote(reply)">arrow_drop_up</mat-icon>
                                            <mat-icon *ngIf="hasUpvoted(reply.upvotes)">arrow_drop_up</mat-icon>
                                            <div>
                                                <span *ngIf="reply.upvotes !== undefined">{{reply.upvotes.length}}</span>
                                                <span *ngIf="reply.upvotes === undefined">0</span>
                                            </div>
                                        </div>
                                        <div style="width: 90%;">
                                            <div class="mat-body-1">{{reply.description | titlecase}}</div>
                                            <div class="" style="margin-top: 10px;" *ngIf="reply.peer && reply.peer.length>0">
                                                <div class="clickable" style="float: left;">
                                                    <app-profile-popup [peer]="reply.peer[0]"></app-profile-popup>
                                                </div>
                                                <div style="display: inline-block; margin-left: 5px;">
                                                    <div>
                                                        <div>
                                                            <span class="clickable mat-body-2" (click)="_profileService.viewProfile(reply.peer[0])">{{reply.peer[0].profiles[0].first_name | ucwords}} {{reply.peer[0].profiles[0].last_name | ucwords}}</span>&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <span class="mat-caption">{{reply.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loading-container margin-top-20" [hidden]="!busyAnswer">
                        <ngx-loading [show]="true"></ngx-loading>
                    </div>
                    <!--LIST OF ANSWERS FOR QUESTION-->
                    <div class="col-md-12 answersBox margin-top-20">
                        <div class="row answerRow" *ngFor="let answer of question.answers">
                            <button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuAnswer" style="float: right; margin-right: 15px; margin-top: 15px;">
                                <mat-icon style="color: #cccccc;">more_vert</mat-icon>
                            </button>
                            <mat-menu #menuAnswer="matMenu">
                                <button *ngIf="userType==='participant'" mat-menu-item>
                                    <mat-icon>flag</mat-icon>
                                    <span>Flag</span>
                                </button>
                                <button *ngIf="userType==='owner' || isMyAnswer(answer)" mat-menu-item (click)="deleteAnswer(answer)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                            <div>
                                <div class="margin-bottom-10" *ngIf="answer.peer && answer.peer.length>0">
                                    <div class="clickable" style="float: left;">
                                        <app-profile-popup [peer]="answer.peer[0]"></app-profile-popup>
                                    </div>
                                    <div style="display: inline-block; margin-left: 5px;">
                                        <div>
                                            <div>
                                                <span class="mat-body-2 clickable" (click)="_profileService.viewProfile(answer.peer[0])">{{answer.peer[0].profiles[0].first_name | ucwords}} {{answer.peer[0].profiles[0].last_name | ucwords}}</span>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <div class="">
                                            <span class="mat-caption">Answered {{answer.createdAt |extractTime:'MMM Do'}}<mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px; margin-left: 12px;">fiber_manual_record</mat-icon> {{(answer.upvotes) ? answer.upvotes.length : '0'}} upvotes</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mat-body-1 pre-wrapped">{{answer.text | titlecase}}</div>
                                <div style="margin-top: 20px;">
                                    <a class="clickable commentButton" (click)="createAnswerCommentForm(answer)">
                                        <b>Comment <mat-chip class="square smallSquare" *ngIf="answer.comments">{{answer.comments.length}}</mat-chip></b>
                                    </a>
                                    <mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px; margin-left: 12px;">fiber_manual_record</mat-icon>
                                    <a *ngIf="!hasUpvoted(answer.upvotes)" class="clickable upvoteButton" [ngClass]="{'hasUpvoted': !!hasUpvoted(answer.upvotes)}" (click)="addAnswerUpvote(answer)"><b>{{(answer.upvotes) ? answer.upvotes.length : '0'}} Upvote</b></a>
                                    <a *ngIf="hasUpvoted(answer.upvotes)" class="clickable upvoteButton" [ngClass]="{'hasUpvoted': !!hasUpvoted(answer.upvotes)}"><b>{{(answer.upvotes) ? answer.upvotes.length : '0'}} Upvote</b></a>
                                    <mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;margin-left: 12px;">fiber_manual_record</mat-icon>
                                    <a class="clickable reportButton"><b>Report</b></a>
                                </div>
                                <!--FORM TO ADD NEW COMMENT TO ANSWER-->
                                <div class="margin-top-30 commentForm" *ngIf="commentForm && commentingToAnswerId===answer.id">
                                    <form [formGroup]="commentForm" (ngSubmit)="postCommentToAnswer(answer)">
                                        <app-profile-popup [peer]="loggedInUser"></app-profile-popup>
                                        <mat-form-field [floatLabel]="'always'" style="margin-left: 15px; width: 88%;">
                                            <input matInput type="text" formControlName="description" placeholder="Write your comment on the above answer">
                                        </mat-form-field>
                                        <div style="text-align: right">
                                            <button [disabled]="!commentForm.valid" mat-raised-button color="primary">
                                                <span *ngIf="!busyComment">Comment</span>
                                                <ngx-loading [show]="busyComment"></ngx-loading>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!--LIST OF COMMENTS FOR ANSWER-->
                                <div class="row margin-top-20 commentsBox" *ngFor="let comment of answer.comments">
                                    <div class="col-md-1 margin-top-10" style="text-align: center; color: #cccccc;" [ngClass]="{'hasUpvoted': !!hasUpvoted(comment.upvotes)}">
                                        <mat-icon *ngIf="!hasUpvoted(comment.upvotes)" style="cursor: pointer;" (click)="addCommentUpvote(comment)">arrow_drop_up</mat-icon>
                                        <mat-icon *ngIf="hasUpvoted(comment.upvotes)">arrow_drop_up</mat-icon>
                                        <div>
                                            {{(comment.upvotes) ? comment.upvotes.length : '0'}}
                                        </div>
                                    </div>
                                    <div class="col-md-11">
                                        <button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuComment" style="float: right; margin-right: 15px; margin-top: 15px;">
                                            <mat-icon style="color: #cccccc">more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menuComment="matMenu">
                                            <button *ngIf="userType==='participant'" mat-menu-item>
                                                <mat-icon>flag</mat-icon>
                                                <span>Flag</span>
                                            </button>
                                            <button *ngIf="userType==='owner' || isMyComment(comment)" mat-menu-item (click)="deleteComment(comment)">
                                                <mat-icon>delete</mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                        <div class="mat-body-1 pre-wrapped">{{comment.description | titlecase}}</div>
                                        <div style="margin-top: 10px;" class="" *ngIf="comment.peer.length>0">
                                            <div class="clickable" style="float: left;">
                                                <app-profile-popup [peer]="comment.peer[0]"></app-profile-popup>
                                            </div>
                                            <div style="display: inline-block; margin-left: 5px;">
                                                <div>
                                                    <div>
                                                        <span class="mat-body-2 clickable" (click)="_profileService.viewProfile(comment.peer[0])">{{comment.peer[0].profiles[0].first_name | ucwords}} {{comment.peer[0].profiles[0].last_name | ucwords}}</span>&nbsp;&nbsp;
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <span class="mat-caption">{{comment.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;" *ngIf="!(replyForm && replyingToCommentId===comment.id)">
                                            <a href="javascript:void(0);" (click)="createReplyForm(comment)">
                                                <mat-icon style="top: 5px;">reply</mat-icon> Reply</a>
                                        </div>
                                        <div class="col-md-11 col-md-offset-1 margin-top-30" *ngIf="replyForm && replyingToCommentId===comment.id" style="margin-left: -15px;">
                                            <form [formGroup]="replyForm" (ngSubmit)="postReply(comment)">
                                                <app-profile-popup [peer]="loggedInUser"></app-profile-popup>
                                                <mat-form-field [floatLabel]="'always'" style="margin-left: 15px; width: 85%;">
                                                    <input matInput type="text" formControlName="description" placeholder="Reply to above comment...">
                                                </mat-form-field>
                                                <button [disabled]="!replyForm.valid" mat-raised-button class="pull-right" color="primary">
                                                    <span *ngIf="!busyReply">Post</span>
                                                    <ngx-loading [show]="busyReply"></ngx-loading>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-md-11 col-md-offset-1 margin-top-10">
                                            <div class="row margin-top-20" *ngFor="let reply of comment.replies">
                                                <button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuReply" style="float: right; margin-right: 15px; margin-top: 15px;">
                                                    <mat-icon style="color: #cccccc;">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menuReply="matMenu">
                                                    <button *ngIf="userType==='participant'" mat-menu-item>
                                                        <mat-icon>flag</mat-icon>
                                                        <span>Flag</span>
                                                    </button>
                                                    <button *ngIf="userType==='owner' || isMyComment(reply)" mat-menu-item (click)="deleteReply(reply)">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>Delete</span>
                                                    </button>
                                                </mat-menu>
                                                <div style="text-align: center; display: inline-block; color: #cccccc; vertical-align: top; margin-right: 25px;margin-top: 10px;  margin-left: -60px; float: left;"
                                                     [ngClass]="{'hasUpvoted': !!hasUpvoted(reply.upvotes)}">
                                                    <mat-icon *ngIf="!hasUpvoted(reply.upvotes)" style="cursor: pointer;" (click)="addReplyUpvote(reply)">arrow_drop_up</mat-icon>
                                                    <mat-icon *ngIf="hasUpvoted(reply.upvotes)">arrow_drop_up</mat-icon>
                                                    <div>
                                                        <span *ngIf="reply.upvotes !== undefined">{{reply.upvotes.length}}</span>
                                                        <span *ngIf="reply.upvotes === undefined">0</span>
                                                    </div>
                                                </div>
                                                <div style="width: 90%;">
                                                    <div class="mat-body-1">{{reply.description | titlecase}}</div>
                                                    <div class="" style="margin-top: 10px;" *ngIf="reply.peer && reply.peer.length>0">
                                                        <div class="clickable" style="float: left;">
                                                            <app-profile-popup [peer]="reply.peer[0]"></app-profile-popup>
                                                        </div>
                                                        <div style="display: inline-block; margin-left: 5px;">
                                                            <div>
                                                                <div>
                                                                    <span class="clickable mat-body-2" (click)="_profileService.viewProfile(reply.peer[0])">{{reply.peer[0].profiles[0].first_name | ucwords}} {{reply.peer[0].profiles[0].last_name | ucwords}}</span>&nbsp;&nbsp;
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <span class="mat-caption">{{reply.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="question.answers === undefined || question.answers.length === 0">
                            <div class="col-md-12 emptySectionText" style="margin-bottom: -10px;">
                                Be the first one to answer this question!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr class="margin-top-30">
                </div>
            </div>
        </div>
    </div>
</div>

