<div class="main-content">
	<div class="row margin-top-40 margin-bottom-40">
		<div class="col-md-10 col-md-offset-1">
			<p>
				Host a learning experience on Peerbuds
				
				Earn money providing learners interactive activities you love teaching.
				
				What are Peerbuds Experiences?
				Peerbuds Experiences are educational excursions & activities designed and led by local peers. They are dedicated to immersing learners in sensory-rich experiences that can’t compare with traditional classroom learning or traditional workplace environments. It’s an opportunity for anyone to teach, learn, and share their skills and ideas.
				
				SHARE YOUR KNOWLEDGE WITH THE WORLD
				
				Introduce learners to educational activities and hands on projects you’re most passionate about. We’ll help you put your experience together step by step, with plenty of resources along the way.
				
				Meet like-minded peers
				
				Connect with a community of peers and locals who share your passion for learning and teaching others. There’s a good chance you’ll make some new friends and share some new ideas to collaborate on.
				
				Host on your terms
				
				Create a schedule that’s best for you, whether you host daily, weekly, or monthly. Choose your price and group size, and manage all the details on the go with a convenient mobile app
				
				Start a business with no upfront costs
				We give you your own page on Peerbuds that peers can use to book your experience. Peerbuds handles payment processing, and provides 24-hour customer service.
				
				WHAT KIND OF PEOPLE HOST?
				
				Hosts are techies, multilingual speakers, musicians, dancers, chefs, and any local peer who have something to teach through interactive activities that give their fellow peers the chance to learn beyond a traditional classroom. They make everyone feel welcome, and allow everyone to let go of their anxieties of learning something new, and connecting with others.
				
				
				HOW to Get Started
				
				Here’s a brief overview of the process to host an experience on Peerbuds.
				
				Learn and see if you're a good fit
				Review our quality standards and see if your experience is a fit for Peerbuds.
				
				Creating Your Experience Page
				Create a page with descriptions, photos, videos, and other details.
				
				Submit to Peerbuds for review
				If your experience meets our quality standards, you can begin hosting.
				
				Dummy Content
				
				Frequently asked questions
				
				What’s the time commitment?
				You can host as often as you like — feel free to adjust your dates and times until you find what works best for you.
				Do I need a business license?
				Depending on activities involved, certain experiences may require a business license. Make sure to check local laws in your area to determine which licenses may be required for your experience, especially if there is food, alcohol, or transportation involved.
				Can I set a minimum number of guests per experience?
				The minimum number of guests you can host during each instance of your experience is 1.
				Do I need insurance?
				Experience Protection Insurance covers most activities during an experience, but some things like flying or driving are not covered. You may need to obtain your own insurance if your experience includes these activities. Learn more
			</p>
		</div>
	</div>
</div>
