.no-content-setion{
    padding: 3% 0 5% 0 !important;
    overflow-y: inherit;
}
img{
    max-width:213px;
}

h2{
    margin-top:10%;
    line-height: 2.2;
    font-weight: 200;
}

.text-center{
margin-top: 5% !important;
}