<div class="row">
  <div class="col-md-12">
    <div *ngIf="!storiesYouRequested" class="loading-container">
      <ngx-loading [show]="true"></ngx-loading>
    </div>
  </div>
  <div class="col-md-12 margin-top-30" *ngIf="storiesYouRequested">
    <div style="display:inline;">
      <h2>Knowledge Stories You Requested</h2>
    </div>
    <div #noContentView *ngIf="storiesYouRequested.length === 0 " class="center" style="margin-top: 5%;margin-bottom: 5%;">
      <div class="lightText">
        No Requests
      </div>
    </div>
    <div *ngIf="storiesYouRequested.length > 0">
      <div class="row" style="margin-top:20px;">
        <div class="col-xs-12 col-md-3" *ngFor="let story of storiesYouRequested">
          <mat-card class="card">
            <mat-card-content>
              <!-- <div style="text-align: right">
                <div class="pull-right">
                  <a mat-icon-button [matMenuTriggerFor]="storyCardMenu" style="text-align: right; padding: 0px">
                    <mat-icon>more_vert</mat-icon>
                  </a>
                </div>
              </div> -->
              <div>
                {{story.status}}
              </div>
              <a *ngIf="story.status==='approved'" [routerLink]="'/knowledge-story/'+story.id">
                Go to Story
              </a>
              <br>
              <div *ngIf="story.protagonist[0] && story.protagonist[0].profiles[0]">
                {{story.protagonist[0].profiles[0].first_name+ ' ' +story.protagonist[0].profiles[0].last_name}}
              </div>
              <div class="row" *ngIf="story.topics.length>0">
                <div class="col-xs-2" *ngFor="let topic of story.topics">
                  {{topic.name}}
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-xs-6">
                  <button mat-button>Approve</button>
                </div>
                <div class="col-xs-6">
                  <button mat-button>Reject</button>
                </div>
              </div> -->
            </mat-card-content>
            <!-- <mat-menu #storyCardMenu>
              <button (click)="leaveScholarship(story.id)" mat-menu-item>
                Leave Scholarship
              </button>
            </mat-menu> -->
          </mat-card>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="!storiesOthersRequested" class="loading-container">
      <ngx-loading [show]="true"></ngx-loading>
    </div>
  </div>
  <div class="col-md-12 margin-top-30" *ngIf="storiesOthersRequested">
    <div style="display:inline;">
      <h2>Knowledge Stories Others Requested</h2>
    </div>
    <div #noContentView *ngIf="storiesOthersRequested.length === 0 " class="center" style="margin-top: 5%;margin-bottom: 5%;">
      <div class="lightText">
        No Requests
      </div>
    </div>
    <div *ngIf="storiesOthersRequested.length > 0">
      <div class="row" style="margin-top:20px;">
        <div class="col-xs-12 col-md-3" *ngFor="let story of storiesOthersRequested">
          <mat-card class="card">
            <mat-card-content>
              <br>
              <div *ngIf="story.peer[0] && story.peer[0].profiles[0]">
                {{story.peer[0].profiles[0].first_name+ ' ' +story.peer[0].profiles[0].last_name}}
              </div>
              <div>
                {{story.status}}
              </div>
              <div>
                {{story.visibility}}
              </div>
              <a *ngIf="story.status==='approved'" [routerLink]="'/knowledge-story/'+story.id">
                Go to Story
              </a>
              <div class="row" *ngIf="story.topics.length>0">
                <div class="col-xs-2" *ngFor="let topic of story.topics">
                  {{topic.name}}
                </div>
              </div>
              <div class="row" *ngIf="story.status==='pending'">
                <div class="col-xs-6">
                  <button (click)="approve(story.id)" mat-button>Approve</button>
                </div>
                <div class="col-xs-6">
                  <button (click)="reject(story.id)" mat-button>Reject</button>
                </div>
              </div>
            </mat-card-content>
            <mat-menu #storyCardMenu>
              <!-- <button (click)="leaveScholarship(story.id)" mat-menu-item>
                  Leave Scholarship
                </button> -->
            </mat-menu>
          </mat-card>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>