<div class="row">
  <div class="col-xs-11 col-sm-8 col-md-8 col-md-8">
    <h2 class="title">Add content to your Learning path</h2>
    <p class="subtitle">Create a detailed timeline of your learning path and add content for every event in your
      itinerary.
      Learners will see this before they sign up for your learning path.</p>
    <div style="margin-top:60px;">
      <button mat-button type="button" matStepperPrevious color="primary" class="mat-border-button">
        Back
      </button>
      <button mat-button class="pull-right mat-border-button" color="primary" matStepperNext>Next</button>
    </div>
  </div>
</div>