<div class="main-content">
	<div class="row margin-top-40 margin-bottom-40">
		<div class="col-md-10 col-md-offset-1">
			<p>
				Teach, Learn, & Earn from doing live sessions with other peers.
				
				
				
				WHAT ARE PEER SESSIONS?
				
				Peer Sessions are one-on-one live sessions with fellow peers who are looking to teach or learn from you. You have the opportunity and chance to share your expertise, skills, and ideas with peers who are looking to learn something new.
				
				How Does it Work for peers who want to learn?
				You can search for peers by topic from the Peers Tab or the global search bar at the top. View their profile, and learn more about their expertise and experience. If you like what you see, you can book a session with them based off their available slots.
				
				How Does it Work for peers who want to teach?
				If a peer is interested in doing a session with you, they will book one of your available slot times that you’ve made public, and you can approve or reject the request.
				
				
				Host on your terms
				
				Set up the availability that’s best for you, whether you want to teach daily, weekly, or monthly. Choose your hourly price and manage all the details on the go with a convenient mobile app
				
				Start a business with no upfront costs
				We give you your own profile page on Peerbuds that peers can book sessions with you. Peerbuds handles payment processing, and makes it easy for you to get your earnings immedietly.
				
				WHAT KIND OF PEOPLE CAN DO PEER SESSIONS?
				
				Hosts are techies, multilingual speakers, musicians, dancers, chefs, and anyone else who have something to teach through interactive online sessions and projects that give their fellow peers the chance to learn beyond a traditional classroom. They make everyone feel welcome, and allow everyone to let go of their anxieties of learning something new, and connecting with others.
				
				HOW to Get Started
				
				Here’s a brief overview of the process to teach peer sessions
				
				Learn and see if you're a good fit
				Review our quality standards and see if your to teach on Peerbuds.
				
				Updating Your Peer Profile Page
				Update your profile page with your skills, experience, photos, and other details.
				
				Submit to Peerbuds for review
				If your profile meets our quality standards, you can begin teaching.
				
			</p>
		</div>
	</div>
</div>
