<div class="row">
  <div class="col-xs-11 col-sm-8 col-md-8 col-md-8">
    <h2 class="title">Create the page learners will see</h2>
    <p class="subtitle" style="color: #333333;">Write in a clear, straightforward and friendly way. We'll prompt you
      on
      when to show off your personality and be more descriptive.
    </p>
    <br />
    <div style="margin-top:60px;">
      <button mat-button type="button" matStepperPrevious color="primary" class="mat-border-button">
        Back
      </button>
      <button mat-raised-button matStepperNext color="primary" class="pull-right mat-border-button">
        Next
      </button>
    </div>
  </div>
</div>