<span class="clickable" (click)="openProfile()">
	<img *ngIf="!peer.profiles || !peer.profiles[0].picture_url" #profilePic (mouseenter)="openProfileDialog($event)" (mouseleave)="closeProfileDialog()"
	     src="/assets/images/user-placeholder.jpg" alt="A" ngClass="{'circle-thumb': cssSize === 'small', 'circle-thumb-large': cssSize === 'large'}" style="margin-left: 0px; vertical-align: top;">
	<img *ngIf="peer.profiles && peer.profiles[0].picture_url" #profilePic (mouseenter)="openProfileDialog($event)" (mouseleave)="closeProfileDialog()"
	     src="{{envVariable.apiUrl+peer.profiles[0].picture_url + '/100'}}" ngClass="{'circle-thumb': cssSize === 'small', 'circle-thumb-large': cssSize === 'large'}" alt="dp" style="margin-left: 0px; vertical-align: top;">
</span>
