<div class="mat-dialog-focus-trap"></div>
<div mat-dialog-content class="dialog-container" style="padding: 20px 50px !important;">
	<div class="row">
		<div class="position-relative step-0" [hidden]="step!=0">
			<div class="col-md-12 center position-relative" style="color: #fff;margin: -20px -35px;width: 120%; background: url('../../../../assets/images/welcome-peerbuds.jpg');background-size: cover;">
				<div class="text-center" style="background: rgba(0,0,0,0.5); margin: 0 -20px; color: #fff; padding: 52% 20px 8%;">
					<div class="row">
						<div class="col-sm-12">
							<div class="text-center">
								<img src="/assets/images/peerbuds-logo.png" alt="peerbuds-logo" style="width: 40px;">
								<h1 class="mat-title title-explore text-center margin-top-20">Welcome to Peerbuds</h1>
								<div class="text-white margin-top-40">Teachers and students on Peerbuds are real people with real knowledge. That's
									why you'll have to confirm a few, quick details to activate your account.</div>
								<div class="checkbox margin-top-50">
									<button mat-raised-button class="customBtn mat-elevation-z6 clickable" type="button" color="accent" (click)="continue(1)">Next
										- 2 steps left</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="position-relative step-6" [hidden]="step!=6">
			<form [formGroup]="passwordForm">
				<div class="col-md-12 center">
					<div class="verification-box drop-shadow">
						<h2 class="headline">Set a password</h2>
						<p class="description1 margin-bottom-10">This is so we can create a wallet on the one0x blockchain.</p>
						<mat-form-field class="pb-block margin-top-20" [floatLabel]="'auto'">
							<input type="password" matInput formControlName="password" placeholder="Password" />
						</mat-form-field>
						<mat-form-field class="pb-block margin-top-20" [floatLabel]="'auto'">
							<input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password" />
						</mat-form-field>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-md-12 bottom-section clearfix">
						<div>
							<span>
								<button class="pb-block" mat-raised-button color="accent" (click)="submitPassword()" [disabled]="httpLoading">Set
									Password
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-12 center margin-top-20">
					<a class="mat-h5" href="javascript:void(0)" (click)="skipOnboarding()">
						I'll do this later
					</a>
				</div>
			</form>
		</div>
		<!-- step 5 ends -->
		<div class="position-relative step-1" [hidden]="step!=1">
			<form [formGroup]="phoneForm">
				<div class="col-md-12 center">
					<div class="verification-box drop-shadow">
						<h2 class="headline">Confirm your phone number</h2>
						<p class="description1 margin-bottom-10">This is so teachers can contact you when to sign up for a class or experience.</p>
						<button class="mat-fab roundFab col-md-offset-5 margin-bottom-10" type="button">
							<i class="fas fa-mobile-alt fa-3x" style="color:#FF5B5F" aria-hidden="true"></i>
						</button>
						<mat-form-field class="pb-block margin-top-20" [floatLabel]="'auto'">
							<input type="text" matInput formControlName="countryCode" [matAutocomplete]="auto" placeholder="Country " />
							<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
								<mat-option *ngFor="let country of filteredCountryCodes | async" [value]="country">{{country.country}}</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<mat-form-field [floatLabel]="'auto'" class="pb-block margin-top-20">
							<input type="number" matInput #phone formControlName="phone" placeholder="Phone Number" />
						</mat-form-field>
						<div *ngIf="phoneFormError" style="color:red;">{{phoneFormError}}</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-md-12 bottom-section clearfix">
						<div>
							<span matTooltip="Please enter a valid phone number" [matTooltipDisabled]="phoneForm.valid">
								<button class="pb-block" mat-raised-button color="accent" (click)="continue(2)" [disabled]="!phoneForm.valid || httpLoading">Confirm
									Phone Number</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-12 center margin-top-20">
					<a class="mat-h5" href="javascript:void(0)" (click)="skipOnboarding()">
						I'll do this later
					</a>
				</div>
			</form>
		</div>
		<div class="position-relative step-2" [hidden]="step!=2">
			<form [formGroup]="phoneOtp">
				<div class="col-md-12 center">
					<div class="verification-box drop-shadow">
						<h2 class="headline">Enter the code sent to your phone</h2>
						<p class="description1 margin-bottom-10">We have sent 6 digit code to {{phone.value}}</p>
						<button class="mat-fab roundFab col-md-offset-5 margin-bottom-10" type="button">
							<i class="fa fa-key fa-3x" style="color:#FF5B5F" aria-hidden="true"></i>
						</button>
						<mat-form-field [floatLabel]="'auto'" class="pb-block margin-bottom-10 otpInput">
							<input type="text" matInput #inputPhoneOTP formControlName="inputOTP" />
						</mat-form-field>
						<div *ngIf="phoneOtpError" style="color:red;">{{phoneOtpError}}</div>
						<div>
							<p class="mat-h6 lightText">
								<a (click)="resendPhoneOTP()" style="cursor: pointer;">Resend code?</a> Please wait at least 5 minutes before
								<br/> requesting another code or
								<a style="cursor: pointer;" (click)="continue(1, true)">change your phone number</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-md-12 bottom-section clearfix">
						<div>
							<span matTooltip="Please enter a valid code" [matTooltipDisabled]="inputPhoneOTP.value.length === 6">
								<button class="pb-block" mat-raised-button color="accent" (click)="continue(3)" [disabled]="inputPhoneOTP.value.length !== 6 || httpLoading">Verify
									Phone
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-12 center margin-top-20">
					<a class="mat-h5" href="javascript:void(0)" (click)="skipOnboarding()">
						I'll do this later
					</a>
				</div>
			</form>
		</div>
		<!-- step 2 ends -->
		<div class="position-relative step-3" [hidden]="step!=3">
			<form [formGroup]="emailForm">
				<div class="col-md-12">
					<div class="verification-box drop-shadow">
						<button class="mat-fab roundFab col-md-offset-5 margin-bottom-40" type="button">
							<i class="fa fa-envelope-o fa-3x" style="color:#FF5B5F" aria-hidden="true"></i>
						</button>
						<h2 class="headline">Verify your email address</h2>
						<p class="description1 margin-bottom-40">Please let us know how can we reach you by email. To help keep your peerbuds
							account secure, make sure only you can log into this email address.</p>
						<mat-form-field [floatLabel]="'auto'" style="width:50% !important" class="pb-block margin-bottom-60 margin-top-20">
							<input type="email" matInput #email formControlName="email" placeholder="Email Address" />
						</mat-form-field>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-md-12 bottom-section clearfix">
						<div class="pull-right">
							<span matTooltip="Please enter a valid email ID" [matTooltipDisabled]="!emailForm.controls.email.invalid || !emailForm.controls.email.dirty && emailForm.value.length !== 0">
								<button mat-raised-button color="accent" (click)="continue(4)" [disabled]="(emailForm.controls['email'].invalid && emailForm.controls['email'].dirty) || email.value.length === 0  || httpLoading">Send
									Code
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- step 3 ends -->
		<div class="position-relative step-4" [hidden]="step!=4">
			<form [formGroup]="emailOtp">
				<div class="col-md-12 center position-relative">
					<div class="verification-box drop-shadow">
						<h2 class="headline">Enter the code sent to your email</h2>
						<p class="description1 margin-bottom-10">We have sent a 6 digit code to {{email.value}}</p>
						<button class="mat-fab roundFab col-md-offset-5 margin-bottom-10" type="button">
							<i class="fa fa-key fa-3x" style="color:#FF5B5F" aria-hidden="true"></i>
						</button>
						<mat-form-field [floatLabel]="'auto'" class="margin-bottom-10 pb-block otpInput">
							<input type="text" matInput #inputEmailOTP formControlName="inputOTP" />
						</mat-form-field>
						<div *ngIf="emailOtpError" style="color:red;">{{emailOtpError}}</div>
						<div>
							<p class="mat-h6 lightText">
								<a (click)="resendEmailOTP()" style="cursor: pointer;">Resend code</a>. Please wait at least 5 minutes before
								<br/> requesting another code.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-md-12 bottom-section clearfix">
						<div>
							<span matTooltip="Please enter a valid code" [matTooltipDisabled]="inputEmailOTP.value.length === 6">
								<button class="pb-block" mat-raised-button color="accent" (click)="continue(5)" [disabled]="inputEmailOTP.value.length !== 6 || httpLoading">Verify
									Email
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-12 center margin-top-20">
					<a class="mat-h5" href="javascript:void(0)" (click)="skipOnboarding()">
						I'll do this later
					</a>
				</div>
			</form>
		</div>
		<!-- step 4 ends -->
		<div class="position-relative step-5" [hidden]="step!=5">
			<div class="col-md-12 center position-relative" style="padding-top: 52%;color: #fff;margin: -20px -35px;width: 120%;padding-bottom: 8%;background: url('../../../../assets/images/onboarding_background_2.jpg');background-size: cover;">
				<div class="text-center">
					<div class="row">
						<div class="col-sm-12">
							<div class="text-center">
								<h1 class="mat-title title-explore text-center">You're now ready to teach
									<br> and learn anything to your heart's desires</h1>
								<div class="checkbox margin-top-50">
									<button mat-raised-button class="customBtn mat-elevation-z6 clickable" type="button" color="accent" (click)="closeOnboarding()">Start
										Exploring
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- step 5 ends -->
	</div>
</div>
