<div class="content-container col-sm-12 col-md-12 col-md-12">
	<div class="row">
		<div class="col-xs-12">
			<div style="margin-bottom: 20px;" class="mat-body-2">
				Timeline
				<br/>
				<span class="mat-caption">Add a day to your timeline and schedule activities on it. Repeat for all days if you like.</span>
			</div>
			<form [formGroup]="myForm" novalidate>
				<!--itenary-->
				<div formArrayName="itenary">
					<div *ngFor="let Itenary of myForm.controls['itenary']['controls']; let i=index" class="panel panel-default">
						<div class="panel-body" [formGroupName]="i">
							<app-itenary [itenaryForm]="myForm.controls['itenary']['controls'][i]" [itenaryId]="i" [collectionStartDate]="getCalendarStartDate()"
							             [collectionEndDate]="getCalendarEndDate()" [selectedItineraryDates]="getSelectedItineraryDates()" (triggerSave)="saveTriggered($event,i)"
							             [experienceStatus]="collection.status"></app-itenary>
						</div>
					</div>
				</div>
				<div class="margin-top-50" style="text-align: center;">
					<hr>
					<div class="add-day">
						<a style="cursor: pointer;" (click)="addItenary()">
							<mat-icon style="color:rgba(0,0,0,87)">add</mat-icon>
							<span style="cursor: pointer; float: right; margin: -1px 0 0 10px;font-size:16px;border-bottom:1px dotted gray;">
								Add a new day
							</span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
