a:hover {
  text-decoration: none;
}

a {
  color: #777;
}

.add-day{
  margin-top: -36px; 
  width: fit-content; 
  background-color: #fff; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 0px 20px;
}

