<mat-nav-list>
    <div *ngFor="let title of sidebarMenuItems">
        <mat-list-item disableRipple *ngIf="title.visible">
            <span matLine [ngClass]="{'sidebar-brand' : true, 'disabled' : title.title === 'Review & Submit' && step !== 14}">
                <a (click)=goto(title) class="menuSectionTitle" [class.active]="title.step == step">{{title.title |uppercase}}</a>
                <mat-icon *ngIf="title.locked" style="float: right; color: #ffffff; font-size: 18px; font-weight:bold; line-height:35px;">lock_outline</mat-icon>
            </span>
        </mat-list-item>
        <div *ngFor="let submenu of title.submenu">
            <mat-list-item disableRipple *ngIf="submenu.visible">
                <span matLine class="childItem">
                    <a *ngIf="submenu.visible" class="menuSectionChild" [style.pointer-events]="title.title == 'Review & Submit' && step !== 14 ? 'none' : 'visible'"
                        (click)=goto(submenu) [class.active]="submenu.step == step">{{submenu.title}}</a>
                    <mat-icon *ngIf="submenu.visible && submenu.complete" color="primary" style="float: right; font-size: 18px; font-weight:bold;margin-top:5px;">done</mat-icon>
                    <mat-icon *ngIf="submenu.visible && submenu.locked" color="primary" style="float: right; font-size: 18px; font-weight:bold;margin-top:5px;">lock_outline</mat-icon>
                </span>
            </mat-list-item>
        </div>
        <mat-list-item disableRipple *ngIf="title.visible && title.title !== 'Review & Submit'">
            <hr matLine class="sidenav-divider">
        </mat-list-item>
    </div>
</mat-nav-list>