<div class="main-content">
  <div class="margin-top-40" style="padding-left: 30px; padding-right: 30px;">

    <h1>The Blockchain University CSS Classes</h1>

    <hr>
    <h2>Using material classes</h2>
    <hr>

    <p class="mat-display-4">.mat-display-4 : Welcome to peerbuds!</p>
    <p class="mat-display-3">.mat-display-3 : Welcome to peerbuds!</p>
    <p class="mat-display-2">.mat-display-2 : Welcome to peerbuds!</p>
    <p class="mat-display-1">.mat-display-1 : Welcome to peerbuds!</p>
    <p class="mat-headline">.mat-headline : Welcome to peerbuds!</p>
    <p class="mat-title">.mat-title : Welcome to peerbuds!</p>
    <p class="mat-subheading-2">.mat-subheading-2 : Welcome to peerbuds!</p>
    <p class="mat-subheading-1">.mat-subheading-1 : Welcome to peerbuds!</p>
    <p class="mat-body-2">.mat-body-2 : Welcome to peerbuds!</p>
    <p class="mat-body-1">.mat-body-1 : Welcome to peerbuds!</p>
    <p class="mat-caption">.mat-caption : Welcome to peerbuds!</p>

    <p class="margin-top-40"></p>
    <hr>
    <h2>Using HTML attributes</h2>
    <hr>
    <h1>H1 : Welcome to peerbuds!</h1>
    <h2>H2 : Welcome to peerbuds!</h2>
    <h3>H3 : Welcome to peerbuds!</h3>
    <h4>H4 : Welcome to peerbuds!</h4>
    <h5>H5 : Welcome to peerbuds!</h5>
    <h6>H6 : Welcome to peerbuds!</h6>
    <p>p : Welcome to peerbuds!</p>
    <p><b>b : Welcome to peerbuds!</b></p>

    <p class="margin-top-40"></p>
    <hr>
    <h2>Color Classes</h2>
    <hr>

    <p class="mat-headline">#no class : Welcome to peerbuds!</p>
    <p class="mat-headline lightText">.lightText : Welcome to peerbuds!</p>

    <p class="margin-top-40"></p>
    <hr>
    <h2>Buttons (Transparent / Raised / Bordered)</h2>
    <hr>

    <p><button mat-button>#no class</button> <button mat-raised-button>#no class</button> <button mat-button class="mat-border-button">.mat-border-button</button></p>
    <p><button mat-button color="primary">#no class - primary</button> <button mat-raised-button color="primary">#no class - primary</button> <button mat-button class="mat-border-button" color="primary">.mat-border-button</button></p>
    <p><button mat-button color="accent">#no class - accent</button> <button mat-raised-button color="accent">#no class - accent</button> <button mat-button class="mat-border-button" color="accent">.mat-border-button</button></p>
    <p><button mat-button color="warn">#no class - warn</button> <button mat-raised-button color="warn">#no class - warn</button> <button mat-button class="mat-border-button" color="warn">.mat-border-button</button></p>
    <p><button mat-button color="info">#no class - info</button> <button mat-raised-button color="info">#no class - info</button> <button mat-button class="mat-border-button" color="info">.mat-border-button</button></p>
  </div>
</div>
