<div class="main-content">
	<div class="loading-container" [hidden]="!loadingGuide" style="margin-left: 8.5%; margin-top: 3%;">
		<ngx-loading [show]="true"></ngx-loading>
	</div>
	<div *ngIf="guide" class="guidePageContainer">
		<div class="row pending-actions center" *ngIf="guide.status === 'submitted' && userType==='teacher' ">
			<div class="col-md-10 col-md-offset-1">
				<span>This guide is pending approval from Blockchain University team</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(guide.status === 'draft' || guide.status === '' ) && previewAs ">
			<div class="col-md-10 col-md-offset-1">
				<span>You are previewing as
					<b>{{previewAs | titlecase}}</b>
					. Submit your guide to get it approved.
					<a href="javascript:void(0);" (click)="_collectionService.openEditCollection(guide)">Continue editing?</a>
				</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(userType === 'public' && userId !== undefined && userId.length > 5 && accountApproved !== 'true')">
			<div class="col-md-10 col-md-offset-1">
				<span>Your account is still under review. You can sign-up for this guide after you are approved.
					<a href="javascript:void(0);" (click)="openVerificationPage()">Check verification status</a>
				</span>
			</div>
		</div>
		<div class="row pending-actions center" *ngIf="(userId === undefined)">
			<div class="col-md-10 col-md-offset-1">
				<span>You need to login or sign-up to start taking this guide.
					<a href="javascript:void(0);" (click)="openLoginPage()">Login now</a>
				</span>
			</div>
		</div>

		<div class="row margin-top-40">
			<div class="col-md-10 col-md-offset-1">
				<div class="row guide-content">
					<div class="col-md-6 left-content">
						<div class="row guide-header">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="row" style="margin-top: 15px; margin-bottom: 20px;" *ngIf="userType==='teacher' || userType==='participant'">
											<div class="col-xs-12 button-row lightText mat-h5">
												<button mat-button (click)="openGroupChat()">Group Chat</button>
												<button mat-button *ngIf="userType ==='participant' || userType === 'teacher'"
												 (click)="scrollToDiscussion()">Discussion</button>
												<button mat-button class="mat-border-button" *ngIf="userType==='teacher'" (click)="gotoEdit()">Edit</button>
												<mat-icon *ngIf="guide.status !== 'cancelled'" [matMenuTriggerFor]="menu" style="cursor: pointer;top: 5px; color: #ccc; float: right;">more_vert</mat-icon>
											</div>
											<mat-menu #menu="matMenu">
												<button mat-menu-item *ngIf="userType==='participant'" (click)="dropOutGuide()">Cancel
													Participation
												</button>
												<button mat-menu-item *ngIf="userType==='teacher' && allParticipants.length === 0" (click)="deleteGuide()">Delete
													Guide
												</button>
												<button mat-menu-item *ngIf="userType==='teacher' && allParticipants.length > 0" (click)="cancelGuide()">Cancel
													Guide
												</button>
												<button mat-menu-item *ngIf="userType==='teacher'" (click)=" addParticipant()">Add
													participant
												</button>

											</mat-menu>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p class="mat-display-1" style="margin-bottom: 20px !important; font-weight: 700;">{{guide.title | titlecase}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="clickable" style="display: inline-block; position: relative; top: 2px; vertical-align: top;">
											<app-profile-popup [peer]="guide.owners[0]" [size]="'large'"></app-profile-popup>
										</div>
										<div style="display: inline-block; margin-left: 10px; margin-top: 5px; width: 87%;">
											<div class="row">
												<div class="col-xs-7">
													<div class="row">
														<div class="col-md-12 clickable" (click)="openProfilePage(guide.owners[0].id)">
															<span *ngIf="guide.owners[0].profiles[0].first_name !== undefined">
																{{guide.owners[0].profiles[0].first_name | titlecase }}
																{{guide.owners[0].profiles[0].last_name | titlecase }}
															</span>
															<span *ngIf="guide.owners[0].profiles[0].first_name === undefined">
																John Doe
															</span>
														</div>
														<div class="col-md-12 mat-h5 lightText" *ngIf="guide.owners[0].profiles[0].headline" style="margin-top: -4px; margin-bottom: 0px;">
															{{guide.owners[0].profiles[0].headline}}
														</div>
														<div class="col-md-12 mat-h5 lightText" *ngIf="!guide.owners[0].profiles[0].headline" style="margin-top: -4px; margin-bottom: 0px;">
															New user
														</div>
														<div class="col-md-12 mat-h5 lightText" style="margin-top: -4px;">
															{{guide.createdAt | date: 'd MMM, y'}}&nbsp;&nbsp;&nbsp;
															<mat-icon style="font-size: 5px;  top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>
															2 min read
														</div>
													</div>
												</div>
												<div class="col-xs-5" style="text-align: right;">
													<button mat-button class="mat-border-button" (click)="openMessageDialog(guide.owners[0])">Message</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--COVER IMAGE-->
						<div class="row">
							<div class="col-md-12">
								<div style="width: 100%; height: auto; margin-bottom: 30px;" *ngIf="carouselImages">
									<ngu-carousel [inputs]="carouselBanner">
										<ngu-item NguCarouselItem class="bannerStyle" *ngFor="let imageUrl of carouselImages">
											<div class="row">
												<div class="col-md-12">
													<img src="{{imageUrl + '/500'}}">
												</div>
											</div>
										</ngu-item>
										<img NguCarouselPrev src="/assets/images/images_landing/arrow-left.png" class="arrow arrow-left" />
										<img NguCarouselNext src="/assets/images/images_landing/arrow-right.png" class="arrow arrow-right" />
									</ngu-carousel>
								</div>
							</div>
						</div>
						<!--ABOUT SECTION-->
						<div class="row About">
							<div class="col-xs-12" style="font-size: 18px; line-height: 1.58;">
								<td-markdown>
									{{guide.description}}
								</td-markdown>
							</div>
						</div>
						<div class="row Description margin-top-10">
							<div class="col-xs-12">
								<i class="fa fa-tag lightText" style="display: inline-block;"></i>
								<mat-chip-list style="display: inline-block; margin-left: 10px;">
									<mat-chip *ngFor="let topic of topicFix" disabled> {{topic.name | titlecase}} </mat-chip>
								</mat-chip-list>
							</div>
						</div>
						<div class="row padding-top-30">
							<div class="col-md-12 margin-bottom-10">
								<h3>Written By</h3>
							</div>
							<div class="col-md-12">
								<div class="clickable" style="display: inline-block; position: relative; top: 2px; vertical-align: top;">
									<app-profile-popup [peer]="guide.owners[0]" [size]="'large'"></app-profile-popup>
								</div>
								<div style="display: inline-block; margin-left: 10px; margin-top: 5px;">
									<div class="row">
										<div class="col-md-12 clickable" (click)="openProfilePage(guide.owners[0].id)">
											<span *ngIf="guide.owners[0].profiles[0].first_name !== undefined">
												{{guide.owners[0].profiles[0].first_name | titlecase }}
												{{guide.owners[0].profiles[0].last_name | titlecase }}
											</span>
											<span *ngIf="guide.owners[0].profiles[0].first_name === undefined">
												John Doe
											</span>
										</div>
										<div class="col-md-12 mat-h5 lightText" *ngIf="guide.owners[0].profiles[0].headline" style="margin-top: -4px; margin-bottom: 0px;">
											{{guide.owners[0].profiles[0].headline}}
										</div>
										<div class="col-md-12 mat-h5 lightText" *ngIf="!guide.owners[0].profiles[0].headline" style="margin-top: -4px; margin-bottom: 0px;">
											New user
										</div>
										<div class="col-md-12 mat-h5 lightText" style="margin-top: -4px;">
											{{guide.createdAt | date: 'd MMM, y'}}&nbsp;&nbsp;&nbsp;
											<mat-icon style="font-size: 5px;  top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>
											2 min read
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<button mat-button class="mat-border-button" (click)="openMessageDialog(guide.owners[0])">Message</button>
							</div>
						</div>
						<hr>
						<!--REVIEWS-->
						<div class="loading-container" [hidden]="!loadingReviews && !initialLoad">
							<ngx-loading [show]="true"></ngx-loading>
						</div>
						<div class="row Reviews" *ngIf="reviews !== undefined">
							<div class="col-md-12">
								<div class="row margin-top-20">
									<div class="col-md-12">
										<h3 style="display: inline-block;">Reviews ({{reviews.length}})</h3> &emsp;
										<span style="display: inline-block;">
											<p-rating style="display: inline-flex; margin-left: 10px;position: relative;top: 2px;" *ngIf="userType==='teacher' || userType==='public' || hasReviewed(reviews)"
											          [ngModel]="userRating" readonly="true" stars="5" [cancel]="false"></p-rating>
											<p-rating style="display: inline-flex; margin-left: 10px;position: relative;top: 2px;" *ngIf="userType==='participant' && !hasReviewed(reviews)"
											          [(ngModel)]="newUserRating" (onRate)="handleRate($event)" [cancel]="false"></p-rating>
										</span>
									</div>
								</div>
								<div class="row margin-top-20" *ngIf="userType==='participant' && !hasReviewed(reviews)">
									<div class="col-md-12">
										<form [formGroup]="reviewForm" (ngSubmit)="postReview()">
											<mat-form-field class="full-width margin-bottom-10">
												<input matInput #description5 maxlength="2000" formControlName="description" placeholder="Describe your guide with this guide">
												<mat-hint align="end">{{description5.value.length}} / 2000</mat-hint>
											</mat-form-field>
											<span matTooltip="Have you given a star rating for this review?" [matTooltipDisabled]="isRatingReceived"
											      class="pull-right">
												<button [disabled]="!isRatingReceived || !reviewForm.valid" mat-raised-button color="primary">
													<span *ngIf="!busyReview">Submit</span>
													<ngx-loading [show]="busyReview"></ngx-loading>
												</button>
											</span>
										</form>
									</div>
								</div>
								<div class="row lighterText" *ngIf="reviews.length === 0">
									<div class="col-md-12">
										<div class="emptySectionText" *ngIf="userType !== 'teacher'">This guide has not received a review yet</div>
										<div class="emptySectionText" *ngIf="userType === 'teacher'">Awaiting first review from participants of
										                                                             this guide..</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div *ngFor="let review of reviews;let i=index">
											<div class="row margin-top-20 reviewItem" [hidden]="i>=noOfReviews">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-12" *ngIf="!editReviewForm || (editReviewForm && editReviewForm.value['id']!==review.id)">
															<div class="row">
																<div style="margin-top: 10px; margin-bottom: 10px;" class="">
																	<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuReply" style="float: right; margin-right: 15px; margin-top: 15px;">
																		<mat-icon style="color: #cccccc;">more_vert</mat-icon>
																	</button>
																	<mat-menu #menuReply="matMenu">
																		<button *ngIf="userType==='participant' && !isMyReview(review)" mat-menu-item>
																			<mat-icon>flag</mat-icon>
																			<span>Flag</span>
																		</button>
																		<button *ngIf="userType==='teacher' || isMyReview(review)" mat-menu-item (click)="deleteReview(review)">
																			<mat-icon>delete</mat-icon>
																			<span>Delete</span>
																		</button>
																		<button *ngIf="isMyReview(review)" mat-menu-item (click)="editReview(review)">
																			<mat-icon>edit</mat-icon>
																			<span>Edit</span>
																		</button>
																	</mat-menu>
																	<app-profile-popup [peer]="review.peer[0]"></app-profile-popup>
																	<div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
																		<div>
																			<div>
																				<span class="clickable" style="font-weight: 500" (click)="openProfilePage(review.peer[0].id)">{{review.peer[0].profiles[0].first_name + ' ' + review.peer[0].profiles[0].last_name}}</span>&nbsp;&nbsp;
																			</div>
																		</div>
																		<div class="mat-caption lightText" style="margin-top: -4px;">
																			<span>{{review.createdAt | extractTime:'Do MMM, YYYY'}}</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	{{review.description}}
																</div>
															</div>
															<br>
														</div>
													</div>
													<div class="row" *ngIf="editReviewForm && editReviewForm.value['id']===review.id">
														<div class="col-md-12">
															New Rating
															<p-rating style="display: inline-flex;" [(ngModel)]="newUserRating" (onRate)="updateRating($event)"
															          [cancel]="false"></p-rating>
															<form [formGroup]="editReviewForm" (ngSubmit)="updateReview()">
																<mat-form-field class="full-width">
																	<input matInput #description6 maxlength="2000" formControlName="description" placeholder="Review this guide">
																	<mat-hint align="end">{{description6.value.length}} / 2000</mat-hint>
																</mat-form-field>
																<button [disabled]="!editReviewForm.valid" mat-raised-button color="primary">
																	<span *ngIf="!busyReview">Submit</span>
																	<ngx-loading [show]="busyReview"></ngx-loading>
																</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row" *ngIf="reviews && reviews.length>3">
											<div class="col-md-12 margin-top-20" style="text-align: center">
												<a [hidden]="noOfReviews!==3" class="clickable" (click)="toggleReviews()" style="cursor: pointer;">See
												                                                                                                   all {{reviews.length}}
												                                                                                                   reviews
												</a>
												<a [hidden]="noOfReviews===3" class="clickable" (click)="toggleReviews()" style="cursor: pointer;">See
												                                                                                                   fewer
												                                                                                                   reviews
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr *ngIf="(userType==='teacher')">
						<div *ngIf="(userType==='teacher')">
							<h3 class="margin-bottom-20">Joined Readers</h3>
							<div>
								<div class="loading-container" [hidden]="!loadingParticipants">
									<ngx-loading [show]="true"></ngx-loading>
								</div>
								<div *ngIf="allParticipants.length<1">
									No joined readers yet
								</div>
								<div *ngFor="let participant of allParticipants; let i=index">
									<div class="row" *ngIf="participant.profiles && i<4">
										<div class="col-md-2 vcenter clickable">
											<app-profile-popup [peer]="participant"></app-profile-popup>
										</div>
										<div class="col-md-9 vcenter clickable" (click)="openProfilePage(participant.id)">
											{{participant.profiles[0].first_name +' '+participant.profiles[0].last_name }}&emsp;
											<span *ngIf="participant.profiles[0].headline" style="font-weight: 300;" class="lightText">{{participant.profiles[0].headline}}</span>
										</div>
									</div>
								</div>
								<div>
									<div class="row">
										<div class="col-md-12 margin-top-20">
											<a (click)="viewAllParticipants()" style="cursor: pointer;" *ngIf="allParticipants.length > 0"> View all joined readers
											</a>
										</div>
									</div>
								</div>
							</div>
							<hr>
						</div>
						<hr class="margin-bottom-10" *ngIf="userType === 'public' && recommendations.collections && recommendations.collections.length > 0">
						<!--SIMILAR GUIDES-->
						<div class="row guide-suggestions" *ngIf="userType==='public' && recommendations.collections && recommendations.collections.length > 0">
							<div class="col-md-12">
								<div class="row margin-bottom-20">
									<div class="col-md-10">
										<h3>Similar Learning Guides</h3>
									</div>
									<div class="col-md-2 pull-right" style="text-align: right">
										<a [routerLink]="'/home/guides'">
											<span class="mat-body-1">
												See all
												<mat-icon class="rightChevron" style="position: relative; top: 2px; font-size: 14px; width: 10px;">chevron_right</mat-icon>
											</span>
										</a>
									</div>
								</div>
								<div class="loading-container" [hidden]="!loadingSimilarGuides">
									<ngx-loading [show]="true"></ngx-loading>
								</div>
								<div *ngIf="!loadingSimilarGuides" class="row feed-horizontal margin-bottom-10" style="padding: 0px 7px;">
									<div *ngFor="let guide of recommendations.collections; let i = index;">
										<app-guide-card *ngIf="i < 2" [guide]="guide" [cardsPerRow]="2" (refresh)="onGuideRefresh($event)"></app-guide-card>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div id="discussionTarget" #discussionTarget></div>
						<!--DISCUSSION THREAD-->
						<div class="row Discussion">
							<div class="col-md-12 margin-bottom-20">
								<h3 *ngIf="comments !== undefined">Discussion ({{comments.length}})</h3>
								<h3 *ngIf="comments === undefined">Discussion (0)</h3>
								<form [formGroup]="chatForm" (ngSubmit)="postComment()">
									<mat-form-field class="full-width margin-top-10 margin-bottom-10">
										<input matInput type="text" #description1 maxlength="2000" formControlName="description" placeholder="Post your thoughts on this guide">
										<mat-hint align="end">{{description1.value.length}} / 2000</mat-hint>
									</mat-form-field>
									<mat-checkbox [formControlName]="'isAnnouncement'" *ngIf="userType==='teacher'">Make Announcement</mat-checkbox>
									<button mat-raised-button color="primary" [disabled]="!chatForm.valid" class="pull-right">
										<span *ngIf="!busyDiscussion">Post</span>
										<span *ngIf="busyDiscussion"> </span>
										<ngx-loading [show]="busyDiscussion"></ngx-loading>
									</button>
								</form>
							</div>
							<div class="loading-container" [hidden]="!loadingComments && !initialLoad">
								<ngx-loading [show]="true"></ngx-loading>
							</div>
							<div class="col-md-12">
								<div class="row lighterText" *ngIf="comments !== undefined && comments.length === 0">
									<div class="col-md-12">
										<div class="emptySectionText">Be the first one to start a discussion on this guide..</div>
									</div>
								</div>
								<div class="row" *ngFor="let comment of comments">
									<div *ngIf="comment.isAnnouncement === true">
										<div class="announcement">
											<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuComment" style="float: right;">
												<mat-icon style="color: #cccccc">more_vert</mat-icon>
											</button>
											<mat-menu #menuComment="matMenu">
												<button *ngIf="userType==='participant' && !isMyComment(comment)" mat-menu-item>
													<mat-icon>flag</mat-icon>
													<span>Flag</span>
												</button>
												<button *ngIf="userType==='teacher' || isMyComment(comment)" mat-menu-item (click)="deleteComment(comment)">
													<mat-icon>delete</mat-icon>
													<span>Delete</span>
												</button>
											</mat-menu>
											<div class="margin-bottom-10">
												<b>Announcement on {{comment.createdAt | extractTime: 'Do MMM, YYYY'}}</b>
											</div>
											<div [innerHTML]="comment.description | linkify "></div>
										</div>
									</div>
								</div>
								<div class="margin-top-30"></div>
								<div class="row margin-top-10" *ngFor="let comment of comments">
									<div *ngIf="!comment.isAnnouncement">
										<div class="col-xs-1 margin-top-10" style="text-align: center; color: #cccccc;" [ngClass]="{'hasUpvoted': !!hasUpvoted(comment.upvotes)}">
											<mat-icon *ngIf="!hasUpvoted(comment.upvotes)" style="cursor: pointer; font-size: 38px; left: -7px;" (click)="addCommentUpvote(comment)">arrow_drop_up</mat-icon>
											<mat-icon *ngIf="hasUpvoted(comment.upvotes)" style="font-size: 38px; left: -7px;">arrow_drop_up</mat-icon>
											<div class="commentUpvoteCount">
												{{comment.upvotes.length}}
											</div>
										</div>
										<div class="col-xs-11 commentContainer">
											<div class="row" *ngIf="!editCommentForm || (editCommentForm && editCommentForm.value['id']!==comment.id)">
												<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuComment" style="float: right; margin-right: 15px; margin-top: 15px;">
													<mat-icon style="color: #cccccc">more_vert</mat-icon>
												</button>
												<mat-menu #menuComment="matMenu">
													<button *ngIf="userType==='participant'" mat-menu-item>
														<mat-icon>flag</mat-icon>
														<span>Flag</span>
													</button>
													<button *ngIf="userType==='teacher' || isMyComment(comment)" mat-menu-item (click)="deleteComment(comment)">
														<mat-icon>delete</mat-icon>
														<span>Delete</span>
													</button>
													<button *ngIf="isMyComment(comment)" mat-menu-item (click)="editComment(comment)">
														<mat-icon>edit</mat-icon>
														<span>Edit</span>
													</button>
												</mat-menu>
												<div class="mat-body-1 pre-wrapped">
													<div [innerHTML]="comment.description | linkify "></div>
												</div>
												<div style="margin-top: 10px;" class="" *ngIf="comment.peer.length>0">
													<div class="clickable commentProfilePic">
														<img (click)="openProfilePage(comment.peer[0].id)" *ngIf="!comment.peer[0].profiles[0].picture_url" src="/assets/images/user-placeholder.jpg"
														 alt="A" class="circle-thumb margin-top-5">
														<img (click)="openProfilePage(comment.peer[0].id)" *ngIf="comment.peer[0].profiles[0].picture_url" src="{{envVariable.apiUrl+ comment.peer[0].profiles[0].picture_url + '/100'}}"
														 class="circle-thumb margin-top-5" alt="dp">
													</div>
													<div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
														<div>
															<div>
																<span class="clickable" style="font-weight: 500" (click)="openProfilePage(comment.peer[0].id)">{{comment.peer[0].profiles[0].first_name}}
																	{{comment.peer[0].profiles[0].last_name}}
																</span>&nbsp;&nbsp;
															</div>
														</div>
														<div class="">
															<span class="lighterText">{{comment.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
														</div>
													</div>
												</div>
												<div style="margin-top: 10px;" *ngIf="!(replyForm && replyingToCommentId===comment.id)">
													<a href="javascript:void(0);" (click)="createReplyForm(comment)">
														<mat-icon style="top: 5px;">reply</mat-icon> Reply
													</a>
												</div>
												<div class="col-md-11 col-md-offset-1 margin-top-30" *ngIf="replyForm && replyingToCommentId===comment.id"
												 style="margin-left: -25px;">
													<form [formGroup]="replyForm" (ngSubmit)="postReply(comment)">
														<img src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb margin-top-5">
														<mat-form-field style="margin-left: 15px; width: 88%;">
															<input matInput type="text" #description2 maxlength="2000" formControlName="description" placeholder="Reply to above comment...">
															<mat-hint align="end">{{description2.value.length}} / 2000</mat-hint>
														</mat-form-field>
														<button [disabled]="!replyForm.valid" mat-raised-button class="pull-right margin-top-20" color="primary">
															<span *ngIf="!busyReply">Post</span>
															<ngx-loading [show]="busyReply"></ngx-loading>
														</button>
													</form>
												</div>
											</div>
											<div class="row" *ngIf="editCommentForm && editCommentForm.value['id']===comment.id">
												<div class="col-md-12">
													<form [formGroup]="editCommentForm" (ngSubmit)="updateComment()">
														<mat-form-field class="full-width margin-top-10">
															<input matInput type="text" #description3 maxlength="2000" formControlName="description" placeholder="Post your thoughts on this guide">
															<mat-hint align="end">{{description3.value.length}} / 2000</mat-hint>
														</mat-form-field>
														<mat-checkbox [formControlName]="'isAnnouncement'" *ngIf="userType==='teacher'">Make Announcement</mat-checkbox>
														<button mat-raised-button color="primary" [disabled]="!editCommentForm.valid" class="pull-right">
															<span *ngIf="!busyDiscussion">Update</span>
															<span *ngIf="busyDiscussion"> </span>
															<ngx-loading [show]="busyDiscussion"></ngx-loading>
														</button>
													</form>
												</div>
											</div>
											<div class="row">
												<div class="col-md-11 col-md-offset-1 margin-top-10">
													<div class="row margin-top-20" *ngFor="let reply of comment.replies">
														<div class="row" *ngIf="!editReplyForm || (editReplyForm && editReplyForm.value['id']!==reply.id)">
															<button *ngIf="userType !== 'public'" mat-icon-button [matMenuTriggerFor]="menuReply" style="float: right; margin-right: 15px; margin-top: 15px;">
																<mat-icon style="color: #cccccc;">more_vert</mat-icon>
															</button>
															<mat-menu #menuReply="matMenu">
																<button *ngIf="userType==='participant' && !isMyComment(reply)" mat-menu-item>
																	<mat-icon>flag</mat-icon>
																	<span>Flag</span>
																</button>
																<button *ngIf="userType==='teacher' || isMyComment(reply)" mat-menu-item (click)="deleteReply(reply)">
																	<mat-icon>delete</mat-icon>
																	<span>Delete</span>
																</button>
																<button *ngIf="isMyComment(reply)" mat-menu-item (click)="editReply(reply)">
																	<mat-icon>edit</mat-icon>
																	<span>Edit</span>
																</button>
															</mat-menu>
															<div style="text-align: center; display: inline-block; color: #cccccc; vertical-align: top; margin-right: 25px;margin-top: 10px;  margin-left: -60px;"
															 [ngClass]="{'hasUpvoted': !!hasUpvoted(reply.upvotes)}">
																<mat-icon *ngIf="!hasUpvoted(reply.upvotes)" style="cursor: pointer; font-size: 38px; left: -7px;"
																 (click)="addReplyUpvote(reply)">arrow_drop_up</mat-icon>
																<mat-icon *ngIf="hasUpvoted(reply.upvotes)" style="font-size: 38px; left: -7px;">arrow_drop_up</mat-icon>
																<div>
																	<span *ngIf="reply.upvotes !== undefined">{{reply.upvotes.length}}</span>
																	<span *ngIf="reply.upvotes === undefined">0</span>
																</div>
															</div>
															<div style="width: 90%; display: inline-block;">
																<div class="mat-body-1">
																	<div [innerHTML]="reply.description | linkify "></div>
																</div>
																<div class="" style="margin-top: 10px;" *ngIf="reply.peer && reply.peer.length>0">
																	<div class="clickable" style="float: left; margin-left: 15px;">
																		<img (click)="openProfilePage(reply.peer[0].id)" *ngIf="!reply.peer[0].profiles[0].picture_url" src="/assets/images/user-placeholder.jpg"
																		 alt="A" class="clickable circle-thumb margin-top-5">
																		<img (click)="openProfilePage(reply.peer[0].id)" *ngIf="reply.peer[0].profiles[0].picture_url" src="{{envVariable.apiUrl+ reply.peer[0].profiles[0].picture_url + '/100'}}"
																		 class="clickable circle-thumb margin-top-5" alt="dp">
																	</div>
																	<div style="display: inline-block; margin-left: 5px; margin-top: 3px;">
																		<div>
																			<div>
																				<span class="clickable" style="font-weight: 500" (click)="openProfilePage(reply.peer[0].id)">{{reply.peer[0].profiles[0].first_name}}
																					{{reply.peer[0].profiles[0].last_name}}
																				</span>&nbsp;&nbsp;
																			</div>
																		</div>
																		<div class="">
																			<span class="lighterText">{{reply.createdAt |extractTime:'Do MMMM, YYYY'}}</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row" *ngIf="editReplyForm && editReplyForm.value['id']===reply.id">
															<form [formGroup]="editReplyForm" (ngSubmit)="updateReply()">
																<img src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb margin-top-5">
																<mat-form-field style="margin-left: 15px; width: 88%;">
																	<input matInput type="text" #description4 maxlength="2000" formControlName="description" placeholder="Reply to above comment...">
																	<mat-hint align="end">{{description4.value.length}} / 2000</mat-hint>
																</mat-form-field>
																<button [disabled]="!editReplyForm.valid" mat-raised-button class="pull-right" color="primary">
																	<span *ngIf="!busyReply">update</span>
																	<ngx-loading [show]="busyReply"></ngx-loading>
																</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<hr class="margin-top-30">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <hr *ngIf="(userType==='teacher' || userType==='participant') && comments !== undefined && comments.length === 0"> -->
					</div>

					<!--RIGHT SIDEBAR-->
					<div class="col-md-5 col-md-offset-1 right-content right-content-sticky hide-small">
						<!--CORESTACK LAB-->
						<div *ngIf="userType==='participant' || userType === 'teacher'">
							<div class="row">
								<div class="col-md-12 margin-top-40">
									<div class="mat-display-2">
										Introducing Code Labs
									</div>
								</div>
								<div class="col-md-12 margin-top-30">
									<div class="mat-caption">
										Highlights:
									</div>
									<br>
									<br>
									<ul>
										<li>No need for complex setups to start learning blockchain coding.</li>
										<li>Write code in your browser and see results instantly.</li>
										<li>Share your code with peers and get reviews from the community.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="userType === 'public'">
							<div class="col-md-12">
								<!--&lt;!&ndash;HEADLINE&ndash;&gt;
								<div class="row padding-top-20">
									<div class="col-md-12">
										<h3>
											{{guide.headline | titlecase}}
										</h3>
									</div>
								</div>
								<hr style="margin-bottom: 10px;">-->
								<div class="row">
									<div class="col-md-12 padding-top-20">
										<div class="mat-display-2">
											Introducing
											<br>
											Code Labs
										</div>
									</div>
									<div class="col-md-12">
										<div class="mat-body-2">
											Highlights:
										</div>
										<ul>
											<li>No need for complex setups to start learning blockchain coding.</li>
											<li>Write code in your browser and see results instantly.</li>
											<li>Share your code with peers and get reviews from the community.</li>
										</ul>
									</div>
								</div>
								<hr style="margin-bottom: 10px;">
								<!--PRICE SECTION-->
								<div class="row" *ngIf="userType === 'public'">
									<div class="col-xs-8">
										<div class="row">
											<div class="col-md-12">
												<h2 style="display: inline-block; margin-bottom: -1px;">{{guide.price | convertCurrency:guide.currency | async}}
												</h2> &nbsp; per person
												<br />
												<p-rating [ngModel]="userRating" readonly="true" stars="5" [cancel]="false" style="font-size: 13px; float: left;"></p-rating>
												&nbsp;&nbsp;
												<span *ngIf="reviews" style="font-weight: 400; float: left; margin-left: 10px;">{{reviews.length}}
													reviews</span>
												<span *ngIf="!reviews" style="font-weight: 400; float: left; margin-left: 10px;">0 reviews</span>
											</div>
											<div class="col-md-12">
												<!-- <span matTooltip="Earn up to {{guide.academicGyan + guide.nonAcademicGyan}} Gyan from this guide" style="font-weight: 700; vertical-align: middle;">
													Earn
													<i class="fab fa-ethereum lightText"></i> {{guide.academicGyan + guide.nonAcademicGyan}}
												</span> -->
												<!--<mat-icon style="font-size: 5px; top: 0px; height: 20px; width: 7px;margin-left: 3px;">fiber_manual_record</mat-icon>
												<span matTooltip="KARMA required to be burned for participation" style="font-weight: 700; vertical-align: middle;">
													<i class="fas fa-fire lightText"></i> {{(guide.academicGyan + guide.nonAcademicGyan) | convertCrypto : 'GYAN' : 'KARMA' | async | shortNumber}}
												</span>
												<mat-icon style="font-size: 5px; top: 0px; height: 20px; width: 7px;margin-left: 3px;">fiber_manual_record</mat-icon>
												<span class="mat-border-button gyanBubbleCard" style="margin-left: 0px !important;" matTooltip="Pending payout {{getPredictedGyanEarn(guide) | convertCurrency : 'GYAN' | async}} ({{getPredictedGyanEarn(guide)}} GYAN) in 7 days">
													<div style="font-size: 11px;">{{getPredictedGyanEarn(guide) | convertCurrency : 'GYAN' | async}}</div>
												</span>-->
											</div>
										</div>
									</div>
									<div class="col-xs-4" style="padding-top: 9px; text-align: right">
										<span>
											<button mat-raised-button (click)="signUp()" color="primary">Start Lab</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<hr class="margin-top-10 margin-bottom-10" *ngIf="userType === 'public'">
						<div class="row" style="color: #777777" *ngIf="userType === 'public'">
							<div class="col-xs-4" style="cursor: pointer;">
								<a (click)="openInviteFriendsDialog()">Invite friends</a>
							</div>
							<div class="col-xs-4 clickable" (click)="saveBookmark()" style="cursor: pointer;">
								<ngx-loading [show]="bookmarking"></ngx-loading>
								<span [hidden]="bookmarking">
									<mat-icon [ngClass]="{'hasBookmarked': hasBookmarked}" style="font-size: 1rem; top: 2px;">bookmark</mat-icon>
									<span *ngIf="!hasBookmarked">Save</span>
									<span *ngIf="hasBookmarked">Saved</span>
								</span>
							</div>
							<div class="col-xs-4" style="text-align: right; font-size: 18px;">
								<a shareButton="facebook" href="javascript:;" [url]="inviteLink">
									<i class="fab fa-facebook-square"></i>
								</a>&nbsp;
								<a shareButton="linkedin" href="javascript:;" [url]="inviteLink">
									<i class="fab fa-linkedin"></i>
								</a>&nbsp;
								<a shareButton="twitter" href="javascript:;" [url]="inviteLink">
									<i class="fab fa-twitter-square"></i>
								</a>
							</div>
						</div>
						<div class="row" *ngIf="userType === 'public'">
							<div class="col-md-12">
								<hr class="margin-top-10 margin-bottom-10">
								<div class="row">
									<div class="col-xs-5">
										<div class="mat-body-2">
											Need to know
										</div>
									</div>
									<div class="col-xs-7 margin-top-8">
										<b>{{guide.difficultyLevel}} level</b>
										<div class="mat-caption pre-wrapped" [innerHTML]="guide.notes| linkify"></div>
									</div>
								</div>
								<div class=" row margin-top-10">
									<div class="col-xs-5">
										<div class="mat-body-2">Cancellation policy</div>
									</div>
									<div class="col-xs-7 margin-top-10">
										<p>Non refundable</p>
									</div>
								</div>
								<hr class="margin-top-10 margin-bottom-10">
							</div>
						</div>
						<!--<div class="row padding-top-20 padding-bottom-20" *ngIf="userType === 'public'">
							<div class="col-xs-12">
								<h2>Want to know more?</h2>
								<div class="lightText">Drop us a message and we'll get back immediately.</div>
							</div>
							<div class="col-xs-12 margin-top-30">
								<form [formGroup]="contactUsForm">
									<div class="row">
										<div class="col-xs-12">
											<mat-form-field class="pb-block">
												<input matInput type="text" placeholder="Name" formControlName="first_name">
											</mat-form-field>
										</div>
										&lt;!&ndash;<div class="col-xs-12">
											<mat-form-field class="pb-block">
												<input matInput type="text" placeholder="Last Name" formControlName="last_name">
											</mat-form-field>
										</div>&ndash;&gt;
										<div class="col-xs-12">
											<mat-form-field class="pb-block ">
												<input matInput type="text" placeholder="Email" formControlName="email">
											</mat-form-field>
										</div>
										<div class="col-xs-12">
											<mat-form-field class="pb-block">
												<textarea matInput rows="1" matTextareaAutosize placeholder="Message" formControlName="message"></textarea>
											</mat-form-field>
										</div>
										<div class="col-xs-6">
											<mat-form-field class="pb-block">
												<input matInput type="number" placeholder="Phone Number" formControlName="phone">
											</mat-form-field>
										</div>
										<div class="col-xs-6">
											<button mat-button color="primary" class="mat-border-button pb-block" type="submit" (click)="createGuestContacts()"
											 style="float: right;" [disabled]="!contactUsForm.valid">
												<span>Submit</span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<hr class="margin-top-10 margin-bottom-10"> -->
						<div class="row margin-bottom-20" *ngIf="userType === 'public'">
							<div class="col-xs-12">
								<i class="fa fa-headphones"></i>&nbsp;&nbsp; 24x7 support at
								<a class="pull-right" href="tel:+917021517299">+91 7021-517-299</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottomButton" *ngIf="userType === 'public'">
		<div class="col-xs-8" style="text-align: left;">
			<div class="row">
				<div class="col-md-12">
					<h2 style="display: inline-block; margin-bottom: -1px;">{{guide.price | convertCurrency: guide.currency |async}}</h2>
					&nbsp; per person
					<br />
					<p-rating [ngModel]="userRating" readonly="true" stars="5" [cancel]="false" [iconOffStyle]="{'color': '#fff'}"
					 style="font-size: 13px; float: left;"></p-rating>
					&nbsp;&nbsp;
					<span *ngIf="reviews" style="font-weight: 400; float: left; margin-left: 10px;">{{reviews.length}} reviews</span>
					<span *ngIf="!reviews" style="font-weight: 400; float: left; margin-left: 10px;">0 reviews</span>
				</div>
				<div class="col-md-12">
					<span matTooltip="Earn up to {{guide.academicGyan + guide.nonAcademicGyan}} Gyan from this guide" style="font-weight: 700; vertical-align: middle;">
						Earn
						<i class="fab fa-ethereum"></i> {{guide.academicGyan + guide.nonAcademicGyan}}
					</span>
					<!--<mat-icon style="font-size: 5px; top: 0px; height: 20px; width: 7px;margin-left: 3px;">fiber_manual_record</mat-icon>
					<span matTooltip="KARMA required to be burned for participation" style="font-weight: 700; vertical-align: middle;">
						<i class="fas fa-fire"></i> {{(guide.academicGyan + guide.nonAcademicGyan) | convertCrypto : 'GYAN' : 'KARMA' | async | shortNumber}}
					</span>
					<mat-icon style="font-size: 5px; top: 0px; height: 20px; width: 7px;margin-left: 3px;">fiber_manual_record</mat-icon>
					<span class="mat-border-button gyanBubbleCard" style="margin-left: 0px !important;" matTooltip="Pending payout {{getPredictedGyanEarn(guide) | convertCurrency : 'GYAN' | async}} ({{getPredictedGyanEarn(guide)}} GYAN) in 7 days">
						<div style="font-size: 11px;">{{getPredictedGyanEarn(guide) | convertCurrency : 'GYAN' | async}}</div>
					</span>-->
				</div>
			</div>
		</div>
		<div class="col-xs-4" style="padding-top: 9px;">
			<span>
				<button mat-raised-button (click)="signUp()" color="primary">Start Lab</button>
			</span>
			<!--<span *ngIf="userId === undefined || userId.length <= 5" matTooltip="Create an account now to join this guide">
				<button mat-raised-button color="primary" [disabled]="true">See Dates</button>
			</span>-->
		</div>
	</div>
</div>
