.provideId.mat-button{
	border: 1.5px solid #33bd9e;
	color: #33bd9e;
}
.primaryColor{
	color: #33bd9e;
}

.consoleProfileVerificationContainer {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.consoleProfileVerificationContainer {
		padding: 0 20px;
		margin-right: 0;
	}

}
