<div class="topics-section" style="overflow: hidden; margin-bottom: 40px;">
	<span class="floating-button-left" *ngIf="availableTopics && availableTopics.length > 0" >
		<button color="none" (click)="translate(true)" mat-mini-fab>
			<mat-icon>keyboard_arrow_left </mat-icon>
		</button>
	</span>
	<div class="topic-bar" [ngStyle]="transformStyle">
		<div *ngIf="availableTopics && availableTopics.length > 0" >
			<div class="topic-div" *ngFor="let topicObj of availableTopics;let i =index" id="topic{{i}}">
				<button mat-button class="mat-border-button" #topicButton (click)="topicClicked(i)">
					<div class="mat-button-table">
						<img src="{{envVariable.apiUrl + topicObj.topic.imageUrl + '/100'}}" alt="logo" (error)="_collectionService.topicImgErrorHandler($event)">
						<h3 style="white-space: initial;">{{topicObj.topic.name | titlecase}}</h3>
					</div>
				</button>
			</div>
		</div>
		<div *ngIf="!availableTopics || availableTopics.length === 0" >
			<div class="lightText margin-top-20 margin-bottom-20">
				There are no available topics for this activity
			</div>
		</div>
	</div>
	<span class="floating-button-right" *ngIf="availableTopics && availableTopics.length > 0" >
		<button color="none" (click)="translate(false)" mat-mini-fab>
			<mat-icon>keyboard_arrow_right </mat-icon>
		</button>
	</span>
</div>
