<div class="main-content scholarshipPage">
	<div class="loading-container" [hidden]="!loadingCertificate" style="margin-left: 8.5%; margin-top: 3%;">
		<ngx-loading [show]="true"></ngx-loading>
	</div>
	<div *ngIf="certificate" class="row padding-top-50 padding-bottom-50">
		<div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 padding-top-30 padding-bottom-30">
			<div class="row">
				<div class="col-xs-12">
					<mat-card>
						<div [innerHTML]="certificate.displayHtml | safe: 'html'"></div>
					</mat-card>
				</div>
			</div>
			<div class="row padding-top-50 ">
				<div class="col-xs-2">
					<span class="lightText">
						Recipient
					</span>
					<br>
					<b>
						{{certificate.recipient.profile.first_name + ' '+ certificate.recipient.profile.last_name |titlecase}}
					</b>
				</div>
				<div class="col-xs-2">
					<span class="lightText">
						Issue Date
					</span>
					<br>
					<b>{{certificate.issuedOn | date:'mediumDate' }}</b>
				</div>
				<div class="col-xs-2">
					<span class="lightText">
						Issuer
					</span>
					<br>
					<b>{{certificate.issuer.profile.first_name+' '+certificate.issuer.profile.last_name |titlecase}}</b>
				</div>
				<div class="col-xs-2">
					<div *ngIf="certificate.signature.anchors[0].sourceId">
						<span class="lightText">
							Transaction ID
						</span>
						<br>
						<b>{{certificate.signature.anchors[0].sourceId}}</b>
					</div>
				</div>
				<div class="col-xs-2">
					<button mat-raised-button color="primary" (click)="verify()">
						Verify
					</button>
				</div>
				<div class="col-xs-2">
					<span class="lightText">
						Verified by
					</span>
					<img style="width: 100px" src="assets/images/one0x.png" alt="logo">
				</div>
			</div>
		</div>
	</div>
</div>
