<div mat-dialog-content class="dialog-container">
  <div class="row">
    <div class="col-xs-12 padding-top-10 padding-bottom-10">
	    <button tabIndex="-1" mat-icon-button class="dialog-close-button" (click)="dialogRef.close()">
        <mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
      </button>
      <div class="pull-right clickable" *ngIf="data.userType ==='teacher' || data.userType==='participant'"
        color="primary" (click)="openContent()"><mat-icon>open_in_new</mat-icon></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-content-video [data]="data"></app-content-video>
    </div>
  </div>
  <div class="mat-dialog-focus-trap"></div>
</div>
