.large-icon {
	font-size: 13vw;
}

.search-content{
    height: 47vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.stepper-container{
	height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;    
}