<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<mat-horizontal-stepper *ngIf="!mobileQuery.matches" #stepper>
					<mat-step>
						<ng-template matStepLabel>Connect</ng-template>
						<div class="row stepper-container padding-top-30">
							<div class="col-xs-3" *ngFor="let platform of platforms">
								<mat-card>
									<i class="fab fa-{{platform.name}} large-icon"></i>
									<mat-card-actions class="center">
										<a *ngIf="!platform.connected" mat-button href="{{envVariable.apiUrl}}/auth/{{platform.name.toLowerCase()}}?returnTo={{currentPath}}">Connect</a>
										<a *ngIf="platform.connected" mat-button href="{{envVariable.apiUrl}}/auth/{{platform.name.toLowerCase()}}?returnTo={{currentPath}}">Already Connected</a>
									</mat-card-actions>
								</mat-card>
							</div>
						</div>
					</mat-step>
					<mat-step>
						<ng-template matStepLabel>Invite</ng-template>
						<div class="row stepper-container">
							<div class="col-xs-12">
								<div class="row padding-top-30">
									<div class="col-xs-12">
										<mat-form-field class="pb-block">
											<input [formControl]="searchForm" matInput placeholder="Favorite food">
										</mat-form-field>
									</div>
								</div>
								<div class="search-content">
									<div class="row">
										<div class="col-xs-12">
											<span *ngFor="let contact of contacts">
												<div *ngIf="contact.selected" class="row">
													<div class="col-xs-12">
														<mat-card>
															<div class="row">
																<div class="col-xs-1">
																	<mat-checkbox [(ngModel)]="contact.selected"></mat-checkbox>
																</div>
																<div class="col-xs-1">
																	<img src="{{contact.imageUrl}}">
																</div>
																<div class="col-xs-5">
																	{{contact.name}}
																</div>
																<div class="col-xs-5">
																	{{contact.email}}
																</div>
															</div>
														</mat-card>
													</div>
												</div>
											</span>
											<span *ngFor="let contact of contacts">
												<div *ngIf="!contact.selected" class="row">
													<div class="col-xs-12">
														<mat-card>
															<div class="row">
																<div class="col-xs-1">
																	<mat-checkbox [(ngModel)]="contact.selected"></mat-checkbox>
																</div>
																<div class="col-xs-1">
																	<img src="{{contact.imageUrl}}">
																</div>
																<div class="col-xs-5">
																	{{contact.name}}
																</div>
																<div class="col-xs-5">
																	{{contact.email}}
																</div>
															</div>
														</mat-card>
													</div>
												</div>
											</span>

										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-step>
					<mat-step>
						<ng-template matStepLabel>Finish</ng-template>
						<div class="row stepper-container">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-12">
										<h3>Sending Invites to</h3>
									</div>
								</div>
								<div class="row" *ngFor="let contact of contacts">
									<div *ngIf="contact.selected" class="row">
										<div class="col-xs-12">
											<mat-card>
												<div class="row">
													<div class="col-xs-1">
														<img src="{{contact.imageUrl}}">
													</div>
													<div class="col-xs-5">
														{{contact.name}}
													</div>
													<div class="col-xs-5">
														{{contact.email}}
													</div>
												</div>
											</mat-card>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-step>
				</mat-horizontal-stepper>
				<div class="row padding-top-10 padding-bottom-20">
					<div class="col-xs-12">
						<button (click)="previous()" mat-raised-button color="accent">
							Previous
						</button>
						<button class="pull-right" (click)="next()" mat-raised-button color="accent">
							Next
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>