.floating-button {
  position: absolute;
  background: white;
  right: 50px;
  top: 13px;
}
.code-lab {
  background: #ffffff !important;
  padding-top: 2vh;
}

.credentials-box {
  position: relative;
  display: inline-flex;
  height: 55px;
  width: 380px;
  padding-left: 15px;
  padding-top: 10p;
  margin-top: 10p;
  top: 8px;
}

.mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}
