.floating-button {
	position: absolute;
	background: white;
	right: 50px;
	top: 13px;
}
.code-lab {
	background: #ffffff !important;
	padding-top: 2vh;
}

.credentials-box {
	position: relative;
	display: inline-flex;
	height: 55px;
	width: 265px;
	margin-left: 35px;
	padding: 5px 0px;
	top: 8px;
}

.labSupportButtons {
	position: relative;
	top: 10px;
}

.mat-form-field-infix {
	padding: 0.5em 0 0.5em 0 !important;
}
