<div class="code-lab" #codeContainer>
	<div class="row">
		<div class="col-xs-12">
			<mat-button-toggle-group (change)="gotoTab($event)">
				<mat-button-toggle class="mat-border-button" style="margin-right: 10px; margin-bottom: 8px;" value="code">
					<mat-icon style="padding-right: 10px;">code</mat-icon>Code
				</mat-button-toggle>
				<mat-button-toggle class="mat-border-button" style="margin-bottom: 8px;" value="compile">
					<mat-icon style="padding-right: 10px;">tab</mat-icon>Compile & Deploy
				</mat-button-toggle>
			</mat-button-toggle-group>
			<div class="credentials-box" *ngIf="selectedTab==='code'">
				<mat-form-field style="width: 50%;" class="clickable margin-right-10 no-underline" [ngxClipboard]="iceUsername" (cbOnSuccess)="onCopySuccess('Username')">
					<mat-label>Username</mat-label>
					<input #iceUsername matInput [readOnly]="true" value="{{ice_coder_settings.username}}">
				</mat-form-field>
				<mat-form-field style="width: 50%;" class="clickable no-underline" [ngxClipboard]="icePassword" (cbOnSuccess)="onCopySuccess('Password')">
					<mat-label>Password</mat-label>
					<input #icePassword matInput [readOnly]="true" value="{{ice_coder_settings.password}}">
				</mat-form-field>
			</div>
			<div class="credentials-box" *ngIf="selectedTab==='compile'">
				<mat-form-field style="width: 50%;" class="clickable no-underline" [ngxClipboard]="terminalUsername" (cbOnSuccess)="onCopySuccess('Username')">
					<mat-label>Username</mat-label>
					<input #terminalUsername matInput [readOnly]="true" value="{{terminal_settings.username}}">
				</mat-form-field>
				<mat-form-field style="width: 50%;" class="clickable no-underline" [ngxClipboard]="terminalPassword" (cbOnSuccess)="onCopySuccess('Password')">
					<mat-label>Password</mat-label>
					<input #terminalPassword matInput [readOnly]="true" value="{{terminal_settings.password}}">
				</mat-form-field>
			</div>
			<button class="labSupportButtons pull-right lightText" mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>menu</mat-icon>
			</button>
			<button class="labSupportButtons pull-right lightText" mat-icon-button (click)="refreshPage()">
				<mat-icon>refresh</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="refreshPage()">
					<mat-icon>refresh</mat-icon> Reload Tab
				</button>
				<button mat-menu-item (click)="openKeysDialog()">
					<mat-icon>vpn_key</mat-icon> Wallet Accounts
				</button>
			</mat-menu>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div [hidden]="selectedTab!=='code'" *ngIf="ice_coder_settings">
				<iframe id="iframe-ice-coder" style="height:83vh;width: -webkit-fill-available; border: 0;" [src]="ice_coder_settings.auth_url| safe:'resourceUrl'">
				</iframe>
			</div>
			<div [hidden]="selectedTab!=='compile'" *ngIf="terminal_settings">
				<iframe id="iframe-terminal" style="height:83vh;width: -webkit-fill-available; border: 0; padding: 20px; background: #111;" [src]="terminal_settings.auth_url| safe:'resourceUrl'">
				</iframe>
			</div>
		</div>
	</div>
</div>
