<div class="main-content margin-bottom-50">
	<div style="width: 100%; background: url('../../assets/images/privateBetaCover.jpg'); background-size: cover; min-height: 92vh;">
		<div class="row" style="padding-top: 12.5%;">
			<div class="col-xs-10 col-xs-offset-1" style="text-align: center;">
				<div class="mat-display-2" style="color: #333333; margin-bottom: 20px;">private beta is now live</div>
				<button mat-fab color="primary" style="margin-top: 27%;"><i class="fa fa-arrow-down"></i> </button>
			</div>
		</div>
	</div>
	<div class="row margin-top-80">
		<div class="col-xs-10 col-xs-offset-1" style="text-align: center;">
			<div class="mat-display-2">Are you an organization with more than 100 students?</div>
			<div class="mat-headline">Integrate with Blockchain University and adopt the world's most secure,<br/> self governed and instantly verifiable knowledge tracking framework.</div>
			<button mat-button mat-raised-button color="primary" style="margin-top: 40px;" (click)="openCalendly()">Schedule a call now to know more</button>
		</div>
	</div>
</div>
