<div mat-dialog-content class="dialog-container">
    <div class="row">
        <div class="col-md-12 collectionContent">
            <button disableRipple mat-button style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;" (click)="closeDialog()">
                <mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
            </button>
            <div class="mat-display-1" style="margin-bottom: 20px;">
                <span>Attendees ({{data.attendies? data.attendies.length : '0'}})</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="loading-container" [hidden]="!loadingRsvpDetail">
            <ngx-loading [show]="true"></ngx-loading>
        </div>
    </div>
    <div *ngIf="!loadingRsvpDetail">
        <div *ngIf="data.attendies.length === 0">
            <span class="mat-caption">None of your students have RSVP'd to this activity yet.</span>
            <br/>
            <span class="mat-caption" *ngIf="data.userType === 'teacher'">Once students RSVP to an activity you will be able to mark their presence here.</span>
        </div>
        <div *ngIf="data.attendies.length > 0">
            <div class="row margin-bottom-20" style="margin-top: -10px">
                <div class="mat-body-2 col-md-8">Participants</div>
                <div *ngIf="data.userType === 'teacher'" class="mat-body-2 col-md-2">Absent</div>
	            <div *ngIf="data.userType === 'teacher'" class="mat-body-2 col-md-2">Present</div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div>
                <div class="row" *ngFor="let attendie of data.attendies">
                    <div *ngIf="attendie.profiles">
                        <div class="col-md-8">
                            <div class="row margin-bottom-10">
                                <div class="col-md-2 vcenter">
	                                <app-profile-popup [peer]="attendie"></app-profile-popup>
                                </div>
                                <div class="col-md-9 vcenter">
                                    <b>{{attendie.profiles[0].first_name +' '+ attendie.profiles[0].last_name | ucwords }}</b>
                                    <br/>
                                    <span class="mat-caption" *ngIf="attendie.profiles[0].headline">{{attendie.profiles[0].headline | ucwords}}</span>
                                </div>
                            </div>
                        </div>
                        <mat-radio-group>
                            <div class="col-md-2">
                                <mat-radio-button *ngIf="data.userType === 'teacher'" value="0" (click)="markPresence(attendie, 0)" [checked]="attendie.isPresent === false" color="primary"></mat-radio-button>
                            </div>
                            <div class="col-md-2">
                                <mat-radio-button *ngIf="data.userType === 'teacher'" value="1" class="col-md-offset-5" (click)="markPresence(attendie, 1)" [checked]="attendie.isPresent === true" color="primary"></mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
