.mat-button{
    border: 1.5px solid #33bd9e;
    color: #33bd9e;
  }

  a{
    cursor:pointer;
  }

  .table-header{
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
  }

  .table-data {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);    
    padding-top: 10px; 
    padding-bottom: 10px;
  }

  