<div class="main-content">
	<div class="row margin-top-40 margin-bottom-40">
		<div class="col-md-10 col-md-offset-1">
			<p>
				Host a Class on Peerbuds
				
				Earn money giving people the best online learning experience.
				
				What are Peerbuds Classes?
				
				
				Peerbuds Classes are interactive online classes designed and led by peers from our global community. While not everyone can attend our in-person learning experiences, they should have access to the same experience online. Classes go beyond creating a typical video course by allowing you to provide interactive live sessions for the cohort your teaching. They also consist of projects, videos, assignments, and a place for your cohort to discuss and stay connected on the Peerbuds Platform.
				
				
				SHARE YOUR KNOWLEDGE WITH THE WORLD
				
				Everyone has something to teach and learn. You have the opportunity and chance to share your expertise, skills, and ideas with peers who are looking to learn something new. We’ll help you set up an online class in no time.
				
				Meet like-minded peers
				
				Connect with a community of peers from around the world who share your passion for learning and teaching others. There’s a good chance you’ll make some new friends and share some new ideas to collaborate on.
				
				Host on your terms
				
				Create a schedule that’s best for you, whether you host daily, weekly, or monthly. Choose your price and group size, and manage all the details on the go with a convenient mobile app
				
				Start a business with no upfront costs
				We give you your own page on Peerbuds that peers can use to sign up for your class. Peerbuds handles payment processing, and provides 24-hour customer service.
				
				WHAT KIND OF PEOPLE HOST?
				
				Hosts are techies, multilingual speakers, musicians, dancers, chefs, and anyone else who have something to teach through interactive online sessions and projects that give their fellow peers the chance to learn beyond a traditional classroom. They make everyone feel welcome, and allow everyone to let go of their anxieties of learning something new, and connecting with others.
				
				HOW to Get Started
				
				Here’s a brief overview of the process to host a class on Peerbuds.
				
				Learn and see if you're a good fit
				Review our quality standards and see if your class is a fit for Peerbuds.
				
				Creating Your Class Page
				Create a page with descriptions, photos, videos, and other details.
				
				Submit to Peerbuds for review
				If your class meets our quality standards, you can begin hosting.
			</p>
		</div>
	</div>
</div>
