<div class="dialog-container">
  <h1 mat-dialog-title>Delete Account</h1>
  <div class="row">
    <div class="col-xs-12">
      <p>Enter your password to delete this account</p>
      <mat-form-field class="pb-block">
        <input [(ngModel)]="password" matInput type="password">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="checkAndConfirm()" color="warn" tabindex="2">Yes, Delete</button>
    <button mat-button [mat-dialog-close] tabindex="-1">Dismiss</button>
  </div>
</div>