<div mat-dialog-content class="dialog-container">
	<div class="row">
		<div class="col-md-12 collectionContent">
			<button disableRipple mat-button [mat-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<button disableRipple mat-button *ngIf="isEdit" style="min-width: 20px;padding: 0px 10px 0px 0px;vertical-align: middle;"
			 (click)="dialogRef.close()">
				<mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
			</button>
			<div>
				<div class="mat-display-1" style="margin-bottom: 20px;">{{getAddOrEditText()}} live activity for {{itenaryForm.value.date | date: 'MMM dd, y'}} </div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div *ngIf="lastIndex>-1">
		<form #onlineContentForm [formGroup]="itenaryForm.controls['contents'].controls[lastIndex]">
			<div>
				<div class="row">
					<div class="col-sm-12 margin-bottom-30">
						<mat-form-field class="pb-block margin-top-20 margin-bot-20">
							<input matInput #title formControlName="title" placeholder="Title" class="title" [required]="true">
						</mat-form-field>

						<div formGroupName="schedule" class="row">
							<div class="col-md-4 col-xs-6">
								<mat-form-field class="timeInput margin-top-20 margin-bot-20">
									<input matInput #startTime type="time" atp-time-picker placeholder="Start Time" formControlName="startTime" arrowStyle="{'background': '#33bd9e', 'color': 'white'}"
									/>
								</mat-form-field>
							</div>
							<div class="col-md-4 col-xs-6">
								<mat-form-field class="timeInput margin-top-20 margin-bot-20">
									<input matInput type="time" #endTime atp-time-picker placeholder="End Time" formControlName="endTime" arrowStyle="{'background': '#33bd9e', 'color': 'white'}"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="form-group margin-top-20">
							<label class="title">Upload a photo:</label>
							<div class="upload-image-section imageHolder">
								<div class="loading-container" [hidden]="!uploadingImage">
									<ngx-loading [show]="true"></ngx-loading>
								</div>
								<p-fileUpload auto="auto" *ngIf="!uploadingImage" #fubauto name="image" customUpload="true" (uploadHandler)="uploadImage($event)"
								 maxFileSize="10000000" accept="image/*" chooseLabel="Browse">
									<ng-template pTemplate="toolbar">
										<div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 1 image</div>
									</ng-template>
								</p-fileUpload>
								<h5>Max File Size
									<b>10MB</b>
								</h5>
								<div *ngIf="image.value" class="col-md-6 padding-left-0 pic delete imageContainer">
									<img src="{{envVariable.apiUrl + image.value}}" width="150" style="border: 0.5px solid #ccc; position: relative; top: -20px;">
									<mat-icon (click)="deleteFromContainer(image.value, 'image')" class="delete-button">close</mat-icon>

								</div>
							</div>
						</div>
						<mat-form-field class="pb-block" style="margin-top: 20px; margin-bottom: 20px">
							<textarea matInput #description maxlength="2000" rows="1" matTextareaAutosize formControlName="description" placeholder="What will we do?"
							 [required]="true" class="title"></textarea>
							<mat-hint align="end">{{description.value.length}} / 2000</mat-hint>
						</mat-form-field>
						<mat-form-field class="pb-block" style="margin-top: 20px; margin-bottom: 20px">
							<textarea matInput #prerequisites maxlength="1000" rows="1" matTextareaAutosize formControlName="prerequisites" placeholder="What do learners need to know?"
							 class="title" [required]="true"></textarea>
							<mat-hint align="end">{{prerequisites.value.length}} / 1000</mat-hint>
						</mat-form-field>
						<div class="form-group">
							<label class="display-block title">Add supporting material</label>
							<app-upload-file (uploaded)="addAttachmentUrl($event)"></app-upload-file>
							<h5>Max File Size
								<b>1000MB</b>
							</h5>
							<div *ngIf="attachmentUrls.length" class="pic delete">
								<div *ngFor="let file of attachmentUrls" class="col-md-6 padding-left-0 imageContainer">
									<img *ngIf="file.type.includes('image')" src="{{envVariable.apiUrl + file.url}}" width="150" style="border: 0.5px solid #ccc; position: relative;">
									<mat-icon *ngIf="file.type.includes('image')" (click)="deleteFromContainer(file.url, 'file')" class="delete-image">close</mat-icon>
									<div *ngIf="file.type.includes('application')" class="uploaded_file">
										<a href="{{envVariable.apiUrl + file.url}}" target="_blank">{{file.originalFilename}}</a>
									</div>
									<mat-icon *ngIf="file.type.includes('application')" (click)="deleteFromContainer(file.url, 'file')" class="delete-file">close</mat-icon>
									<video *ngIf="file.type.includes('video')" controls width="150" style="border: 0.5px solid #ccc" preload="metadata">
										<source src="{{envVariable.apiUrl + file.url}}">
									</video>
									<mat-icon *ngIf="file.type.includes('video')" (click)="deleteFromContainer(file.url, '')" class="delete-button">close</mat-icon>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<mat-dialog-actions>
				<span *ngIf="!isEdit" matTooltip="Please enter all details" [matTooltipDisabled]="title.value.length!==0 || description.value.length !== 0 || prerequisites.value.length !== 0 || startTime.value.length !== 0 || endTime.value.length !== 0">
					<button mat-raised-button [mat-dialog-close]="getSaveDialogData()" color="primary" [disabled]="title.value.length === 0 || description.value.length === 0 || prerequisites.value.length === 0 || startTime.value.length === 0 || endTime.value.length === 0">Save</button> &emsp;
				</span>
				<button mat-raised-button [mat-dialog-close]="getEditDialogData()" color="primary" *ngIf="isEdit">Update</button> &emsp;
				<button mat-button [mat-dialog-close]="getDiscardDialogData()" *ngIf="!isEdit">Discard</button>
				<button mat-button [mat-dialog-close]="getDeleteDialogData()" *ngIf="isEdit">Delete</button>
			</mat-dialog-actions>
		</form>
	</div>
</div>