<div class="dialog-container">
    <div class="row padding-bottom-10" style="margin-right: -40px;">
        <button class="pull-right" tabindex="-1" [mat-dialog-close]="false" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-horizontal-stepper class="hide-header" #stepper>
        <mat-step>
            <div class="row">
                <div class="col-xs-12 prompt lightText">
                    <span class="mat-subheading-2">How to quickly get a good answer:</span>
                    <ul>
                        <li> Keep your question short and to the point
                        </li>
                        <li> Check for grammar or spelling errors
                        </li>
                        <li> Phrase it like a question
                        </li>
                        <li> Make sure it hasn't been asked before
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 padding-left-0" *ngIf="loggedInUser && loggedInUser.profiles" style="margin-bottom: -20px;">
                    <div class="clickable ask-thumb" style="float: left; ">
                        <app-profile-popup [peer]="loggedInUser" [size]="'small'"></app-profile-popup>
                    </div>
                    <div style="display: inline-block; margin-left: 5px; margin-top: 9px;">
                        <span class="clickable mat-body-2 lightText" (click)="_profileService.viewProfile(loggedInUser)">{{loggedInUser.profiles[0].first_name
                            | ucwords}} {{loggedInUser.profiles[0].last_name | ucwords}}</span>&nbsp;&nbsp;
                    </div>
                </div>
                <form [formGroup]="questionForm" class="search-form" style="margin: 0px;" autocomplete="off">
                    <mat-form-field [floatLabel]="'never'" class="full-width no- margin-top-10 darker-text question-form-field">
                        <input tabindex="1" matInput formControlName="text" placeholder="Start your question with 'What', 'How', or 'Why', etc"
                            required>
                    </mat-form-field>
                </form>
            </div>
            <div class="row" style="height: 75px;">
                <div class="col-xs-12 search-form padding-left-0 margin-left-0">
                    <mat-divider></mat-divider>
                    <mat-form-field class="pb-block" floatLabel="never">
                        <mat-chip-list #chipList>
	                        <i class="fa fa-link lightText"></i>
                            <mat-chip *ngFor="let community of selectedCommunities" [selectable]="selectable"
                                [removable]="removable" (removed)="removeCommunity(community)">
                                {{community.title}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="&emsp;Select communities this question should be posted to"
                                #communityInput [formControl]="myControl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                [matChipInputAddOnBlur]="addOnBlur">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearchOptionClicked($event)">
                            <mat-option *ngIf="searchingCommunity">
                                <ngx-loading [show]="true"></ngx-loading>
                            </mat-option>
                            <mat-option *ngFor="let option of searchOptions" [value]="option">
                                <span>
                                    <img src="{{envVariable.apiUrl+option.imageUrls[0]}}" class="circle-thumb" style="margin-left: 0px; margin-right: 10px;"
                                        (error)="collectionService.imgErrorHandler($event)" />
                                </span>
                                <span>
                                    {{option.title }}
                                </span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-xs-7 mat-caption">
                    <!--<span *ngIf="questionKarmaBurn > 0">
                                <span *ngIf="gyanBalance > 0">
                                    You would need to burn a total of
                                    <i class="fa fa-fire"></i> {{questionKarmaBurn}} Karma
                                </span>
                                <span *ngIf="gyanBalance === 0">
                                    Your scholarship would need to burn a total of
                                    <i class="fa fa-fire"></i> {{questionKarmaBurn}} Karma
                                </span>
                            </span>-->
                </div>
                <!-- <div class="col-md-3 col-xs-4" [hidden]="true">
                            <mat-form-field [floatLabel]="'auto'" class="pull-right full-width">
                                <input matInput type="number" formControlName="gyan" placeholder="Gyan Bounty">
                            </mat-form-field>
                        </div> -->
                <div class="col-xs-12">
                    <button matStepperNext class="pull-right" mat-raised-button color="accent" [disabled]="!questionForm.valid">
                        Submit Question
                    </button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="row margin-top-10">
                <div class="col-xs-12">
                    <div class="mat-display-1">What topics does this question cover?</div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 margin-bottom-30">
                            <div class="row">
                                <div class="col-sm-12" *ngIf="suggestedTopics">
                                    <app-multiselect-autocomplete (selectedOutput)="selected($event)" (removedOutput)="removed($event)"
                                        [preSelectedTopics]=interests [searchUrl]=searchTopicURL [create]=true
                                        [createURL]=createTopicURL [title]=placeholderStringTopic [maxSelection]=maxTopics
                                        [minSelection]="1" [suggestedTopics]="suggestedTopics"></app-multiselect-autocomplete>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="lightText">You can add up to {{maxTopics}} topics </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-xs-12 margin-top-10">
                    <button [disabled]="busyQuestion || !interests ||interests.length<1 || !questionForm.value.text||  questionForm.value.text.length<0"
                        (click)="postQuestion()" class="pull-right" mat-raised-button color="accent">
                        <span *ngIf="!busyQuestion">Add Topics</span>
                        <ngx-loading *ngIf="busyQuestion" [show]="true"></ngx-loading>
                    </button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
