.prompt{
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    padding: 8px;
    margin-bottom: 16px;
    background: #f9f9f9;
}

.darker-text{
    color: black;
    font-weight: 500;
    font-size: 20px;
}