<!-- header start here -->
<header>
	<nav class="navbar navbar-expand-md navbar-dark">
		<a class="navbar-brand" href="javascript:void(0)" (click)="goToHome()">
			<img src="/assets/images/bu_white.png" alt="blockchainu-logo">
		</a>
		<span class="example-spacer"></span>
		<span class="options" style="position: relative; top: -15px;">
			<button mat-button class="headerButtons mat-button hide-small" [matMenuTriggerFor]="headerTeachMenu">
				Become a teacher
			</button>
			<!--<button mat-button class="headerButtons mat-button hide-small" [routerLink]="['/whitepaper']">
					White Paper
				</button>-->
			<button mat-button class="headerButtons mat-button" *ngIf="!(isLoggedIn | async)" (click)="openLogin()">
				Log in
			</button>
			<button mat-button class="headerButtons mat-button" *ngIf="!(isLoggedIn | async)" [routerLink]="['/sign-up']">
				Sign up
			</button>
			<span *ngIf="(isLoggedIn | async) && profile">
				<a ddress mat-button disableRipple="true" class="clickable" [matMenuTriggerFor]="headerUserMenu">
					<img *ngIf="!profile.picture_url" style="margin:0px" src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb">
					<img *ngIf="profile.picture_url" style="margin:0px" src="{{envVariable.apiUrl + profile.picture_url + '/100'}}" alt="A" class="circle-thumb">
				</a>
				<mat-menu #headerUserMenu [overlapTrigger]="false">
					<button mat-menu-item [routerLink]="['/profile', userId]">
						<i class="fas fa-user lighterText"></i>&nbsp;&nbsp;&nbsp; {{profile.first_name | titlecase}} {{profile.last_name | titlecase}}
					</button>
					<button mat-menu-item *ngIf="profile.peer && profile.peer.length > 0 && profile.peer[0].isAdmin" [routerLink]="['/console/admin']">
						<i class="fas fa-lock lighterText"></i>&nbsp;&nbsp; Admin
					</button>
					<button mat-menu-item [routerLink]="['/console/profile/account']">
						<i class="fas fa-pencil-alt lighterText"></i>&nbsp;&nbsp; Account Settings
					</button>
					<button mat-menu-item (click)="authService.logout()">
						<i class="fas fa-sign-out-alt lighterText"></i>&nbsp;&nbsp; Logout
					</button>
				</mat-menu>
			</span>
			<mat-menu #headerTeachMenu [overlapTrigger]="false">
				<button mat-menu-item [routerLink]="['/digest','experiences']">
					Host an offline experience
				</button>
				<button mat-menu-item [routerLink]="['/digest','classes']">
					Create an online class
				</button>
				<button mat-menu-item [routerLink]="['/console','teaching','guides']">
					Create a learning guide
				</button>
				<button mat-menu-item [routerLink]="['/digest','peers']">
					Start an expert session
				</button>
			</mat-menu>
		</span>
	</nav>
</header>
<!-- header end here -->
<section class="home-banner sessions-banner">
	<div class="dark-gray-overlay"></div>
	<div class="container">
		<div class="content">
			<h1>Start a peer session on Blockchain University</h1>
			<h2>Earn money mentoring people on topics you know.</h2>
			<div class="action-button">
				<a (click)="createSession()" class="btn btn-white btn-lg mr-2 clickable">Continue</a>
				<!--<a href="#" class="btn btn-outline-light btn-lg clickable">Learn More</a>-->
			</div>
		</div>
	</div>
</section>

<section class="container-fluid margin-top-20">
	<div class="home-peerbuds-session">
		<div class="dark-white-overlay visible-xs visible-sm"></div>
		<div class="content-center text-center">
			<h2 class="section-title">What are Blockchain University sessions?</h2>
			<p class="section-para">The Blockchain University Sessions are interactive online sessions designed and led by peers from our global community. While not everyone
				can attend our in-person learning
				<b>sessions</b>, they should have access to the same session online. Sessions go beyond creating a typical video course
				by allowing you to provide interactive live sessions for the cohort your teaching. They also consist of projects, videos,
				assignments, and a place for your cohort to discuss and stay connected on the The Blockchain University Platform.
			</p>
		</div>
	</div>
</section>

<!--<section class="container-fluid mt-4">
	<div class="home-share-knowledge">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-7">
				<div class="d-table">
					<div class="d-table-cell align-middle content ">
						<h2 class="section-title">Share your knowledge with the world</h2>
						<p class="section-para">Everyone has something to teach and learn. You have the opportunity and chance to share your expertise, skills, and
							ideas with peers who are looking to learn something new. We’ll help you set up an online session in no time.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-md-5">
				<div class="owl-carousel quotes" id="share-knowledge">
					<div class="background-img1">
						<div class="carousel-quote dark-gray-gradient-overlay-bottom text-center white-text">
							<div class="quote">"Some guests are now writing and sending postcards to penpals around the world, including me!"</div>
							<div class="author">
								<span class="name">Jena</span>
								Hosts Postcard Scavenger Hunt in Oakland
							</div>
						</div>
					</div>
					&lt;!&ndash;<div class="background-img2">
							<div class="carousel-quote dark-gray-gradient-overlay-bottom text-center white-text">
								<div class="quote">"I once hosted a woman who had never seen or been in the ocean. It was amazing to see her splashing around in the water!"</div>
								<div class="author">
									<span class="name">João</span>
									Hosts Postcard Scavenger Hunt in Oakland
								</div>
							</div>
						</div>&ndash;&gt;
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid mt-4">
	<div class="home-meet-peers">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-5">
				<div class="owl-carousel quotes" id="meet-peers">
					<div class="background-img1">
						<div class="carousel-quote dark-gray-gradient-overlay-bottom text-center white-text">
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<div class="quote">"Some guests are now writing and sending postcards to penpals around the world, including me!"</div>
							<div class="author">
								<span class="name">Jena</span>
								Hosts Postcard Scavenger Hunt in Oakland
							</div>
						</div>
					</div>
					&lt;!&ndash;<div class="background-img2">
							<div class="carousel-quote dark-gray-gradient-overlay-bottom text-center white-text">
								<div class="quote">"I once hosted a woman who had never seen or been in the ocean. It was amazing to see her splashing around in the water!"</div>
								<div class="author">
									<span class="name">João</span>
									Hosts Postcard Scavenger Hunt in Oakland
								</div>
							</div>
						</div>&ndash;&gt;
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-md-7">
				<div class="d-table">
					<div class="d-table-cell align-middle content ">
						<h2 class="section-title">Meet like-minded peers</h2>
						<p class="section-para">Connect with a community of peers from around the world who share your passion for learning and teaching others. There’s
							a good chance you’ll make some new friends and share some new ideas to collaborate on.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid mt-4">
	<div class="home-host-terms">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<div class="d-table">
						<div class="d-table-cell align-middle content ">
							<h2 class="section-title">Host on your terms</h2>
							<p class="section-para">Create a schedule that’s best for you, whether you host daily, weekly, or monthly. Choose your price and group size,
								and manage all the details on the go with a convenient mobile app</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-7">
					<div class="background-img">
						<img src="/assets/images/your-calendar.png" alt="your-calendar" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid mt-4">
	<div class="home-start-business">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-7">
					<div class="background-img">
						<img src="/assets/images/horseback.png" alt="horseback" class="img-responsive">
					</div>
				</div>
				<div class="col-xs-12 col-md-5">
					<div class="d-table">
						<div class="d-table-cell align-middle content ">
							<h2 class="section-title">Start a business with no upfront costs</h2>
							<p class="section-para">We give you your own page on The Blockchain University that peers can use to sign up for your session. The Blockchain University handles payment processing,
								and provides 24-hour customer service.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="home-kind-people mt-4">
	<div class="content-center text-center">
		<h2 class="section-title">What kind of people host?</h2>
		<p class="section-para pb-3">Hosts are techies, multilingual speakers, musicians, dancers, chefs, and anyone else who have something to teach through
			interactive online sessions and projects that give their fellow peers the chance to learn beyond a traditional sessionroom.
			They make everyone feel welcome, and allow everyone to let go of their anxieties of learning something new, and connecting
			with others.
		</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 less-margin">
				<div class="background-img1">
					<div class="thumb-content dark-gray-gradient-overlay-bottom text-center">
						<h3 class="heading">DJ Jigüe</h3>
						<p>DJ Jigüe is dedicated to sharing his passion for Afro-Cuban music. Some of the guests he’s exposed to Cuba’s complex
							musical history even went to see him play a show in Austin, Texas.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 less-margin">
				<div class="background-img2">
					<div class="thumb-content dark-gray-gradient-overlay-bottom text-center">
						<h3 class="heading">Toby</h3>
						<p>Toby has been hosting Airbnb guests in her San Francisco home for years. Now she’s opened up her art studio to teach
							painting techniques to travelers and locals alike.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 less-margin">
				<div class="background-img3">
					<div class="thumb-content dark-gray-gradient-overlay-bottom text-center">
						<h3 class="heading">Mio</h3>
						<p>After studying sewing at an art college, Mio created a kimono dressing ceremony to simplify the art of kimono wearing.
							Now she shares her personalized ceremony with guests, and sells her creations online.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid mt-4">
	<div class="home-get-started">
		<div class="dark-gray-overlay"></div>
		<div class="content-center text-center white-text">
			<h2 class="section-title">How to get started</h2>
			<p class="section-para pb-3">Here’s a brief overview of the process to host a session on The Blockchain University.
			</p>
		</div>
		<div class="container">
			<div class="started-step">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div class="text-center">
							<div class="number mb-3">1</div>
							<h2>Learn and see if you're a good fit</h2>
							<p>Review our quality standards and see if your session is a fit for The Blockchain University.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="text-center">
							<div class="number mb-3">2</div>
							<h2>Create Your Session Page</h2>
							<p>Create a page with descriptions, photos, videos, and other details.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="text-center">
							<div class="number mb-3">3</div>
							<h2>Submit to The Blockchain University for review</h2>
							<p>If your session meets our quality standards, you can begin hosting.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="home-faq">
	<div class="container">
		<h2 class="section-title mb-4">Frequently asked questions</h2>
		<section class="faq">
			<h3 class="question">Do I have to host a home to host an session?</h3>
			<p>No, You don't have to host guests overnight in your home or space to be an session host.</p>
		</section>
		<section class="faq">
			<h3 class="question">What's the time commitment?</h3>
			<p>You can host as often as you like - feel free to adjust your dates and times until you find what works best for you.</p>
		</section>
		<section class="faq">
			<h3 class="question">Do I need a business license?</h3>
			<p>Depending on activities involved, certain sessions may require a business license. Make sure to check local laws in your
				area to determine which licenses may be required for your session, especially if there is food, alcohol, or transportation
				involved.
			</p>
		</section>
	</div>
</section>-->
