<!-- header start here -->
<header>
	<nav class="navbar navbar-expand-md navbar-dark">
		<a class="navbar-brand" href="javascript:void(0)" (click)="goToHome()">
			<img src="/assets/images/bu_white.png" alt="blockchainu-logo">
		</a>
		<span class="example-spacer"></span>
		<span class="options" style="position: relative; top: -15px;">
			<button mat-button class="headerButtons mat-button hide-small" (click)="openBlog()">
				Blog
			</button>
			<button mat-button class="headerButtons mat-button hide-small" [matMenuTriggerFor]="headerTeachMenu">
				Become a teacher
			</button>
			<button mat-button class="headerButtons mat-button hide-small" [routerLink]="['/whitepaper']">
				White Paper
			</button>
			<button mat-button class="headerButtons mat-button" *ngIf="!(isLoggedIn | async)" (click)="openLogin()">
				Log in
			</button>
			<button mat-button class="headerButtons mat-button" *ngIf="!(isLoggedIn | async)" [routerLink]="['/sign-up']">
				Sign up
			</button>
			<span *ngIf="(isLoggedIn | async) && profile">
				<a ddress mat-button disableRipple="true" class="clickable" [matMenuTriggerFor]="headerUserMenu">
					<img *ngIf="!profile.picture_url" style="margin:0px" src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb">
					<img *ngIf="profile.picture_url" style="margin:0px" src="{{envVariable.apiUrl + profile.picture_url + '/100'}}"
					     alt="A" class="circle-thumb">
				</a>
				<mat-menu #headerUserMenu [overlapTrigger]="false">
					<button mat-menu-item [routerLink]="['/profile', userId]">
						<i class="fas fa-user lighterText"></i>&nbsp;&nbsp;&nbsp; {{profile.first_name | titlecase}}
						                                       {{profile.last_name | titlecase}}
					</button>
					<button mat-menu-item *ngIf="profile.peer && profile.peer.length > 0 && profile.peer[0].isAdmin" [routerLink]="['/console/admin']">
						<i class="fas fa-lock lighterText"></i>&nbsp;&nbsp; Admin
					</button>
					<button mat-menu-item [routerLink]="['/console/profile/account']">
						<i class="fas fa-pencil-alt lighterText"></i>&nbsp;&nbsp; Account Settings
					</button>
					<button mat-menu-item (click)="authService.logout()">
						<i class="fas fa-sign-out-alt lighterText"></i>&nbsp;&nbsp; Logout
					</button>
				</mat-menu>
			</span>
			<mat-menu #headerTeachMenu [overlapTrigger]="false">
				<button mat-menu-item [routerLink]="['/digest','experiences']">
					Host an in-person workshop
				</button>
				<button mat-menu-item [routerLink]="['/digest','classes']">
					Create an online course
				</button>
				<button mat-menu-item [routerLink]="['/console','teaching','guides']">
					Create a learning guide
				</button>
				<button mat-menu-item [routerLink]="['/digest','peers']">
					Start an mentor session
				</button>
			</mat-menu>
		</span>
	</nav>
</header>
<!-- header end here -->
<section class="home-banner">
	<div class="dark-gray-overlay"></div>
	<div class="container">
		<div class="content text-center">
			<div class="mat-display-2 margin-top-40" style="color: #fff;">About The Blockchain University</div>
			<h3 class="b-desc">
				Building the world’s largest web3.0 community through quality education
				<br>
				for developers, entrepreneurs and enterprises.
			</h3>
		</div>
	</div>
</section>
<section class="classes-anywhere spacing mg-20">
	<div class="container">
		<div class="row">
			<div class="col-md-6 about-style">
				<div class="line-top"></div>
				<h2 class="text-uppercase">Know about <span class="color-org">Blockchain U</span></h2>
				<p>
					We're Silicon Valley-based, experienced technical and business strategists who have had experience building
					applications and consulting various enterprises & startups within the blockchain ecosystem.

					Our students learn to build applications and solutions that matter. More importantly, we help them vet out
					their products for the market, and give them our industry resources to succeed.

					Currently active in 11 cities across 4 countries, we are actively expanding our online and offline footprint.
					With over 1500 developers, we are one of the largest certified blockchain community in the world and work
					with most leading blockchain companies including Consensys, AIKON, Digital Asset, EOS etc. as official
					community, certification and education partners.

					At the core of Blockchain U is that we are the world’s first education platform built on the blockchain and
					are powered by the one0x protocol and its KARMA knowledge coin.
				</p>
			</div>

			<div class="col-md-4 col-md-offset-1 text-img">
				<img src="/assets/images/about-us/about-bg.jpg">
			</div>
		</div>
	</div>
</section>
<section class="peers-teaching advisors spacing mg-20">
	<div class="container about-style">
		<div class="line-top-center"></div>
		<h2 class="text-uppercase text-center">Our <span class="color-org">Advisers</span></h2>
		<div class="row small-margin">
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/stevewatkins/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/steve.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Steve Watkins</h3>
							<p class="designation text-center">VP Program Development and Regulatory Affairs, Unitek College</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/olawiberg/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/olawiberg.jpeg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Ola Wiberg</h3>
							<p class="designation text-center">Founder/CTO RealtyBits, Inc.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/vinoth/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/vinothkumar.jpeg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Vinoth Kumar</h3>
							<p class="designation text-center">Chief Solutions Architect, VISA</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/neeraj-kashyap-784035b8/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/neerajkashyap.jpeg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Neeraj Kashyap</h3>
							<p class="designation text-center">Head of AI, Head of Blockchain, doc.ai</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row small-margin">
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/dalalrohan/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/rohandala.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Rohan Dala</h3>
							<p class="designation text-center">Launch Engineer, SpaceX</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<div class="custom-card">
					<div class="card-image" style="background-image: url('/assets/images/profiles/paulafshar.JPG');"></div>
					<div class="card-content">
						<h3 class="title text-uppercase text-center">Paul Afshar</h3>
						<p class="designation text-center">Founder & Ex-CEO, Unitek College, USA</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/prasannalohar/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/prasannalohar.jpeg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Prasanna Lohar</h3>
							<p class="designation text-center">Head Innovation & Architecture, DCB Bank</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="peers-teaching advisors spacing mg-20">
	<div class="container about-style">
		<div class="line-top-center"></div>
		<h2 class="text-uppercase text-center">Our <span class="color-org">Team</span></h2>
		<div class="row small-margin">
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/sahilparekh9090/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/sahilparekh.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Sahil Parekh</h3>
							<p class="designation text-center">Co-founder, CEO</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/aakashbansal/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/aakashbansal.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Aakash Bansal</h3>
							<p class="designation text-center">Co-founder, CTO</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/abhijeet1403/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/abhijeet.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Abhijeet C</h3>
							<p class="designation text-center">Head of Product</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/harshit-jain-48244513a/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/harshit.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Harshit Jain</h3>
							<p class="designation text-center">COO</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row small-margin">
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/gyan-lakshmi/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/gnana.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Gnana Lakshmi</h3>
							<p class="designation text-center">Head of Business Development</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/abhiksahaofficial/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/abheek.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Abhik Saha</h3>
							<p class="designation text-center">Head of New Technologies</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/tadinada/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/venkateshtadinada.jpeg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Venkatesh Tadinada</h3>
							<p class="designation text-center">Head of Operations, Europe</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/ketki-sen-0361314/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/ketkisen.jpeg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Ketki Sen</h3>
							<p class="designation text-center">Head of Operations, Singapore</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row small-margin">
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/matiman/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/mathiasabdissa.jpeg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Mathias Abdissa</h3>
							<p class="designation text-center">Business Development</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-3 small-padding">
				<a href="https://www.linkedin.com/in/bama-venkatachalam-89623525/" target="_blank">
					<div class="custom-card">
						<div class="card-image" style="background-image: url('/assets/images/profiles/bamavenkatachalam.jpg');"></div>
						<div class="card-content">
							<h3 class="title text-uppercase text-center">Bama Venkatachalam</h3>
							<p class="designation text-center">Instructor</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="peers-teaching advisors spacing mg-20">
	<div class="container about-style">
		<div class="line-top-center"></div>
		<h2 class="text-uppercase text-center">Our <span class="color-org">Partners</span></h2>
		<!-- <p class="text-center">Microsoft Patch Management For Home Users </p> -->
		<div class="d-flex small-margin mg-20">
			<a href="https://y-center.org" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/ycenter.png">
				</div>
			</a>
			<a href="https://aikon.com" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/aikon.png">
				</div>
			</a>
			<a href="https://www.constellationlabs.io" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/constellation.png">
				</div>
			</a>
			<a href="https://www.digitalasset.com" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/digital-asset.png">
				</div>
			</a>
			<a href="https://www.simplyvitalhealth.com" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/simplyvitalhealth.png">
				</div>
			</a>
		</div>
		<div class="d-flex small-margin">
			<a href="https://www.jio.com" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/jio.png">
				</div>
			</a>
			<a href="https://www.wework.com" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/wework.png">
				</div>
			</a>
			<a href="https://innov8.work" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/innov8.png">
				</div>
			</a>
			<a href="https://www.yourstory.com" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/yourstory.png">
				</div>
			</a>
			<a href="http://chaturideas.com" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/chatur.png">
				</div>
			</a>
		</div>
		<div class="d-flex small-margin">
			<a href="https://bumo.io" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/bumo.jpg">
				</div>
			</a>
			<a href="https://startupmumbai.org/" target="_blank">
				<div class="partner-cards">
					<img src="/assets/images/partners/startup-mumbai.png">
				</div>
			</a>
		</div>
		<!-- <div class="d-flex small-margin">
		  <div class="partner-cards">
			<img src="/assets/images/partners/images.png" height="30">
		  </div>
		  <div class="partner-cards">
			<img src="/assets/images/partners/comcast_logo_detail.png">
		  </div>
		  <div class="partner-cards">
			<img src="/assets/images/partners/SURGEX_LOGO_v1.0_2CLR_BLACK-PMS-116_1600px.jpg">
		  </div>
		  <div class="partner-cards">
			<img src="/assets/images/partners/slack-card.png">
		  </div>
		  <div class="partner-cards">
			<img src="/assets/images/partners/logo_01.png">
		  </div>
		</div> -->
	</div>
</section>
<section class="container-fluid margin-top-20 pl-0 pr-0">
	<div class="about-curv"></div>
	<div class="bg-orange padding-bottom-30">
		<div class="container">
			<h3 class="text-uppercase text-center about-text-main"> A Few Facts About Blockchain University</h3>
			<div class="row">
				<div class="col-md-4 text-center about-facts">
					<h3>01</h3>
					<div class="mat-body-2">World’s first e-learning platform built on the blockchain</div>
				</div>
				<div class="col-md-4 text-center about-facts">
					<h3>02</h3>
					<div class="mat-body-2">One of the largest communities of blockchain professionals</div>
				</div>
				<div class="col-md-4 text-center about-facts">
					<h3>03</h3>
					<div class="mat-body-2">300 meetups, hackathons, boot-camps and counting..</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center about-facts">
					<h3>04</h3>
					<div class="mat-body-2">11 cities</div>
				</div>
				<div class="col-md-4 text-center about-facts">
					<h3>05</h3>
					<div class="mat-body-2">4 countries</div>
				</div>
				<div class="col-md-4 text-center about-facts">
					<h3>06</h3>
					<div class="mat-body-2">2000+ blockchain community</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center about-facts">
					<h3>07</h3>
					<div class="mat-body-2">Creators of the world’s only digital asset valued on human knowledge - <b>KARMA</b></div>
				</div>
			</div>
		</div>
	</div>
</section>
