<div class="dialog-container" style="padding: 20px 25px !important;" mat-dialog-content *ngIf="data.selectedRange !== undefined">
  <p-slider [(ngModel)]="data.selectedRange" [range]="true" [min]="data.availableRange[0]" [max]="data.availableRange[1]"></p-slider>
  <p class="mat-body-1"> {{data.selectedRange[0] | currency:userCurrency:true:'1.0-0'}} - {{data.selectedRange[1] | currency:userCurrency:true:'1.0-0'}}</p>
  <div mat-dialog-actions>
  <span matTooltip="Invalid Range!" [matTooltipDisabled]="data.selectedRange !== undefined">
    <button mat-raised-button [mat-dialog-close]="data" color="accent" [disabled]="data.selectedRange === undefined">Apply</button>
  </span>
  </div>
</div>