.no-padding {
    background-color: black !important;
}

.video-container{
    height: 95% !important; 
    background-color: black !important;
    padding: 0px !important;    
}


.vg-controls {
    height: 56px !important;
    width: 98% !important;
}

.vg-overlay-play {
    overflow: hidden !important;
}
