<div class="row">
	<div class="col-md-12">
		<div *ngIf="!scholarshipsLoaded" class="loading-container">
			<ngx-loading [show]="true"></ngx-loading>
		</div>
	</div>
	<div class="col-md-12 margin-top-30" *ngIf="scholarshipsLoaded">
		<div style="display:inline;">
			<h2>Scholarships you have joined</h2>
		</div>
		<div #noContentView *ngIf="scholarships.length === 0 "  style="margin-top: 5%;margin-bottom: 5%;">
			<div class="lightText">
				You have not joined any scholarships yet.
			</div>
		</div>
		<div *ngIf="scholarships.length > 0">
			<div class="row" style="margin-top:20px;">
				<div class="col-xs-12 col-md-4" *ngFor="let scholarship of scholarships">
					<mat-card style="text-align: center; padding: 20px;">
						<mat-card-content>
							<div style="text-align: right">
								<div class="pull-right">
									<a mat-icon-button [matMenuTriggerFor]="scholarCardMenu" style="text-align: right; padding: 0px">
										<mat-icon>more_vert</mat-icon>
									</a>
								</div>
							</div>
							<br>
							<br>
							<div class="collectionTitle clickable mat-body-2" [routerLink]="'/scholarship/'+scholarship.id">
								{{ scholarship.title | ucwords }}
							</div>
							<br>
							<span>{{ scholarship.type | ucwords }}</span>
							<br>
							<br>
							Balance
							<div class="mat-body-2">
								<i class="fas fa-fire"></i> {{scholarship.id | karmaBalance: 'scholarship' | async | currency : ' ' : ' ' : '1.0-0'}} KARMA
							</div>
						</mat-card-content>
						<mat-menu #scholarCardMenu>
							<button (click)="leaveScholarship(scholarship.id)" mat-menu-item>
								Leave Scholarship
							</button>
						</mat-menu>
					</mat-card>
				</div>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div *ngIf="!hostedScholarshipsLoaded" class="loading-container">
			<ngx-loading [show]="true"></ngx-loading>
		</div>
	</div>
	<div class="col-md-12 margin-top-30" *ngIf="hostedScholarshipsLoaded">
		<div style="display:inline;">
			<h2>Scholarships you have sponsored &emsp;&emsp;
				<a style="padding-left: 15px;" class="mat-caption clickable" (click)="hostScholarship()" color="primary"> + Create new</a>
			</h2>
		</div>
		<div #noContentView *ngIf="!hostedScholarships || hostedScholarships.length === 0 " style="margin-top: 5%;margin-bottom: 5%;">
			<div class="lightText">
				You haven't created any scholarships yet.
			</div>
		</div>
		<div *ngIf="hostedScholarships.length > 0">
			<div class="row" style="margin-top:50px;">
				<div class="col-xs-12 col-md-4" *ngFor="let scholarship of hostedScholarships">
					<mat-card style="text-align: center; padding: 20px;">
						<mat-card-content>
							<div style="text-align: right">
								<div style="text-align: right">
									<div class="pull-right">
										<a mat-icon-button [matMenuTriggerFor]="scholarCardMenu" style="text-align: right; padding: 0px">
											<mat-icon>more_vert</mat-icon>
										</a>
									</div>
								</div>
							</div>
							<br>
							<br>
							<div class="collectionTitle clickable mat-body-2" [routerLink]="'/scholarship/'+scholarship.id">
								{{ scholarship.title | ucwords }}
							</div>
							<br>
							<span>{{ scholarship.type | ucwords }}</span>
							<br>
							<br>
							Balance
							<div class="mat-body-2">
								<i class="fas fa-fire"></i> {{scholarship.id | karmaBalance: 'scholarship' | async | currency : ' ' : ' ' : '1.0-0'}} KARMA
							</div>
						</mat-card-content>
						<mat-menu #scholarCardMenu>
							<button (click)="editScholarship(scholarship)" mat-menu-item>
								Edit Scholarship
							</button>
							<button (click)="deleteScholarship(scholarship.id)" mat-menu-item>
								Delete Scholarship
							</button>
						</mat-menu>
					</mat-card>
				</div>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>
