<div mat-dialog-content class="dialog-container">
  <div class="mat-display-1">Active {{data.type|titlecase}} Warning</div>
  <div>
    <div style="margin-top: 50px; margin-bottom: 40px;">
      You are editing an active {{data.type}}!
      <br>
      <br> We will create a new copy of your current {{data.type}} with all your changes which will be in draft status.
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="'accept'" color="accent">Accept</button> &emsp;
    <button mat-raised-button [mat-dialog-close]="'reject'">No, Thanks</button>
  </mat-dialog-actions>
</div>