<div class="dialog-container">
	<div class="row">
		<div class="col-xs-12">
			<h2> Create Scholarship </h2>
		</div>
	</div>

	<mat-horizontal-stepper class="hide-header" #stepper>
		<mat-step>
			<div class="row margin-top-10">
				<form [formGroup]="scholarshipForm">
					<div class="col-xs-12 margin-top-10">
						<mat-form-field class="pb-block">
							<input type="text" matInput placeholder="Title" formControlName="title">
							<mat-hint align="start">
								<strong>What is the name of this scholarship</strong>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-xs-12 margin-top-10">
						<mat-form-field class="pb-block">
							<textarea matInput placeholder="Description" formControlName="description"></textarea>
							<mat-hint align="start">
								<strong>Describe this scholarship</strong>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-xs-6 margin-top-10">
						<mat-form-field class="pb-block">
							<input type="text" matInput placeholder="Wallet Address" formControlName="ethAddress">
							<mat-hint align="start">
								<strong>An ethereum account address that will become the wallet of this scholarship</strong>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-xs-6 margin-top-10">
						<mat-form-field class="pb-block">
							<input type="number" matInput placeholder="Transaction Limit" formControlName="max_karma">
							<mat-hint align="start">
								<strong>Maximum karma that can be used by a student for each course</strong>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-xs-6 margin-top-10">
						<mat-form-field class="pb-block">
							<input type="number" matInput placeholder="Pre-requisite" formControlName="min_gyan">
							<mat-hint align="start">
								<strong>Minimum Gyan a student must have to join this scholarship</strong>
							</mat-hint>
						</mat-form-field>
					</div>
					<div class="col-xs-12 margin-top-10">
						<button matStepperNext class="pull-right" mat-raised-button color="accent">
							Next
						</button>
					</div>
				</form>
			</div>
		</mat-step>
		<mat-step>
			<div class="row">
				<div [hidden]="allCollection" class="col-xs-12">
					<mat-form-field class="pb-block">
						<mat-chip-list #chipList>
							<mat-chip *ngFor="let collection of selectedCollections" [selectable]="selectable" [removable]="removable" (remove)="remove(collection)">
								{{collection.title}}
								<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
							</mat-chip>
							<input placeholder="Select Experience this scholarship applies to" #collctionInput [formControl]="myControl" [matAutocomplete]="auto"
							 [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur" />
						</mat-chip-list>
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option *ngFor="let option of options" [value]="" (click)="onSearchOptionClicked(option)">
								<span>
									<img src="{{_searchService.getSearchOptionImage(option)}}" class="circle-thumb" style="margin-left: 0px; margin-right: 10px;"
									 (error)="_collectionService.imgErrorHandler($event)" />
								</span>
								<span>
									{{_searchService.getSearchOptionText(option)}}
								</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div class="col-xs-12">
					<mat-checkbox [(ngModel)]="allCollection">Applies to all collection</mat-checkbox>
				</div>
			</div>
			<div class="row margin-top-20">
				<div class="col-xs-12 margin-top-10">
					<button matStepperPrevious mat-raised-button>
						Back
					</button>
					<button (click)="submitForm()" matStepperNext class="pull-right" mat-raised-button color="accent">
						Submit
					</button>
				</div>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>