<div style="background: #fff; padding: 0px; min-height: 100vh;" [class.main-content]="!mobileQuery.matches" [class.mobile-main-content]="mobileQuery.matches">
	<mat-toolbar color="white">
		<span>
			<a class="brand clickable" aria-label="Peerbuds Homepage" [routerLink]="['/home','homefeed']">
				<img src="/assets/images/peerbuds-logo-color.png" alt="logo">
			</a>
		</span>
		<div style="position: absolute;left: 17vw;width: 82vw !important">
			<button *ngIf="mobileQuery.matches" class="side-nav-toggle-button" mat-icon-button (click)="snav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<div class="pull-right" *ngIf="step!=1 && step !=6 && step !=15 && step !=17">
				<button mat-button *ngIf="class.controls['status'].value !== 'active'" (click)="saveandexit()">
					<span *ngIf="!busySave">Save &amp; Exit</span>
					<ngx-loading [show]="busySave"></ngx-loading>
				</button>
				<button mat-button *ngIf="class.controls['status'].value === 'active'" (click)="exit()">
					<span>
						Exit
					</span>
				</button>
				<button mat-button [routerLink]="'/class/'+classId" [queryParams]="{mode: 'preview'}">
					<span>
						Preview
					</span>
				</button>
			</div>
			<div class="pull-left">
				<mat-chip-list>
					<mat-chip style="margin-bottom: 15px;">
						{{class.controls['status'].value | titlecase}}
					</mat-chip>
					<mat-chip style="margin-bottom: 15px;">
						<i class="fab fa-ethereum"></i>&nbsp; {{totalGyan}} Gyan
					</mat-chip>
					<mat-chip style="margin-bottom: 15px;">
						<i class="fa fa-fire"></i>&nbsp; {{totalGyan | convertCrypto: 'GYAN' : 'KARMA' | async}} Karma
					</mat-chip>
					<!--<mat-chip style="margin-bottom: 15px;">
						<i class="fab fa-ethereum"></i>&nbsp; {{userId | gyanBalance : 'fixed' | async}}
					</mat-chip>-->
				</mat-chip-list>
			</div>
		</div>

		<!-- <span class="pull-right">
			<img *ngIf="!profile.picture_url" src="/assets/images/user-placeholder.jpg" alt="A" class="circle-thumb">
			<img *ngIf="profile.picture_url" src="{{envVariable.apiUrl + profile.picture_url + '/100'}}" alt="A" class="circle-thumb">
		</span> -->
	</mat-toolbar>
	<mat-sidenav-container style="max-height: 90vh; min-height: 100vh; overflow-y: hidden; background: #ffffff;">
		<mat-sidenav #snav [mode]="mobileQuery.matches === true ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [opened]="!mobileQuery.matches">
			<app-left-sidebar [menuFile]="sidebarFilePath" (menuArray)="getMenuArray($event)"></app-left-sidebar>
		</mat-sidenav>
		<!-- Page Content -->
		<mat-sidenav-content>
			<div class="navbar-page-content">
				<!--Disclaimer-->
				<div class="onboarding step-1" [hidden]="step!=1">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Peerbuds Class Guidelines</h2>
							<p class="subtitle">Peerbuds is a platform dedicated to connecting people who are forward thinking, passionate about education, and open-minded
								in general. We're pretty sure that each individual who joins our community is a cool, high-caliber person with unique
								talents and knowledge to share. That said, we'd like to establish just a few common-sense expectations so our platform
								can continue to be as high quality as possible.
							</p>
							<ul class="guideline-points text-grey">
								<li>Respect others and their differences. Not everyone on Peerbuds is going to have the same worldview, and that's actually
									a good thing. It's how we can learn from each other. Keep all comments and observations fair, controlled and as
									positive as possible.</li>
								<li>Take your responsibilities seriously. Whether you sign up to learn or to teach (or both!), be sure to communicate
									with all your peers as necessary and always be on time to events.</li>
								<li>You can't go wrong with the "golden rule." Treat everyone you meet on Peerbuds with the same basic courtesy and friendliness
									you'd like to be shown and you're pretty much good to go. Good vibes are infectious - everybody wins.
								</li>
							</ul>
							<div class="margin-top-20">
								<button mat-raised-button (click)="next()" color="primary" class="pull-right">
									Next
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- step 1 Subtype -->
				<div class="onboarding step-2" [hidden]="step!=2">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">What type of Class is this?</h2>
							<p class="subtitle">Select what kind of class is this</p>
							<br/>
							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<div class="row padding-bottom-50">
									<div class="col-xs-4">
										<mat-form-field>
											<mat-select placeholder="Select Type" formControlName="subCategory">
												<mat-option *ngFor="let subType of availableSubtypes" [value]="subType.name">
													{{subType.name|titlecase}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
											Back
										</button>
										<span class="pull-right" matTooltip="Select a Type to continue" [matTooltipDisabled]="class.value.subCategory!==undefined">
											<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="class.value.subCategory===undefined || busySavingData">
												<span *ngIf="!busySavingData">Next</span>
												<span>
													<ngx-loading [show]="busySavingData"></ngx-loading>
												</span>
											</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- step 1 starts here -->
				<div class="onboarding step-3" [hidden]="step!=3">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">What topics does this Class cover?</h2>
							<p class="subtitle">Select topics that this class covers</p>
							<br/>
							<form [formGroup]="interest1" (ngSubmit)="submitInterests()">
								<div class="row">
									<div class="col-sm-12 margin-bottom-30">
										<div class="row">
											<div class="col-sm-12">
												<app-multiselect-autocomplete (selectedOutput)="selected($event)" (removedOutput)="removed($event)" [preSelectedTopics]=interests
												 [searchUrl]=searchTopicURL [create]=true [createURL]=createTopicURL [title]=placeholderStringTopic [maxSelection]=maxTopics
												 [minSelection]="1"></app-multiselect-autocomplete>
											</div>
										</div>
										<div class="row">
											<span class="col-sm-4" style="font-size: 12px; color: #777">{{maxTopicMsg}}</span>
										</div>
									</div>
								</div>

								<!--<div class="flex flexContainer margin-top-30">
								  <button mat-button class="padding-left-0" type="button" color="grey" [disabled]="interests.length >= maxTopics" (click)="addNewTopic()">
									  <mat-icon class="iconVC" color="primary" class="mat-border-button">
										add
									  </mat-icon><span class="addIconText">Add New Topic</span></button>
								  <span class="flex"></span>
								  &lt;!&ndash; <div class="col-sm-12 margin-top-30">
									<div class="text-uppercase text-grey margin-bottom-10">Suggested Topics</div>
								  </div>
								  <div class="col-sm-3">
									<div class="lookingFor interest">
									  <div class="lookingFor-thumb" style="text-align: center; padding-top: 20%">
										<a mat-button [disabled]="interests.length >= maxTopics" (click)="addNewTopic()">
										  <mat-icon style="font-size: 30px">
											add
										  </mat-icon>
										</a>
									  </div>
									</div>
								  </div> &ndash;&gt;
								  &lt;!&ndash; <div class="col-sm-3" *ngFor="let topic of suggestedTopics">
									<div class="lookingFor interest">
									  <label class="check">
										<mat-icon *ngIf="topic.checked" color="accent">
										  check_circle
										</mat-icon>
									  </label>
									  <div class="lookingFor-thumb">
										<i class="topic.id"></i>
									  </div>
									  <span class="lookingForTitle captitalise">{{ topic.name }}</span>
									</div>
								  </div> &ndash;&gt;
								</div>-->
								<div style="margin-top:60px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right" matTooltip="Add at least one interest to continue" [matTooltipDisabled]="interests.length !== 0">
										<button mat-button color="primary" class="mat-border-button" [disabled]="interests.length == 0 || busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="onboarding step-4" [hidden]="step!=4">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Which language will you host in?</h2>
							<p class="subtitle">You will write your descriptions and present your class in this language. Guests will be notified of this in your
								class description.</p>
							<br/>
							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<div class="row margin-top-60">
									<mat-form-field [floatLabel]="'always'" class="col-md-4">
										<input type="text" name="other_languages" style="border-bottom: 0px;" placeholder="Select Language" matInput formControlName="selectedLanguage"
										 [matAutocomplete]="auto">
										<mat-autocomplete #auto="matAutocomplete">
											<mat-option *ngFor="let l of filteredLanguageOptions | async" [value]="l" (click)="languageChange(l)">{{l}}</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div style="margin-top:100px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right" matTooltip="Select a language to continue" [matTooltipDisabled]="selectedLanguages!==undefined">
										<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="selectedLanguages===undefined || busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- step 4 ends here  -->
				<div class="onboarding step-5" [hidden]="step!=5">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Introduce yourself as a Host</h2>
							<p class="subtitle">Describe yourself and tell guests how you came to be passionate about hosting this class.</p>

							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<div class="row margin-top-30" style="margin-top: 30px;">
									<div class="col-sm-12">
										<mat-form-field [floatLabel]="'always'" class="pb-block" style="margin-bottom: 20px">
											<textarea matInput #aboutHost maxlength="1000" rows="1" matTextareaAutosize formControlName="aboutHost" placeholder="Put in your background information"></textarea>
											<mat-hint align="end">{{aboutHost.value.length}} / 1000</mat-hint>
										</mat-form-field>
									</div>
								</div>
								<div class="mat-h5">
									<a href="javascript:void(0)" (click)="importProfileBio()">Import bio from my profile</a>
								</div>
								<div style="margin-top:80px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right" matTooltip="A brief description about yourself is mandatory to continue" [matTooltipDisabled]="aboutHost.value.length !== 0">
										<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="aboutHost.value.length == 0 || busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--Disclaimer-->
				<div class="onboarding step-6" [hidden]="step!=6">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Create the page learners will see</h2>
							<p class="subtitle" style="color: #333333;">Write in a clear, straightforward and friendly way. We'll prompt you on when to show off your personality and be more
								descriptive.
							</p>
							<br/>
							<div style="margin-top:60px;">
								<button mat-raised-button type="button" (click)="back()" color="primary" class="mat-border-button">
									Back
								</button>
								<button mat-raised-button (click)="next()" color="primary" class="pull-right">
									Next
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Step 6 - Title -->
				<div class="onboarding step-7" [hidden]="step!=7">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<div class="row">
									<div class="col-sm-12 margin-bottom-30">
										<div class="form-group">
											<h2 class="title">Title</h2>
											<p class="subtitle">
												Make it short and sweet
											</p>
											<br/>
											<mat-form-field [floatLabel]="'always'" class="pb-block" style="margin-bottom: 20px">
												<input matInput #title formControlName="title" maxlength="100" placeholder="Enter Name">
												<mat-hint align="start">{{100 - title.value.length}} more characters allowed</mat-hint>
												<mat-hint align="end">{{title.value.length}} / 100</mat-hint>
											</mat-form-field>
										</div>
									</div>
									<div class="col-sm-12 margin-bottom-30">
										<div class="form-group">
											<h2 class="title">Headline</h2>
											<p class="subtitle">
												Clearly describe your class in one short, catchy sentence.
												<br/> Start with a verb that tells peers what they will do.
											</p>
											<br/>
											<mat-form-field [floatLabel]="'always'" class="pb-block" style="margin-bottom: 20px">
												<input matInput #headline formControlName="headline" maxlength="100" placeholder="Write headline">
												<mat-hint align="start">{{100 - headline.value.length}} more characters allowed</mat-hint>
												<mat-hint align="end">{{headline.value.length}} / 100</mat-hint>
											</mat-form-field>
										</div>
									</div>
								</div>
								<div style="margin-top:60px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right" matTooltip="Please type in a headline to continue." [matTooltipDisabled]="title.value.length !== 0 || headline.value.length !== 0">
										<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="title.value.length === 0 || headline.value.length === 0 || busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- step 7 - Description  -->
				<div class="onboarding step-8" [hidden]="step!=8">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<div class="row">
									<div class="col-sm-12 margin-bottom-30">
										<h2 class="title">What’s the class about?</h2>
										<p class="subtitle">Give a detailed description to learners of what they will do in this class</p>
										<mat-form-field [floatLabel]="'always'" class="pb-block" style="margin-top: 20px; margin-bottom: 20px">
											<textarea matInput #description maxlength="2000" rows="1" matTextareaAutosize formControlName="description" placeholder="What we'll do in this class?"></textarea>
											<mat-hint align="end">{{description.value.length}} / 2000</mat-hint>
										</mat-form-field>
									</div>
								</div>
								<div style="margin-top:60px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right" matTooltip="Describe your class in detail to continue" [matTooltipDisabled]="description.value.length !== 0">
										<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="description.value.length == 0 || busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- step 8 Difficulty Level-->
				<div class="onboarding step-9" [hidden]="step!=9">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<h2 class="title">Who should come?</h2>
								<p class="subtitle">Start with a level of difficulty</p>
								<div class="col-sm-12 margin-bottom-30 padding-left-0">
									<mat-form-field [floatLabel]="'never'">
										<mat-select formControlName="difficultyLevel" [placeholder]="'Select difficulty level'">
											<mat-option [value]="">--Select--</mat-option>
											<mat-option *ngFor="let d of difficulties" [value]="d">{{d}}</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<h3 class="title">Pre-requisites</h3>
								<p class="subtitle">Describe the knowledge prerequisites, if there are any, that learners should know of.</p>
								<div class="col-sm-12 margin-bottom-30 padding-left-0">
									<mat-form-field [floatLabel]="'always'" class="pb-block">
										<textarea matInput #notes maxlength="1000" rows="1" matTextareaAutosize formControlName="notes"></textarea>
										<mat-hint align="end">{{notes.value.length}} / 1000</mat-hint>
									</mat-form-field>
								</div>
								<div style="margin-top:60px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right" matTooltip="Please fill all the details" [matTooltipDisabled]="class.controls['difficultyLevel'].value && class.controls['notes'].value">
										<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="(!class.controls['difficultyLevel'].value && notes.value.length == 0) || busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Step 9 - Max Spots -->
				<div class="onboarding step-10" [hidden]="step!=10">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">How many seats are available in each cohort? </h2>
							<p class="subtitle">
								Remember to keep your class as personal as possible.
								<br>The fuller your class, the less attention you can give to each individual learner.
							</p>
							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<div class="row">
									<div class="col-sm-4">
										<mat-form-field [floatLabel]="'always'" class="pb-block" style="margin-top: 20px; margin-bottom: 20px">
											<input type="number" matInput #maxSpots min="1" formControlName="maxSpots" placeholder="Enter Number">
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div style="padding-top:60px;">
											<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
												Back
											</button>
											<span class="pull-right" matTooltip="Enter the maximum number of participants you can teach in each Cohort of this class"
											 [matTooltipDisabled]="maxSpots.value.length !== 0 && maxSpots.value > 0">
												<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="maxSpots.value.length == 0 || maxSpots.value < 0 || busySavingData">
													<span *ngIf="!busySavingData">Next</span>
													<span>
														<ngx-loading [show]="busySavingData"></ngx-loading>
													</span>
												</button>
											</span>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- step 10 Photos -->
				<div class="onboarding step-11" [hidden]="step!=11">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Showcase your class</h2>
							<p class="subtitle">
								Give the world a taste of your class by showcasing captivating videos and/or photos
							</p>
							<form [formGroup]="class" (ngSubmit)="submitClass()" novalidate>
								<div class="row padding-top-20">
									<div class="col-md-8">
										<div c lass="stepHeader margin-top-20">Upload an image for your cover</div>
										<p-fileUpload auto="auto" *ngIf="!uploadingImage" #fubauto name="image" accept="image/*" customUpload="true" (uploadHandler)="uploadImage($event)"
										 maxFileSize="10000000" chooseLabel="Browse" (onRemove)="deleteFromContainerArr($event, 'image')">
											<ng-template pTemplate="toolbar">
												<div style="font-size: 80%; margin-top: 5px;">You can upload a maximum of 1 image</div>
											</ng-template>
										</p-fileUpload>
										<h5>Max File Size
											<b>10MB</b>
										</h5>
										<div *ngIf="urlForImages.length" class="pic delete">
											<div *ngFor="let file of urlForImages" class="col-md-6 padding-left-0 imageContainer">
												<img src="{{envVariable.apiUrl + file}}" width="150" style="border: 0.5px solid #ccc">
												<mat-icon (click)="deleteFromContainer(file, 'image')" class="delete-button">close</mat-icon>
											</div>
										</div>
										<div class="loading-container" [hidden]="!uploadingImage">
											<ngx-loading [show]="true"></ngx-loading>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-8">
										<div class="stepHeader margin-top-20">Upload a video for your cover</div>
										<app-upload-file (uploaded)="addVideoUrl($event)"></app-upload-file>
										<h5>Max File Size
											<b>1000MB</b>
										</h5>
										<div *ngIf="urlForVideo.length" class="profileVideo delete">
											<div *ngFor="let file of urlForVideo" class="col-md-6 padding-left-0 videoContainer">
												<video controls width="150" class="uploaded_picture" style="border: 0.5px solid #ccc;" preload="metadata">
													<source src="{{envVariable.apiUrl + file}}"> Your browser does not support the video tag.
												</video>
												<mat-icon (click)="deleteFromContainer(file, 'video')" class="delete-video">close</mat-icon>
											</div>
										</div>
										<div class="loading-container" [hidden]="!uploadingVideo">
											<ngx-loading [show]="true"></ngx-loading>
										</div>
									</div>
								</div>
								<div class="row padding-top-20">
									<div class="col-md-12">
										<div class="margin-top-60">
											<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
												Back
											</button>
											<span class="pull-right">
												<span matTooltip="An image is mandatory to continue" [matTooltipDisabled]="urlForImages.length !== 0">
													<button mat-button color="primary" class="mat-border-button" [disabled]="urlForImages.length === 0 || busySavingData" type="Submit">
														<span *ngIf="!busySavingData">Next</span>
														<span>
															<ngx-loading [show]="busySavingData"></ngx-loading>
														</span>
													</button>
												</span>
											</span>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
				<!-- step 11 - Certificate -->
				<div class="onboarding step-12" [hidden]="step!=12">
					<app-custom-certificate-form #certificateComponent *ngIf="certificateLoaded" [data]="certificateForm.value" (back)="back()"
					 (next)="submitCertificate($event)"></app-custom-certificate-form>
				</div>
				<!-- step 12 - Assessment -->
				<div class="onboarding step-13" [hidden]="step!=13">
					<form [formGroup]="assessmentForm" (ngSubmit)="submitAssessment()">
						<div class="row">
							<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
								<h2 class="title">How will you grade your students?</h2>
								<p class="subtitle">
									Choose where you will grade your students or will they grade each other or will an external party grade them?
									<br/>Also, let students know about your grading pattern and the value of each grade.
								</p>
								<h3 class="margin-top-40">Assessment rules for academic performance</h3>
								<div class="row padding-top-10" *ngIf="!assessmentForm.value.style || (assessmentForm.value.style && assessmentForm.value.style.length>0)">
									<mat-radio-group [(ngModel)]="defaultAssesment" [ngModelOptions]="{standalone: true}">
										<span *ngFor="let assessment of availableDefaultAssessments">
											<div class="col-xs-12 col-md-4 padding-top-20">
												<mat-card>
													<mat-radio-button [value]="assessment.values" (change)="assessmentChange($event)">{{assessment.system}}
														<br>
														<span class="lightText">
															{{assessment.description}}
														</span>
													</mat-radio-button>
												</mat-card>
											</div>
										</span>
									</mat-radio-group>
								</div>
								<div class="row padding-top-10">
									<div class="col-xs-12 subtitle">
										You can select one of the sample grading systems from above or you can create a custom system by adding new rule.
									</div>
								</div>
								<span *ngIf="assessmentForm.controls['rules']['controls'].length>0">
									<div class="row padding-top-40">
										<div class="col-xs-4">
											Grade / Percent / Percentile
										</div>
										<div class="col-xs-4">
											equals how much academic Gyan?
										</div>
									</div>
									<div formArrayName="rules">
										<div *ngFor="let ruleForm of assessmentForm.controls['rules']['controls']; let i = index" [formGroupName]="i" class="row margin-top-20">
											<div class="col-xs-4">
												<mat-form-field class="pb-block">
													<input matInput formControlName="value" required>
												</mat-form-field>
											</div>
											<div class="col-xs-4">
												<mat-form-field class="pb-block">
													<span matSuffix>
														%
													</span>
													<input type="number" min="0" max="100" matInput formControlName="gyan" min="1" required>
													<mat-error>Please enter a value between 1 and 100</mat-error>
												</mat-form-field>
											</div>
											<div class="col-xs-4">
												<mat-icon class="clickable" (click)="deleteAssessmentRule(i)" matTooltip="Delete this rule?" style="color: #aaaaaa;">delete</mat-icon>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 clickable">
											<a (click)="addAssessmentRule()">
												<mat-icon style="top: 5px;">add_circle_outline</mat-icon>
												Add a rule
											</a>
										</div>
									</div>
								</span>
								<h3 class="margin-top-40">Assessment rules for non academic performance</h3>
								<div formArrayName="nARules">
									<div *ngFor="let ruleForm of assessmentForm.controls['nARules']['controls']; let i = index" [formGroupName]="i" class="row">
										<!-- <div class="col-xs-4">
											<span style="line-height: 4">
												{{ruleForm.value.value | titlecase}}
											</span>
										</div>
										<div class="col-xs-4">
											<mat-form-field class="pb-block">
												<span matSuffix>
													%
												</span>
												<input type="number" matInput formControlName="gyan">
												<mat-error>Total Gyan distribution cannot be greater than 100% or less than 1%</mat-error>
											</mat-form-field>
										</div> -->
										<div class="col-xs-12" *ngIf="i<1">
											<div class="row">
												<div class="col-xs-3">
													Engagement {{assessmentForm.value.nARules[0].gyan}}%
												</div>
												<div class="col-xs-6">
													<mat-slider class="pb-block" max="99" min="1" thumbLabel="true" formControlName="gyan">
													</mat-slider>
												</div>
												<div class="col-xs-3">
													Commitment {{assessmentForm.value.nARules[1].gyan}}%
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" style="margin-top:100px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right">
										<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</div>

						</div>
					</form>
				</div>

				<!-- step 13 - Price -->
				<div class="onboarding step-14" [hidden]="step!=14">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<form [formGroup]="class" (ngSubmit)="submitClass()">
								<h2 class="title">Set a price for this class</h2>
								<p class="subtitle">
									The price of your class is entirely up to you.
								</p>
								<h3 class="title" style="margin-top: 40px !important;">Price</h3>
								<div style="border: 1px solid #ddd; padding: 25px;">
									<div class="row">
										<div class="col-md-3">
											<mat-checkbox [(ngModel)]="freeClass" (ngModelChange)="onFreeChange($event)" [ngModelOptions]="{standalone: true}">Free</mat-checkbox>
										</div>
									</div>
									<br/>
									<div class="lightText mat-caption" *ngIf="!freeClass">OR</div>
									<br/>
									<div class="row margin-left-0" *ngIf="!freeClass">
										<div class="col-md-3 col-xs-2 padding-top-10">
											<!-- <mat-form-field [floatLabel]="'never'">
												<span matPrefix>
												</span>
												<input type="number" matInput #price formControlName="price" placeholder="0" min="1" required>
											</mat-form-field> -->
											{{0 | currency: class.controls['currency'].value : 'symbol' | slice:0:1}} &nbsp;
											<p-spinner size="7" formControlName="price"></p-spinner>
										</div>
										<div class="col-md-2 col-xs-2">
											<mat-form-field [floatLabel]="'never'">
												<mat-select formControlName="currency" placeholder="USD">
													<mat-option *ngFor="let c of currencies" [value]="c">{{c}}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>
								<!-- <h3 class="title" style="margin-top: 40px !important;">How many Gyan (credits) is this class worth?</h3>
								<div style="border: 1px solid #ddd; padding: 25px;">
									<div class="row margin-left-0 margin-top-20">
										<div class="col-md-3 col-xs-2 padding-left-0">
											<mat-form-field>
												<span mat-label>
													Gyan for academic performance
													<mat-icon matTooltip="Enter the amount of maximum Gyan you think students could earn if they got the best grades." style="font-size: 12px; top: 2px;">info_outline</mat-icon>
												</span>
												<input type="number" matInput formControlName="academicGyan" min="1" required>
												<mat-error *ngIf="maxGyanExceding">Your gyan value cannot exceed {{gyanBalance}} or you have to create class for {{totalGyan}} Gyan</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-2 col-md-offset-2 col-xs-2 col-xs-offset-4">
											<mat-form-field>
												<span mat-label>
													Gyan for non academic performance
													<mat-icon style="font-size: 12px; top: 2px;" matTooltip="Enter additional Gyan students could earn based on non academic performance like attendance or community engagement. This is optional.">info_outline</mat-icon>
												</span>
												<input type="number" matInput formControlName="nonAcademicGyan" min="0" required>
												<mat-error *ngIf="maxGyanExceding">Your gyan value cannot exceed {{gyanBalance}} or you have to create class for {{totalGyan}} </mat-error>
											</mat-form-field>
										</div>
									</div>
								</div> -->
								<h3 class="title" style="margin-top: 40px !important;">Cancellation Policy</h3>
								<div class="row margin-left-0">
									<div class="col-sm-12 padding-left-0">
										Students will get a full refund if they cancel within &nbsp;
										<mat-form-field [floatLabel]="'never'">
											<mat-select formControlName="cancellationPolicy" placeholder="3 Days">
												<mat-option *ngFor="let cp of cancellationPolicies" [value]="cp">{{cp}}</mat-option>
											</mat-select>
										</mat-form-field>
										&nbsp; of signing up.
									</div>
								</div>
								<div style="margin-top:100px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<span class="pull-right" matTooltip="Enter a price you wish to charge for this class, its gyan value and its cancellation policy"
									 [matTooltipDisabled]="class.controls['price'].value && class.controls['currency'].value  && class.controls['cancellationPolicy'].value && class.controls['academicGyan'].value && class.controls['nonAcademicGyan'].value">
										<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="!(freeClass || (class.controls['price'].value && class.controls['currency'].value)) || !class.controls['cancellationPolicy'].value || !class.controls['academicGyan'].value || !class.controls['nonAcademicGyan'].value || busySavingData">
											<span *ngIf="!busySavingData">Next</span>
											<span>
												<ngx-loading [show]="busySavingData"></ngx-loading>
											</span>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!--Step 14 - Disclaimer-->
				<div class="onboarding step-15" [hidden]="step!=15">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Add content to your Class</h2>
							<form [formGroup]="class">
								<p class="subtitle">Create a detailed timeline of your class and add content for every event in your itinerary. Learners will see this
									before they sign up for your class.</p>
								<div style="margin-top:60px;">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
									<button class="pull-right" mat-raised-button color="primary" (click)="next()">Next</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--Step 15 - Itinerary-->
				<div class="onboarding step-16" [hidden]="step!=16">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Set your default timeline
							</h2>
							<p class="subtitle">
								Create a default timeline for your class and add activities to it. Later on, you can create as many cohorts with specific
								start dates.
							</p>
							<form [formGroup]="timeline" (ngSubmit)="submitClassTimeline()" novalidate>
								<!--(ngSubmit)="submitTimeline(timeline)" -->
								<div formGroupName="calendar" *ngIf="(!timeline.controls.calendar.value.startDate && !timeline.controls.calendar.value.endDate) || datesEditable">
									<div class="row" style="margin: 30px 0px 15px -15px;">
										<div class="col-xs-6">
											<mat-form-field [floatLabel]="'auto'" class="dateStyles">
												<input matInput [matDatepicker]="startDatePicker" [min]="currentDate" placeholder="Start date" formControlName="startDate"
												 (click)="startDatePicker.open()" disabled>
												<mat-datepicker-toggle matSuffix [for]="startDatePicker" class="svgStyle {{activeClass}}"></mat-datepicker-toggle>
												<mat-datepicker touchUi="true" #startDatePicker disabled="false"></mat-datepicker>
											</mat-form-field>
										</div>
										<div class="col-xs-6">
											<mat-form-field [floatLabel]="'auto'" class="dateStyles">
												<input matInput [matDatepicker]="endDatePicker" [min]="timeline.controls['calendar'].value.startDate" placeholder="End date"
												 formControlName="endDate" (click)="endDatePicker.open()" disabled>
												<mat-datepicker-toggle matSuffix [for]="endDatePicker" class="svgStyle"></mat-datepicker-toggle>
												<mat-datepicker touchUi="true" #endDatePicker disabled="false"></mat-datepicker>
											</mat-form-field>
										</div>
									</div>
								</div>
								<div formGroupName="calendar" *ngIf="(timeline.controls['calendar'].value.startDate && timeline.controls['calendar'].value.endDate) && !datesEditable">
									<div class="row" style="margin: 30px 0px 15px 0;">
										<div class="col-md-12 selected-dates">
											{{timeline.controls['calendar'].value.startDate | date: 'dd MMM'}} - {{timeline.controls['calendar'].value.endDate | date:'dd
											MMM'}} &emsp;
											<mat-icon color="accent">
												date_range
											</mat-icon>
											<a style="cursor: pointer; color: #33bd9e;" (click)="makeDatesEditable()">Change dates</a>
										</div>
									</div>
								</div>
								<div class="row" *ngIf="timeline.controls['calendar'].value.startDate && timeline.controls['calendar'].value.endDate">
									<app-class-content [myForm]="timeline.controls['contentGroup']" [collection]="classData" [calendar]="timeline.controls['calendar'].value"
									 (days)="daysCollection($event)">
									</app-class-content>
								</div>
								<div class="row">
									<div style="margin-top:100px;">
										<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
											Back
										</button>
										<span class="pull-right" matTooltip="A minimum of 1 day class is mandatory to continue" [matTooltipDisabled]="(timeline.controls['calendar'].value.startDate || timeline.controls['calendar'].value.endDate)">
											<button mat-button color="primary" class="mat-border-button" type="Submit" [disabled]="(!timeline.controls['calendar'].value.startDate && !timeline.controls['calendar'].value.endDate) || busySavingData">
												<span *ngIf="!busySavingData">Next</span>
												<span>
													<ngx-loading [show]="busySavingData"></ngx-loading>
												</span>
											</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--Step 16 - Submit for review-->
				<div class="onboarding step-17" [hidden]="step!=17">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Review and submit</h2>
							<div *ngIf="!isSubmitted">
								<div style="margin-top:40px;">
									<mat-checkbox value="val1" [(ngModel)]="selectedValues[0]"></mat-checkbox>
									<span class="checkbox_label">You meet our
										<a class="clickable" (click)="standards()">standards</a>.</span>
								</div>
								<div style="margin-top:20px;">
									<mat-checkbox value="val2" [(ngModel)]="selectedValues[1]"></mat-checkbox>
									<span class="checkbox_label">You agree to our
										<a class="clickable" (click)="termsAndCondition()">terms and conditions</a>.</span>
								</div>
								<div class="row">
									<div class="col-md-12 margin-top-60">
										<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
											Back
										</button>
										<span class="pull-right" matTooltip="You need to agree to Peerbuds community terms to submit this class for approval" [matTooltipDisabled]="selectedValues[0] && selectedValues[1]">
											<button mat-raised-button color="primary" (click)="submitForReview();" [disabled]="!selectedValues[0] || !selectedValues[1]">
												Submit for Review</button>
										</span>
									</div>
								</div>
							</div>
							<div *ngIf="isSubmitted" style="margin-top: 70px;">
								Your class has been submitted for review and is awaiting approval from Peerbuds team.
								<br>
								<br> We maintain highest possible standards for all content shared on Peerbuds platform.
							</div>
						</div>
					</div>
				</div>
				<div class="onboarding step-18" [hidden]="step!=18">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Do you want to provide your phone number to learners?</h2>
							<div class="subtitle">Phone numbers make it easy for learners to reach out to you in case of urgent queries.</div>
							<form [formGroup]="phoneDetails">
								<div style="margin-top:50px;">
									<mat-radio-group>
										<mat-radio-button class="pb-block margin-bottom-20" name="phone" value="1" (click)="toggleChoice(1)" *ngIf="!isPhoneVerified">Yes</mat-radio-button>
										<div *ngIf="selectedOption === 1 || isPhoneVerified" style="margin: 20px 0px 30px 0px;">
											<mat-form-field [floatLabel]="'always'" style="margin: 20px 0px;">
												<input type="tel" matInput #countryCode formControlName="countryCode" placeholder="Country Code" [readOnly]="true">
											</mat-form-field>
											<mat-form-field [floatLabel]="'always'" class="pb-block" style="margin: 20px 0px;">
												<input type="tel" matInput #phoneNo formControlName="phoneNo" placeholder="Phone number from profile" [readOnly]="true">
												<mat-hint *ngIf="!isPhoneVerified">We will send the confirmation code on your mobile</mat-hint>
												<mat-hint *ngIf="isPhoneVerified">Update your phone number from profile to change it for this class</mat-hint>
											</mat-form-field>
											<button mat-raised-button #sendOtpButton color="accent" (click)="submitPhoneNo($event.target, 'Sending OTP...')" *ngIf="!isPhoneVerified">
												Send Code as SMS
											</button>
											<button mat-raised-button #sendOtpButton color="accent" *ngIf="isPhoneVerified">
												<mat-icon mat-prefix style="margin-top: -12px; margin-right: 5px; color: white;">check_circle</mat-icon> Phone Verified
											</button>
										</div>
										<div *ngIf="otpSent && !isPhoneVerified" style="margin: 20px 0px 50px 0px;">
											<p>Type the 4 digit verification code</p>
											<mat-form-field [floatLabel]="'always'" class="pb-block inputOTP" style="margin: 20px 0px;">
												<input type="text" matInput #inputOTP formControlName="inputOTP" placeholder="Verification code">
											</mat-form-field>
											<button mat-raised-button color="accent" (click)="submitOTP()">Confirm Code</button>
										</div>
										<mat-radio-button class="pb-block margin-bottom-20" name="phone" value="0" (click)="toggleChoice(0)" *ngIf="!isPhoneVerified">No, thanks</mat-radio-button>
									</mat-radio-group>
								</div>
								<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
									Back
								</button>
								<span class="pull-right" matTooltip="Please verify your phone number to continue" [matTooltipDisabled]="selectedOption !==-1 || isPhoneVerified">
									<button mat-button (click)="next()" color="primary" class="mat-border-button" [disabled]="selectedOption ===-1 && !isPhoneVerified">
										Next
									</button>
								</span>
							</form>
						</div>
					</div>
				</div>
				<div class="onboarding step-19" [hidden]="step!=19">
					<div class="row">
						<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
							<h2 class="title">Connect Payment Option</h2>
							<div class="subtitle">Choose from available payout options or add a new one</div>
							<div class="row loading-container" style="padding-top: 10px; padding-bottom: 10px;" *ngIf="payoutLoading">
								<ngx-loading [show]="true"></ngx-loading>
							</div>
							<div class="margin-top-30" *ngIf="!payoutLoading && payoutAccounts && payoutAccounts.length > 0" style="padding-top: 5px; padding-bottom: 15px">
								<span class="mat-body-2">
									Connect existing account
								</span>
							</div>
							<div class="row table" *ngIf="!payoutLoading">
								<div class="col-md-10">
									<div class="row table-header">
										<div class="col-md-3 ">
											<b>Method</b>
										</div>
										<div class="col-md-3">
											<b>Details</b>
										</div>
										<div class="col-md-3">
											<b>Status</b>
										</div>
									</div>
									<div class="row table-data">
										<hr>
										<div class="col-md-12">
											<ng-container *ngIf="!addingAccount && payoutAccounts">
												<form [formGroup]="paymentInfo">
													<mat-radio-group formControlName="id">
														<div class="row" *ngFor="let account of payoutAccounts" style="padding-top: 5px; padding-bottom: 5px">
															<div class="col-md-3" [ngSwitch]="account.external_accounts.data[0].object">
																<b *ngSwitchCase="'card'">Card</b>
																<b *ngSwitchCase="'bank_account'">Bank Account</b>
															</div>
															<div class="col-md-3" [ngSwitch]="account.external_accounts.data[0].object">
																<span *ngSwitchCase="'card'">**** **** **** {{account.external_accounts.data[0].last4}}</span>
																<span *ngSwitchCase="'bank_account'">{{account.external_accounts.data[0].account_holder_name}}
																	<br>{{account.external_accounts.data[0].bank_name}} </span>
															</div>
															<div class="col-md-3">
																<b *ngIf="account.external_accounts.data[0].status">{{account.external_accounts.data[0].status | titlecase}}</b>
																<b *ngIf="!account.external_accounts.data[0].status">Ready</b>
															</div>
															<div class="col-md-3">
																<mat-radio-button value="{{account.payoutaccount.id}}">
																</mat-radio-button>
															</div>
														</div>
													</mat-radio-group>
												</form>

											</ng-container>
										</div>
									</div>
								</div>
							</div>
							<div class="margin-top-30" style="padding-top: 5px; padding-bottom: 15px" *ngIf="!payoutLoading">
								<span class="mat-body-2">
									Add new payout account
								</span>
							</div>
							<!-- <form [formGroup]="paymentInfo "> -->
							<div style="margin-top:10px; " *ngIf="!payoutLoading">
								<!--<button mat-button>PayTM</button> &emsp;-->
								<button mat-button class="mat-border-button pull-right">
									<a [href]="connectPaymentUrl">
										<img src="../../../assets/images/stripe.png" style="width: 50px;" />
									</a>
								</button> &emsp;
								<hr>
								<div class="margin-top-60">
									<button mat-button type="button" (click)="back()" color="primary" class="mat-border-button">
										Back
									</button>
								</div>
								<!--<button mat-button>Paypal</button> &emsp;-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>