<div class="mat-dialog-focus-trap"></div>
<div mat-dialog-content class="dialog-container" style="padding: 20px 50px !important;">
	<div class="row margin-top-70 margin-bottom-70">
		<div class="col-xs-12 center margin-bottom-20" *ngIf="invite && invite.peers[0] && invite.peers[0].profiles[0]">
			<h2>Hi {{invite.name}}, you have been invited by </h2>
		</div>
		<div class="col-sm-12 col-xs-1 margin-bottom-20" *ngIf="invite && invite.peers[0] && invite.peers[0].profiles[0]">
			<mat-card>
				<div class="row">
					<div class="col-xs-2">
						<img *ngIf="!invite.peers[0].profiles[0].picture_url" src="/assets/images/user-placeholder.jpg" alt="A" class="clickable circle-thumb">
						<img *ngIf="invite.peers[0].profiles[0].picture_url" src="{{envVariable.apiUrl+ invite.peers[0].profiles[0].picture_url + '/100'}}"
						     class="clickable circle-thumb" alt="dp"> </div>
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-12">
								<b>
									{{invite.peers[0].profiles[0].first_name +' ' + invite.peers[0].profiles[0].last_name}}
								
								</b>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								{{invite.peers[0].profiles[0].headline}}
							</div>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div class="col-xs-12 center margin-bottom-20" *ngIf="invitor && invitor.profiles[0]">
			<h2>Hi, you have been invited by </h2>
		</div>
		<div class="col-sm-12 col-xs-1 margin-bottom-20" *ngIf="invitor && invitor.profiles[0]">
			<mat-card>
				<div class="row">
					<div class="col-xs-2">
						<app-profile-popup [peer]="invitor" style="margin-left: 0;"></app-profile-popup>
					</div>
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-12">
								<b>
									{{invitor.profiles[0].first_name +' ' + invitor.profiles[0].last_name}}
								
								</b>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								{{invitor.profiles[0].headline}}
							</div>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div class="col-sm-12 col-xs-12" [hidden]="emailRegister">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="row margin-bottom-20">
					</div>
					<div class="row margin-bottom-20">
						<div class="col-xs-12 center">
							<a mat-raised-button class="invert-fb btn-block" href="{{envVariable.apiUrl}}/auth/facebook?returnTo=">
								<span class="circle-icon1">
									<i class="fa fa-facebook-f"></i>
								</span>Continue with Facebook
							</a>
						</div>
					</div>
					<div class="row margin-bottom-20">
						<div class="col-xs-12 center">
							<a mat-raised-button class="invert-google btn-block" href="{{envVariable.apiUrl}}/auth/google?returnTo=">
								<span class="circle-icon2">
									<i class="fa fa-google"></i>
								</span>Continue with Google
							</a>
						</div>
					</div>
					<div class="row margin-bottom-20">
						<div class="col-xs-12 center">
							<a mat-raised-button class="invert-fb btn-block" href="{{envVariable.apiUrl}}/auth/linkedin?returnTo=">
								<span class="circle-icon1">
									<i class="fab fa-linkedin-in"></i>
								</span>Continue with LinkedIn
							</a>
						</div>
					</div>
					<div class="btn-hide position-relative text-center">
						<div class="or-seperator-vertical"></div>
						<span class="round-or-text or-text-vertical">or</span>
					</div>
					<div class="row margin-top-20 margin-bottom-20">
						<div class="col-xs-12 center">
							<button mat-button class="mat-border-button pb-block" color="accent" (click)="signupEmail()">
								Continue with email</button>
						</div>
					</div>
					<div class="row margin-bottom-20">
						<div class=" col-xs-10 col-xs-offset-1  margin-bottom-20 small-font btn-hide text-center">Have an account already?
							<a class="btn-link link margin-top-10 clickable" (click)="openLogin()" style="font-size:14px;text-decoration: none;">Log in</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12" [hidden]="!emailRegister">
			<form id="signupForm" [formGroup]="signupForm" (ngSubmit)="submitForm()">
				<div class="margin-bottom-20"> </div>
				<div class="text-center">Sign up with
					<a href="{{envVariable.apiUrl}}/auth/facebook?returnTo=signup-social" class="btn-link link margin-top-10" style="font-size:14px;text-decoration: none;">Facebook</a> or
					<a href="{{envVariable.apiUrl}}/auth/google?returnTo=signup-social" class="btn-link link margin-top-10" style="font-size:14px;text-decoration: none;">
						Google</a>
				</div>
				<div class="position-relative margin-bottom-20 text-center">
					<div class="or-seperator-vertical"></div>
					<span class="round-or-text or-text-vertical">or</span>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<mat-form-field class="pb-block">
							<input matInput formControlName="first_name" placeholder="First Name">
						</mat-form-field>
					</div>
					<div class="col-sm-6 col-xs-12">
						<mat-form-field class="pb-block">
							<input matInput formControlName="last_name" placeholder="Last Name">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<mat-form-field class="pb-block">
							<input matInput formControlName="email" type="email" placeholder="Email">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<mat-form-field class="pb-block">
							<input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
							<mat-icon class="clickable" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
						</mat-form-field>
					</div>
				</div>
				
				<div class="row margin-bottom-20">
					<div class="col-xs-12">
						<mat-form-field class="pb-block">
							<input matInput [matDatepicker]="picker2" placeholder="Select Birthdate" formControlName="birthdate" (click)="picker2.open()">
							<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
							<mat-datepicker touchUi="true" startView="multi-year" [startAt]="startDate" disabled="false" #picker2></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<div class="row margin-bottom-20">
					<!--<div class="col-xs-5 col-xs-offset-1" style="text-align: center">
						<button mat-button class="mat-border-button" color="accent" type="button" (click)="back()">Back</button>
					</div>-->
					<div class="col-xs-12" style="text-align: center">
						<button mat-button class="mat-border-button" color="primary" type="submit">Continue</button>
					</div>
				
				</div>
			</form>
			<div class="align text-center small-font margin-top-40">
				Have an account already?
				<a class="btn-link link margin-top-10 clickable" (click)="openLogin()" style="font-size:14px;text-decoration: none;">Log in</a>
			</div>
		</div>
	</div>
</div>
