.certificate{
    height: 85vh;
    overflow-y: scroll;
}

.editSection{
    overflow-y: scroll;
    height: 85vh;
}

.urlInput{
    min-height: 10vh;
    border: dotted #f1f1f1;
}

.paragraph-icon{
    font-size: 1em;
}