.footer {
    bottom: 60px;
    position: relative;
    left: 21%;
    // color: #979797 !important;
}

.footer-btn {
    color: #979797 !important;
    margin: 0px;
}

.footer-link {
  color: rgba(0,0,0,0.87);
  margin: 0px 39px;
}

.footer-social-link {
  color: rgba(0,0,0,0.87);
  margin: 0px 5px;
}

.sub-footer-link {
  color: rgba(0,0,0,0.87);
}

ul {
    list-style-type: none;
    padding-left: 0px;
  }