<div class="row">
	<div class="col-md-12 margin-top-20">
		<div *ngIf="!notificationsLoaded || !collectionsLoaded" class="loading-container">
			<ngx-loading [show]="true"></ngx-loading>
		</div>
	</div>
</div>
<div class="row margin-top-10" *ngIf="notificationsLoaded && collectionsLoaded">
	<div class="col-md-8">
		<!--Welcome section-->
		<div class="welcome margin-bottom-40" *ngIf="collections.length === 0 && learningCollections.length === 0">
			<div class="mat-body-2">
				Welcome to The Blockchain University
			</div>
			<div class="row margin-top-20">
				<div class="col-md-12" style="text-align: justify">
					Education today is no longer limited to class boards within the four walls of a school
					and all methods and topics of learning may not be equally credited with returns.
					<br /><br />
					In this changing knowledge paradigm, learning is continuous not episodic. Resumes aren’t trustworthy enough, and
					degrees don’t do justice to your entire learning journey and its impact.
					<br /><br />
					Now, more than ever, there is a dire need to keep track of all of your learning; from the source of it to its
					impact on real world projects, jobs and who you pass your knowledge onto next.
					<br /><br />
					The Blockchain University is the world's first blockchain powered education platform focused around interactive
					and community based learning.
					<br /><br />
					Whether it’s
					<ul>
						<li>
							an in-person workshop with someone in the physical world,
						</li>
						<li>
							an online session with a peer,
						</li>
						<li>
							a class with several other learners,
						</li>
						<li>
							answering questions within a community
						</li>
						<li>
							or working on projects from companies;
						</li>
					</ul>
					On theblockchainu.com, just the right amount of information from these activities becomes a part of a growing
					public ledger of the world’s learning and impact.
					<br /><br />
					You control who gets to see your story or what parts of it.
					<br /><br />
					All this knowledge is reflected on your profile as Gyan, the new standard unit of knowledge which is equal to at
					least an hour of learning in any topic.
					The sum of which can be your knowledge score or expertise in any particular topic.
					<br /><br />
					Gyan’s mission is to empower every student, learner, institution and employer with a trusted, traceable and easily
					shareable knowledge score.
					<br /><br />
					As a learner, you can earn the true value of your knowledge by backing your resume with Blockchain University
					powered data.
					<br /><br />
					As a teacher, school or an institution, you can build trust in your teaching content and its impact. Attract more
					students and grow your reputation by competing on things that matter the most.
					<br /><br />
					As an employer, you can know more about the people you hire. Discover trusted knowledge stories attached to
					resumes and digital portfolios.
					<br /><br />
					That is not all! Free flowing knowledge adds real value to the world and with our start-of-the-art activity level
					tracking we can now quantify it.
					<br /><br />
					Karma is a new digital currency that enables every Blockchain University user to get instant value for their
					learning and teaching efforts. With Karma you can get paid for your teaching, pay it forward for further
					education, hire employees or even convert it to US dollars.
					<br /><br />
					Its economics can be summed by saying that teachers get most of them as rewards for teaching while students burn
					them every time they participate in classes; and since they are limited in supply, the quantum of learning that
					gets tracked will drive its monetary value.
					<br /><br />
					So, whether a student, teacher, teaching institution or employer, you can now become a true stakeholder of the
					world’s knowledge story and its impact.
					<br /><br />
					<b>Sahil & Aakash</b>
					<br />
					<span class="mat-caption lightText">Co-founders of The Blockchain University</span>
					<br /><br />
				</div>
			</div>
			<hr style="margin-top: 30px;">
		</div>
		<!--PENDING SESSION REQUESTS-->
		<div class="pendingSessionRequest margin-bottom-40" *ngIf="notApprovedTeachingSessions.length > 0">
			<div class="mat-body-2">
				Pending Requests ({{notApprovedTeachingSessions.length}})
			</div>
			<div class="row margin-top-20">
				<div *ngFor="let session of notApprovedTeachingSessions; let i = index;">
					<div *ngIf="i < 3" class="col-md-4" style="margin-top: 20px;">
						<mat-card style="text-align: center; padding: 20px;">
							<mat-card-content>
								<div style="text-align: right">
									<div class="pull-right">
										<a [matMenuTriggerFor]="notApprovedCardMenu" style="text-align: right; padding: 0px">
											<mat-icon>more_vert</mat-icon>
										</a>
									</div>
								</div>
								<div class="collectionParticipantImageCarousel">
									<div class="circle-thumb-big">
										<app-profile-popup style="margin-left: -15px;" [peer]="session.peers[0]"></app-profile-popup>
									</div>
								</div>
								<div class="teacherName">
									<span>Session with {{session.peers[0].profiles[0].first_name + ' ' + session.peers[0].profiles[0].last_name}}
									</span>
								</div>
								<p class="upcomingEventLabel">
									New request
								</p>
								<div class="upcomingEventTime">
									Requested {{session.createdAt | timeToNow}}
								</div>
								<div class="upcomingEventTime">
									{{session.startTime |extractTime:'Do MMM, h:mm a'}} to {{session.endTime |extractTime:'h:mm a'}}
								</div>
							</mat-card-content>
							<mat-card-footer class="cardFooter">
								<button mat-button (click)="approveSession(session)">Approve</button>
								<button mat-button (click)="rejectSession(session)">Reject</button>
							</mat-card-footer>
						</mat-card>
						<mat-menu #notApprovedCardMenu>
							<button mat-menu-item>
								View Peer Profile
							</button>
							<button mat-menu-item>
								Message Peer
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
			<div class="text-center margin-top-20">
				<button mat-button class="mat-border-button center margin-top-20" [routerLink]="['/console/teaching/sessions']">View
					all</button>
			</div>
			<hr style="margin-top: 30px;">
		</div>
		<!--UPCOMING LEARNING EVENT-->
		<div class="upcomingLearningEvent margin-bottom-40" *ngIf="learningCollections.length > 0 && (ongoingLearningArray.length > 0 || upcomingLearningArray.length > 0)">
			<div class="mat-body-2">
				Ongoing + Upcoming learning events ({{ongoingLearningArray.length + upcomingLearningArray.length}})
			</div>
			<div class="row margin-top-20">
				<div *ngFor="let collection of ongoingLearningArray" [ngSwitch]="collection.status">
					<ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
					<ng-template #noTopicText>No Topics</ng-template>
					<div class="col-md-5" style="margin-top: 20px;" *ngSwitchCase="'active'">
						<mat-card class="upcoming-card" style="text-align: center; padding: 20px;">
							<mat-card-content>
								<div style="text-align: right">
									<div class="pull-right">
										<a [matMenuTriggerFor]="ongoingCardMenu" style="text-align: right; padding: 0px">
											<mat-icon>more_vert</mat-icon>
										</a>
									</div>
								</div>
								<div style="text-align: center">
									<div class="pull-left">
										<mat-chip-list class="cardTypeChip">
											<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'class'">Class</mat-chip>
											<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'experience'">Workshop</mat-chip>
											<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'session'">Session</mat-chip>
										</mat-chip-list>
									</div>
								</div>
								<div class="collectionParticipantImageCarousel">
									<div class="circle-thumb-big" *ngFor="let owner of collection.owners">
										<app-profile-popup [peer]="owner"></app-profile-popup>
									</div>
								</div>
								<div class="teacherName">
									<span class="mat-body-1 clickable" (click)="openProfile(collection.owners[0].id)">{{collection.owners[0].profiles[0].first_name
										+ ' ' + collection.owners[0].profiles[0].last_name}}
									</span>
								</div>
								<div class="teacherHeadline">
									<span>{{collection.owners[0].profiles[0].headline}} </span>
								</div>
								<div class="collectionTitle mat-body-2 clickable" (click)="_collectionService.openCollection(collection)">{{
									collection.title || 'No Title' | ucwords }} </div>
								<mat-progress-bar mode="determinate" value="{{_collectionService.getProgressValue(collection)}}"></mat-progress-bar>
								<div class="collectionSubtitle">
									{{ getThisCollectionDate(collection) }} | {{collection.contents.length}} Activity |
									<span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
								</div>
								<div *ngIf="getLearnerUpcomingEvent(collection).timeToStart===0">
									<p class="upcomingEventLabel">
										Ongoing
									</p>
									<div class="upcomingEventTitle">
										{{ getLearnerUpcomingEvent(collection).title | ucwords}}
									</div>
									<div class="upcomingEventTime">
										{{ getLearnerUpcomingEvent(collection).type | ucfirst }}{{' ' +
										getLearnerUpcomingEvent(collection).fillerWord + ' today'}}
									</div>
								</div>
								<div *ngIf="getLearnerUpcomingEvent(collection).timeToStart>0">
									<p class="upcomingEventLabel">
										Up Next
									</p>
									<div class="upcomingEventTitle">
										{{ getLearnerUpcomingEvent(collection).title | ucwords }}
									</div>
									<div class="upcomingEventTime">
										{{ getLearnerUpcomingEvent(collection).type | ucfirst }}{{' ' +
										getLearnerUpcomingEvent(collection).fillerWord + ' in ' +
										getLearnerUpcomingEvent(collection).timeToStart + ' days' }}
									</div>
								</div>
								<span *ngIf="getLearnerUpcomingEvent(collection) &&  getLearnerUpcomingEvent(collection).timeToStart < 0">
									<p class="upcomingEventLabel">
										Last Activity
									</p>
									<div class="upcomingEventTitle">
										{{ getLearnerUpcomingEvent(collection).title | titlecase | shorten:20 :'...'}}
									</div>
									<div class="upcomingEventTime">
										{{ getLearnerUpcomingEvent(collection).type| titlecase }} {{ getLearnerUpcomingEvent(collection).fillerWord
										+ ' was ' + -(getLearnerUpcomingEvent(collection).timeToStart) + ' days ago' }}
									</div>
								</span>
							</mat-card-content>
							<mat-card-actions *ngIf="getLearnerUpcomingEvent(collection).hasStarted">
								<button mat-raised-button (click)="onSelect(collection)">{{getLearnerUpcomingEvent(collection).upcomingEventButtonText}}</button>
							</mat-card-actions>
							<br>
						</mat-card>
					</div>
					<mat-menu #ongoingCardMenu>
						<button mat-menu-item (click)="exitCollection(collection)">
							Cancel
						</button>
					</mat-menu>
				</div>
				<div *ngFor="let collection of upcomingLearningArray" [ngSwitch]="collection.status">
					<ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
					<ng-template #noTopicText>No Topics</ng-template>
					<div class="col-md-5" style="margin-top: 20px;" *ngSwitchCase="'active'">
						<mat-card class="upcoming-card" style="text-align: center; padding: 20px;">
							<mat-card-content>
								<div style="text-align: right">
									<div class="pull-right">
										<a [matMenuTriggerFor]="upcomingCardMenu" style="text-align: right; padding: 0px">
											<mat-icon>more_vert</mat-icon>
										</a>
									</div>
								</div>
								<div style="text-align: center">
									<div class="pull-left">
										<mat-chip-list class="cardTypeChip">
											<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'class'">Class</mat-chip>
											<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'experience'">Workshop</mat-chip>
											<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'session'">Session</mat-chip>
										</mat-chip-list>
									</div>
								</div>
								<div class="collectionParticipantImageCarousel">
									<div class="circle-thumb-big" *ngFor="let owner of collection.owners">
										<app-profile-popup [peer]="owner"></app-profile-popup>
									</div>
								</div>
								<div class="teacherName">
									<span class="mat-body-1">{{collection.owners[0].profiles[0].first_name + ' ' +
										collection.owners[0].profiles[0].last_name}}
									</span>
								</div>
								<div class="teacherHeadline">
									<span>{{collection.owners[0].profiles[0].headline}} </span>
								</div>
								<div class="collectionTitle mat-body-2 clickable" (click)="_collectionService.openCollection(collection)">{{
									collection.title || 'No Title' | ucwords }} </div>
								<div class="lighterText">
									Booked {{getDaysBetween(collection.updatedAt, now)}}
								</div>
								<div class="collectionSubtitle">
									{{ getThisCollectionDate(collection) }} | {{collection.contents.length}} Activity |
									<span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
								</div>
								<div *ngIf="getLearnerUpcomingEvent(collection).timeToStart===0">
									<p class="upcomingEventLabel">
										Ongoing
									</p>
									<div class="upcomingEventTitle">
										{{ getLearnerUpcomingEvent(collection).title | ucwords}}
									</div>
									<div class="upcomingEventTime">
										{{ getLearnerUpcomingEvent(collection).type | ucfirst }}{{' ' +
										getLearnerUpcomingEvent(collection).fillerWord + ' today'}}
									</div>
								</div>
								<div *ngIf="getLearnerUpcomingEvent(collection).timeToStart>0">
									<p class="upcomingEventLabel">
										Up Next
									</p>
									<div class="upcomingEventTitle">
										{{ getLearnerUpcomingEvent(collection).title | ucwords }}
									</div>
									<div class="upcomingEventTime">
										{{ getLearnerUpcomingEvent(collection).type | ucfirst }}{{' ' +
										getLearnerUpcomingEvent(collection).fillerWord + ' in ' +
										getLearnerUpcomingEvent(collection).timeToStart + ' days' }}
									</div>
								</div>
							</mat-card-content>
							<mat-card-actions *ngIf="getLearnerUpcomingEvent(collection).hasStarted">
								<button mat-raised-button (click)="onSelect(collection)">{{getLearnerUpcomingEvent(collection).upcomingEventButtonText}}</button>
							</mat-card-actions>
							<br>
						</mat-card>
					</div>
					<mat-menu #upcomingCardMenu>
						<button mat-menu-item (click)="exitCollection(collection)">
							Cancel Participation
						</button>
					</mat-menu>
				</div>
			</div>
			<div class="text-center margin-top-20">
				<button mat-button class="mat-border-button center margin-top-20" [routerLink]="['/console/learning/all']">View all</button>
			</div>
			<hr style="margin-top: 30px;">
		</div>
		<!--NOTIFICATIONS-->
		<div class="notifications margin-bottom-40" *ngIf="notifications.length > 0">
			<div class="mat-body-2 margin-bottom-20">
				Notifications ({{notifications.length}})
			</div>
			<div>
				<div *ngFor="let notification of notifications; let i = index;">
					<div *ngIf="!notification.hidden && i <= 3">
						<div [ngClass]="{'row': true, 'full-width': true, 'notificationsRow': true, 'notificationsRowUnread': !notification.seen}"
						 (click)="onNotificationClick(notification)">
							<div class="col-md-1 col-xs-2">
								<img *ngIf="!notification.actor[0].profiles[0].picture_url" src="/assets/images/avatar.png" alt="A" class="circle-thumb notificationsImage">
								<img *ngIf="notification.actor[0].profiles[0].picture_url" src="{{envVariable.apiUrl + notification.actor[0].profiles[0].picture_url}}/100"
								 alt="A" class="circle-thumb notificationsImage">
							</div>
							<div class="col-md-10 col-xs-9">
								<!--Content here-->
								<div innerHTML="{{getNotificationText(notification) | ucfirst}}"></div>
								<h6 class="mat-caption" style="margin-top: 0px;">{{getNotificationTime(notification)}}</h6>
							</div>
							<div class="col-md-1 col-xs-1" style="top: 10px;">
								<mat-icon class="lightText" style="font-size: 10px; cursor: pointer;" (click)="hideNotification(notification)">close</mat-icon>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center margin-top-20">
				<button mat-button class="mat-border-button center margin-top-20" [routerLink]="['/console/account/notifications']">View
					all</button>
			</div>
			<hr style="margin-top: 30px; margin-right: 60px;">
		</div>
		<!--TEACHING CONTENT-->
		<div class="teachingContent margin-bottom-40" *ngIf="collections.length > 0">
			<div class="mat-body-2">
				Your teaching content ({{collections.length}})
			</div>
			<div *ngFor="let collection of collections; let i = index;">
				<div class="row margin-top-30" *ngIf="i < 3">
					<div class="col-xs-6">
						<div class="teachingContentThumb clickable" *ngIf="collection.imageUrls && collection.imageUrls.length > 0"
						 [ngStyle]="{'background': 'url(' + envVariable.apiUrl + collection.imageUrls[0] + '/300), url(../../assets/images/collection-placeholder.jpg)', 'background-size': 'cover'}"
						 (click)="_collectionService.openCollection(collection)"></div>
						<div class="teachingContentThumb clickable" *ngIf="!collection.imageUrls || collection.imageUrls.length === 0"
						 [ngStyle]="{'background': 'url(url(../../assets/images/collection-placeholder.jpg)', 'background-size': 'cover'}"
						 (click)="_collectionService.openCollection(collection)"></div>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<div class="col-md-12 clickable" (click)="_collectionService.openCollection(collection)">
								<b>{{collection.title | ucfirst | shorten: 40 : '...'}}</b>
							</div>
						</div>
						<div class="row margin-bottom-20">
							<div class="col-md-12">
								<div class="mat-caption">
									<span>
										{{_collectionService.calculateTotalHours(collection) | i18nPlural : hourMapping}} {{collection.type}}
										&nbsp;&nbsp;&nbsp;
										<mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>{{collection.contents.length
										| i18nPlural : activityMapping}} &nbsp;&nbsp;&nbsp;
										<mat-icon style="font-size: 5px; top: -2px; height: 20px; width: 12px;">fiber_manual_record</mat-icon>
										<p-rating style="display: inline-flex;" [ngModel]="collection.reviewValue" readonly="true" stars="5" [cancel]="false"></p-rating>
									</span>
								</div>
							</div>
						</div>
						<div class="row margin-bottom-10">
							<div class="col-xs-6">
								<b>Price</b>
								<br> {{collection.price | convertCurrency: collection.currency | async}}
							</div>
							<div class="col-xs-6">
								<b>Cohorts</b>
								<br> {{collection.calendars.length}} batches
							</div>
						</div>
						<div class="row margin-bottom-10">
							<div class="col-xs-6">
								<b>Views</b>
								<br> {{collection.views.length}}
							</div>
							<div class="col-xs-6">
								<b>Earnings</b>
								<br> {{collection.price * collection.participants.length | convertCurrency: collection.currency | async}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center margin-top-20">
				<button mat-button class="mat-border-button center margin-top-20" [routerLink]="['/console/teaching/all']">View all</button>
			</div>
			<hr style="margin-top: 30px;">
		</div>
		<!--UPCOMING TEACHING EVENT-->
		<div class="upcomingTeachingEvent margin-bottom-40" *ngIf="collections.length > 0 && (ongoingArray.length > 0 || upcomingArray.length > 0)">
			<div class="mat-body-2">
				Ongoing & Upcoming teaching events ({{ongoingArray.length + upcomingArray.length}})
			</div>
			<div class="row margin-top-20">
				<div *ngFor="let collection of ongoingArray" class="col-md-5" style="margin-top: 20px;">
					<ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
					<ng-template #noTopicText>No Topics</ng-template>
					<mat-card class="upcoming-card">
						<mat-card-content>
							<div style="text-align: right">
								<div class="pull-right">
									<a mat-icon-button [matMenuTriggerFor]="ongoingCardMenu" style="text-align: right; padding: 0px">
										<mat-icon>more_vert</mat-icon>
									</a>
								</div>
							</div>
							<div style="text-align: center">
								<div class="pull-left">
									<mat-chip-list class="cardTypeChip">
										<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'class'">Class</mat-chip>
										<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'experience'">Workshop</mat-chip>
										<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'session'">Session</mat-chip>
									</mat-chip-list>
								</div>
							</div>
							<div class="collectionParticipantImageCarousel">
								<span *ngFor="let participant of collection.participants; let i=index">
									<div *ngIf="i<7" class="image-inline">
										<app-profile-popup style="margin-left: -15px;" [peer]="participant"></app-profile-popup>
									</div>
								</span>
								<div class="image-inline" *ngIf="collection.participants.length === 0">
									<img src="/assets/images/user-placeholder.jpg" alt=" " class="circle-thumb" (error)="_collectionService.imgErrorHandler($event)">
								</div>
							</div>
							<div class="participantCount">
								<span>{{collection.participants.length}} Participants </span>
							</div>
							<div class="collectionTitle mat-body-2 clickable" (click)="_collectionService.openCollection(collection)">{{
								collection.title || 'No Title' | titlecase | shorten:20 :'...'}} </div>
							<div class="cohortDate">
								<span>{{collection.calendars[0].startDate |extractTime:'Do MMM'}} - {{ collection.calendars[0].endDate
									|extractTime:'Do MMM' }}</span>
							</div>
							<div class="collectionSubtitle clickable" (click)="_collectionService.openCollection(collection)">
								{{ collection.itenaries.length }} Days | {{collection.contents.length}} Activity |
								<span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
							</div>
							<span matTooltip="{{_collectionService.getProgressValue(collection)}}% completed">
								<mat-progress-bar style="margin-bottom: 15px;" mode="determinate" value="{{_collectionService.getProgressValue(collection)}}"></mat-progress-bar>
							</span>
							<span *ngIf="_collectionService.getUpcomingEvent(collection) && _collectionService.getUpcomingEvent(collection).timeToStart === 0">
								<p class="upcomingEventLabel">
									Today
								</p>
								<div class="upcomingEventTitle">
									{{ _collectionService.getUpcomingEvent(collection).title | titlecase | shorten:20 :'...'}}
								</div>
								<div class="upcomingEventTime">
									{{ _collectionService.getUpcomingEvent(collection).type | titlecase}}
									{{_collectionService.getUpcomingEvent(collection).fillerWord}} today
								</div>
							</span>
							<span *ngIf=" _collectionService.getUpcomingEvent(collection) && _collectionService.getUpcomingEvent(collection).timeToStart > 0">
								<p class="upcomingEventLabel">
									Up Next
								</p>
								<div class="upcomingEventTitle">
									{{ _collectionService.getUpcomingEvent(collection).title | titlecase | shorten:20 :'...'}}
								</div>
								<div class="upcomingEventTime">
									{{ _collectionService.getUpcomingEvent(collection).type | titlecase }} {{
									_collectionService.getUpcomingEvent(collection).fillerWord
									+ ' in ' + _collectionService.getUpcomingEvent(collection).timeToStart + ' days' }}
								</div>
							</span>
							<span *ngIf="_collectionService.getUpcomingEvent(collection) &&  _collectionService.getUpcomingEvent(collection).timeToStart < 0">
								<p class="upcomingEventLabel">
									Last Event
								</p>
								<div class="upcomingEventTitle">
									{{ _collectionService.getUpcomingEvent(collection).title | titlecase | shorten:20 :'...'}}
								</div>
								<div class="upcomingEventTime">
									{{ _collectionService.getUpcomingEvent(collection).type| titlecase }} {{
									_collectionService.getUpcomingEvent(collection).fillerWord
									+ ' was ' + -(_collectionService.getUpcomingEvent(collection).timeToStart) + ' days ago' }}
								</div>
							</span>
						</mat-card-content>
						<mat-menu #ongoingCardMenu>
							<button mat-menu-item (click)="cancelCollection(collection)">
								Cancel {{collection.type | ucwords}}
							</button>
							<button mat-menu-item (click)="_collectionService.openEditCollection(collection)">
								Edit {{collection.type | ucwords}}
							</button>
						</mat-menu>
						<mat-card-actions *ngIf="_collectionService.getUpcomingEvent(collection) && _collectionService.getUpcomingEvent(collection).hasStarted">
							<button mat-raised-button (click)="_collectionService.viewCollection(collection)">{{_collectionService.getUpcomingEvent(collection).upcomingEventButtonText}}</button>
						</mat-card-actions>
						<mat-card-footer class="cardFooter" style="margin-top: -4px">
							<button mat-button [routerLink]="['/' + collection.type + '/'+collection.id+'/calendar/'+collection.calendars[0].id]">Continue
								Teaching</button>
						</mat-card-footer>
					</mat-card>
				</div>
				<div *ngFor="let collection of upcomingArray" class="col-md-5" style="margin-top: 20px;">
					<ng-template #topicName>{{collection.topics[0].name | titlecase}}</ng-template>
					<ng-template #noTopicText>No Topics</ng-template>
					<mat-card class="upcoming-card">
						<mat-card-content>
							<div style="text-align: right">
								<div class="pull-right">
									<a mat-icon-button [matMenuTriggerFor]="upcomingCardMenu" style="text-align: right; padding: 0px">
										<mat-icon>more_vert</mat-icon>
									</a>
								</div>
							</div>
							<div style="text-align: center">
								<div class="pull-left">
									<mat-chip-list class="cardTypeChip">
										<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'class'">Class</mat-chip>
										<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'experience'">Workshop</mat-chip>
										<mat-chip class="smallChip" [color]="'accent'" *ngIf="collection.type == 'session'">Session</mat-chip>
									</mat-chip-list>
								</div>
							</div>
							<div class="collectionParticipantImageCarousel">
								<span *ngFor="let participant of collection.participants; let i=index">
									<div *ngIf="i<6" class="image-inline">
										<app-profile-popup style="margin-left: -15px;" [peer]="participant"></app-profile-popup>
									</div>
								</span>
								<div class="image-inline" *ngIf="collection.participants.length === 0">
									<img src="/assets/images/user-placeholder.jpg" alt=" " class="circle-thumb" (error)="_collectionService.imgErrorHandler($event)">
								</div>
							</div>
							<div style="margin-top: 15px;">
								<span class="participantCount">{{collection.participants.length}} Participants </span>
								<span *ngIf="collection.maxSpots && collection.maxSpots > 0">|
									<span class="lightText">{{collection.maxSpots - collection.participants.length}} available </span>
								</span>
							</div>
							<div class="collectionTitle mat-body-2 clickable" (click)="_collectionService.openCollection(collection)">{{
								collection.title || 'No Title' | titlecase | shorten:20 :'...'}} </div>
							<div class="cohortDate">
								<span>{{collection.calendars[0].startDate |extractTime:'Do MMM'}} - {{ collection.calendars[0].endDate
									|extractTime:'Do MMM' }}</span>
							</div>
							<div class="collectionSubtitle clickable" (click)="_collectionService.openCollection(collection)">
								{{ collection.itenaries.length }} Days | {{collection.contents.length}} Activity |
								<span *ngIf="collection.topics.length > 0; then topicName else noTopicText"></span>
							</div>
							<p class="upcomingEventLabel">
								First Session
							</p>
							<div class="upcomingEventTitle" *ngIf="_collectionService.getUpcomingEvent(collection)">
								{{ _collectionService.getUpcomingEvent(collection).title | titlecase | shorten:20 :'...'}}
							</div>
							<div class="upcomingEventTime" *ngIf="_collectionService.getUpcomingEvent(collection)">
								{{ _collectionService.getUpcomingEvent(collection).type | titlecase }} {{
								_collectionService.getUpcomingEvent(collection).fillerWord
								+ ' in ' + _collectionService.getUpcomingEvent(collection).timeToStart + ' days' }}
							</div>
						</mat-card-content>
						<mat-menu #upcomingCardMenu>
							<button mat-menu-item (click)="cancelCollection(collection)">
								Cancel
							</button>
							<button mat-menu-item (click)="_collectionService.openEditCollection(collection)">
								Edit {{collection.type | ucwords}}
							</button>
						</mat-menu>
						<mat-card-actions *ngIf="_collectionService.getUpcomingEvent(collection) && _collectionService.getUpcomingEvent(collection).hasStarted">
							<button mat-raised-button (click)="_collectionService.viewCollection(collection)">{{_collectionService.getUpcomingEvent(collection).upcomingEventButtonText}}</button>
						</mat-card-actions>
						<mat-card-footer class="cardFooter" style="line-height: 30px; position: absolute;bottom: 24px;width: 100%;left: 24px;">
							<a style="font-size: 1.077rem" (click)="_collectionService.viewCollection(collection)">Is this a recurring
								{{collection.type}}?</a>
						</mat-card-footer>
					</mat-card>
				</div>
			</div>
			<div class="text-center margin-top-20">
				<button mat-button class="mat-border-button center margin-top-20" [routerLink]="['/console/teaching/all']">View all</button>
			</div>
			<hr style="margin-top: 30px;">
		</div>
	</div>
	<div class="col-md-4">
		<!--USER INFO-->
		<div class="userInfo margin-bottom-30" *ngIf="profileLoaded && collections.length === 0 && learningCollections.length === 0">
			<div class="row margin-bottom-10">
				<div class="col-md-12 margin-top-10 text-center">
					<img src="{{envVariable.apiUrl + loggedInUser.picture_url}}" width="150px" height="150px" class="profileImageLarge clickable"
					 (error)="_profileService.imgErrorHandler($event)" [routerLink]="['/console/profile/photos']">
				</div>
				<div class="col-md-12 margin-top-20 text-center">
					<div class="mat-body-2 clickable" [routerLink]="['profile', userId]">
						{{loggedInUser.first_name | ucwords}} {{loggedInUser.last_name | ucwords}}
					</div>
					<div class="mat-caption">
						Joined on {{loggedInUser.createdAt | extractTime: 'Do MMM'}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-md-12 text-center clickable" (click)="openProfile(userId)">
					<b>View Profile</b>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-md-12 text-center clickable" (click)="openEditProfile()">
					<b>Edit Profile</b>
				</div>
			</div>
		</div>
		<!--VERIFICATION INFO-->
		<div class="verificationInfo margin-bottom-30" *ngIf="profileLoaded && collections.length === 0 && learningCollections.length === 0">
			<div class="row">
				<div class="col-md-12 mat-body-2 margin-bottom-40">
					Verification Info
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 margin-bottom-10">
					Email address
				</div>
				<div class="col-xs-6 margin-bottom-10" style="text-align: right">
					<mat-icon *ngIf="loggedInUser.peer[0].emailVerified" style="color: #33bd9e;">done</mat-icon>
					<span *ngIf="!loggedInUser.peer[0].emailVerified" style="color: #777777;">Pending</span>
				</div>
				<div class="col-xs-6 margin-bottom-20">
					Phone number
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					<mat-icon *ngIf="loggedInUser.peer[0].phoneVerified" style="color: #33bd9e;">done</mat-icon>
					<span *ngIf="!loggedInUser.peer[0].phoneVerified" style="color: #777777;">Pending</span>
				</div>
				<!--<div class="col-xs-6 margin-bottom-20">
					Government ID
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					<mat-icon *ngIf="loggedInUser.peer[0].accountVerified" style="color: #33bd9e;">done</mat-icon>
					<span *ngIf="!loggedInUser.peer[0].accountVerified && loggedInUser.peer[0].verificationIdUrl" style="color: #777777;">Awaiting approval</span>
					<span *ngIf="!loggedInUser.peer[0].accountVerified && !loggedInUser.peer[0].verificationIdUrl" style="color: #777777;">Pending</span>
				</div>-->
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-md-12 text-center margin-bottom-10 clickable" [routerLink]="['/console/profile/verification']">
					View details
				</div>
			</div>
		</div>
		<!--TEACHING SUMMARY-->
		<div class="teachingSummary margin-bottom-30" *ngIf="collections.length > 0">
			<div class="row">
				<div class="col-md-12 mat-body-2 margin-bottom-40">
					Teaching Summary
				</div>
			</div>
			<div class="row margin-bottom-10">
				<div class="col-xs-4 text-center">
					<span class="teachingSummaryStats">{{totalTeachingRatingValue}}*</span>
					<br />
					<span class="mat-caption">Overall rating</span>
				</div>
				<div class="col-xs-4 text-center">
					<span class="teachingSummaryStats">{{totalTeachingRatingCount}}</span>
					<br />
					<span class="mat-caption">Total reviews</span>
				</div>
				<div class="col-xs-4 text-center">
					<span class="teachingSummaryStats">{{totalTeaching5RatingCount}}</span>
					<br />
					<span class="mat-caption">5 star reviews</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Classes</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalTeachingClassCount}}
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Workshops</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalTeachingExperienceCount}}
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Session topics</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalTeachingTopicCount}}
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Bounty</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalTeachingBountyCount}}
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Guide</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalTeachingGuideCount}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Total earnings</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalTeachingEarningValue | convertCurrency: 'USD' | async}}
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>30-day views</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalTeachingViews}}
				</div>
				<div class="col-xs-6 margin-bottom-10">
					<b>Signup rate</b>
				</div>
				<div class="col-xs-6 margin-bottom-10" style="text-align: right">
					NA
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-xs-6 margin-bottom-10">
					<b>Commitment rate</b>
				</div>
				<div class="col-xs-6 margin-bottom-10" style="text-align: right">
					100%
				</div>
			</div>
		</div>
		<!--LEARNING SUMMARY-->
		<div class="learningSummary" *ngIf="learningCollections.length > 0">
			<div class="row">
				<div class="col-md-12 mat-body-2 margin-bottom-40">
					Learning Summary
				</div>
			</div>
			<div class="row margin-bottom-10">
				<div class="col-xs-4 text-center">
					<span class="learningSummaryStats">{{totalLearningRatingValue}}*</span>
					<br />
					<span class="mat-caption">Overall rating</span>
				</div>
				<div class="col-xs-4 text-center">
					<span class="learningSummaryStats">{{totalLearningRatingCount}}</span>
					<br />
					<span class="mat-caption">Total reviews</span>
				</div>
				<div class="col-xs-4 text-center">
					<span class="learningSummaryStats">{{totalLearning5RatingCount}}</span>
					<br />
					<span class="mat-caption">5 star reviews</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Classes</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalLearningClassCount}}
				</div>
				<div class="col-xs-6 margin-bottom-20">
					<b>Workshops</b>
				</div>
				<div class="col-xs-6 margin-bottom-20" style="text-align: right">
					{{totalLearningExperienceCount}}
				</div>
				<div class="col-xs-6 margin-bottom-10">
					<b>Live Sessions</b>
				</div>
				<div class="col-xs-6 margin-bottom-10" style="text-align: right">
					{{totalLearningTopicCount}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
				<div class="col-xs-6 margin-bottom-10">
					<b>Commitment rate</b>
				</div>
				<div class="col-xs-6 margin-bottom-10" style="text-align: right">
					100%
				</div>
			</div>
		</div>
	</div>
</div>
