<div class="dialog-container">
  <div class="row">
    <div class="col-md-12">
      <button mat-button class="mat-icon-button dialog-close-button" type="button" (click)="dialogRef.close()">
        <mat-icon class="mat-icon material-icons mat-icon-small">close</mat-icon>
      </button>
      <div>
        <div class="mat-display-1">{{data.title}}</div>
      </div>
    </div>
  </div>
  <hr>
  <div class="collection-grid">
    <div class="recommendation-card" *ngFor="let class of data.collections; let i =index">
      <a (click)="openCollectionPage(class.id)">
        <div class="">
          <img class="recommendation-thumb" *ngIf="class.imageUrls && class.imageUrls.length>0" src="{{envVariable.apiUrl+class.imageUrls[0]}}/300"
            alt="workshpImg">
          <img class="recommendation-thumb" *ngIf="!class.imageUrls || class.imageUrls.length<=0" src="/assets/images/no-image.jpg"
            alt="workshpImg">
        </div>
        <div *ngIf="class.currency.length > 0" style="margin-top: 3px;">
          <span class="mat-body-2">{{class.price | convertCurrency: class.currency |async}}</span> / person</div>
        <div *ngIf="class.currency === undefined || class.currency.length == 0" style="margin-top: -5px;">
          <span class="mat-body-2">{{class.price | convertCurrency: 'USD' |async}}</span> / person</div>
        <div class="mat-body-2" style="margin-top: -3px;">{{class.title | titlecase}}</div>
      </a>
    </div>
  </div>
</div>
