<div class="row">
	<div class="col-md-12">
		<div *ngIf="loadingPeer" class="loading-container">
			<ngx-loading [show]="true"></ngx-loading>
		</div>
	</div>
</div>
<div *ngIf="!loadingPeer">
	<div class="row">
		<div class="col-xs-7">
			<h1 style="padding-top: 2%">
			<i class="fas fa-fire"></i>
				<span *ngIf="peer.ethAddress && peer.ethAddress.substring(0, 2) === '0x'"> {{peer.id | karmaBalance : 'peer' | async | currency : ' ' : ' ' : '1.0-0'}} Karma</span>
				<span *ngIf="!peer.ethAddress || peer.ethAddress.substring(0, 2) !== '0x'"> 0 Karma</span>
			</h1>
		</div>
		<div class="col-xs-2">
			<!--<button mat-button color="primary" class="mat-border-button">
				Buy
			</button>-->
		</div>
		<div class="col-xs-2">
			<button mat-button color="primary" class="mat-border-button" *ngIf="!peer.ethAddress || peer.ethAddress.substring(0, 2) !== '0x'" (click)="fixWalletDialog()">
				Create Wallet
			</button>
		</div>
		<div class="col-xs-1" *ngIf="peer.ethAddress && peer.ethAddress.substring(0, 2) === '0x'">
			<button mat-icon-button (click)="toggleWalletId()">
				<mat-icon *ngIf="!showWalletId">lock_outline</mat-icon>
				<mat-icon *ngIf="showWalletId">lock_open</mat-icon>
			</button>
		</div>
	</div>
	<div class="row wallet-id center" *ngIf="showWalletId && !loadingPeer">
		<div class="col-md-10 col-md-offset-1">
			<span>Ethereum Public ID : {{peer.ethAddress}}</span>
		</div>
	</div>
	<div class="row table-header">
		<div class="col-xs-8">
			Description
		</div>
		<div class="col-xs-2" style="text-align: right;">
			Credit
		</div>
		<div class="col-xs-2" style="text-align: right;">
			Debit
		</div>
	</div>
	<div class="row table-data">
		<div class="col-xs-12" *ngIf="!loadingPeer && blockTransactions">
			<div *ngFor="let transaction of blockTransactions">
				<div class="row margin-bottom-20" *ngIf="parseTransactionLog(transaction.result).events && parseTransactionLog(transaction.result).events.length > 0">
					<div class="col-xs-8">
						<span class="mat-body-2">
							{{parseTransactionLog(transaction.result).events[0].name}}
						</span>
						<br>
						<span class="mat-h5 lightText">
							<a href="https://ropsten.etherscan.io/tx/{{parseTransactionLog(transaction.result).hash}}" target="_blank" class="lightText">{{parseTransactionLog(transaction.result).hash}}</a>
						</span>
						<br>
						<span class="mat-h5 lightText">
							{{transaction.updatedAt | date : 'h:mm a, dd MMM y'}}
						</span>
					</div>
					<div class="col-xs-2 mat-subheading-2" style="text-align: right;">
						<span *ngIf="parseTransactionLog(transaction.result).events[0].type === 'credit'"><i class="fa fa-fire"></i>  {{parseTransactionLog(transaction.result).events[0].amount | currency : ' ' : ' ' : '1.0-0'}}</span>
					</div>
					<div class="col-xs-2 mat-subheading-2" style="text-align: right;">
						<span *ngIf="parseTransactionLog(transaction.result).events[0].type === 'debit'"><i class="fa fa-fire"></i>  {{parseTransactionLog(transaction.result).events[0].amount | currency : ' ' : ' ' : '1.0-0'}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12" *ngIf="loadingPeer || !peer || !blockTransactions || blockTransactions.length === 0">
			You do not have any <i class="fas fa-fire"></i> Karma transactions yet
			<br><br>
			<div class="mat-caption">
				KARMA is a rewards coin that is automatically received based on your activity on The Blockchain U.
				<br><br>
				Some simple ways of earning Karma include:
				<ul>
					<li>
						Answer questions within communities.
					</li>
					<li>
						Learn from online courses or in-person workshops.
					</li>
					<li>
						Upvote comments, questions and answers.
					</li>
				</ul>
				<br>
				Once you receive Karma, you can use it towards your learning expenses on theblockchainu.com
				<br><br>
				To know more about Karma and how it is linked to your Knowledge Score ('Gyan'), check out <a href="https://one0x.com/assets/whitepaper.pdf">one0x</a>.
			</div>
		</div>
	</div>
</div>
