.wallet-id{
    background-color: #ff6d71;
    color: white;
    padding: 12px 0px;
    font-size: 14px;
    border-bottom: 1px solid #ff6d71;
}
.table-header{
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
    padding-top: 5%;
}

.table-data {
	border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
}
