<div class="row">
	<div class="col-md-12">
		<div class="mat-h3 margin-bottom-20 margin-top-40">
			YOU'LL LEARN {{learningPath.title |uppercase }} WITH THESE EXPERTS
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="loading-container" [hidden]="!loadingPeers">
			<ngx-loading [show]="true"></ngx-loading>
		</div>
		<div *ngIf="learningPath" class="row feed-horizontal margin-bottom-50" style="padding: 0px 7px;">
			<div *ngFor="let peer of teachers; let i = index;">
				<app-peer-card [peer]="peer"></app-peer-card>
			</div>
		</div>
	</div>
</div>
