<div class="row">
  <div class="col-md-12">
    <div *ngIf="!scholarshipsLoaded" class="loading-container">
      <ngx-loading [show]="true"></ngx-loading>
    </div>
  </div>
  <div class="col-md-12 margin-top-30" *ngIf="scholarshipsLoaded">
    <div style="display:inline;">
      <h2>Scholarships Joined</h2>
    </div>
    <div #noContentView *ngIf="scholarships.length === 0 " class="center" style="margin-top: 5%;margin-bottom: 5%;">
      <div class="lightText">
        No Scholarships joined !
      </div>
    </div>
    <div *ngIf="scholarships.length > 0">
      <div class="row" style="margin-top:20px;">
        <div class="col-xs-12 col-md-3" *ngFor="let scholarship of scholarships">
          <mat-card style="text-align: center; padding: 20px;">
            <mat-card-content>
              <!-- <div style="text-align: right">
                          <div class="pull-right">
                            <a mat-icon-button [matMenuTriggerFor]="scholarCardMenu" style="text-align: right; padding: 0px">
                              <mat-icon>more_vert</mat-icon>
                            </a>
                          </div>
                        </div> -->
              <br>
              <div class="collectionTitle clickable">{{ scholarship.type | ucwords }} </div>
              <br>
              <br>
              <div>
                {{scholarship.karma}}
              </div>
              <div class="mat-caption">
                {{scholarship.owner[0].profiles[0].first_name + ' ' + scholarship.owner[0].peers[0].profiles[0].last_name | ucwords }}
              </div>
            </mat-card-content>

          </mat-card>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="!hostedScholarshipsLoaded" class="loading-container">
      <ngx-loading [show]="true"></ngx-loading>
    </div>
  </div>
  <div class="col-md-12 margin-top-30" *ngIf="hostedScholarshipsLoaded">
    <div style="display:inline;">
      <h2>Scholarships Hosted
        <button mat-raised-button (click)="hostScholarship()" color="accent">Create Scholarship</button>
      </h2>
    </div>
    <div #noContentView *ngIf="!hostedScholarships || hostedScholarships.length === 0 " class="center" style="margin-top: 5%;margin-bottom: 5%;">
      <div class="lightText">
        No Scholarships Hosted !
      </div>
    </div>
    <div *ngIf="hostedScholarships.length > 0">
      <div class="row" style="margin-top:20px;">
        <div class="col-xs-12 col-md-3" *ngFor="let scholarship of hostedScholarships">
          <mat-card style="text-align: center; padding: 20px;">
            <mat-card-content>
              <div style="text-align: right">
                <div style="text-align: right" *ngIf="scholarship.type!=='public'">
                  <div class="pull-right">
                    <a mat-icon-button [matMenuTriggerFor]="scholarCardMenu" style="text-align: right; padding: 0px">
                      <mat-icon>more_vert</mat-icon>
                    </a>
                  </div>
                </div>
              </div>
              <br>
              <div class="collectionTitle clickable">{{ scholarship.title | ucwords }} </div>
              <br>
              <span>{{ scholarship.type | ucwords }}</span>
              <br>
              <div>
                {{scholarship.karma}}
              </div>
            </mat-card-content>
            <mat-menu #scholarCardMenu>
              <button (click)="deleteScholarship(scholarship.id)" mat-menu-item>
                Delete Scholarship
              </button>
            </mat-menu>
          </mat-card>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>