<div class="row">
  <div class="col-xs-11 col-md-7 col-md-offset-1">
    <h2 class="title">The Blockchain University Learning Path Guidelines</h2>
    <p class="subtitle">The Blockchain University is a platform dedicated to connecting people who are
      forward
      thinking, passionate about
      education, and open-minded in general. We're pretty sure that each individual who joins our community
      is a
      cool,
      high-caliber person with unique talents and knowledge to share. That said, we'd like to establish
      just a few
      common-sense
      expectations so our platform can continue to be as high quality as possible.
    </p>
    <ul class="guideline-points text-grey">
      <li>Respect others and their differences. Not everyone on The Blockchain University is going to have
        the same
        worldview, and that's
        actually a good thing. It's how we can learn from each other. Keep all comments and observations
        fair,
        controlled
        and as positive as possible.</li>
      <li>Take your responsibilities seriously. Whether you sign up to learn or to teach (or both!), be
        sure to
        communicate
        with all your peers as necessary and always be on time to events.</li>
      <li>You can't go wrong with the "golden rule." Treat everyone you meet on The Blockchain University
        with the
        same basic courtesy and
        friendliness you'd like to be shown and you're pretty much good to go. Good vibes are infectious -
        everybody
        wins.
      </li>
    </ul>
    <div class="margin-top-20">
      <button mat-button matStepperNext type="button" color="primary" class="pull-right mat-border-button">
        Next
      </button>
    </div>
  </div>
</div>