
.topic-div img{
    width: 96px;
    vertical-align: sub;
    display: table-cell;
    vertical-align: top;
}

.topic-div h3{
    display: table-cell;
    padding-left: 12px;
    padding-right: 10px;
    vertical-align: middle;
}

.topic-div button{
    padding: 0px;
}