.upcoming-card{
	text-align: center;
	padding: 20px;
	min-height: 200px;
}

.accreditationTitle{
    margin-top: 3vh;
}


.mat-icon-button .mat-icon, .mat-icon-button i {
    color: #777777;
  }

.disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
    color: lightgray !important;
}
