<div [formGroup]="itenaryForm" class="margin-bottom-30">
	<div class="row padding-top-10 padding-bottom-10">
		<div class="col-md-12">
			<div class="date-select">
				<!-- <mat-icon>wb_sunny</mat-icon> -->
				<a class="mat-subheading-2">
					DAY {{itenaryId + 1}}
				</a>
				<input *ngIf="!envVariable.production" matInput #dateInput [matDatepicker]="startDatePicker" formControlName="date"
				       [hidden]="true" [min]="collectionStartDate" [max]="collectionEndDate">
				<input *ngIf="envVariable.production" matInput #dateInput [matDatepicker]="startDatePicker" formControlName="date"
				       [hidden]="true" [min]="collectionStartDate" [max]="collectionEndDate" [matDatepickerFilter]="datePickerFilter">
				<a *ngIf="!itenaryForm.value.date" style="cursor: pointer;border-bottom:1px dotted gray;" (click)="startDatePicker.open()">({{showItineraryDate(itenaryForm.value.date)}})</a>
				<a *ngIf="itenaryForm.value.date" style="border-bottom:1px dotted gray;">({{itenaryForm.value.date| date}})</a>
				<mat-datepicker #startDatePicker [startAt]="collectionStartDate" touchUi="true"></mat-datepicker>
				<button mat-icon-button>
					<mat-icon (click)="deleteDay(itenaryId)">close</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="row margin-bottom-10" *ngIf="!itenaryForm.value.date">
		<div class="col-md-12">
			<div style="text-align: center; color: #777777; font-size: 90%;">
				<mat-icon style="position: relative; top: 5px;">
					keyboard_arrow_up
				</mat-icon>
				<span style="font-size:14px">Please give a calendar date to this day so we know where to place it in your
				                             timeline...</span>
			</div>
		</div>
	</div>
	<div *ngIf="itenaryForm.value.date">
		<div class="col-md-12" style="padding-left: 0px;">
			<div formArrayName="contents">
				<div class="selected-content-label title" *ngIf="itenaryForm.controls['contents'].controls.length > 0">
					Activities scheduled
				</div>
				<mat-list style="margin-left: 0px">
					<mat-list-item *ngFor="let Content of itenaryForm.controls['contents'].controls; let i=index" style="margin: 20px 0px; padding: 0px 0px; height: fit-content;">
						<div class="col-md-3" style="padding-left: 0px; margin-right: 10px;" (click)="findAndOpenDialog(i)">
							<img *ngIf="Content.value.type !== 'video' && Content.value.type !== 'quiz'" src="{{envVariable.apiUrl + Content.value.imageUrl}}/500"
							     (error)="imgErrorHandler($event)" style="width: 140px;">
							<video *ngIf="Content.value.imageUrl && Content.value.type === 'video' && !Content.value.youtubeId" width="100%" class="center-block itenary-media"
							       preload="metadata">
								<source src="{{envVariable.apiUrl + Content.value.imageUrl}}" type="video/mp4">
							</video>
							<img *ngIf="Content.value.type === 'quiz'" style="width: 140px;" src="/assets/images/quizcover.jpg">
							<img style="width: 140px;" *ngIf="Content.value.type==='video' && Content.value.youtubeId" [src]="'https://img.youtube.com/vi/'+Content.value.youtubeId+'/0.jpg'| safe:'resourceUrl'" (error)="imgErrorHandler($event)">
						</div>
						<div class="col-md-7" (click)="findAndOpenDialog(i)">
							<div class="content-title">{{Content.value.title | titlecase}}</div>
							<div *ngIf="Content.value.type === 'online' || Content.value.type === 'in-person' || (Content.value.type === 'quiz' && Content.value.isTimeBound)" class="content-subtitle">{{getContentTimeRange(Content)}}</div>
							<div *ngIf="Content.value.type === 'project'" class="content-subtitle">Deadline: {{getDeadline(Content)}}</div>
							<div *ngIf="Content.value.type === 'in-person'" class="content-subtitle">
								<span *ngIf="Content.controls.location.controls.apt_suite.value">#{{Content.controls.location.controls.apt_suite.value}}
								</span>
								<span *ngIf="Content.controls.location.controls.street_address.value">{{Content.controls.location.controls.street_address.value}},
								</span>
								<span *ngIf="Content.controls.location.controls.city.value">{{Content.controls.location.controls.city.value}}</span>
							</div>
							<span></span>
							<div class="content-type subtitle">{{_collectionService.getContentTypeFullName(Content.value.type) | titlecase}}</div>
							<div *ngIf="Content.value.type === 'quiz' && Content.controls.questions" class="mat-caption">{{Content.controls.questions.length}} Questions</div>
						</div>
						<div class="col-md-2">
							<mat-icon class="pull-right" *ngIf="itenaryForm.controls['contents'].controls.length > 0" (click)="removeContent(i)"
							          style="font-size: 16px; color: #777777;">close</mat-icon>
							<mat-icon class="pull-right" *ngIf="itenaryForm.controls['contents'].controls.length > 0" (click)="findAndOpenDialog(i)"
							          style="font-size: 16px; color: #777777;">mode_edit</mat-icon>
						</div>
					</mat-list-item>
				</mat-list>
			</div>
		</div>
		<div class="row" style="margin-bottom: 30px; margin-top: 10px;font-size:16px;">
			<div class="col-md-12 margin-top-30">
				<span class="activity-title">
					What type of activity would you like to schedule on this day?
				</span>
				&emsp;
				<span class="activity-subtitle">
					(Must have at least one online session)
				</span>
				<br>
				<br>
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<button mat-button type="button" (click)="addContent('online'); findAndOpenDialog(-1);">
							<mat-icon color="primary" style="font-size: 20px">add_circle</mat-icon>
							Live Activity
						</button>&emsp;
					</div>
					<div class="col-md-3 col-xs-6">
						<button mat-button type="button" (click)="addContent('video'); findAndOpenDialog(-1);">
							<mat-icon color="primary" style="font-size: 20px">add_circle</mat-icon>
							Video Activity
						</button>&emsp;
					</div>
					<div class="col-md-3 col-xs-6">
						<button mat-button type="button" (click)="addContent('project'); findAndOpenDialog(-1);">
							<mat-icon color="primary" style="font-size: 20px">add_circle</mat-icon>
							Project Activity
						</button>&emsp;
					</div>
					<div class="col-md-3 col-xs-6">
						<button mat-button type="button" (click)="addContent('quiz'); findAndOpenDialog(-1);">
							<mat-icon color="primary" style="font-size: 20px">add_circle</mat-icon>
							Quiz Activity
						</button>&emsp;
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
