<div class="main-content">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 margin-top-50 margin-bottom-50">
			<h1>Refund policy</h1>

			<p>We're so convinced you'll absolutely love our services, that we're willing to offer a 3 day risk free money back guarantee. If you are not satisfied with the service for any reason you can get a refund within 3 days of making a purchase.</p>

			<h2>Contacting us</h2>

			<p>If you have any questions about this Policy, please contact us.

			<p>This document was last updated on August 27, 2018</p>
		</div>
	</div>
</div>
